<template>
  <form class="form-inline">
    <div class="row w-100 mt-2 ml-4 pl-3 no-wrap">
      <div class="col-md-4 text-center pl-0">
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="second_name"
            placeholder="Фамилия"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="name"
            placeholder="Имя"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="last_name"
            placeholder="Отчество"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <b-button
            id="savebutton"
            class="btn btn-profile-tab"
            @click="updateProfile()"
          >
            <p class="m-0">Сохранить</p>
          </b-button>
        </div>
      </div>
      <div class="col-md-4 text-center" v-if="profile.role != 'Mentor'">
        <div class="form-group mt-3 pt-2">
          <input
            type="email"
            class="form-control pl-3"
            placeholder="E-mail"
            v-model="email"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3"
            v-mask="'+7(###)###-##-##'"
            placeholder="Телефон"
            v-model="phone"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="password"
            class="form-control pl-3"
            placeholder="Пароль"
            v-model="password"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <b-button
            id="changepasswordbutton"
            class="btn btn-profile-tab mt-1"
            @click="passChange()"
          >
            <p class="m-0">Изменить пароль</p>
          </b-button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 text-center my-3 pt-2">
            <img
              :src="
                profile.avatar
                  ? profile.avatar
                  : require('@/assets/img/icons/icon-profile-big.png')
              "
              class="img-fluid round-icon"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <input
                type="file"
                class="form-control-file"
                id="photo-load"
                ref="file"
                @change="avatarChange()"
              />
              <label for="photo-load" class="mx-auto pointer"
                >Загрузить фото</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </form>
</template>

<script>
import { AuthMapper } from "@/store/auth";

export default {
  name: "Info",
  data() {
    return {
      name: "",
      second_name: "",
      last_name: "",
      file: "",
      email: "",
      phone: "",
      password: "",
      role: "",
    };
  },
  computed: {
    ...AuthMapper.mapState(["error", "profile"]),
  },
  methods: {
    ...AuthMapper.mapActions([
      "patchProfile",
      "changePassword",
      "patchFormDataProfile",
    ]),
    async updateProfile() {
      let payload = {
        name: this.name,
        second_name: this.second_name,
        last_name: this.last_name,
      };
      await this.patchProfile(payload);
      if (!this.error) {
        this.toast(
          "Изменения приняты",
          "Данные о профиле успешно изменены",
          "success"
        );
      } else {
        console.log(this.error);
      }
    },
    async avatarChange() {
      this.file = this.$refs.file.files[0];
      let formData = new FormData();
      formData.append("avatar", this.file);
      await this.patchFormDataProfile(formData);
      if (!this.error) {
        this.toast(
          "Изменения приняты",
          "Аватар профиля успешно изменен",
          "success"
        );
      } else {
        console.log(this.error);
      }
    },
    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },
    async passChange() {
      let payload = {
        email: this.email,
        phone: this.phone,
        password: this.password,
      };
      await this.changePassword(payload);
      if (this.error) {
        console.log(this.error);
      }
    },
  },
  watch: {
    profile: {
      handler(newValue) {
        if (newValue) {
          this.name = newValue.name;
          this.second_name = newValue.second_name;
          this.last_name = newValue.last_name;
        }
      },
      deep: true,
    },
  },
};
</script>


