<template>
  <section id="transactions">
    <div class="row mt-4 pl-3 w-100 no-wrap">
      <div class="col-md-6 pl-4 text-left">
        <p class="table-header">Название</p>
      </div>
      <div class="col-md-4 text-center">
        <p class="table-header">Сумма</p>
      </div>
      <div class="col-md-2 text-center">
        <p class="table-header">Дата</p>
      </div>
    </div>
    <div class="row w-100 no-wrap">
      <div class="col-md-12 p-0">
        <hr class="my-1" />
      </div>
    </div>
    <div v-if="transactions.length > 0">
      <div
        class="row row__table pl-3 w-100 no-wrap"
        v-for="transaction in transactions"
        :key="transaction.id"
      >
        <div class="col-md-6 my-auto pl-4 text-left">
          <p class="table-item">{{ transaction.name }}</p>
        </div>

        <div class="col-md-4 my-auto text-center">
          <p class="table-item">{{ transaction.value }} руб.</p>
        </div>
        <div class="col-md-2 my-auto text-center">
          <p class="table-item">
            {{ moment(transaction.date).format("DD.MM.YYYY HH:mm") }}
          </p>
        </div>
      </div>
    </div>
    <div v-else class="text-center w-100"><h3>Транзакций не совершено</h3></div>
    <hr class="hr-invisible" />
    <b-button variant="primary" class="m-4" @click="showModal = true"
      >Создать</b-button
    >
    <b-modal
      v-model="showModal"
      cancel-title="Отмена"
      ok-title="Создать"
      size="lg"
      cancel-variant="danger"
      centered
      @ok.prevent="makeTransaction"
    >
      <template #modal-header> Создание транзакции </template>
      <div class="row">
        <div class="col-6">Название</div>
        <div class="col-6">
          <b-input type="text" v-model="transaction.name" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">Сумма</div>
        <div class="col-6">
          <b-input type="number" no-wheel number v-model="transaction.value" />
        </div>
      </div>
    </b-modal>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "Transactions",
  props: {
    transactions: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      showModal: false,
      transaction: {
        name: "",
        value: 0,
      },
    };
  },
  methods: {
    moment,
    makeTransaction() {
      this.showModal = false;
      this.$emit("make", this.transaction);
    },
  },
};
</script>