<template>
  <button
    :disabled="disabled"
    class="agent-button-round hide-overflow-text"
    @click.prevent="$emit('click')"
    @mouseover="hover = true"
    @mouseleave="hover = false"
    ref="button"
    :style="
      (color ? `border-color: ${color};` : '') +
      (color && hover
        ? `background-color: ${color};`
        : hover
        ? 'background-color: #4d4db8;'
        : '')
    "
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "agent-button-round",
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      hover: false,
    };
  },
};
</script>

<style scoped>
.agent-button-round {
  background-color: #fff;
  color: #2b2a29;
  font-size: 14px;
  transition: 0.5s ease;
  border: 1.5px solid #4d4db8;
  padding: 5px 15px;
  border-radius: 999px;
}
.agent-button-round:hover,
.agent-button-round:active {
  border: 1.5px solid #4d4db8;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}
.agent-button-round:disabled {
  color: #fff;
  background-color: gray;
  border: 1.5px solid gray;
  cursor: not-allowed;
}
.hide-overflow-text {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100%;
}
</style>