<template>
  <div>
    <p class="file-type hide-overflow-text">{{ title }}:</p>
    <input
      accept=".pdf"
      type="file"
      style="display: none"
      ref="file"
      @change="changePDF"
    />

    <agent-button-round
      class="hide-overflow-text"
      @click="$refs.file.click()"
      :color="color"
    >
      {{ buttonText }}
    </agent-button-round>
    <agent-button-round
      v-if="fileToShow"
      class="agent-file-load__watch-btn"
      @click="viewFile"
      :style="
        color
          ? `background-color:${color} !important;`
          : 'background-color: #4d4db8 !important;'
      "
      :color="color"
    ></agent-button-round>
    <b-modal hide-header hide-footer size="xl" centered v-model="showFile">
      <h3 class="w-100 text-center">{{ title }} ({{ fileName }})</h3>
      <div ref="show"></div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "agent-file-load",
  data() {
    return {
      buttonInitialText: "Загрузить PDF",
      loadedFile: null,
      loadedFileLink: null,
      showFile: false,
    };
  },
  props: {
    title: {
      type: String,
      default: "PDF",
    },
    fileName: {
      type: String,
      default: null,
    },
    file: {
      type: File,
      default: null,
    },
    path: {
      type: String,
      default: "",
    },
    color: {
      type: String,
      default: "",
    },
  },
  computed: {
    buttonText() {
      return this.fileName ?? this.buttonInitialText;
    },
    fileToShow() {
      return this.loadedFileLink ?? this.file ?? this.path;
    },
  },
  methods: {
    changePDF(event) {
      let file = event.target.files[0];

      if (file.type == "application/pdf") {
        this.loadedFile = file;
        let blob = new Blob([file], { type: "application/pdf" });
        this.loadedFileLink = URL.createObjectURL(blob);
        this.$emit("change", this.loadedFile, this.title);
        return;
      }
      this.toast(
        "Внимание!",
        "Пожалуйста, загружайте документы с расширением .pdf!",
        "warning"
      );
    },
    viewFile() {
      this.showFile = true;
      setTimeout(() => {
        let target = this.$refs.show;
        let iframe = document.createElement("iframe");
        iframe.src = this.fileToShow;
        iframe.style.width = "100%";
        iframe.style.height = "500px";
        target.append(iframe);
      }, 1);
    },
  },
};
</script>

<style scoped>
.agent-file-load__watch-btn {
  background-color: #4d4db8 !important;
  background-image: url("../../assets/img/icons/book-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 33px;
  width: 33px;
  margin-left: 5px;
  padding: 5px 15px;
  position: relative;
}
.agent-file-load__watch-btn:hover {
  transform: scale(1.1);
}
.hide-overflow-text {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 80%;
}
</style>