<template>
  <div class="row w-100">
    <div class="signinup mx-auto">
      <div class="row m-0 align-items-center signinup__header-blue">
        <div class="col-2"><p class="white-link my-auto">V.1.2</p></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Регистрация</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>

      <div class="row m-0 align-items-center signinup__content">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <form>
            <div class="form-group mt-4 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
            <div class="form-group my-4">
              <input
                type="text"
                class="form-control pl-3"
                v-mask="'+7(###)###-##-##'"
                placeholder="Телефон"
                v-model="phone"
              />
            </div>
            <div v-if="sendCodeShowInput" class="form-group my-4">
              <div class="row align-items-center">
                <div class="col-2 my-auto">
                  <label for="code" class="form__label my-auto">Код:</label>
                </div>
                <div class="col-4 pl-1">
                  <input
                    type="text"
                    class="form-control pl-3"
                    v-mask="'####'"
                    placeholder=""
                    v-model="code"
                  />
                </div>
              </div>
            </div>
            <!-- <div class="form-check text-left my-3">
              <input
                type="checkbox"
                class="form-check-input"
                v-model="mentorCheck"
              />
              <label class="form-check-label ml-3 mt-1" for="RememberMeCheckBox"
                >Ментор</label
              >
            </div> -->
            <div v-if="!sendCodeShowInput" class="form-group mt-5">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center justify-content-center">
                  <b-button
                    @click="sendCode()"
                    class="btn form__button"
                    :disabled="sendCodeButtonDisable"
                  >
                    <p class="m-0">Прислать код</p>
                  </b-button>
                </div>
              </div>
            </div>

            <div class="form-group mt-4">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center justify-content-center">
                  <b-button
                    @click="register()"
                    class="btn form__button"
                    :disabled="registerButtonDisabled"
                  >
                    <p class="my-auto">Зарегистрироваться</p>
                  </b-button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-12 text-center" v-if="referal">
            Вы были приглашены агентом {{ referal.user_id.second_name }}
            {{ referal.user_id.name }} {{ referal.user_id.last_name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import toast from "@/scripts/toast";
import { AuthMapper } from "@/store/auth";

export default {
  name: "FormRegister",
  props: {
    referal: {
      type: Object,
      default: null,
    },
  },
  data: () => ({
    sendCodeButtonDisable: true,
    registerButtonDisabled: true,
    email: "",
    phone: "",
    code: "",
    sendCodeShowInput: false,
    mentorCheck: false,
  }),
  computed: {
    ...AuthMapper.mapState(["error"]),
    registerForm() {
      let form = {
        email: this.email,
        phone: this.phone,
        code: this.code,
        role: this.mentorCheck ? "Mentor" : "Parent",
      };
      if (this.referal) form.parentAgent = this.referal.user_id.id;
      return form;
    },
  },
  methods: {
    toast,
    ...AuthMapper.mapActions(["sendSms", "signUp"]),
    async sendCode() {
      await this.sendSms({ phone: this.phone });
      if (!this.error) {
        this.toast(
          "Код успешно отправлен",
          "Пожалуйста, проверьте входящие сообщения",
          "success"
        );
        this.sendCodeShowInput = true;
      } else {
        this.toast("Ошибка", "Неизвестная ошибка", "danger");
      }
    },
    async register() {
      await this.signUp(this.registerForm);
      if (!this.error) {
        this.toast(
          "Вы успешно зарегистрировались",
          "Пароль для входа отправлен на вашу почту",
          "success"
        );
        setTimeout(this.toLogin, 2000);
      } else {
        if (this.error.email) {
          this.toast(
            "Ошибка при вводе почты",
            "Данная почта уже используется",
            "danger"
          );
        }
        if (this.error.phone) {
          this.toast(
            "Ошибка при вводе номера",
            "Данный номер телефона уже используется",
            "danger"
          );
        }
      }
    },
    toLogin() {
      this.$router.push({ name: "global-login" });
    },
  },
  watch: {
    phone: function (val) {
      if (val.length >= 15) {
        this.sendCodeButtonDisable = false;
      } else {
        this.sendCodeButtonDisable = true;
      }
    },
    code: function (val) {
      if (val.length == 4 && this.phone && this.email) {
        this.registerButtonDisabled = false;
      } else {
        this.registerButtonDisabled = true;
      }
    },
    email: function () {
      if (this.email && this.phone && this.code) {
        this.registerButtonDisabled = false;
      } else {
        this.registerButtonDisabled = true;
      }
    },
  },
};
</script>

<style>
</style>
