<template>
  <v-chart :options="pie" />
</template>

<style>
/**
 * The default size is 600px×400px, for responsive charts
 * you may need to set percentage values as follows (also
 * don't forget to provide a size for the container).
 */
.echarts {
  width: 100%;
  height: 100%;
}
</style>

<script>
import "echarts/lib/chart/pie";
import ECharts from "vue-echarts";

export default {
  name: "Body",
  components: {
    "v-chart": ECharts,
  },
  props: {
    turnover: Object,
  },
  data() {
    return {
      pie: {
        title: {
          x: "center",
        },
        tooltip: {
          trigger: "item",
          //   formatter: "{a} <br/>{b} : {c} ({d}%)",
          formatter: "123",
        },
        series: [
          {
            name: "Доходы",
            type: "pie",
            radius: "70%",
            center: ["50%", "50%"],
            data: [],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)",
              },
            },
          },
        ],
      },
    };
  },
  mounted() {
    this.pie.series[0].data = [
      this.turnover.kindergartenOff
        ? { value: this.turnover.kindergartenOff, name: "Детский сад/offline" }
        : {},
      this.turnover.elementaryOff
        ? {
            value: this.turnover.elementaryOff,
            name: "Начальная школа/offline",
          }
        : {},
      this.turnover.schoolOff
        ? { value: this.turnover.schoolOff, name: "Школа/offline" }
        : {},
      this.turnover.kindergartenOn
        ? { value: this.turnover.kindergartenOn, name: "Детский сад/online" }
        : {},
      this.turnover.elementaryOn
        ? { value: this.turnover.elementaryOn, name: "Начальная школа/online" }
        : {},
      this.turnover.schoolOn
        ? { value: this.turnover.schoolOn, name: "Школа/online" }
        : {},
    ];
  },
};
</script>