<template>
  <div class="row pb-4">
    <div class="col-3 pl-0 h-100">
      <ag-charts-vue :options="options"></ag-charts-vue>
    </div>
    <div class="col">
      <div class="row mt-4">
        <b-form-datepicker
          class="top-input date-width flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          hide-header
          label-help=""
          locale="ru"
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
        ></b-form-datepicker>
      </div>

      <!-- тут три строки, где показаны доходы всех типов пакетов в виде диаграммы, 
это уже описание для нее, цветом подсвечиваются лишь те значения, 
что больше нуля, увы, тут не получается динамически -->

      <div class="row mt-4">
        <div style="color: #4a4a4a" class="col-4 pl-0 semi-bold-text">
          Online
        </div>
        <div style="color: #4a4a4a" class="col-4 semi-bold-text">Offline</div>
      </div>
      <div class="row">
        <div class="col-7 pl-0">
          <hr class="mb-2 mt-1 hr-branch" />
        </div>
      </div>
      <!-- первая строка с описанием диаграммы -->
      <div class="row">
        <div class="col-4 pl-0">
          <p
            class="m-0 mt-1 turnover-value-text"
            :class="{
              item_diag_1: turnover.kindergartenOff > 0,
            }"
          >
            {{ numberWithSpaces(turnover.kindergartenOff) }}
            <span class="normal-text ml-1">Р</span>
          </p>
          <p class="m-0 descr-turnover-text">Детский сад</p>
        </div>
        <div class="col-4">
          <p
            class="m-0 mt-1 turnover-value-text"
            :class="{
              item_diag_4: turnover.kindergartenOn > 0,
            }"
          >
            {{ numberWithSpaces(turnover.kindergartenOn) }}
            <span class="normal-text ml-1">Р</span>
          </p>
          <p class="m-0 descr-turnover-text">Детский сад</p>
        </div>
      </div>
      <!-- первая строка с описанием диаграммы -->
      <!-- вторая строка с описанием диаграммы -->
      <div class="row mt-2">
        <div class="col-4 pl-0">
          <p
            class="m-0 mt-1 turnover-value-text"
            :class="{
              item_diag_2: turnover.elementaryOff > 0,
            }"
          >
            {{ numberWithSpaces(turnover.elementaryOff) }}
            <span class="normal-text ml-1">Р</span>
          </p>
          <p class="m-0 descr-turnover-text">Начальная школа</p>
        </div>
        <div class="col-4">
          <p
            class="m-0 mt-1 turnover-value-text"
            :class="{
              item_diag_5: turnover.elementaryOn > 0,
            }"
          >
            {{ numberWithSpaces(turnover.elementaryOn) }}
            <span class="normal-text ml-1">Р</span>
          </p>
          <p class="m-0 descr-turnover-text">Начальная школа</p>
        </div>
      </div>
      <!-- вторая строка с описанием диаграммы -->
      <!-- третья строка с описанием диаграммы -->
      <div class="row mt-2">
        <div class="col-4 pl-0">
          <p
            class="m-0 mt-1 turnover-value-text"
            :class="{
              item_diag_3: turnover.schoolOff > 0,
            }"
          >
            {{ numberWithSpaces(turnover.schoolOff) }}
            <span class="normal-text ml-1">Р</span>
          </p>
          <p class="m-0 descr-turnover-text">Школа</p>
        </div>
        <div class="col-4">
          <p
            class="m-0 mt-1 turnover-value-text"
            :class="{
              item_diag_6: turnover.schoolOn > 0,
            }"
          >
            {{ numberWithSpaces(turnover.schoolOn) }}
            <span class="normal-text ml-1">Р</span>
          </p>
          <p class="m-0 descr-turnover-text">Школа</p>
        </div>
      </div>
      <!-- третья строка с описанием диаграммы -->
    </div>
  </div>
</template>

<script>
// import Body from "@/components/franchisee/analytics/branches/diagramm/Body.vue";
import { AgChartsVue } from "ag-charts-vue";
import { numberWithSpaces } from "@/scripts/number";
export default {
  name: "Diagramm",
  components: {
    "ag-charts-vue": AgChartsVue,
    // Body,
  },
  data() {
    return {
      options: {
        data: [
          {
            sumCurc: 2,
          },
          {
            sumCurc: 3,
          },
          {
            sumCurc: 4,
          },
          {
            sumCurc: 0,
          },
          {
            sumCurc: 0,
          },
          {
            sumCurc: 0,
          },
        ],
        series: [
          {
            type: "pie",
            angleKey: "sumCurc",
            innerRadiusOffset: -80,
            showInLegend: false,
            fills: [
              "#67B42B",
              "#FFC615",
              "#FD5A3E",
              "#71c9e4",
              "#0038ff",
              "#4d4db8",
            ],
            strokes: [
              "#67B42B",
              "#FFC615",
              "#FD5A3E",
              "#71c9e4",
              "#0038ff",
              "#4d4db8",
            ],
            label: {
              enabled: false,
            },

            tooltip: {
              renderer: (params) => {
                return (
                  '<div class="chart-stuff" style="border: 1.5px solid' +
                  params.color +
                  '">' +
                  '<div class="h-50 pt-1 w-100 row justify-content-between"><p class=" my-auto w-50">Кол-во пакетов:</p><p class="w-50 text-right bold-text orange-text">' +
                  0 +
                  "</p></div>" +
                  '<div class="h-50  w-100 row justify-content-between"><p class="w-50">Оборот:</p><p class="w-50 text-right bold-text green-text">' +
                  params.angleValue +
                  " P</p></div>" +
                  "</div>"
                );
              },
            },
          },
        ],
      },

      turnover: {
        kindergartenOn: 0,
        kindergartenOff: 0,

        elementaryOn: 0,
        elementaryOff: 0,

        schoolOn: 0,
        schoolOff: 0,
      },
    };
  },
  methods: {
    numberWithSpaces,
  },
};
</script>

<style>
.turnover-value-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #6c6c6c;
}
.descr-turnover-text {
  font-size: 14px;
  color: #6c6c6c;
}
.diagramm-height-fr {
  height: 250px;
}

.date-width {
  width: 140px !important;
}

.chart-stuff {
  background: #ffffff;
  height: 65px;
  width: 220px;

  padding-left: 10px;
  padding-right: 10px;
}

.chart-stuff > div > p {
  font-family: Montserrat;
  color: #2b2a29;
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  width: 100%;
}
.bold-text {
  font-weight: 600 !important;
}
.top-input {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
}

.top-input:focus {
  box-shadow: none;
}
.item_diag_1 {
  color: #67b42b;
}
.item_diag_2 {
  color: #ffc615;
}
.item_diag_3 {
  color: #fd5a3e;
}
.item_diag_4 {
  color: #71c9e4;
}
.item_diag_5 {
  color: #0038ff;
}
.item_diag_6 {
  color: #4d4db8;
}
</style>
