<template>
  <section id="admin-page">
    <div
      class="container-fluid p-0 full-height-container animate__animated animate__fadeIn"
    >
      <Header />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <ModalConfirmation />
    </div>
  </section>
</template>

<script>
import Header from "@/components/global/header/Header.vue";
import SidePanel from "@/components/admin/SidePanel.vue";

import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "Admin",
  components: {
    Header,
    SidePanel,
    ModalConfirmation,
  },
};
</script>

<style>
</style>