<template>
  <div class="row mt-4">
    <!-- первый стобец с информацией по оборотам филиала -->
    <div class="col-4 relative-block">
      <div
        id="wrap-info"
        :class="{ 'h-100': !toggleHeight, 'border-show': toggleHeight }"
        class="wrap-info absolute-block"
      >
        <div class="wrap-info-inner pt-2">
          <div
            v-for="circ in circulationGroup"
            :key="circ.id"
            :index="circ.id"
            class="circ-wrap"
          >
            <div class="row">
              <div class="col-8">
                <p class="base-info-text my-1">{{ circ.name }}:</p>
              </div>
              <div class="col">
                <p class="base-info-text my-1">
                  <span class="bold-text">{{ circ.Circulation }}</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <p class="base-info-text my-1">Прибыль:</p>
              </div>
              <div class="col">
                <p class="base-info-text my-1">
                  <span class="bold-text">{{ circ.Profit }}</span>
                </p>
              </div>
            </div>
            <hr class="info-hr" />
          </div>
        </div>

        <div class="row justify-content-end">
          <button
            @click="changeHeight()"
            class="btn-invisible-button flex-btn pr-2"
          >
            <img
              :class="{ rotate180: toggleHeight }"
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
            <p class="m-0">{{ showCategories }} категории</p>
          </button>
        </div>
      </div>
    </div>
    <!-- первый стобец с информацией по оборотам филиала -->

    <!-- второй столбец с простой числовой инфомрацией по группам и менторам -->
    <div class="col ml-5">
      <div class="row">
        <div class="col-9">
          <p class="base-info-text my-2">Общее количество детей:</p>
        </div>
        <div class="col">
          <p class="base-info-text my-2">
            <span class="bold-text">{{ baseInfoFilial.childCount }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <p class="base-info-text my-2">Общее количество менторов:</p>
        </div>
        <div class="col">
          <p class="base-info-text my-2">
            <span class="bold-text">{{ baseInfoFilial.menthorCount }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-8">
          <p class="base-info-text my-2">Кол-во групп:</p>
        </div>
        <div class="col">
          <p class="base-info-text my-2">
            <span class="bold-text">{{ baseInfoFilial.groupCount }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p class="base-info-text my-2">Кол-во филиалов::</p>
        </div>
        <div class="col">
          <p class="base-info-text my-2">
            <span class="bold-text">{{ baseInfoFilial.filialCount }}</span>
          </p>
        </div>
      </div>
    </div>
    <!-- второй столбец с простой числовой инфомрацией по группам и менторам -->
  </div>
</template>

<script>
export default {
  name: "BaseInfo",
  data() {
    return {
      toggleHeight: false,
      showCategories: "Показать",
      // числовая информация о детях
      baseInfoFilial: {
        childCount: 140,
        menthorCount: 10,
        groupCount: 21,
        filialCount: 10,
      },
      //   информация о прибыли и обороте
      circulationGroup: [
        {
          id: 1,
          name: "Общий оборот:",
          Circulation: 200000,
          Profit: 160000,
        },
        {
          id: 2,
          name: "Общий оборот по тренингам:",
          Circulation: 10000,
          Profit: 5000,
        },
        {
          id: 3,
          name: "Оборот по интернет магазину",
          Circulation: 21000,
          Profit: 10000,
        },
        {
          id: 4,
          name: "Оборот по Рюкзачкам к Fox Story",
          Circulation: 40000,
          Profit: 10000,
        },
        {
          id: 5,
          name: "Оборот по программам:",
          Circulation: 40000,
          Profit: 10000,
        },
      ],
    };
  },
  methods: {
    changeHeight() {
      this.toggleHeight = !this.toggleHeight;

      if (this.toggleHeight == true) {
        this.showCategories = "Скрыть";
      } else {
        this.showCategories = "Показать";
      }
    },
  },
};
</script>

<style>
.base-info-text {
  font-size: 1rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.bold-text {
  font-weight: bold;
}
.wrap-info {
  z-index: 10;
  width: 92%;
  transition: 1s ease;
  background: #f0eff2;
  border: 1px solid #00000000;
}
.wrap-info-inner {
  height: 100%;
  overflow: hidden;
}
.flex-btn {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.info-hr {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  border: 1px solid #d1d1d1;
}
.border-hide {
  border: 1px solid transparent;
}
.border-show {
  border: 1px solid #000000;
}
</style>