<template>
  <div style="padding-left: 2.5rem" class="row pb-5">
    <div class="crm-base-info-wrap" style="width: 240px; margin-right: 100px">
      <p class="m-0 semi-bold-text mb-2 pb-1">Агенты</p>
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Кол-во агентов:</p>
        <p class="m-0 bold-text orange-text">
          {{ numberWithSpaces(agents) }}
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Общий оборот:</p>

        <p class="m-0 green-text">
          <span class="bold-text">{{
            numberWithSpaces(agentsInfo.totalTurnover)
          }}</span>
          P
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Доход:</p>
        <p class="m-0 orange-text">
          <span class="bold-text">{{
            numberWithSpaces(agentsInfo.totalProfit)
          }}</span>
          P
        </p>
      </div>
    </div>
    <div class="crm-base-info-wrap" style="width: 240px">
      <p class="m-0 semi-bold-text mb-2 pb-1">Франчазии</p>
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Кол-во франчазии:</p>
        <p class="m-0 bold-text orange-text">
          {{ numberWithSpaces(franchisees) }}
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Общий оборот:</p>
        <p class="m-0 green-text">
          <span class="bold-text">{{
            numberWithSpaces(franchiseeInfo.totalTurnover)
          }}</span>
          P
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Доход:</p>
        <p class="m-0 orange-text">
          <span class="bold-text">{{
            numberWithSpaces(franchiseeInfo.totalProfit)
          }}</span>
          P
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { numberWithSpaces } from "@/scripts/number";
export default {
  name: "BaseInfoCRM",
  props: {
    agents: {
      type: Number,
      default: 0
    },
    franchisees: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      agentsInfo: {
        totalTurnover: 0,
        totalProfit: 0
      },
      franchiseeInfo: {
        totalTurnover: 0,
        totalProfit: 0
      }
    };
  },
  methods: {
    numberWithSpaces
  }
};
</script>

<style></style>
