<template>
  <section id="franchisees-tab">
    <!-- <DropdownFilters /> -->

    <div class="row mt-4" style="padding-left: 2.5rem; padding-right: 2.5rem">
      <div class="col-2 pl-0">
        <b-form-datepicker
          class="top-input flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
          v-model="chosenDate"
        ></b-form-datepicker>
      </div>
      <div class="col-4 p-0">
        <b-input
          class="top-input search-bg"
          placeholder="Поиск"
          v-model="filter.search"
        ></b-input>
      </div>    
      
    </div>

    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        ref="topfranchisee"
        id="franchisees-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        @row-clicked="pushToFranchisee"
        table-class="pointer"
        :filter="filter.search"
        sort-icon-left
      >
        <template #cell(date)="row">
          {{ formatDate(row.value) }}
        </template>
      </b-table>
    </div>

    <div class="row justify-content-center mt-2">
      <!-- @page-click="scrolltoTop" -->
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="franchisees-table"
        class="m-0"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableFranchisee",
  props: {    
    franchisees: {
      type: Array,
      default: () => [],
    },
    linkName: {
      type: String,
      required: true,
    },    
  },
  data() {
    return {
      show: false,
      // *FILTER
      filter: {
        name: "",
        type: "",
        email: "",
        phone: "",
        director: "",        
        date: "",        
      },
      
      chosenDate: undefined,  
      perPage: "15",
      currentPage: 1,

      selectVal: {
        isActive: undefined,
        number: undefined,
        name: undefined,
        type: undefined,
        email: undefined,
        phone: undefined,
        director: undefined,       
        date: undefined,        
      },
      // * FILTER
      fields: [
        {
          key: "number",
          label: "№",
          class: "franchisee-id",
          sortable: true,
        },
        {
          key: "name",
          label: "Называние",
          class: "franchisee-name",
          sortable: false,
        },
        {
          key: "type",
          label: "Тип",
          class: "franchisee-type",
          sortable: true,
        },
        {
          key: "email",
          label: "Email",
          class: "franchisee-contacts",
          sortable: true,
        },
        {
          key: "phone",
          label: "Номер телефона",
          class: "franchisee-contacts",
          sortable: false,
        },
        {
          key: "director",
          label: "Директор",
          class: "franchisee-director",
          sortable: true,
        },        
        {
          key: "date",
          label: "Дата",
          class: "franchisee-date",
          sortable: true,
        },       
      ],
    };
  },
  
  methods: {
    clearFilter() {
      this.filter = {
        name: "",
        type: "",
        email: "",
        phone: "",
        director: "",       
        date: "",       
      };

      this.selectVal = {
        isActive: undefined,
        number: undefined,
        name: undefined,
        type: undefined,
        email: undefined,
        phone: undefined,
        director: undefined,        
        date: undefined,        
      };

      this.chosenDate = undefined;
    },
    scrolltoTop() {
      this.$refs.topfranchisee.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },

    async pushToFranchisee(item) {
      this.$router.push({
        name: this.linkName,
        params: { id: item.id },
      });
    },
  },
  computed: {
    rows() {
      return this.items.length;
    },
    items() {
      return this.franchisees.map((item, i) => {
        return {
          number: i + 1,
          id: item.id,
          name: item.name,
          type: item.ip ? 'ИП': 'Организация',
          email: item.user_id.email,
          phone: item.user_id.phone,
          director: item.director,
          
          date: moment(item.creation_date),
          
        };
      });
    },

    names() {
      let names = [];
      this.franchisees.forEach((franchisee) => {
        if (names.indexOf(franchisee.name) == -1) {
          names.push(franchisee.name);
        }
      });
      return names;
    },

    types() {
      let types = [];
      this.franchisees.forEach((franchisee) => {
        if (types.indexOf(franchisee.ip || franchisee.organization) == -1) {
          types.push(franchisee.ip ? franchisee.ip : franchisee.organization);
        }
      });
      return types;
    },

     phones() {
      let phones = [];
      this.franchisees.forEach((franchisee) => {
        if (phones.indexOf(franchisee.user_id.phone) == -1) {
          phones.push(franchisee.user_id.phone);
        }
      });
      return phones;
    },
    

    filteredItems() {
      return this.items.filter((item) => {
        let keep = true;

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          if (key == "date" && this.chosenDate) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
          }
          keep =
            keep &&
            (!this.selectVal[key] ||
              moment(item[key]).format("DD.MM.YYYY") === this.selectVal[key]);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
};
</script>

<style>

.franchisee-id {
  width: 7%;
  padding-left: 2.5rem !important;
}
.franchisee-age {
  width: 9%;
  text-align: center;
}
.franchisee-contacts {
  text-align: center;
}
.franchisee-director {
  width: 12%;
}
.franchisee-date {
  width: 9%;
  text-align: left;
  padding-right: 2.5rem !important;
}

/* фильтры */

.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-download {
  border: 1.5px solid #ed8719;
  height: 30px;
  width: 130px;
  padding: 0;
}
.btn-download > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}

.btn-filter {
  display: flex;
}
</style>
