<template>
  <v-chart :options="pie" />
</template>

<style>
/**
 * The default size is 600px×400px, for responsive charts
 * you may need to set percentage values as follows (also
 * don't forget to provide a size for the container).
 */
.echarts {
  width: 100%;
  height: 100%;
}
</style>

<script>
import "echarts/lib/chart/pie";
import ECharts from "vue-echarts";

export default {
  components: {
    "v-chart": ECharts
  },
  data() {
    return {
      pie: {
        title: {
          x: "center"
        },
        tooltip: {
          trigger: "item",
          //   formatter: "{a} <br/>{b} : {c} ({d}%)",
          formatter: "123"
        },
        // legend: {
        //   orient: "vertical",
        //   left: "left",
        //   data: ["直接访问", "邮件营销", "联盟广告", "视频广告", "搜索引擎"],
        // },
        series: [
          {
            name: "Доходы",
            type: "pie",
            radius: "70%",
            center: ["50%", "50%"],
            data: [
              { value: 2, name: "Детский сад (online)" },
              { value: 3, name: "Школа (online)" },
              { value: 4, name: "Начальная школа (online)" },
              { value: 0, name: "Детский сад (offline)" },
              { value: 0, name: "Школа (offline)" },
              { value: 0, name: "Начальная школа (offline)" }
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)"
              }
            }
          }
        ]
      }
    };
  }
};
</script>
