<template>
  <div class="contaiter-fluid mt-3">
    <div class="row">
      <div class="col-3 p-0 diagramm-height">
        <ag-charts-vue :options="options"></ag-charts-vue>
      </div>
      <div
        class="col"
        style="justify-content: center; display: flex; flex-flow: column"
      >
        <b-form-datepicker
          class="top-input date-width flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
          }"
        ></b-form-datepicker>
        <div class="row mt-4">
          <div class="col-4 pl-0">
            <p class="packets-naming m-0 mb-2">Online-пакеты</p>
            <div
              v-for="pack in packages.slice(0, 3)"
              :key="pack.id"
              :index="pack.id"
              class="row align-items-center mb-2"
            >
              <div
                v-if="pack.sumCurc > 0"
                :class="pack.color"
                class="square-legend"
              ></div>
              <div
                v-else
                class="square-legend"
                style="background: #aaaaaa"
              ></div>
              <p class="package-name m-0">{{ pack.namePackage }}</p>
            </div>
          </div>
          <div class="col">
            <p class="packets-naming m-0 mb-2">Offline-пакеты</p>
            <div
              v-for="pack in packages.slice(3, 7)"
              :key="pack.id"
              :index="pack.id"
              class="row align-items-center mb-2"
            >
              <div
                v-if="pack.sumCurc > 0"
                :class="pack.color"
                class="square-legend"
              ></div>
              <div
                v-else
                class="square-legend"
                style="background: #aaaaaa"
              ></div>
              <p class="package-name m-0">{{ pack.namePackage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import DiagrammBody from "@/components/agent/analytics/diagramm/DiagrammBody.vue";
// import { cloneDeep } from "lodash";
// import * as agCharts from "ag-charts-community";
import { AgChartsVue } from "ag-charts-vue";
export default {
  name: "DiagrammAnalytics",

  components: {
    // DiagrammBody,
    "ag-charts-vue": AgChartsVue
  },
  data() {
    return {
      suka: 0,
      date: "",
      packages: [
        {
          id: 1,
          namePackage: "Детский сад",
          color: "red-diagramm-icon",
          sumPackages: 15,
          sumCurc: 2
        },
        {
          id: 2,
          namePackage: "Начальная школа",
          color: "yellow-diagramm-icon",
          sumPackages: 15,
          sumCurc: 3
        },
        {
          id: 3,
          namePackage: "Школа",
          color: "green-diagramm-icon",
          sumPackages: 15,
          sumCurc: 4
        },
        {
          id: 4,
          namePackage: "Детский сад",
          color: "blue-diagramm-icon",
          sumPackages: 15,
          sumCurc: 0
        },
        {
          id: 5,
          namePackage: "Начальная школа",
          color: "veryblue-diagramm-icon",
          sumPackages: 15,
          sumCurc: 0
        },
        {
          id: 6,
          namePackage: "Школа",
          color: "violet-diagramm-icon",
          sumPackages: 15,
          sumCurc: 0
        }
      ],

      options: {
        data: [
          {
            sumCurc: 2
          },
          {
            sumCurc: 3
          },
          {
            sumCurc: 4
          },
          {
            sumCurc: 0
          },
          {
            sumCurc: 0
          },
          {
            sumCurc: 0
          }
        ],
        series: [
          {
            type: "pie",
            angleKey: "sumCurc",
            innerRadiusOffset: -70,
            showInLegend: false,
            fills: [
              "#67B42B",
              "#FFC615",
              "#FD5A3E",
              "#71c9e4",
              "#0038ff",
              "#4d4db8"
            ],
            strokes: [
              "#67B42B",
              "#FFC615",
              "#FD5A3E",
              "#71c9e4",
              "#0038ff",
              "#4d4db8"
            ],
            label: {
              enabled: false
            },

            tooltip: {
              renderer: params => {
                return (
                  '<div class="chart-stuff" style="border: 1.5px solid' +
                  params.color +
                  '">' +
                  '<div class="h-50 pt-1 w-100 row justify-content-between">' +
                  '<p class=" my-auto w-50">Кол-во пакетов:</p>' +
                  '<p class="w-50 text-right bold-text orange-text">' +
                  0 +
                  "</p></div>" +
                  '<div class="h-50  w-100 row justify-content-between">' +
                  '<p class="w-50">Оборот:</p>' +
                  '<p class="w-50 text-right bold-text green-text">' +
                  params.angleValue +
                  " P</p></div>" +
                  "</div>"
                );
              }
            }
          }
        ]
      }
    };
  },

  mounted() {
    // console.log(this.options.data);
  }
};
</script>

<style>
.btn-diagramm {
  display: flex;
  flex-flow: row nowrap;
  background-color: #c4c4c4;
  justify-content: space-between;
  align-items: center;
}
/* .btn-diagramm p,
.dropdown-menu a {
  font-size: 0.7rem;
} */
.dropdown-menu {
  background-color: #e4e4e4;
  width: 100%;
}
.dropdown .dropdown-menu {
  animation-name: example;
  animation-duration: 0.5s;
}
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-diagramm p {
  padding-left: 1em;
  font-weight: 500;
}
.arrow-diagramm {
  width: 20px;
}
.package-name {
  color: #2b2a29;
  font-size: 16px;
}
.packets-naming {
  font-size: 16px;
  color: #2b2a29;
}
.img-square {
  height: 18px;
  width: auto;
}
.gray-filter-diagramm {
  filter: contrast(0.2);
}
.diagramm-height {
  height: 250px;
}
.date-width {
  width: 145px !important;
}

.chart-stuff {
  background: #ffffff;
  height: 65px;
  width: 220px;

  padding-left: 10px;
  padding-right: 10px;
}

.chart-stuff > div > p {
  font-family: Montserrat;
  color: #2b2a29;
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  width: 100%;
}
.bold-text {
  font-weight: 600 !important;
}
.square-legend {
  border-radius: 3px;
  width: 16px;
  height: 16px;

  margin-right: 10px;
}

.red-diagramm-icon {
  background: #67b42b;
}
.yellow-diagramm-icon {
  background: #ffc615;
}
.green-diagramm-icon {
  background: #fd5a3e;
}
.blue-diagramm-icon {
  background: #71c9e4;
}
.veryblue-diagramm-icon {
  background: #0038ff;
}
.violet-diagramm-icon {
  background: #4d4db8;
}
</style>
