<template>
  <div class="row mt-2">
    <div class="col-6">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>
       
        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ parent.phone }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ parent.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>        
      </div>
    </div>   
  </div>
</template>

<script>
import { ClientManagerMapper } from "@/store/clientManager";

export default {  
  name: "ParentInfo",
  data() {
    return {      
     
    };
  },  

  computed: {
    ...ClientManagerMapper.mapState(["parent"]),
  }, 
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-parent-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.parent-info-hr {
  border: 0.1px dashed #c4c4c4;
}
</style>
