@font-face {
    font-family: 'Pixar';
    src: local('Pixar One'), local('Pixar-One'),
        url('PixarOne.woff2') format('woff2'),
        url('PixarOne.woff') format('woff'),
        url('PixarOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }