<template>
  <section
    id="reports-admin"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Финансы и отчёты</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="invisible" />

      <div class="row pl-5 pr-3 mt-2 pt-4">
        <p class="m-0 a-row-data-label">
          Общий оборот:
          <span class="bold-text green-text pl-4">{{ totalTurnover }} P</span>
        </p>
        
      </div>

      <div class="row pl-3 pr-3 mt-2 pt-4">
        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Общее кол-во агентов:
          <span class="bold-text orange-text pl-4">{{ agents.length }}</span>
        </p>

        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Общее кол-во франчайзов:
          <span class="bold-text orange-text pl-4">{{ franchisees.length }}</span>
        </p>

        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Кол-во проданных франшиз:
          <span class="bold-text orange-text pl-4">{{ packages.filter(pack => pack.status == 2).length }}</span>
        </p>
      </div>
      <div class="row px-5">
        <hr class="hr-branch w-100 my-3" />
      </div>
      <!-- <Diagramm
        ref="analyticsStart"
        class="pb-3"
        style="margin-top: 0 !important"
      /> -->
    </div>

    <div
      class="contaiter-fluid agent-container mr-4 mx-3"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TableAnalytics :packages="packages.filter(pack => pack.status == 2)"/>
    </div>
  </section>
</template>

<script>
// import Diagramm from "@/components/agent/analytics/diagramm/Diagramm.vue";
import TableAnalytics from "@/components/headSalesManager/analytics/TableAnalytics.vue";
import { HeadManagerMapper } from "@/store/headManager";
export default {
  name: "Reports",
  components: {
    // Diagramm,
    TableAnalytics
  },
  data() {
    return {
      messageTheme: "",
      totalTurnover: 0,
      childrenCount: 0,
      selledFranshises: 0
    };
  },
  computed: {
    ...HeadManagerMapper.mapState(["packages", "agents", "franchisees"])
  },
  methods: {
    ...HeadManagerMapper.mapActions(["getPackages", "getFranchiseeList", "getAgentsList"])
  },
  async mounted() {
    await this.getPackages();
    await this.getFranchiseeList();
    await this.getAgentsList();
  }
};
</script>

<style></style>
