<template>
  <section id="dictionary" class="mt-3 pt-3 ml-4">
    <div
      class="row w-100 no-wrap"
      v-for="term in terms"
      :key="term.id"
      :index="term.id"
    >
      <div class="col-md-12 my-auto">
        <div class="row">
          <p class="dictionary-text m-0">
            <span class="text-bolder">{{ term.name }} - </span>
            {{ term.description }}
          </p>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <hr v-if="term.id < terms.length - 1" class="my-3 dictionary-hr" />
            <hr class="my-3 invisible" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { ChildMapper } from "@/store/child";
export default {
  name: "Dictionary",
  computed: {
    ...AuthMapper.mapState(["token"]),
    ...ChildMapper.mapState(["kid", "terms"]),
  },
  methods: {
    ...ChildMapper.mapActions(["getChildTerms"]),
  },
  async mounted() {
    let payload = {
      child: this.kid.id,
      token: this.token,
    };
    await this.getChildTerms(payload);
    if (this.error) {
      console.log(this.error);
    }
  },
};
</script>

<style>
</style>