<template>
  <div class="overlay" v-show="show" @click.self="$emit('close')">
    <div class="card">
      <div class="card-header">Ответь на вопросы</div>
      <div class="card-body">
        <div class="answer" v-for="(answer, index) in answers" :key="index">
          <audio :src="answer" controls></audio>
          <!-- <button>
              <img src="@/assets/img/icons/task-complete.png" alt="completed" />
            </button>
            <button>
              <img
                src="@/assets/img/icons/task-not-completed.png"
                alt="not-completed"
              />
            </button> -->
        </div>
        <button v-if="!accept" @click="$emit('accept')">
          <img src="@/assets/img/icons/task-complete.png" alt="completed" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalTaleTask",
  props: {
    answers: Array,
    show: Boolean,
    accept: Boolean,
  },
};
</script>

<style scoped>
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.card {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 25%;
  background: #fff;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.answer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.answer > audio {
  width: 80%;
}
.card-body > button {
  border: none;
  outline: none;
  background: none;
  align-self: flex-end;
  margin: 0 2rem;
  transition: 0.5s ease;
}
.card-body > button:hover {
  transform: scale(1.3);
}
/* .answer > button {
  border: none;
  outline: none;
  background: none;
}
.answer > button > img {
  filter: grayscale(1);
  transition: 0.5s ease;
}
.answer > button:hover > img {
  filter: grayscale(0);
} */
</style>