<template>
  <section id="MenthorDictionary" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 no-select">
          <div class="col-md-4 mt-4">
            <h1>Словарь терминов</h1>
          </div>
          <div class="col-md text-right mt-4 mr-4">
            <b-button
              @click="showModal = true"
              class="btn btn-profile-tab pay-to-account"
            >
              <p>Добавить слово</p>
            </b-button>
          </div>
        </div>
        <!-- Вкладки -->
        <!-- <div class="row no-select">
          <div class="col-md-5 mt-4">
            <ul class="nav w-100 nav-tabs text-center px-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#group-dictionary"
                  >Словарь</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#group-requests"
                  >Запросы на добавление слова
                  <span
                    v-if="requestTermsLength"
                    class="badge notification-count-menthor text-left pr-0"
                    >+{{ requestTermsLength }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- Контент на вкладках -->
        <div class="row w-100 m-0 tab-content">
          <div class="tab-pane fade w-100 show active" id="group-dictionary">
            <Terms />
          </div>
          <!-- <div class="tab-pane fade w-100" id="group-requests">
            <Requests />
          </div> -->
        </div>
      </div>
    </div>

    <b-modal
      lasy
      v-model="showModal"
      centered
      hide-header
      hide-footer
      body-class="p-0"
      size="lg"
    >
      <ModalAddTerm
        :show-modal="showModal"
        @add="addTerm"
        @close="closeModal"
      />
    </b-modal>
  </section>
</template>

<script>
import { store } from "@/store";
import { MentorMapper } from "@/store/mentor";
import { AuthMapper } from "@/store/auth";
import ModalAddTerm from "@/components/mentor/dictionary/ModalAddTerm.vue";
import Terms from "@/components/mentor/dictionary/Terms.vue";
// import Requests from "@/components/mentor/dictionary/requests/Requests.vue";
export default {
  name: "MenthorDictionary",
  data() {
    return {
      showModal: false,
    };
  },
  components: {
    Terms,
    // Requests,
    ModalAddTerm,
  },
  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...MentorMapper.mapState(["error", "age", "terms"]),
    requestTermsLength() {
      return store.getters["MentorStore/requestTerms" + this.age].length;
    },
  },
  methods: {
    ...MentorMapper.mapActions(["getTerms", "postTerm"]),
    closeModal() {
      this.showModal = false;
    },
    async addTerm(term) {
      term.mentor = this.profile.id;
      term.is_active = true;
      await this.postTerm(term);
      if (this.error) {
        console.log(this.error);
      } else {
        this.closeModal();
      }
    },
  },
  async mounted() {
    await this.getTerms();
  },
};
</script>

<style>
</style>
