<template>
  <section
    id="myprofilementhor"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 no-select">
          <div class="col-4 mt-4">
            <h1>Мой Профиль</h1>
          </div>
        </div>
        <!-- Тут это идентично той форме, что в компоненте TabPersonalData, я решил не копипастить код  -->
        <Info />
      </div>
    </div>
  </section>
</template>


<script>
import Info from "@/components/parent/profile/Info.vue";
export default {
  name: "Profile",
  components: {
    Info,
  },
};
</script>

<style>
</style>