<template>
  <div class="container-fluid p-0">
    <hr class="invisible my-5" />
    <div class="row">
      <div class="col-md-6">
        <div class="row text-center">
          <div class="col-md-12 animate__animated animate__fadeIn">
            <h2>Наши Основные Правила</h2>
          </div>
        </div>
        <div class="row h-100">
          <div class="col-md-12 my-auto text-center">
            <img
              src="@/assets/img/background/hello-fox.png"
              class="modal-hello-fox animate__animated animate__fadeIn"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="row">
          <div class="col-md-10 p-0 animate__animated animate__bounceInRight">
            <img src="@/assets/img/images/rules.png" class="img-fluid px-4" />
          </div>
          <div
            class="col-md-2 my-auto p-0 text-center animate__animated animate__bounceInRight"
          >
            <img src="@/assets/img/images/change-tale-page.png" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-10 p-0">
            <button
              @click="$bvModal.hide('greetingsmodal')"
              type="submit"
              class="btn btn-block my-auto ml-auto btn-modal-understand animate__animated animate__bounceInRight"
            >
              <p class="m-0">Понял</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GreetingsModal",
};
</script>

<style>
</style>