<template>
  <section id="table-child-level">
    <div class="row w-100 table-analytics child-level-height">
      <b-table
        hover
        id="child-level-table"
        :items="items"
        :fields="fields"
      ></b-table>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableChildLevel",
  data() {
    return {
      fields: [
        {
          key: "id",
          label: "№",
          class: "child-level-id",
          sortable: true,
        },
        {
          key: "date",
          label: "Дата",
          class: "child-level-date",
          sortable: true,
        },
        {
          key: "level",
          label: "Уровень",
          class: "child-level-level",
          sortable: true,
        },
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-level-foxstory",
          sortable: false,
        },
        {
          key: "programm",
          label: "Программа",
          class: "child-level-programm",
          sortable: false,
        },
      ],
      items: [
        {
          isActive: true,
          id: 1,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Gold fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 2,
          date: moment("02-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Silver fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 3,
          date: moment("23-08-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Platinum fox",
          foxstory: "Как лисенок победил лень",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 1,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Gold fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 2,
          date: moment("02-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Silver fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 3,
          date: moment("23-08-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Platinum fox",
          foxstory: "Как лисенок победил лень",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 1,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Gold fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 2,
          date: moment("02-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Silver fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 3,
          date: moment("23-08-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Platinum fox",
          foxstory: "Как лисенок победил лень",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 1,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Gold fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 2,
          date: moment("02-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Silver fox",
          foxstory: "Домашние дела",
          programm: "ferst idea(7-11)",
        },
        {
          isActive: true,
          id: 3,
          date: moment("23-08-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          level: "Platinum fox",
          foxstory: "Как лисенок победил лень",
          programm: "ferst idea(7-11)",
        },
      ],
    };
  },
};
</script>

<style>
.child-level-id {
  width: 8%;
}
.child-level-date,
.child-level-programm {
  width: 17%;
}
.child-level-level,
.child-level-foxstory,
.child-level-id,
.child-level-date,
.child-level-programm {
  text-align: center;
}
</style>