<template>
  <div class="modal-content content-training">
    <!-- Шапка модального окна -->
    <div class="modal-header p-0">
      <div class="row training-header w-100">
        <div class="col-md-11 my-auto">
          <p class="ml-2">Причина отклонения бизнес термина</p>
        </div>
        <div class="col-md-1 pl-0 my-auto">
          <button
            type="button"
            class="close rotate-90 pointer"
            aria-label="Close"
            @click="$emit('close')"
          >
            <img src="@/assets/img/icons/close-icon.png" class="img-fluid" />
          </button>
        </div>
      </div>
    </div>
    <!-- Шапка модального окна -->
    <div class="modal-body px-0">
      <!-- Форма отказа от слова -->
      <form>
        <div class="row row__deny-textarea">
          <div class="col-md-12">
            <div class="form-group">
              <textarea
                class="form-control mt-2 deny-textarea"
                id="denytextarea"
                placeholder="Введите причину отказа"
                v-model="reason"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-4 pt-2">
          <div class="col-md-4">
            <b-button
              class="btn my-auto form__button"
              @click="$emit('deny', reason)"
            >
              <p class="m-0">Отправить</p>
            </b-button>
          </div>
        </div>
      </form>
      <!-- Форма отказа от слова -->
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalDenyRequest",
  data() {
    return {
      reason: "",
    };
  },
};
</script>
