<template>
  <section id="dictionary" class="mt-3 pt-3">
    <div
      class="row w-100 no-wrap"
      v-for="term in terms"
      :key="term.id"
      :index="term.id"
    >
      <div class="col-md-8 my-auto">
        <div class="row ml-4">
          <p v-if="term.request_user">
            От {{ term.request_user.second_name }} {{ term.request_user.name }}
            {{ term.request_user.last_name }}
          </p>
        </div>
        <div class="row ml-4">
          <p class="dictionary-text m-0">
            <span class="text-bolder">{{ term.name }} - </span>
            {{ term.description }}
          </p>
        </div>
      </div>
      <div class="col-md-2 my-auto no-select"></div>
      <div class="col-md-1 text-right my-auto no-select">
        <p @click="acceptRequest(term)" class="request-link pointer">
          <img src="@/assets/img/icons/task-complete.png" class="img-fluid" />
        </p>
      </div>
      <div class="col-md-1 text-center my-auto pl-0 no-select">
        <p @click="denyModal(term)" class="request-link pointer">
          <img
            src="@/assets/img/icons/task-not-completed.png"
            class="img-fluid"
          />
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <hr class="my-3 dictionary-hr w-100" />
          <hr class="my-3 invisible" />
        </div>
      </div>
    </div>
    <b-modal
      lasy
      v-model="showModal"
      centered
      hide-header
      hide-footer
      body-class="p-0"
      size="lg"
      hide-backdrop
    >
      <ModalDenyRequest @deny="denyRequest" @close="closeModal" />
    </b-modal>
  </section>
</template>

<script>
import { MentorMapper } from "@/store/mentor";
import { store } from "@/store";
import ModalDenyRequest from "@/components/mentor/dictionary/requests/ModalDenyRequest.vue";
export default {
  name: "Requests",
  components: {
    ModalDenyRequest,
  },
  computed: {
    terms() {
      return store.getters["MentorStore/requestTerms" + this.age];
    },
    ...MentorMapper.mapState(["age"]),
  },
  data() {
    return {
      showModal: false,
      requestTerm: {
        id: 0,
        name: "",
        description: "",
        is_active: false,
        request_user: {
          id: 0,
          name: "",
          second_name: "",
          last_name: "",
        },
        deny_reason: "",
        age_category: 0,
      },
    };
  },
  methods: {
    ...MentorMapper.mapActions(["patchTerm"]),
    denyModal(term) {
      this.requestTerm = term;
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    async denyRequest(reason) {
      await this.patchTerm({
        id: this.requestTerm.id,
        data: { deny_reason: reason },
      });
      if (this.error) {
        console.log(this.error);
      } else {
        this.closeModal();
      }
    },
    async acceptRequest(term) {
      await this.patchTerm({
        id: term.id,
        data: { is_active: true },
      });
    },
  },
};
</script>

<style>
</style>
