<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
        <button
          class="
            agent-file-load
            px-3
            py-1
            mr-4
            btn-admin-change-data
            new-user-width

          "
          @click="pushToManager"
        >
          <p>Кабинет менеджера</p>
        </button>
      </div>

      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            {{ manager.second_name }} {{ manager.name }}
            {{ manager.last_name }} {{ manager.ban ? "(Забанен)" : "" }}
          </p>
        </div>
        <div class="col text-right">
          <!-- <button
            @click="
              !manager.ban ? $bvModal.show('modal-ban-child1') : unban()
            "
            class="mr-2"
            :class="manager.ban ? 'btn-unban-child' : 'btn-ban-child'"
          >
            {{ manager.ban ? "Разблокировать" : "Заблокировать" }} менеджера
          </button> -->
        </div>
      </div>
    </div>
    <div class="contaiter-fluid mr-2 relative-block">
      <ManagerBaseInfo archiveLink="branch-analytics-child-archive" />
    </div>

    <ModalChildBan @ok="ban" />
  </section>
</template>

<script>
// import moment from "moment";
import toast from "@/scripts/toast";
import { AuthMapper } from "@/store/auth";
import { HeadManagerMapper } from "@/store/headManager";
import { SalesManagerMapper } from "@/store/salesManager";
import ModalChildBan from "@/components/branch/analytics/child/info/ModalChildBan.vue";
import ManagerBaseInfo from "@/components/headSalesManager/managers/ManagerBaseInfo.vue";
export default {
  name: "Info",
  components: {
    ModalChildBan,
    ManagerBaseInfo,
  },
  data() {
    return {
      managerBanned: false,
      causeBan: "",
    };
  },
  methods: {
    ...HeadManagerMapper.mapActions(["getManagers", "getManager"]),
    ...SalesManagerMapper.mapMutations(['setSalesManagerId']),
    pushToManager(){
      if(this.manager.role == 'ClientManager'){
        this.$router.push({name:'head-clientmanager-franchisee-all', params: {managerId: this.$route.params.id}});
      } else {
        this.setSalesManagerId(this.$route.params.id)
        this.$router.push({name:'head-salesmanager-franchisee-all', params: {managerId: this.$route.params.id}});
      }
    },
    async unban() {
      await this.banChild({
        id: this.$route.params.id,
        data: { ban: false, ban_cause: "" },
      });
      if (!this.error) {
        this.toast("Успешно", `Менеджер успешно разблокирован`, "success");
      }
    },
    toast,
    async ban(cause) {
      // await this.banChild(this.child.child.id);

      this.managerBanned = true;

      // if (cause != "") {
      //   this.causeBan = cause;
      // } else {
      //   this.causeBan = "Бан по неизвестной причине";
      // }
      await this.banChild({
        id: this.$route.params.id,
        data: { ban: true, ban_cause: cause },
      });
      if (!this.error) {
        this.toast("Успешно", `Менеджер успешно заблокирован`, "success");
      } else {
        this.toast(
          "Неизвестная ошибка",
          `Не удалось заблокировать ребенка`,
          "danger"
        );
      }
      // if (!this.error) {
      //   this.toast("Успешно", "Ребенок успешно заблокирован", "success");
      // } else {
      //   this.toast(
      //     "Неизвестная ошибка",
      //     "Не удалось заблокировать ребенка",
      //     "danger"
      //   );
      // }
    },
  },

  computed: {
    ...HeadManagerMapper.mapState(["managers", "manager", "error"]),
    ...AuthMapper.mapState(["profile"]),
    ...AuthMapper.mapGetters(["role"]),
  },
  async mounted() {
    await this.getManagers(this.$route.params.id);
    await this.getManager(this.$route.params.id);
    this.managerBanned = this.managers.ban;
  },
};
</script>

<style scoped></style>

<style>
/* .breadcrumb-text {
  color: #6c6c6c;
  font-size: 14px;
} */
/* .header-child-big {
  font-size: 30px;
  font-weight: 500;
} */
.tabs-child {
  padding-left: 2.5rem;
}
.child-data-color {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.data-header {
  font-weight: 500;
}
.child-link {
  color: #0500ff;
}
.child-link:hover {
  color: #0099ff;
  text-decoration: underline;
}
.btn-ban-child,
.btn-unban-child {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-child {
  background: #f22929;
}
.btn-unban-child {
  background: #67b42b;
}
.btn-ban-child:hover,
.btn-unban-child:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-child:active,
.btn-ban-child:focus,
.btn-unban-child:active,
.btn-unban-child:focus {
  transform: scale(1.05);
}
.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.active-tab-child {
  background: #ed8719 !important;
  border-radius: 6px;
  color: #ffffff !important;
}
.nav-tabs .nav-link {
  color: #ffffff !important;
  background: #c4c4c4;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.height-child-tabs {
  margin-bottom: 70px;
  margin-top: 30px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
.width-child-tabs .nav-item {
  width: 210px !important;
}
</style>
