<template>
  <section id="manager-index">
     <div
      class="container-fluid p-0 full-height-container animate__animated animate__fadeIn"
    >
      <Header />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <ModalConfirmation />
    </div>    
  </section>
</template>

<script>
import Header from "@/components/global/header/Header.vue";
import SidePanel from "@/components/headSalesManager/SidePanel.vue";
import {SalesManagerMapper} from '@/store/salesManager';
import {AuthMapper} from '@/store/auth';
import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "ManagerIndex",
  components: {
    Header,
    SidePanel,
    ModalConfirmation,
  },
  computed:{
    ...AuthMapper.mapState(['profile','error'])
  },
  methods:{
    ...AuthMapper.mapActions(['getProfile']),
    ...SalesManagerMapper.mapMutations(['setSalesManagerId'])
  },
  async mounted(){
    await this.getProfile();
    if(!this.error){
    this.setSalesManagerId(this.profile.id)

    }
  }
};
</script>

<style>
</style>