<template>
  <section id="dataSystem" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Администрирование системы</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid mr-4 mt-2 pt-1">
      <UsersAndData @add="show = true" :users="adminUsers" />
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4 pt-1 pb-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <hr class="hr-invisible m-0" />
      <div
        class="dropdown my-4"
        style="margin-left: 2.5rem; width: 200px; height: 30px"
      >
        <button
          class="btn w-100 h-100 py-1 btn-filter dropdown-toggle"
          type="button"
          id="diagramm-status-sort"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p v-if="filter == undefined" class="text-left m-0">Статус</p>
          <p v-else class="text-left m-0">{{ filter }}</p>
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="diagramm-btn1">
          <a @click="filter = 'Новое'" class="dropdown-item" href="#">Новые</a>
          <a @click="filter = 'Прочитано'" class="dropdown-item" href="#"
            >Прочитанные</a
          >
          <a @click="filter = undefined" class="dropdown-item" href="#">
            <span class="orange-text">Сбросить</span>
          </a>
        </div>
      </div>

      <div ref="tableStart" class="row w-100">
        <transition name="fade">
          <b-table
            hover
            fixed
            id="admin-messages-table"
            :items="items"
            :fields="fields"
            :total-rows="rows"
            :per-page="perPage"
            :filter="filter"
            :current-page="currentPage"
            sort-icon-left
          >
            <template #cell(who_texted)="row">
              <a
                href="#"
                @click.prevent="pushToUser(row.item.theme_id)"
                class="blue-link"
                >{{ row.value }}</a
              >
            </template>
            <template #cell(status)="row">
              <p
                v-if="row.value == 'Новое'"
                class="m-0 p-0"
                style="color: #ffc615; font-weight: 500"
              >
                {{ row.value }}
              </p>
              <p
                v-else
                class="m-0 p-0"
                style="color: #67b42b; font-weight: 500"
              >
                {{ row.value }}
              </p>
            </template>
            <template #cell(sended_at)="row">{{
              formatDate(row.value)
            }}</template>
          </b-table>
        </transition>
      </div>
      <div class="row mt-3 justify-content-center">
        <b-pagination
          v-if="rows > 1"
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          @page-click="scrolltoTop"
          aria-controls="admin-messages-table"
        ></b-pagination>
      </div>
      <div class="row w-100 justify-content-end px-4">
        <p class="my-auto">Показывать по</p>
        <div>
          <b-dropdown
            id="dropdown-perpages"
            variant="1"
            right
            :text="perPage"
            class="m-md-2"
          >
            <b-dropdown-item @click="perPage = '60'" class="w-100"
              >60</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '30'" class="w-100"
              >30</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '15'" class="w-100"
              >15</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '5'" class="w-100"
              >5</b-dropdown-item
            >
          </b-dropdown>
        </div>
      </div>
    </div>
    <ModalAddUser :show="show" @close="show = false" @add="addUser" />
  </section>
</template>

<script>
import ModalAddUser from "@/components/admin/administrate/ModalAddUser.vue";
import { SupportMapper } from "@/store/support";
import { AdminMapper } from "@/store/admin";
import moment from "moment";
import toast from "@/scripts/toast";
import UsersAndData from "@/components/admin/administrate/UsersAndData.vue";
export default {
  name: "AdministrateSystem",
  components: {
    UsersAndData,
    ModalAddUser,
  },
  data() {
    return {
      filter: undefined,
      perPage: "10",
      currentPage: 1,
      show: false,
      fields: [
        {
          key: "id",
          label: "№",
          class: "system-id",
          sortable: false,
        },
        {
          key: "status",
          label: "Статус",
          class: "system-status",
          sortable: false,
        },
        {
          key: "who_texted",
          label: "Контрагент",
          class: "system-agent",
          sortable: false,
        },
        {
          key: "support_theme",
          label: "Тема",
          class: "system-theme",
          sortable: false,
        },

        {
          key: "sended_at",
          label: "Дата",
          class: "system-date",
          sortable: true,
        },
      ],
    };
  },
  methods: {
    toast,
    ...SupportMapper.mapActions([
      "sendSupport",
      "getAdminSupport",
      "getAdminSupportItem",
    ]),
    ...AdminMapper.mapActions(["getAdminUsers", "postUser", "error"]),
    pushToUser(id) {
      this.$router.push({ name: "admin-support", params: { id: id } });
    },

    scrolltoTop() {
      this.$refs.analyticsStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    clearFilter() {
      this.selectVal = {
        date: undefined,
      };
      this.chosenDate = undefined;
    },
    async addUser(user) {
      await this.postUser(user);

      if (!this.error) {
        if (user.role == "HeadSalesManager") {
          this.toast(
            "Успешно",
            "Руководитель отдела продаж успешно создан",
            "success"
          );
        } else if (user.role == "BuhAdmin") {
          this.toast(
            "Успешно",
            "Бухгалтер администратора успешно создан",
            "success"
          );
        }
      } else {
        this.toast("Ошибка", "Такой email уже сушествует", "danger");
      }
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
  },
  computed: {
    ...AdminMapper.mapState(["adminUsers"]),
    ...SupportMapper.mapState(["adminSupport", "error"]),
    rows() {
      return this.items.length;
    },
    items() {
      return this.adminSupport
        .filter((i) => i.theme && i.theme.creator_name != "Администратор")
        .map((msg, i) => {
          let item = {
            id: i + 1,
            user_id: msg.theme.creator,
            theme_id: msg.theme.id,
            status: msg.theme.status,
            support_theme: msg.theme.name,
            sended_at: moment(msg.sended_at),
            support_text: msg.support_text,
            who_texted: msg.theme.creator_name,
          };
          return item;
        });
    },
  },

  async mounted() {
    await this.getAdminSupport();
    await this.getAdminUsers();
  },
};
</script>

<style>
.header-admin {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #2b2a29;
}
.system-id {
  padding-left: 2.5rem !important;
}
.system-agent {
  padding-left: 5% !important;
}
.system-agent,
.system-theme,
.system-status {
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.system-date {
  padding-right: 2.5rem !important;
}
td.system-date {
  color: #6c6c6c;
}
.blue-link {
  color: #0038ff;
}
.blue-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
</style>
