<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-17"
      :title="taleTitle"
      :subtitle="taleSubTitle"
      iconclass="icon-header"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="ПАМЯТЬ"
      :number="talePage"
    />
    <div
      class="
        mt-2
        full-height
        blue-bg
        bottom-radius
        shadow-body
        animate__animated animate__fadeIn
        container-fluid
        no-select
      "
      style="overflow-y: auto"
    >
      <SideRightMenu :pushPath="'tale1-path'" :pushTale="'tale1-8'" />

      <hr class="hr-invisible py-1 m-0" />

      <div v-if="!portrait" class="flex-ready relative-block">
        <AnimChecking class="display-pc ml-5" />
        <div class="row justify-content-end">
          <div class="col-5 pr-5 mr-4 text-center">
            <div class="relative-block loading-block mx-auto mb-auto">
              <div class="loading-circle"><div></div></div>
              <p class="m-auto">{{ procent }} c</p>
            </div>
          </div>
        </div>
        <div class="row mt-4 justify-content-end">
          <button
            class="btn-invisible-button col-5 pr-5 mr-4 text-center"
            @click="
              audio.currentTime = 0;
              audio.play();
            "
          >
            <img src="@/assets/img/icons/listen_icon_white.png" alt="" />
          </button>
        </div>

        <div class="row justify-content-end">
          <div class="col-5 pr-5 mr-4 mt-1 text-center">
            <p class="text-description m-0 white-text">Скоро</p>

            <p class="header-ready-text m-0">ментор</p>

            <p class="text-description m-0 white-text">проверит твою работу</p>
            <p class="text-description m-0 white-text">и ты заработашь свои</p>
            <p class="text-description m-0 white-text">fox-money</p>
          </div>
        </div>
      </div>

      <div v-else class="flex-block-ipad">
        <!-- <div class="relative-block anim-square">
          <img
            src="@/assets/img/page-8-anim/loading-circle.svg"
            alt=""
            class="loading"
          />
         
        </div> -->
        <div class="wrap-ipad">
          <div class="relative-block loading-block mx-auto mb-auto">
            <div class="loading-circle"><div></div></div>
            <p class="m-auto">{{ procent }} c</p>
          </div>
          <div class="flex-rows">
            <div class="row">
              <div class="col text-center">
                <img
                  src="@/assets/img/icons/sound-white.svg"
                  alt=""
                  class="sound-white-icon"
                />
                <p class="text-description m-0 mb-2 white-text">Скоро</p>

                <p class="header-ready-text m-0">ментор</p>

                <p class="text-description m-0 white-text">
                  проверит твою работу
                </p>
                <p class="text-description m-0 white-text">
                  и ты заработашь свои fox-money
                </p>
              </div>
            </div>
          </div>
        </div>
        <AnimChecking class="display-ipad" />
      </div>
      <ButtonNext
        :show="procent == 0"
        link="path"
        style="z-index: 10"
        class="white-next-btn-bg"
      />
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
// import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import AnimChecking from "@/components/tales/tale1/anims/AnimChecking.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Checking",
  components: {
    TopMenu,
    SideRightMenu,
    AnimChecking,
    ButtonNext,
  },
  data() {
    return {
      portrait: false,
      procent: 10,
    };
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },

  mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page-checking/15.mp3"))
    );
    this.audio.play();
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }

    setTimeout(() => {
      let interval = 1000;
      setInterval(() => {
        this.procent > 0 && this.procent--;
      }, interval);
    }, 2000);
    // console.log(this.portrait);
  },
  computed: {
    ...TaleMapper.mapState(["taleTitle", "taleSubTitle", "talePage"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.flex-ready {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  height: 650px;
  max-width: 1275px;
  padding-bottom: 8%;
}
.header-ready-text {
  font-family: "Pribambas";
  font-size: 5rem;
  line-height: 3rem;
  padding-bottom: 1.7rem;
}
.button-start-text {
  font-size: 32px;
  font-weight: bold;
}
.button-buy-text {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}
.anim-square {
  height: 135px;
  width: 135px;
  margin: auto;
}
.loading {
  height: 100%;
  width: auto;
  animation-name: rotation;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.85, -0.3, 0.5, 1.15);
}
.check-img {
  height: 50px;
  width: 70px;
  object-fit: contain;
  top: 33%;
  right: 24%;
}

.flex-block-ipad {
  z-index: 1;
  padding-bottom: 0%;
  width: 735px;
  height: 720px;
  /* min-height: 100%; */
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}
.wrap-ipad {
  position: relative;
  width: 595px;
  display: flex;
}
.flex-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 460px;
}
.sound-white-icon {
  width: 13px;
}
.loading-block {
  background-color: transparent;
  width: 130px;
  height: 130px;
  border: none;
  display: flex;
}
.loading-block > .loading-circle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 100%;
  border: 5px solid #ffffff50;
  position: absolute;
  animation: rotate 2s infinite linear;
}
.loading-block > .loading-circle > div {
  position: absolute;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  width: 1rem;
  height: 1rem;
  left: calc(50% - 0.5rem);
  top: calc(0% - 0.5rem);
  transform: rotate(-45deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.loading-block p {
  font-size: 23pt;
  transition: 0.5s;
}
.text-description {
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@media (min-width: 1441px) and (min-height: 900px) {
  .header-ready-text {
    font-size: 6rem;
    line-height: 5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
  .wrap-height {
    min-width: unset;
    height: 865px;
  }
  .full-height {
    height: calc(100vh - 145px);
    border-radius: 0 !important;
  }
  .header-ready-text {
    font-size: 76px;
    line-height: 2rem;
  }
  .text-description {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
  }
}
</style>