<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-final"
      title="Путеводитель"
      subtitle="Новые горизонты"
      iconsrc="img/icons/completion.svg"
      iconclass="icon-header-number"
      white_text_1=""
      white_text_2=""
    />
    <div
      class="container-fluid relative-block animate__animated animate__fadeIn mt-2 full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <div class="wrap-final">
        <AnimFinal />
        <img
          @click="boop"
          src="@/assets/img/page-68-anim/guide-bg1.png"
          alt=""
          class="absolute-block img-prev"
        />

        <img
          src="@/assets/img/page-68-anim/arrow1.png"
          alt=""
          class="absolute-block img-arrow1"
        />
        <div class="absolute-block next-tale">
          <img
            @click="boop"
            src="@/assets/img/page-68-anim/guide-bg.png"
            alt=""
            class="img-next"
          />

          <p class="next-tale-name text-center w-100 m-0">Кошелек</p>
          <p class="see-text text-center w-100 m-0">
            Встретимся в следующей сказке
          </p>
        </div>
        <img
          src="@/assets/img/page-68-anim/arrow2.png"
          alt=""
          class="absolute-block img-arrow2"
        />
        <img
          @click="boop"
          src="@/assets/img/page-68-anim/guide-bg1.png"
          alt=""
          class="absolute-block img-later"
        />
      </div>
    </div>
  </section>
</template>

<script>
import AnimFinal from "@/components/tales/tale1/anims/AnimFinal.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Final",
  components: { TopMenu, AnimFinal },

  data() {
    return {
      portrait: false,
    };
  },
  methods: {
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },
  mounted() {
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }
    // console.log(this.portrait);
  },
};
</script>

<style  scoped>
.wrap-final {
  height: 760px;
  width: 1250px;
  margin: auto;
  position: relative;
}

.img-prev {
  width: 20%;
  height: auto;
  top: 8%;
  left: 24.5%;

  filter: saturate(0.5);
}
.next-tale {
  width: 450px;
  top: 17%;
  left: 44%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
.img-next {
  width: 75%;
  height: auto;
}
.img-later {
  width: 20.5%;
  height: auto;
  bottom: 10%;
  right: 4%;
  filter: grayscale(1);
}
.img-prev,
.img-next,
.img-later {
  transition: 0.5s ease;
  z-index: 100;
  cursor: pointer;
}
.img-prev:hover,
.img-next:hover,
.img-later:hover {
  filter: drop-shadow(2px 4px 6px #00000043);
  transform: scale(1.05);
}

.next-tale-name {
  font-family: "Pribambas";
  font-size: 3rem;
  line-height: 2rem;
  padding-bottom: 2vh;
}
.see-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
  color: #2b2a29;
  opacity: 0.5;
  letter-spacing: -2px;
}
.img-arrow1 {
  width: 260px;
  top: 32%;
  left: 33%;
}
.img-arrow2 {
  width: 75px;
  bottom: 32%;
  right: 17%;
  transform: rotate(-72deg);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .img-arrow1 {
    width: 260px;
    top: 29%;
    left: 21%;
  }
  .img-arrow2 {
    width: 75px;
    bottom: 24%;
    right: 11%;
    transform: rotate(0);
  }
  .full-height {
    /* height: 85vh; */

    overflow-x: hidden;
  }
  .wrap-final {
    position: relative;
    width: 768px;
    height: 865px;
    margin: auto;
  }
  .img-prev {
    width: 260px;
    height: auto;
    top: 5%;
    left: 11%;
  }
  .next-tale {
    width: 380px;
    top: 18%;
    left: 44%;
  }
  .img-next {
    width: 320px;
    height: auto;
  }
  .see-text {
    font-size: 20px;
  }
  .img-later {
    width: 255px;
    bottom: 7%;
    right: 19%;
    z-index: 99999;
  }
  .next-tale-name {
    font-size: 50px;
    line-height: 2rem;
    padding-bottom: 1.5rem;
  }
}
</style>