<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-15"
      title="Fox story"
      subtitle="Начинаем выполнять задания"
      :number="9"
    />
    <div
      class="container-fluid animate__animated animate__fadeIn no-select mt-2 full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <!-- <SideRightMenu pushPath="tale1-path" pushTale="tale1-9" /> -->

      <hr class="hr-invisible py-1 m-0" />
      <div v-if="!portrait" class="flex-block relative-block">
        <AnimLoading class="display-pc" />
        <div class="row justify-content-end">
          <div class="col-5 pr-5 mr-4 text-center">
            <div class="relative-block loading-block mx-auto">
              <p class="my-auto">{{ procent }}%</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div
            class="col-5 mt-2 pr-3 text-center pointer sound-btn"
            @click="playSound"
          >
            <!-- <img
              src="@/assets/img/icons/sound-white.svg"
              alt=""
              style="filter: invert(1); max-height: 100%"
            /> -->
          </div>
        </div>
        <div class="row pt-1 justify-content-end">
          <div class="col-5 pr-5 mr-4 text-center">
            <p class="text-money pl-3 m-0">Поздравляю!</p>
            <p class="text-money pl-3 m-0">Сейчас ты сможешь</p>
            <p class="text-money pl-3 m-0">заработать свои первые</p>
            <p class="text-money pl-3 m-0">деньги</p>
            <p class="text-money-bold pl-3">Fox-money</p>
          </div>
        </div>
      </div>
      <div v-else class="flex-block-ipad">
        <div class="wrap-ipad">
          <!-- <div class="relative-block anim-square">
          <img
            src="@/assets/img/page-8-anim/loading-circle.svg"
            alt=""
            class="loading"
          />
         
        </div> -->
          <div class="relative-block loading-block mx-auto mb-auto">
            <p class="my-auto">{{ procent }}%</p>
          </div>
          <div class="flex-rows">
            <div class="row">
              <div
                class="col text-center d-flex flex-column align-items-center"
              >
                <div
                  class="col-5 pl-3 pointer sound-btn m-0"
                  @click="playSound"
                >
                  <!-- <img
              src="@/assets/img/icons/sound-white.svg"
              alt=""
              style="filter: invert(1); max-height: 100%"
            /> -->
                </div>
                <p class="text-money pl-3 m-0">Поздравляю!</p>
                <p class="text-money pl-3 m-0">Сейчас ты сможешь заработать</p>
                <p class="text-money pl-3 m-0">свои первые деньги</p>
                <p class="text-money-bold pl-3">Fox-money</p>
              </div>
            </div>
          </div>
        </div>
        <AnimLoading class="display-ipad" />
      </div>
      <!-- <ButtonNext :show="true" link="tale1-11" /> -->
      <ButtonNext
        :show="procent == 100"
        link="10"
        style="z-index: 9999 !important"
        class="white-next-btn-bg"
      />
    </div>
  </section>
</template>

<script>
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
// import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import AnimLoading from "@/components/tales/tale1/anims/AnimLoading.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { PlayerMapper } from "@/store/player";
export default {
  name: "Loading",
  components: {
    TopMenu,
    // SideRightMenu,
    AnimLoading,
    ButtonNext,
  },
  data() {
    return {
      procent: 0,
      portrait: false,
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    playSound() {
      this.audio.currentTime = 0;
      this.audio.play();
    },
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },
  mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page-loading/12.mp3"))
    );
    this.audio.play();
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }

    setTimeout(() => {
      let interval = 50;
      setInterval(() => {
        this.procent < 100 && this.procent++;
      }, interval);
    }, 500);
  },
  beforeRouteLeave(_, __, next) {
    this.audio.currentTime = 0.0;
    this.audio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.button-start-text {
  font-size: 32px;
  font-weight: bold;
}
.button-buy-text {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}
.flex-block {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  height: 635px;
  padding-top: 90px;
  max-width: 1275px;
  justify-content: flex-start;
}
.text-money {
  color: #2b2a29;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
  opacity: 0.5;
}
.text-money-bold {
  font-family: "Pribambas";
  font-size: 76px;
  line-height: 3rem;
  padding-bottom: 1rem;
}

.flex-block-ipad {
  z-index: 1;
  padding-bottom: 0%;
  margin: auto;
  margin-top: 20px;
  width: 735px;
  height: 841px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
}

.sound-btn {
  background: url("../../../../assets/img/icons/sound-white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  height: 1rem;
  max-height: 1rem;
  margin-right: 37px !important;
}
.wrap-ipad {
  position: relative;
  width: 600px;
  display: flex;
}
.flex-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.sound-white-icon {
  width: 13px;
  filter: invert(1);
}
.loading-block {
  background-color: #ffde3b05;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 2px solid #1d1d1b;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-block p {
  font-size: 24pt;
  transition: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .text-money {
    color: #2b2a29;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    opacity: 0.5;
  }
  .text-money-bold {
    font-family: "Pribambas";
    font-size: 76px;
    line-height: 4rem;
    padding-bottom: 1rem;
  }
  .full-height {
    overflow-y: auto;
  }
}

/* @media (max-width: 1200px) {
  .text-money {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .text-money-bold {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media (max-width: 850px) {
  .text-money {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .text-money-bold {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
} */
</style>