<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page18.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      style="z-index: 5"
      id="top-page-menu-25"
      title="Business Vocabulary"
      subtitle="Бизнес Термины"
      white_text_1="ФОРМИРУЕМ"
      white_text_2="СЛОВАРНЫЙ ЗАПАС"
      :number="18"
      voiceText="Прослушай все бизнес-термины, которые были в нашей fox story."
    />
    <b-overlay
      @click="activeTerm.success ? closeSlider() : null"
      :show="showSlider"
      no-wrap
      opacity="0.5"
    >
      <template #overlay>
        <div class="slider-modal" id="modal">
          <div class="slider-modal__title" id="modal-title">
            <!-- <button class="btn-invisible-button sound-button">
              <img
                src="@/assets/img/icons/sound.svg"
                alt="Прослушать"
                class="img-fluid"
              />
            </button> -->
            <p class="m-0" style="opacity: 0.5">{{ activeTerm.name }}</p>
          </div>
          <div class="slider-modal__body" id="slider">
            <div
              class="slider-modal__slide"
              v-for="(img, i) in activeTerm.imgs"
              :key="i"
            >
              <img :src="img" :alt="`${activeTerm.name} ${i + 1}`" />
            </div>
          </div>
        </div>
      </template>
    </b-overlay>

    <div
      v-show="!videoPlay"
      class="no-select full-height white-bg bottom-radius shadow-body container-fluid ipad-padding animate__animated animate__fadeIn center-content"
      style="overflow-y: auto"
    >
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        light
        high_mentor
      />
      <!-- <SideRightMenu
        :sendToMentorActive="pageIsSucceed"
        :coinsTarget="10"
        :coins="
          tale.business_vocabulary_task1_coins
            ? tale.business_vocabulary_task1_coins
            : 0
        "
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        @send="sendToMentor"
      /> -->
      <div
        class="container-fluid ipad-padding h-100 relative-block animate__animated animate__fadeIn center-content"
        style="overflow-y: auto"
      >
        <div class="wrap-height mt-0">
          <div
            v-show="successList.length < 8"
            class="container slide-container"
          >
            <Slide
              v-b-modal.modal-show
              v-for="term in termsList.slice(0, 8)"
              :key="term.id"
              :term="term"
              :now="successList.length == term.id - 1"
              :last="term.id == termsList.slice(0, 8).length"
              @show="slideShow"
              :style="{ animationDuration: term.id / 6 + 's' }"
              class="opacity-anim-path"
            />
          </div>
          <div
            v-show="successList.length > 7"
            class="container slide-container"
          >
            <Slide
              v-for="term in termsList.slice(8, 14)"
              :key="term.id"
              :term="term"
              :now="successList.length == term.id - 1"
              :last="term.id == termsList.length"
              @show="slideShow"
              :style="{ animationDuration: term.id / 6 + 's' }"
              class="opacity-anim-path"
            />
          </div>
        </div>
      </div>
      <ButtonNext
        :show="successList.length == 14 || tale.pages > 18"
        link="19"
        class="white-next-btn-bg"
      />
    </div>
    <!-- <Modal
        :term="activeTerm"
        @close="nextSlide"
        @sound="playTermSound"
        :slide="activeSlide"
      /> -->
    <!-- </section> -->
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import Slide from "@/components/tales/tale1/pages/page18/Slide.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
// import Modal from "@/components/tales/tale1/pages/page18/Modal.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
export default {
  name: "Page18",
  components: { TopMenu, SideRightMenu, ButtonNext, Slide },
  data() {
    return {
      videoPlay: true,
      overlay: false,
      showSlider: false,
      pageIsSucceed: false,
      termsShow: 1,
      activeSlide: 1,
      activeTerm: {
        id: 1,
        name: "Биржа труда",
        success: false,
      },
      termAudio: new Audio(),
      currentTask: {},
      termsList: [
        {
          id: 1,
          name: "Биржа труда",
          success: false,
          slides: 3,
          actions: ["-400px", "0px", "-400px", "-800px"],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/1/1.png"),
            require("@/assets/img/business-vocabulary/slides/1/2.png"),
            require("@/assets/img/business-vocabulary/slides/1/3.png"),
          ],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/1/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/1/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/1/3.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/1/4.mp3")),
          ],
        },
        {
          id: 2,
          name: "Деньги",
          success: false,
          slides: 4,
          actions: ["0", "-400px", "-800px", "-1200px"],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/2/1.png"),
            require("@/assets/img/business-vocabulary/slides/2/2.png"),
            require("@/assets/img/business-vocabulary/slides/2/3.png"),
            require("@/assets/img/business-vocabulary/slides/2/4.png"),
          ],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/2/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/2/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/2/3.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/2/4.mp3")),
          ],
        },
        {
          id: 3,
          name: "Домашние дела",
          success: false,
          slides: 1,
          actions: ["0px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/3/1.mp3")),
          ],
          imgs: [require("@/assets/img/business-vocabulary/slides/3/1.png")],
        },
        {
          id: 4,
          name: "Инструкция",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/4/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/4/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/4/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/4/1.png"),
            require("@/assets/img/business-vocabulary/slides/4/2.png"),
            require("@/assets/img/business-vocabulary/slides/4/3.png"),
          ],
        },
        {
          id: 5,
          name: "Интеллект",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/5/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/5/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/5/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/5/1.png"),
            require("@/assets/img/business-vocabulary/slides/5/2.png"),
            require("@/assets/img/business-vocabulary/slides/5/3.png"),
          ],
        },
        {
          id: 6,
          name: "Контроль",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/6/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/6/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/6/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/6/1.png"),
            require("@/assets/img/business-vocabulary/slides/6/2.png"),
            require("@/assets/img/business-vocabulary/slides/6/3.png"),
          ],
        },
        {
          id: 7,
          name: "Проект",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/7/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/7/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/7/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/7/1.png"),
            require("@/assets/img/business-vocabulary/slides/7/2.png"),
            require("@/assets/img/business-vocabulary/slides/7/3.png"),
          ],
        },
        {
          id: 8,
          name: "Список",
          success: false,
          slides: 1,
          actions: ["0px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/8/1.mp3")),
          ],
          imgs: [require("@/assets/img/business-vocabulary/slides/8/1.png")],
        },
        {
          id: 9,
          name: "Стоимость",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/9/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/9/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/9/2.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/9/1.png"),
            require("@/assets/img/business-vocabulary/slides/9/2.png"),
            require("@/assets/img/business-vocabulary/slides/9/3.png"),
          ],
        },
        {
          id: 10,
          name: "Тайм-менеджмент",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/10/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/10/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/10/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/10/1.png"),
            require("@/assets/img/business-vocabulary/slides/10/2.png"),
            require("@/assets/img/business-vocabulary/slides/10/3.png"),
          ],
        },
        {
          id: 11,
          name: "Толерантность",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/11/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/11/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/11/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/11/1.png"),
            require("@/assets/img/business-vocabulary/slides/11/2.png"),
            require("@/assets/img/business-vocabulary/slides/11/3.png"),
          ],
        },
        {
          id: 12,
          name: "Клининговая компания",
          success: false,
          slides: 3,
          actions: ["-400px", "0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/12/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/12/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/12/3.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/12/4.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/12/1.png"),
            require("@/assets/img/business-vocabulary/slides/12/2.png"),
            require("@/assets/img/business-vocabulary/slides/12/3.png"),
          ],
        },
        {
          id: 13,
          name: "Финансы",
          success: false,
          slides: 3,
          actions: ["0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/13/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/13/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/13/3.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/13/1.png"),
            require("@/assets/img/business-vocabulary/slides/13/2.png"),
            require("@/assets/img/business-vocabulary/slides/13/3.png"),
          ],
        },
        {
          id: 14,
          name: "Биржа",
          success: false,
          slides: 3,
          actions: ["-400px", "0px", "-400px", "-800px"],
          sounds: [
            new Audio(require("@/assets/sounds/app-voice/page18/14/1.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/14/2.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/14/3.mp3")),
            new Audio(require("@/assets/sounds/app-voice/page18/14/4.mp3")),
          ],
          imgs: [
            require("@/assets/img/business-vocabulary/slides/14/1.png"),
            require("@/assets/img/business-vocabulary/slides/14/2.png"),
            require("@/assets/img/business-vocabulary/slides/14/3.png"),
          ],
        },
      ],
      audioSet: [],
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
    successList() {
      return this.termsList.filter((term) => term.success);
    },
  },
  methods: {
    playTermSound(number) {
      this.termAudio.pause();
      this.audio.pause();
      this.termAudio = new Audio(
        require(`@/assets/sounds/app-voice/page18/${this.activeTerm.id}/${number}.mp3`)
      );
      this.termAudio.play();
    },
    ...PlayerMapper.mapMutations(["setAudio"]),
    async nextSlide() {
      this.termAudio.pause();
      if (this.termsList[this.activeTerm.id]) {
        this.activeTerm = this.termsList[this.activeTerm.id];
        this.termsList[this.activeTerm.id - 2].success = true;
        // await setTimeout(() => this.$bvModal.show("modal-show"), 200000);
      } else {
        this.termsList[this.activeTerm.id - 1].success = true;
      }
    },
    activeTermImage(i) {
      return require(`@/assets/img/business-vocabulary/slides/${
        this.activeTerm.id + "/" + i
      }.png`);
    },
    async slideShow(term) {
      this.activeTerm = term;
      this.audio.pause();
      const actions = this.activeTerm.actions;

      actions.forEach((action, i) => {
        this.activeTerm.sounds[i].onended = () => {
          if (this.activeTerm.sounds[i + 1]) {
            this.activeTerm.sounds[i + 1].play();
            document.getElementById("slider").style.left = actions[i + 1];
          } else {
            document.getElementById("slider").style.left = "0px";
            document.getElementById("modal").style.width = `${
              400 * this.activeTerm.slides
            }px`;
            document.getElementById("modal-title").style.opacity = "0";
            this.activeTerm.success = true;
            this.termsList[this.activeTerm.id - 1].success = true;
          }
        };
      });

      this.activeTerm.sounds[0].play();
      this.showSlider = true;
      setTimeout(() => {
        document.getElementById("slider").style.width = `${
          this.activeTerm.slides * 400
        }px`;

        document.getElementById("slider").style.left = actions[0];
      }, 500);

      // this.termsList[term.id - 1].success = true;
    },
    closeSlider() {
      this.showSlider = false;
      this.audioSet.forEach((audio) => {
        audio.pause();
      });
    },
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    ...TaleMapper.mapActions(["patchTale"]),
    openModal(id, term_name) {
      this.boop();
      this.name = term_name;
      this.openedRef = id;
      this.pageIsSucceed = true;
    },
    closeModal() {
      this.openedRef = "";
    },
    showOverlay(overlay) {
      this.overlay = overlay;
    },
    async sendToMentor() {
      this.$router.push({ name: "tale1-checking" });
    },
  },
  mounted() {
    this.currentTask = this.tale.tasks.find((task) => task.page == 18);
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page18/37.mp3"))
    );
    this.audio.currentTime = 0;
    let getElems = (name) => {
      return document.querySelectorAll(name);
    };
    getElems(".span-text, .slide-text, .number").forEach(function (
      item,
      index
    ) {
      setTimeout(function () {
        item.classList.remove("opacity-zero");
      }, 100 * index);
    });

    for (let z = -1; z < 7; z) {
      setTimeout(function () {
        getElems(".slide-text")[z].classList.add("scale-x-anim");
        getElems(".number")[z].classList.add("light-anim");
        getElems(".span-text")[z].classList.add("opacity-anim-18");
      }, 300 * ++z);
    }
    this.currentTask = this.tale.tasks.find((task) => task.page == 18);
    // await setTimeout(() => this.$bvModal.show("modal-show"), 5000);
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    _;
    __;
    next();
  },
};
</script>

<style scoped>
.slider-modal {
  background-color: #71c9e4ff;
  border-radius: 2rem;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 1s;
}
.slider-modal__title {
  border-radius: 100px;
  background: #fefefe;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;

  transition: 1s;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: #555555;
  width: 100%;
}

/* .slider-modal__title > *:first-child {
  margin-right: 10px;
} */
.slider-modal__body {
  position: absolute;
  top: 15%;
  left: 0px;
  height: 85%;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: left 1s;
  padding-bottom: 1rem;
}
.slider-modal__slide {
  height: 100%;
  width: 380px;
  display: flex;
  justify-items: center;
  align-items: center;
  /* width: 480px; */
  /* padding: 0 10px; */
}
.slider-modal__slide > img {
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}
/* .slider-modal__body > img:first-child {
  transform: translateX(-100%);
}
.slider-modal__body > img:last-child {
  transform: translateX(-100%);
} */
.wrap-height {
  height: 610px;
  margin: unset;
}
.col,
.col:focus,
.col:active {
  outline: none;
}
.wrap-term-card {
  height: 30vh;
  transition: 0.5s ease;
  border-radius: 30px;
  border: solid 2px #b0b0af;
}
.active > .wrap-term-card {
  background-color: #71c9e4;
  border: solid 2px #b0b0af00;
  box-shadow: 0px 0px 25px #00000081;
}
.wrap-term-card:hover {
  background-color: #71c9e483;
  border: solid 2px #b0b0af00;
}
.term-text-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
  color: #2b2a29;
}

.time-management-bg {
  background: url("../../../../assets/img/business-terms/time-management.png")
    no-repeat bottom right;
  background-size: 65%;
}
.list-bg {
  background: url("../../../../assets/img/business-terms/todo-list.png")
    no-repeat bottom right;
  background-size: 65%;
}
.intel-bg {
  background: url("../../../../assets/img/business-terms/intelegence.png")
    no-repeat bottom left;
  background-size: 75%;
}
.homework-bg {
  background: url("../../../../assets/img/business-terms/home-work.png")
    no-repeat bottom center;
  background-size: 60%;
}
.money-bg {
  background: url("../../../../assets/img/business-terms/money.png") no-repeat
    bottom right;
  background-size: 60%;
}
.project-bg {
  background: url("../../../../assets/img/business-terms/project.png") no-repeat
    bottom center;
  background-size: 65%;
}
.control-bg {
  background: url("../../../../assets/img/business-terms/control.png") no-repeat
    bottom right;
  background-size: 75%;
}
.work-exchange-bg {
  background: url("../../../../assets/img/business-terms/work-exchange.png")
    no-repeat bottom center;
  background-size: 65%;
}
.cost-bg {
  background: url("../../../../assets/img/business-terms/cost.png") no-repeat
    bottom center;
  background-size: 65%;
}
.instructions-bg {
  background: url("../../../../assets/img/business-terms/instruction.png")
    no-repeat bottom left;
  background-size: 60%;
}

.sound-button {
  opacity: 0.7;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background: none;
}
.overlay.show {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
}
.img-term-load {
  top: calc(50% - 7vh);
  left: calc(50% - 7vh);
  width: 14vh;
  height: auto;

  transition: 0.5s ease-in-out;
}

@media (min-width: 1441px) {
  .wrap-term-card {
    height: 31vh;
  }
  .term-text-name {
    font-size: 18px;
    line-height: 14px;
  }

  .time-management-bg {
    background-size: 80%;
  }
  .list-bg {
    background-size: 80%;
  }
  .intel-bg {
    background-size: 90%;
  }
  .homework-bg {
    background-size: 75%;
  }
  .money-bg {
    background-size: 75%;
  }
  .project-bg {
    background-size: 80%;
  }
  .control-bg {
    background-size: 90%;
  }
  .work-exchange-bg {
    background-size: 80%;
  }
  .cost-bg {
    background-size: 80%;
  }
  .instructions-bg {
    background-size: 75%;
  }
}

/* //!! NEW CSS */

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 575px;
  width: 810px;
}
.wrap-height {
  margin-top: unset;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
  .center-content {
    align-items: unset !important;
  }
  .wrap-height {
    margin-top: 80px !important;
    margin-bottom: 40px;
    width: fit-content;
    height: fit-content;
  }
  .slide-container {
    width: 410px;
    height: fit-content;
  }
}
</style>
