<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-32"
      title="Career Guidance"
      subtitle="Путеводитель в мире профессий"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="ПРАКТИЧЕСКИЕ НАВЫКИ"
      :number="24"
      voiceText="Отметь сердечком домашнее дело, которое тебе понравилось больше всего!"
    />
    <!-- Я понял эту игру так, что ребенок из выбранных дела, что выбирал на 
прошлой странице тут уже выбирает любимые и ставит лайки, а если он не 
выбирал какое либо дело на прошлой странице, то оно как бы отобрадение в
состоянии DISABLED, поэтому все серое, а иконки лайка вовсе нет
 -->
    <div
      class="container-fluid animate__animated animate__fadeIn no-select full-height white-bg bottom-radius shadow-body"
      style="
        overflow-y: auto;
        justify-content: center;
        display: flex;
        transition: background-color 1s ease;
      "
    >
      <SideRightMenu
        :sendToMentorActive="false"
        :coins="currentTask.coins"
        :coinsTarget="currentTask.target"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        @send="sendToMentor"
        light
      />
      <hr class="hr-invisible p-1 m-0" />
      <div class="wrap-height mt-0">
        <div class="wrap-career my-1">
          <div class="row">
            <div
              v-for="quest in quests"
              :key="quest.id"
              :index="quest.id"
              :style="{ animationDuration: quest.id / 10 + 's' }"
              :class="{ disabled: quest.answer != 'Да' }"
              v-on:click="likework(quest.id)"
              class="wrap-cg-like text-center relative-block opacity-anim-path"
            >
              <img
                :src="require(`@/assets/img/career_guidance/${quest.img}.png`)"
                alt=""
                class="like-card-img"
              />
              <button
                href="#"
                :class="{ 'active-like': quest.like == true }"
                class="absolute-block btn-invisible-button like-icon"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <ButtonNext show link="path" class="white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page24",
  components: { TopMenu, SideRightMenu, ButtonNext },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...TaleMapper.mapActions(["patchAnswer"]),
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    async likework(id) {
      this.boop();
      let item = this.quests.find((i) => i.id == id);
      item.like = !item.like;
      let answer = this.currentTask.answers[this.quests.indexOf(item)];
      let answerArray = answer.text_answer.split(" ");
      answerArray[1] = item.like ? "Понравилось" : "";
      answer.text_answer = answerArray.join(" ");
      await this.patchAnswer({
        id: answer.id,
        data: { text_answer: answer.text_answer },
      });
    },
    async sendToMentor() {
      await this.patchTale({
        data: {
          child: this.tale.child,
          pages: parseInt(this.tale.pages) < 25 ? "25" : this.tale.pages,
          task6_accept: true,
          task6_coins: 5,
        },
        tale: this.tale,
        token: this.token,
      });
      this.$router.push({ name: "tale1-checking" });
    },
  },
  data() {
    return {
      currentTask: {},
      quests: [
        {
          id: 1,
          img: "bed",
          answer: "",
          like: false,
        },
        {
          id: 2,
          img: "breakfast",
          answer: "",
          like: false,
        },
        {
          id: 4,
          img: "clean_dishes",
          answer: "",
          like: false,
        },
        {
          id: 5,
          img: "cook_bakery",
          answer: "",
          like: false,
        },
        {
          id: 6,
          img: "cook_salad",
          answer: "",
          like: false,
        },
        {
          id: 7,
          img: "cut_vegetables",
          answer: "",
          like: false,
        },
        {
          id: 8,
          img: "dog_wash",
          answer: "",
          like: false,
        },
        {
          id: 9,
          img: "dress_up",
          answer: "",
          like: false,
        },
        {
          id: 10,
          img: "dry_clothes",
          answer: "",
          like: false,
        },
        {
          id: 11,
          img: "pack_backpack",
          answer: "",
          like: false,
        },
        {
          id: 12,
          img: "pack_clothes",
          answer: "",
          like: false,
        },
        {
          id: 13,
          img: "play_dog",
          answer: "",
          like: false,
        },
        {
          id: 14,
          img: "serve_dishes",
          answer: "",
          like: false,
        },
        {
          id: 15,
          img: "shopping",
          answer: "",
          like: false,
        },
        {
          id: 16,
          img: "suck_dust",
          answer: "",
          like: false,
        },
        {
          id: 17,
          img: "take_trash",
          answer: "",
          like: false,
        },
        {
          id: 18,
          img: "timing",
          answer: "",
          like: false,
        },
        {
          id: 19,
          img: "toy_box",
          answer: "",
          like: false,
        },
        {
          id: 20,
          img: "washing_machine",
          answer: "",
          like: false,
        },
        {
          id: 21,
          img: "water_plants",
          answer: "",
          like: false,
        },
        {
          id: 22,
          img: "wrap_dust",
          answer: "",
          like: false,
        },
      ],
      pageIsSucceed: false,
    };
  },
  mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page24/81.mp3"))
    );
    this.audio.play();
    this.currentTask = this.tale.tasks.fi;
    this.currentTask = this.tale.tasks.find((task) => task.page == 23);
    this.currentTask.answers.forEach((answer, i) => {
      if (answer.text_answer) {
        this.quests[i].answer = answer.text_answer.split(" ")[0];
        if (answer.text_answer.split(" ")[1]) {
          let like = answer.text_answer.split(" ")[1];
          this.quests[i].like = like == "Понравилось" ? true : false;
        }
      } else {
        this.quests[i].answer = "Нет";
      }
    });
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.wrap-career {
  width: 950px;
  height: 580px;
  margin-left: 7%;
  margin-top: 0%;
}
.wrap-career > .row {
  height: 100%;
  margin: 1px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.wrap-cg-like {
  z-index: 5;
  transition: 0.5s;
  height: 24.5%;
  margin: 1px;
  background: #71c9e4;
  border-radius: 15px;
  width: 155px;
}
.wrap-cg-like > button {
  transition: 0.5s ease-in-out;
}
.wrap-cg-like > button:hover {
  filter: grayscale(0.5);
}
.wrap-cg-like:hover {
  box-shadow: 0px 0px 30px #2b2a293d;
  transform: scale(1.01);
}
.like-card-img {
  height: 70%;
  width: 70%;
  margin-top: 10%;
  object-fit: contain;
}
.like-icon {
  bottom: 4px;
  left: 4px;
  z-index: 2000;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  transition: 0.5s ease;

  /* background-color: #fefefe30; */
  background-image: url("../../../../assets/img/icons/heart.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
}
.like-icon:hover {
  background-image: url("../../../../assets/img/icons/heart1.png");
}
.active-like {
  background-image: url("../../../../assets/img/icons/heart2.png");
}
.disabled,
.not-liked {
  filter: grayscale(1);
}
.disabled {
  background: none !important;
}
.disabled:hover {
  box-shadow: 0px 0px 2px #2b2a2915;
}
.disabled .like-icon {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
  .full-height {
    padding: 0;
    height: calc(100vh - 145px);
    border-radius: 0;
  }
  .wrap-career {
    width: 650px;
    height: 900px;
    margin-top: 0 !important;
    margin: auto;
  }

  .wrap-cg-like {
    height: 147px;
    width: 155px;
  }
  .wrap-height {
    height: fit-content;
    margin-top: 100px !important;
    margin-bottom: 5% !important;
  }
  .like-card-img {
    height: 80%;
    width: 80%;
    margin-top: 7%;
  }
}
</style>