<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-11"
      title="Инструкции"
      subtitle="Как пользоваться программой"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="НАВЫК ЧТЕНИЯ"
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
    />
    <div
      class="
        mt-2
        full-height
        white-bg
        p-0
        bottom-radius
        shadow-body
        border-body
        container-fluid
        animate__animated
        no-select
        animate__fadeIn
        no-select
        center-content
      "
      style="overflow-y: scroll"
    >
      <hr class="hr-invisible py-1 m-0" />
      <div class="wrap-height mt-0" v-if="activeHint.id">
        <div v-if="!portrait" class="row-hints">
          <transition name="fade" mode="out-in">
            <div
              :key="activeHint.id"
              class="image-left my-auto"
              :class="activeHint.bgforhint"
            ></div
          ></transition>
          <div class="hint-right">
            <div class="wrap-hint-text">
              <div
                class="icon-selected mt-4"
                :class="{ orangeBg: activeHint.orangeBg }"
              >
                <transition name="fade" mode="out-in">
                  <img
                    :key="activeHint.id"
                    :src="require(`@/assets/${activeHint.imgPath}`)"
                    alt=""
                    class="w-100 h-100 transition"
                /></transition>
              </div>
              <button
                class="btn-invisible-button"
                @click="changePage(activeHint.name)"
              >
                <img
                  src="@/assets/img/icons/sound.svg"
                  alt=""
                  class="sound-game-icon my-2 mx-auto"
                />
              </button>
              <transition name="fade" mode="out-in">
                <p
                  :key="activeHint.id"
                  class="text-hint text-center m-0 mx-auto"
                >
                  {{ activeHint.text }}
                </p></transition
              >
              <transition name="fade" mode="out-in">
                <p
                  :key="activeHint.imgPath"
                  class="header-hint text-center mb-0 mx-auto"
                >
                  {{ activeHint.header }}
                </p></transition
              >
            </div>
          </div>
        </div>

        <div v-else class="margin-p7">
          <div class="flex-block-ipad">
            <div
              class="icon-selected m-auto mt-4"
              :class="{ orangeBg: activeHint.orangeBg }"
            >
              <transition name="fade" mode="out-in">
                <img
                  :key="activeHint.id"
                  :src="require(`@/assets/${activeHint.imgPath}`)"
                  alt=""
                  class="w-100 h-100 transition"
              /></transition>
            </div>
            <div class="flex-rows">
              <div class="row">
                <div class="col text-center">
                  <img
                    src="@/assets/img/icons/sound-white.svg"
                    alt=""
                    class="sound-black-icon"
                  />
                  <transition name="fade" mode="out-in">
                    <p
                      :key="activeHint.imgPath"
                      class="text-hint text-center m-0 mx-auto"
                    >
                      {{ activeHint.text }}
                    </p></transition
                  >
                </div>
              </div>
              <div class="row px-3">
                <transition name="fade" mode="out-in">
                  <p
                    :key="activeHint.id"
                    class="header-hint text-center mt-2 mb-0 mx-auto"
                  >
                    {{ activeHint.header }}
                  </p></transition
                >
              </div>
            </div>
          </div>
          <div class="">
            <transition name="fade" mode="out-in">
              <div
                :key="activeHint.id"
                class="image-left my-auto"
                :class="activeHint.bgforhint"
              ></div
            ></transition>
          </div>
        </div>
      </div>
    </div>
    <Page7Menu
      :coinsTarget="15"
      :coins="0"
      @menu-click="changePage"
      light
      high_mentor
    />
    <ButtonNext
      :show="hints.filter((hint) => hint.active).length > 4 || tale.pages > 7"
      link="8"
      class="white-next-btn-bg"
    />
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import Page7Menu from "@/components/tales/tale1/pages/page7/Page7Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page7",
  components: { TopMenu, Page7Menu, ButtonNext },
  data: function () {
    return {
      textHint:
        "Нажав на эту кнопку ты всегда сможешь еще раз прочитать и прослушать сказку",
      headerHint: "вернуться к сказке",
      currentBtn: "book",
      bgforhint: "bg-hint-return",
      imgPath: "img/icons/book-icon.svg",
      orangeBg: false,
      showNext: false,
      portrait: false,
      audioSet: [
        new Audio(require("@/assets/sounds/app-voice/page7/10.1.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page7/10.2.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page7/10.3.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page7/10.4.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page7/10.5.mp3")),
      ],
      hints: [
        {
          id: 1,
          name: "book",
          text: "Нажав на эту кнопку ты всегда сможешь еще раз прочитать и прослушать сказку",
          header: "вернуться к сказке",
          orangeBg: false,
          bgforhint: "bg-hint-return",
          imgPath: "img/icons/book-icon.svg",
          active: false,
          sound: 1,
        },
        {
          id: 2,
          name: "mentor",
          text: "Нажав на эту кнопку, ты отправишь своё задание на проверку ментору",
          header: "Отправить задание",
          orangeBg: false,
          bgforhint: "bg-hint-send",
          imgPath: "img/icons/send-to-menthor.svg",
          active: false,
          sound: 3,
        },
        {
          id: 3,
          name: "idea",
          text: "Нажав на эту кнопку, ты можешь посмотреть свои супер идеи по разным проектам.",
          header: "Мои идеи",
          orangeBg: false,
          bgforhint: "bg-hint-idea",
          imgPath: "img/icons/idea.svg",
          active: false,
        },
        {
          id: 4,
          name: "shop",
          text: "Нажав сюда ты можешь купить игрушки, стикеры, карточки, игры, сладости для себя и своих друзей.",
          header: "FOX МАГАЗИН",
          orangeBg: false,
          bgforhint: "bg-hint-shop",
          imgPath: "img/icons/shop-icon.svg",
          active: false,
          sound: 4,
        },
        {
          id: 5,
          name: "path",
          text: "Нажав на эту кнопку, ты увидишь какие задания уже выполнены, какие предстоит выполнить и сколько фоксов ты заработал в каждом задании.",
          header: "Карта Заданий",
          orangeBg: false,
          bgforhint: "bg-hint-path",
          imgPath: "img/icons/route-icon.svg",
          active: false,
          sound: 2,
        },
      ],
      activeHint: {
        id: 0,
      },
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
    },
    changePage(buttonName) {
      this.clearSound();
      let newHint = this.hints.find((hint) => hint.name == buttonName);
      this.activeHint = newHint;
      this.hints[this.hints.indexOf(newHint)].active = true;
      if (newHint.sound) {
        this.audioSet[newHint.sound - 1].play();
      }
    },
    clearSound() {
      this.audioSet.forEach((item) => {
        item.pause();
      });
      this.audio.pause();
    },
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },
  mounted() {
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/page7/10.mp3")));
    this.audio.play();
    if (screen.width < 1439) {
      this.portrait = true;
    }
  },
  beforeRouteLeave(_, __, next) {
    this.clearSound();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.transition {
  transition: 0.5s ease;
}
.fade-enter,
.fade-leave-to {
  transition: 0.25s ease;
}
.row-hints {
  display: flex;
  width: 92.5%;
  justify-content: space-between;
}
.image-left {
  margin-left: 40px;
}
.hint-right {
  width: 465px;
}
.bg-hint-return {
  background: url("../../../../assets/img/hints/hint-return.png") no-repeat;
  background-size: 103%;
  width: 700px;
  height: 500px;
}
.bg-hint-send {
  background: url("../../../../assets/img/hints/hint-send.png") no-repeat center;
  background-size: 95%;
  width: 700px;
  height: 500px;
}
.bg-hint-shop {
  background: url("../../../../assets/img/hints/hint-shop.png") no-repeat center;
  background-size: 95%;
  width: 700px;
  height: 500px;
}
.bg-hint-path {
  background: url("../../../../assets/img/hints/hint-path1.png") no-repeat
    center;
  background-size: 100%;
  width: 700px;
  height: 500px;
}
.bg-hint-idea {
  background: url("../../../../assets/img/hints/hint-idea1.png") no-repeat
    center;
  background-size: 87%;
  width: 700px;
  height: 500px;
}
.wrap-hint-text {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin-left: 10px;
  height: 100%;
  width: 92%;
  align-items: center;
}
.header-hint {
  margin-top: 0;
  font-family: "Pribambas";
  font-size: 72px;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 1.5rem;
}
.text-hint {
  margin-right: 6px !important;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.1;
  color: #2b2a29;
  opacity: 0.5;
}
.icon-selected {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  background: #ffde3b;
  background-size: 80%;
}
.orangeBg {
  background: #f08800;
}

.flex-block-ipad {
  z-index: 1;
  padding-bottom: 0%;
  width: 650px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}
.flex-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 500px;
  height: 270px;
}
.sound-black-icon {
  width: 25px;
  height: 25px;
  filter: invert(1);
}
.wrap-height {
  margin: unset;
}
@media (min-width: 1441px) and (min-height: 800px) {
  .header-hint {
    font-size: 4rem;
    line-height: 3rem;
  }
  .text-hint {
    font-size: 1.5rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-height {
    width: 768px;
    height: 850px;
  }
  .full-height {
    position: relative;
  }
  .sound-black-icon {
    width: 15px;
    height: 20px;
  }
  .margin-p7 {
    margin-top: 60px;
    width: 100%;
    height: calc(100% - 140px);
  }
  .bg-hint-return {
    background: url("../../../../assets/img/hints/hint-return.png") no-repeat
      center bottom;
    background-size: 100%;
    width: 700px;
    height: 492px;
  }
  .bg-hint-send {
    background: url("../../../../assets/img/hints/hint-send.png") no-repeat
      center bottom;
    background-size: 95%;
    width: 700px;
    height: 492px;
  }
  .icon-selected {
    margin-top: 10px !important;
  }
}
</style>