<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-30"
      title="Relax"
      subtitle="Отдых"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="ХУДОЖЕСТВЕННЫЙ НАВЫК"
      :number="22"
      voiceText="Нарисуй свое любимое домашнее занятие и отправь ментору. Один фокс тебе гарантирован!"
    />
    <div
      class="container-fluid container-index animate__animated animate__fadeIn no-select full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        :sendToMentorActive="loaded"
        :coinsTarget="1"
        :coins="0"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-8'"
        light
        high_mentor
        @send="sendToMentor"
      />
      <hr class="hr-invisible py-2 m-0" />
      <div
        :class="{ 'ipad-margin-p20': workAccept }"
        class="chosen-work-container opacity-anim-path"
      >
        <div class="chosen-work-card white-bg">
          <div class="chosen-work-block">
            <div class="chosen-work-body">
              <button
                class="sound-btn"
                @click="
                  audio.currentTime = 0.0;
                  audio.play();
                "
              >
                <img src="@/assets/img/icons/sound.svg" alt="sound" />
              </button>
              <button
                class="arrow-btn"
                @click="
                  acceptChoose();
                  changePosition();
                "
              >
                <img
                  src="@/assets/img/icons/right-arrow.svg"
                  alt="arrow-right"
                  :class="{ rotate180: workAccept }"
                />
              </button>
              <p class="absolute-block text-relax">
                Нарисуй свое любимое <br />домашнее занятие
              </p>
              <img
                ref="work"
                :src="getImgUrl(activeWork.img)"
                :alt="activeWork.name"
              />
            </div>
          </div>
        </div>

        <div class="chosen-work-slide">
          <div class="img-load">
            <input
              style="display: none"
              ref="input"
              accept="image/*"
              type="file"
              @change="loadImg"
            />
            <button
              @click="deleteImg"
              v-if="imgSrc"
              class="absolute-block delete-image btn-invisible-button"
            >
              <img
                src="@/assets/img/pictures/delete-image.svg"
                alt=""
                class="img-fluid"
              />
            </button>
            <button ref="img" class="load-btn" @click="$refs.input.click()">
              <img
                v-show="imgSrc"
                class="load-success"
                src="@/assets/img/pictures/loaded.svg"
                alt="Успех"
              />
              <img
                v-show="!imgSrc"
                src="@/assets/img/icons/upload.png"
                alt="Загрузить"
              />
            </button>
            <div class="img-text">
              <img src="@/assets/img/icons/image-icon.svg" alt="Ответ" />
              <input type="text" v-model="fileName" @change="changeName" />
            </div>
          </div>
        </div>
      </div>

      <hr class="hr-invisible py-3 m-0" />
      <ButtonNext :show="tale.pages > 22" link="23" class="white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";

export default {
  name: "Page23",
  components: { TopMenu, SideRightMenu, ButtonNext },
  data() {
    return {
      fileName: "Мой ответ",
      activeWork: {
        id: 1,
        img: "pg-housewife",
        name: "Домохозяйка",
        name1: "домохозяйке",
        name2: "домохозяйку",
      },
      workList: [
        {
          id: 1,
          img: "pg-housewife",
          name: "Домохозяйка",
          name1: "домохозяйке",
          name2: "домохозяйку",
        },
        {
          id: 2,
          img: "pg-gardener",
          name: "Садовод",
          name1: "садоводе",
          name2: "садовода",
        },
        {
          id: 3,
          img: "pg-cleaner",
          name: "Уборщик",
          name1: "уборщике",
          name2: "уборщика",
        },
        {
          id: 4,
          img: "pg-babysitter",
          name: "Няня",
          name1: "няне",
          name2: "няню",
        },
        {
          id: 5,
          img: "pg-cooker",
          name: "Повар",
          name1: "поваре",
          name2: "повара",
        },
      ],
      loaded: false,
      file: null,
      imgSrc: null,
      workAccept: false,
      defaultPosition: false,
      currentTask: {},
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    // Блок анимации. Вместо Vue Transition использовал классическую анимацию, так как вьюшная очень сильно лагает

    changePosition() {
      this.defaultPosition = !this.defaultPosition;
      if (this.defaultPosition === true) {
        if (screen.width >= 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(-50%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(50%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(-100%)";
          document.querySelector(".chosen-work-slide").style.height = "100px";

          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        }
      }
      if (this.defaultPosition === false) {
        if (screen.width < 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-slide").style.height = "350px";

          document.querySelector(".chosen-work-slide").style.opacity = 1;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        }
      }
    },

    //

    getImgUrlChoise(pic) {
      return require(`@/assets/img/presentation-guide/${pic}.png`);
    },
    getImgUrl(pic) {
      return require(`@/assets/img/presentation-guide/${pic}.svg`);
    },
    acceptChoose() {
      this.workAccept = !this.workAccept;
    },
    loadImg() {
      this.file = this.$refs.input.files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;

          // this.$refs["img"].src = this.imgSrc;
          this.$refs["img"].style.backgroundImage = `url(${this.imgSrc})`;
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
          this.fileName = this.file.name;
        }
      }
      this.loaded = true;
      this.sendImage();
    },
    async sendImage() {
      let answerData = new FormData();
      answerData.set("answer", this.file, this.file.name);
      await this.patchFormAnswer({
        id: this.currentTask.answers[0].id,
        data: answerData,
      });
      await this.patchAnswer({
        id: this.currentTask.answers[1].id,
        data: { text_answer: this.file.name },
      });
    },
    async changeName() {
      await this.patchAnswer({
        id: this.currentTask.answers[1].id,
        data: { text_answer: this.fileName },
      });
    },
    ...TaleMapper.mapActions([
      "patchAnswer",
      "patchTale",
      "patchTask",
      "patchFormAnswer",
    ]),
    deleteImg() {
      this.loaded = false;
      this.imgSrc = "";
      this.$refs["img"].style.backgroundImage = "";
      this.fileName = "Мой ответ";
    },
    async sendToMentor() {
      // let answerData = new FormData();
      // answerData.append("answer", this.file);
      // await this.patchFormAnswer({
      //   id: this.currentTask.answers[0].id,
      //   data: answerData,
      // });
      // await this.patchAnswer({
      //   id: this.currentTask.answers[1].id,
      //   data: { text_answer: this.fileName },
      // });

      // await this.patchTask({
      //   id: this.currentTask.id,
      //   data: {
      //     success: true,
      //     coins: 1,
      //   },
      // });
      // if (this.tale.pages < 23) {
      //   await this.patchTale({ pages: 23 });
      // }
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page22/62.mp3"))
      );
      this.audio.play();
    },
    initialAnimation() {
      //  this.defaultPosition = !this.defaultPosition;
      if (this.defaultPosition === true) {
        if (screen.width >= 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(-55%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(50%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(-100%);";
          document.querySelector(".chosen-work-slide").style.height = "100px";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        }
      }
      if (this.defaultPosition === false) {
        if (screen.width < 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-slide").style.height = "350px";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        }
      }
    },
  },

  mounted() {
    this.initialAudio();
    this.initialAnimation();
    this.currentTask = this.tale.tasks.find((task) => task.page == 22);
    if (this.currentTask.answers[0].answer) {
      this.workAccept = true;
      let imgFile = document.querySelector(".load-btn");
      this.imgSrc = this.currentTask.answers[0].answer;
      imgFile.style.backgroundImage = `url(${this.imgSrc})`;
      // imgFile.style.pointerEvents = "none";
      this.fileName = this.currentTask.answers[1].text_answer;
    }
  },
};
</script>

<style  scoped>
.full-height {
  height: calc(100% - 60px);
}
.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* //!2222222222222222222222 */
.chosen-work-container {
  width: 100%;
  height: 650px;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.chosen-work-card {
  width: 470px;
  padding-top: 470px;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);
  transition: 0.5s ease;
  transform: translateX(50%);
  z-index: 1;
}

.chosen-work-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s ease;
}
.chosen-work-title {
  width: 96%;
  height: 10%;
  margin-top: 2%;
  border-radius: 2rem;
  background-color: #ffde3bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.chosen-work-title:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.chosen-work-title .left {
  flex: 1 1 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.chosen-work-title .left > img {
  height: 30px;
  width: 30px;
  padding: 0.3rem;
  margin: 0 5px;
  border-radius: 100%;
  border: 1px solid;
  -o-object-fit: contain;
  object-fit: contain;
}
.chosen-work-title .left > span {
  font-weight: bold;
  color: #2b2a297a;
  font-size: 1.1rem;
  padding-left: 2%;
}
.chosen-work-title > img {
  max-height: 90%;

  object-fit: contain;
  width: 10%;
  margin-right: 1%;
  border-radius: 100%;

  padding: 0.2rem;
}
.chosen-work-body {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chosen-work-body img {
  height: 90%;
  width: auto;
  max-width: 95%;
  margin-top: 20%;
}

.sound-btn,
.arrow-btn {
  position: absolute;
  right: 4%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.sound-btn {
  top: 3%;
  padding: 0;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.sound-btn > img {
  height: 50%;
  margin: 0;
}
.arrow-btn {
  transform: rotate(0deg);
  transition: 1s ease;
  bottom: 3%;
  opacity: 0.3;
}
.text-relax {
  font-size: 1rem;
  color: #2b2a29;
  font-weight: bold;
  text-align: center;
  top: 1.5%;
}

/* //!333333333333333333333333333 */
.chosen-work-slide {
  width: 550px;
  height: 420px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  transition: 0.5s ease;
  align-items: center;
  border-radius: 7%;
  background-color: #f3f3f350;
  transform: translateX(-50%);
  opacity: 0;
}
.chosen-work-slide > .text {
  text-align: left;
  width: 75%;
  line-height: 1rem;
  font-weight: bold;
  color: #2b2a29;
}
.chosen-work-slide > .text > p:first-child {
  color: #2b2a2980;
  font-weight: 500;
}
.img-load {
  background: #f3f3f350;
  width: 85%;
  height: 90%;
  margin-bottom: 0%;
  border-radius: 2rem;
  border: 2px solid lightgray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  padding: 1%;
}
.img-text > img {
  height: 90%;
  width: auto;
  margin-right: 10px;
  filter: invert(0.5) brightness(1);
}
.img-text > input {
  font-weight: bold;
  color: #636260;
  outline: none;
  border: none;
  background: none;
  text-align: center;
  width: auto;
  min-width: 50%;
  max-width: 90%;
}
.load-btn {
  height: 80%;
  width: 90%;
  border: 2px solid #fff;
  border-radius: 2rem;
  transition: 0.5s ease;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-btn > img {
  max-width: 135px;
  height: auto;
}
.load-btn:hover {
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
}
.load-success {
  width: 30%;
}
/* //!ANIMATION */
.grow-enter,
.grow-leave-to,
.grow-enter *,
.grow-leave-to * {
  width: 0;
  font-size: 0;
}
.grow-enter-active,
.grow-leave-active,
.grow-enter-active *,
.grow-leave-active * {
  transition: 0.5s ease;
}
/* //!!!!!!!!!!!!!!!!!!!!!!!!! */

.background-text {
  background-color: #f3f3f380;
  border-radius: 10px;
}
.black-text {
  color: #000;
}
.row-ss-bg {
  margin-left: 5em;
  margin-right: 6em;
  height: 70%;
}
.sound-ss {
  width: 25px;
  height: 25px;
  display: flex;
  border: none;
  outline: none;
  background: none;
}
.row-ss-inside {
  height: 50px;
  margin: 0px -8px;
  transition: 0.5s ease;
  cursor: pointer;
}
.row-ss-inside:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.ss-pick-role-text {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #2b2a29;
}
.btn-ss-yes {
  margin-top: 5px;
  margin-right: 2px;
  height: 80%;
  width: 100%;
  background-color: #99ceac;
  border: 2px solid #99ceac;
  border-radius: 100px;
}
.right-window {
  z-index: 0;
}
.btn-ss-yes p {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #fefefe;
}
.btn-ss-yes:hover {
  box-shadow: 0px 0px 5px #3fc570;
}
.confirmed-ss {
  width: 33px;
}

.flex-loader {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.wrap-bg {
  background: url("../../../../assets/img/icons/wrap.png") no-repeat right
    bottom;
  height: 100%;
  z-index: 2;
}
.ss-slide-img {
  height: 38vh;
}
.delete-image {
  width: 30px;
  height: 30px;
  top: 2.5vh;
  right: 5vw;
  border: none;
  outline: none;
  background: none;
}
.btn-img-slide {
  background: none;
  border: none;
}
.not-selected-thum {
  transition: 0.6s ease;
}
.not-selected-thum:hover {
  background: #99ceac71;
}
.row-ss-thumbnails {
  margin-left: 5em;
}
.ss-thumbnail-img {
  height: 55px;
}
.dot-img {
  height: 7px;
}
.ss-arrow-icon {
  width: 18px;
}
.ss-pick-family-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #9c9c9b;
}
.image-ss {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.image-ss > img {
  height: 90%;
  width: auto;
  margin: auto;
}
.prev,
.next {
  width: 30px;
  height: 30px;
  top: calc(40% - 15px);
  border-radius: 100%;
  background: none;
  border: none;
  z-index: 50;
  transition: 0.5s ease;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:hover,
.next:hover {
  box-shadow: 0px 0px 10px #fefefe;
}
.ss-fm-img-tall {
  height: 60px;
}
.ss-fm-img-short {
  height: 50px;
}
.ss-exit-icon {
  width: 16px;
}
.ss-wrap-outer {
  height: 32vh;
  width: 80%;
  border: 2px solid #c5c5c5;
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ss-wrap-inner {
  margin-top: 1em;
  height: 75%;
  border: 2px solid #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #2b2a2957;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.ss-wrap-inner > img {
  width: 100%;
  height: auto;
}
.load-img {
  height: 80 !important;
  width: auto !important;
}
.loaded-img {
  width: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border: 2px solid #fefefe;
  border-radius: 100%;
}
.ss-video-answer {
  width: 30px;
}
.ss-answer-filename {
  font-size: 16px;
  font-weight: bold;
  color: #9c9c9b;
}
.mt-role-text {
  margin-top: 0.5em;
}
.margin-photo-p27 {
  margin-top: 0;
}
.height-p20 {
  height: 77vh;
}
.pick-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-enter {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-leave-to {
  transform: translateX(-30%);
  opacity: 0;
}
.delete-image {
  width: 30px;
  height: 30px;
  top: 6%;
  right: 5%;
  z-index: 222;
}
/* @media (max-height: 600px) {
  .height-p20 {
    height: calc(80vh - 20px);
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* первая страница */
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
  /* вторая страница */
  .chosen-work-container {
    width: 470px;
    margin: auto;
    margin-top: 100px;

    height: fit-content;
    flex-flow: column nowrap;
  }
  .chosen-work-card {
    transform: translateY(0%);
  }
  .ipad-margin-p20 {
    margin-bottom: 5%;
    border-radius: 7%;
    /* background-color: #f3f3f380; */
  }
  .chosen-work-slide {
    margin: auto;
    padding: 0;
    width: 440px;
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 7% 7% 0;
    background-color: #f3f3f380;
    transform: translateY(-100%);
  }
  .img-load {
    width: 95%;
  }
  .arrow-btn {
    transform: rotate(90deg);
  }
  .load-btn {
    background-color: #fefefe;
    height: 250px;
    width: 375px;
  }
  .delete-image {
    top: 5%;
    right: 3%;
  }
  /* вторая страница */
}

@media (min-width: 1441px) and (min-height: 850px) {
  /* .delete-image {
    top: 7%;
    right: 18%;
  } */

  .ss-wrap-inner {
    margin-top: 2em;
  }
  .loaded-img {
    width: 130px;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
  }
  .margin-photo-p27 {
    margin-top: 3em;
  }
}
/* @media (max-width: 1280px) {
  .work-choose-btn {
    width: 15%;
  }
}
@media (max-width: 1280px) and (min-height: 650px) {
  .work-choose-btn {
    width: 19%;
  }
} */

/* .bottom-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wrap-outer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 820px;
  height: 565px;
  margin: auto;
  border-radius: 25px;
  background: #ffffff30;
}
.wrap-inner {
  border-radius: 25px;
  height: 465px;
  width: 735px;
  background: #ffffffd1;
  border: 3px solid #ffffff;
}
.img-relax {
  height: 100%;
  width: auto;
}
.relax-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;

  outline: none;
  border: none;
  background: none;
}
.load-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  transition: 0.5s ease;
}
.load-btn > img {
  width: 25%;
  height: auto;
  filter: invert(0.1);
}
.loaded-img {
  width: 12vw;
  top: calc(50% - 6vw);
  left: calc(50% - 6vw);
  border: 2px solid #fefefe;
  border-radius: 100%;
}
.delete-image {
  width: 30px;
  height: 30px;
  top: -3%;
  right: -2%;
  border: none;
  outline: none;
  background: none;
}
.picture-icon {
  width: 30px;
  height: auto;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .wrap-outer {
    width: 590px;
    height: 535px;
    margin: auto;
  }
  .wrap-inner {
    border-radius: 25px;

    width: 530px;
    height: 450px;
    background: #ffffffd1;
    border: 3px solid #ffffff;
  }
  .wrap-height {
    height: 700px;
    width: 100%;
    max-width: 100%;
  }
} */
</style>