<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-10"
      title="Словарь эмоций"
      subtitle="Как настроение?"
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
    />
    <div
      class="mt-2 full-height white-bg bottom-radius shadow-body border-body container-fluid relative-block animate__animated animate__fadeIn no-select"
      style="overflow-y: scroll"
    >
      <div class="wrap-height mt-0">
        <div class="wrap-emotions relative-block">
          <!-- первая линия эмоций -->
          <div
            class="row mb-2 justify-content-center mx-auto text-center emotions-row"
          >
            <div
              class="p-0 my-auto border-emotion-block"
              ref="calm"
              @click="setEmoji('calm')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0 m-0">спокойствие</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/calm.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
            <div
              class="my-auto border-emotion-block"
              ref="happy"
              @click="setEmoji('happy')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">радость</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/happy.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
            <div
              class="my-auto border-emotion-block"
              ref="confuse"
              @click="setEmoji('confuse')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">смущение</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/shy.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
          </div>
          <!-- вторая линия эмоций -->
          <div
            class="row my-2 justify-content-center mx-auto text-center emotions-row"
          >
            <div
              class="my-auto border-emotion-block"
              ref="grudge"
              @click="setEmoji('grudge')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">обида</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/insult.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
            <div
              class="my-auto border-emotion-block"
              ref="anger"
              @click="setEmoji('anger')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">злость</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/angry.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
            <div
              class="my-auto border-emotion-block"
              ref="fury"
              @click="setEmoji('fury')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">ярость</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/mad.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
          </div>
          <!-- третья линия эмоций -->
          <div
            class="row my-2 justify-content-center mx-auto text-center emotions-row"
          >
            <div
              class="my-auto border-emotion-block"
              ref="fear"
              @click="setEmoji('fear')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">испуг</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/scared.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
            <div
              class="my-auto border-emotion-block"
              ref="sad"
              @click="setEmoji('sad')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">грусть</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/sad.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
            <div
              class="my-auto border-emotion-block"
              ref="surprise"
              @click="setEmoji('surprise')"
            >
              <div
                class="row justify-content-center bubble-wrap marging-p10 animate__animated animate__fadeIn"
              >
                <div class="col">
                  <p class="bubble-text m-0">удивление</p>
                </div>
              </div>
              <div
                class="row mt-2 mb-3 row-star row-star justify-content-center animate__animated animate__fadeIn"
              >
                <img
                  src="@/assets/img/emotions/suprice.png"
                  alt=""
                  class="img-emotion"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ButtonNext
      :show="isChooseStart || tale.emoji != null || tale.pages > 6"
      link="7"
      class="white-next-btn-bg"
    />
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { TaleMapper } from "@/store/tale";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page6",
  components: { TopMenu, ButtonNext },
  data() {
    return {
      emojis: [
        "calm",
        "happy",
        "confuse",
        "grudge",
        "anger",
        "fury",
        "fear",
        "sad",
        "surprise",
      ],
      isChooseStart: false,
      emojiAudio: new Audio(),
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...TaleMapper.mapActions(["patchTale"]),
    playSound(emoji) {
      if (this.emojiAudio) {
        this.emojiAudio.pause();
      }
      this.audio.pause();
      try {
        this.emojiAudio = new Audio(
          require(`@/assets/sounds/app-voice/page6/09.${
            this.emojis.indexOf(emoji) + 1
          }.mp3`)
        );
      } catch {
        this.emojiAudio = new Audio();
      }

      if (this.emojiAudio) {
        this.emojiAudio.play();
      }
    },
    async setEmoji(name) {
      this.playSound(name);
      this.isChooseStart = true;
      const emojis = document.querySelectorAll(".border-emotion-block");
      emojis.forEach((emoji) => {
        emoji.classList.remove("active");
      });
      this.$refs[name].classList.add("active");
      await this.patchTale({ emoji: name });
    },
  },
  mounted() {
    if (!this.tale.emoji) {
      setInterval(() => {
        if (!this.isChooseStart) {
          const emojis = document.querySelectorAll(".border-emotion-block");
          emojis.forEach((emoji) => {
            emoji.classList.remove("active");
          });
          this.$refs[this.emojis[Math.floor(Math.random() * 9)]].classList.add(
            "active"
          );
        }
      }, 2000);
    } else {
      this.$refs[this.tale.emoji].classList.add("active");
    }
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/page6/09.mp3")));
    this.audio.play();
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    this.emojiAudio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.border-emotion-block {
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  width: 160px;
  height: 150px;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.5s;
  cursor: pointer;
}
.bubble-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #1d1d1b;
}

.active {
  transform: scale(1.15);
  border: solid 2px #ffffff;
  background-color: #ffde3b !important;
  box-shadow: 0px 0px 20px #00000030;
}
.bubble-wrap {
  background: url("../../../../assets/img/emotions/emotions_bubble.png")
    no-repeat center;
  background-size: 60%;
  height: 20%;
  margin-top: 10px;
}
.row-star {
  height: 60%;
}
.img-emotion {
  width: auto;
  height: 100%;
}
.emotions-row {
  width: 800px;
}
.wrap-height {
  height: 600px;
}
.wrap-emotions {
  margin: auto;
  margin-top: 0;
  padding-top: 50px;
  height: 550px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

/* @media (max-width: 1100px) {
  .emotions-row {
    width: 80%;
  }
}
@media (max-width: 850px) {
  .border-emotion-block {
    width: 145px;
    height: 135px;
  }
  .active {
    width: 160px;
    height: 150px;
  }
  .emotions-row {
    width: 90%;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .wrap-emotions {
    width: 100%;
  }
  .emotions-row {
    width: 100%;
  }
  .full-height {
    height: 85vh;
    border-radius: 0;
  }
}
</style>