<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page10.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-16"
      title="Fox story"
      subtitle="Ответь на вопросы"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="ПАМЯТЬ"
      voiceText="В этом задании ты начинаешь с уровня Silver и сможешь заработать 1 фокс. Ответь на вопросы. Нажми на вопрос и прослушай его. Запиши свой ответ, нажав на микрофон. Ты всегда можешь перезаписать свой ответ перед отправкой ментору."
      :number="10"
    />
    <div
      v-show="!videoPlay"
      class="full-height bottom-radius shadow-body container-fluid no-select questions-section animate__animated animate__fadeIn fff"
      style="overflow-y: scroll"
    >
      <SideRightMenu
        :sendToMentorActive="pageIsSucceed"
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :questPage="currentTask.page"
        @send="sendToMentor"
        :light="true"
        :high_mentor="true"
        @path="saveCurrentTask"
        @tale="saveCurrentTask"
      />
      <div class="page-wrap relative-block">
        <div class="task-wrap">
          <Question
            v-for="question in questions"
            :key="question.id"
            :img="question.img"
            :invert="question.id % 2 == 0"
            :text="question.text"
            :number="question.id"
            :success="question.success"
            :disable="question.disable"
            @success="setSuccess"
            :open="question.open"
            :extend="question.extend"
            @open="openCard"
            @sound="playSound"
            @voicePlay="stopAllAudio"
            :server-voice="
              serverVoices[question.id - 1] ? serverVoices[question.id - 1] : ''
            "
          />
        </div>
      </div>
    </div>
    <ButtonNext class="white-next-btn-bg" :show="tale.pages > 10" link="11" />
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import Question from "@/components/tales/tale1/pages/page10/Question.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page10",
  components: { TopMenu, SideRightMenu, Question, ButtonNext },
  data() {
    return {
      pageIsSucceed: false,
      videoPlay: true,
      questions: [
        {
          id: 1,
          text: "Какими домашними делами каждый день занималась мама лисенка?",
          success: false,
          disable: false,
          img: "mother",
          open: false,
          extend: "",
        },
        {
          id: 2,
          text: "Куда уехали родители Фоксика?",
          success: false,
          disable: true,
          img: "parent",
          open: false,
          extend: "",
        },
        {
          id: 3,
          text: "Кто остался присматривать за Фоксиком?",
          success: false,
          disable: true,
          img: "look-out",
          open: false,
          extend: "",
        },
        {
          id: 4,
          text: "Как распределили дела в огороде друзья между собой?",
          success: false,
          disable: true,
          img: "friends",
          open: false,
          extend: "",
        },
        {
          id: 5,
          text:
            "Перечисли все дела, которые выполнил Фоксик вместе с друзьями.",
          success: false,
          disable: true,
          img: "plants",
          open: false,
          extend: "",
        },
      ],
      showButton: false,
      voices: {},
      serverVoices: [],
      currentTask: {},
      taskAudio: new Audio(require("@/assets/sounds/app-voice/page10/12.mp3")),
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    // Sound methods
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    async playSound(number) {
      await this.stopAllAudio();
      await this.setRightAudio(
        new Audio(require(`@/assets/sounds/app-voice/page10/12.${number}.mp3`))
      );
      this.playRightAudio();
    },
    // Sound methods
    // API requests
    ...TaleMapper.mapActions(["patchTask", "patchFormAnswer", "patchTale"]),
    async sendToMentor() {
      this.saveCurrentTask();
      this.$router.push({ name: `tale1-checking` });

      // Автовыполнение задания (должно быть перед пушем)
      // await this.patchTask({
      //   id: this.currentTask.id,
      //   data: {
      //     success: true,
      //     coins: 1,
      //   },
      // });
      // if (parseInt(this.tale.pages) < 11) {
      //   await this.patchTale({ pages: "11" });
      // }
    },
    // API requests
    // Style change
    initialAnimation() {
      let getElems = (name) => {
        return document.querySelectorAll(name);
      };
      if (screen.height === 1024 && screen.width === 768) {
        document.documentElement.style.overflowY = "hidden";
      }
      document
        .querySelectorAll(".question-row")
        .forEach(function (item, index) {
          setTimeout(function () {
            item.style.opacity = 1;
          }, 100 * index);
        });
      if (screen.width < 1440) {
        for (let z = -1; z < 4; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            getElems(".card-text")[z].classList.add("text-anim");
            getElems(".question-card")[z].classList.add("cards-anim-ipad");
            getElems(".question-number")[z].classList.add("number-anim");
          }, 100 * ++z);
        }
      }
      if (screen.width >= 1440) {
        for (let z = -1; z < 4; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            getElems(".card-text")[z].classList.add("text-anim");
            getElems(".question-card")[z].classList.add("cards-anim");
            getElems(".question-number")[z].classList.add("number-anim");
          }, 100 * ++z);
        }
      }
      for (let z = 0; z < 5; ++z) {
        getElems(".question-card")[z].addEventListener("click", function () {
          getElems(".fucking-anim")[z].style.animation = "none";
          setTimeout(function () {
            getElems(".fucking-anim")[z].style.animation = "";
          }, 10);
        });
      }
    },
    // Style change
    // Открытие - закрытие карточки задания
    openCard(open, id) {
      this.questions[id - 1].open = open;
      this.checkNeighbors(open, id);
    },
    // Проверка соседей при изменении состояния карточки на открытую-закрытую.
    // Необходимо, чтобы в мобильной версии полосы возле карточек не обрывались
    // при открытии карточек
    checkNeighbors(open, id) {
      if (this.questions[id]) {
        open && !this.questions[id].open
          ? (this.questions[id].extend = "big")
          : !open && this.questions[id].open
          ? (this.questions[id].extend = "small")
          : (this.questions[id].extend = "");
      }
      if (this.questions[id - 2]) {
        open && !this.questions[id - 2].open
          ? (this.questions[id - 1].extend = "small")
          : !open && this.questions[id - 2].open
          ? (this.questions[id - 1].extend = "big")
          : (this.questions[id - 1].extend = "");
      }
    },
    // Делает задание выполненным/не выполненным
    async setSuccess(success, id, voice) {
      let currentQuestion = this.questions[id - 1];
      this.questions[id - 1].success = success;
      if (success) {
        this.questions[id] && (this.questions[id].disable = false);
        this.voices[`voice${currentQuestion.id}`] = {
          number: id,
          answer: voice,
        };
      } else {
        delete this.voices[`voice${currentQuestion.id}`];
      }
      // Если выполнены все 5 - можно отправить ментору
      this.questions.filter((question) => question.success).length == 5
        ? (this.pageIsSucceed = true)
        : (this.pageIsSucceed = false);
    },
    // Cохранение прогресса задания
    async saveCurrentTask() {
      Object.values(this.voices).forEach(async (item) => {
        let answerData = new FormData();
        let { number, answer } = item;
        let answerId = this.currentTask.answers[number - 1].id;

        answerData.append("answer", answer, `answer${number}.wav`);

        await this.patchFormAnswer({ id: answerId, data: answerData });
      });

      await this.patchTale({});
    },
  },

  mounted() {
    // Ставим аудио страницы
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page10/12.mp3"))
    );
    // Присваиваем нужные классы для стартовой анимации
    this.initialAnimation();
    // Находим задание в объекте сказки в сторе
    this.currentTask = this.tale.tasks.find((task) => task.page == 10);

    this.questions.forEach((question, i) => {
      // Присваиваем ответ с сервера, если такой есть. И также статус выполненного задания
      if (this.currentTask.answers[i].answer) {
        this.serverVoices[i] = this.currentTask.answers[i].answer;
      }
      if (this.currentTask.answers[i].answer) {
        question.success = true;
        question.disable = false;
      }
      // Первое задание разблокировано всегда
      if (i == 0 || this.currentTask.answers[i - 1].answer) {
        question.disable = false;
      }
    });
  },
};
</script>

<style scoped>
.center-content {
  justify-content: center;
  align-items: unset;
}
.questions-section {
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1%;
  background: rgb(250, 250, 250);
  overflow-y: scroll;
}
.task-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
}
.task-wrap {
  width: 1200px;
  height: 625px;
  margin-left: 45px;
  /* height: calc(75vw * 0.7); */
}
.row-task {
  align-items: center;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row-task:first-child {
  margin-top: 0;
}
.row-task:last-child {
  margin-bottom: 0;
}
.task-img {
  height: 100%;
  object-fit: contain;
}
.big-task-img {
  height: 100%;
  object-fit: fill;
}
.right-icon,
.sound-icon {
  position: absolute;
  right: 4%;
}
.right-icon {
  bottom: 10%;
}
.sound-icon {
  top: 10%;
}
.col-4,
.col-5 {
  padding: 0;
}
.page-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 625px;
  margin: 20px 0;
  position: relative;
  z-index: 2;
  width: 1030px;
  overflow-x: hidden;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .page-wrap {
    display: unset;
    min-height: 80%;
    margin-top: 75px;
  }
  .task-wrap {
    width: 560px;
    height: 100%;
    margin: auto;
    padding-top: 90px;
    overflow-x: hidden;
  }
  .full-height {
    height: calc(100vh - 155px);
    border-radius: 0;
    padding: 0%;
  }
  /* .questions-section {

    height: 85vh;
  } */
}
</style>
