<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page26.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-33"
      title="Soft Skills"
      subtitle="Ценные навыки"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ"
      :number="26"
      white_text_2="ЛИДЕРСКИЕ НАВЫКИ"
      voiceText="А теперь поиграй в ИГРУ «Домашние дела в семье». Здесь ты можешь заработать 15 фоксов."
    />
    <div
      v-show="!videoPlay"
      class="container-fluid no-select full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        :sendToMentorActive="loaded"
        :coinsTarget="currentTask.target"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :coins="currentTask.coins"
        @send="sendToMentor"
        light
        :high_mentor="{ true: tale.pages > 26 }"
      />
      <!-- :sendToMentorActive="false"
        @send="sendToMentor" -->

      <hr class="hr-invisible pb-3 p-0 m-0" />
      <div
        class="wrap-height mt-0"
        style="justify-content: center; flex-direction: column"
      >
        <div class="w-100 crutch">
          <div
            :class="{
              'justify-content-center': !pickedRole,
              'justify-content-start': pickedRole,
            }"
            class="row white-bg row-ss-bg border30"
            style="transition: 1s ease"
          >
            <!-- Столбец со слайдером, картинки там переключаются только при помощи
          кнопок, возможно, еще и миниатюрками внизу, но это лишь мое IMHO -->
            <div class="slide-block border30 wrap-bg">
              <div
                class="row mt-1 borderfull row-ss-inside scale-x-anim"
                :class="{ 'white-bg': !pickedRole, 'yellow-bg': pickedRole }"
              >
                <div class="col-1 text-center my-auto pl-1 p-0 opacity-anim-18">
                  <button @click="playSlideSound" class="sound-ss pointer">
                    <img
                      src="@/assets/img/icons/rule-icon.png"
                      id="sound-ss-icon"
                      alt=""
                      style="max-width: 100%"
                    />
                  </button>
                </div>
                <div class="col my-auto m-0 pr-0 opacity-anim-18">
                  <p v-show="!pickedRole" class="ss-pick-role-text m-0">
                    Выбери ситуацию
                  </p>
                  <p v-show="pickedRole" class="ss-pick-role-text m-0">
                    {{ activeSlide.text }}
                  </p>
                </div>
                <div
                  class="col-3 h-100 px-1 my-auto"
                  style="
                    display: flex;
                    justify-content: center;
                    flex-flow: column;
                  "
                >
                  <b-button
                    class="opacity-anim-18"
                    variant="ss-yes"
                    @click="changePosition()"
                  >
                    <p class="m-0 p-0">Да</p>
                    <img
                      src="@/assets/img/icons/white-confirmed.svg"
                      alt=""
                      class="confirmed-ss ml-auto"
                    />
                  </b-button>
                </div>
              </div>

              <div class="image-ss relative-block">
                <button
                  @click.prevent="prev"
                  variant="img-slide"
                  class="absolute-block prev"
                >
                  <img src="@/assets/img/soft-skills/move.svg" alt="" />
                </button>
                <div :class="activeSlide.slideimg" :key="activeSlide.id"></div>
                <!-- <img
                    :key="activeSlide.id"
                    :src="require(`@/assets/${activeSlide.slideimg}`)"
                    alt=""
                  /> -->
                <button
                  @click.prevent="next"
                  variant="img-slide"
                  class="absolute-block next"
                >
                  <img
                    src="@/assets/img/soft-skills/move.svg"
                    alt=""
                    class="rotate180"
                  />
                </button>
              </div>

              <!-- <p :key="activeSlide.id" class="ss-slide-text">
              {{ activeSlide.text }}
            </p> -->
            </div>
            <!-- Столбец, куда надо загружать, видимо, либо фото, либо видео-ответ
        на один из слайдов, что показан в левом столбце, для каждого члена семьи -->

            <div class="fm-choise-block px-0 border30" style="height: 91%">
              <div class="row w-100 h-100 m-0">
                <div
                  class="col-1 text-center ss-load-height1 text-center pr-0"
                ></div>
                <div class="col pl-0 flex-loader">
                  <div
                    class="row mx-1 mt-1 yellow-bg borderfull row-ss-inside choose-destiny"
                  >
                    <div class="col-1 text-center sound my-auto pl-1 p-0">
                      <button class="sound-ss" @click="playRoleSound">
                        <img
                          src="@/assets/img/icons/rule-icon.png"
                          id="sound-ss-icon"
                          alt=""
                          style="max-width: 100%"
                        />
                      </button>
                    </div>
                    <div class="col my-auto m-0 pr-0 roleplay">
                      <p v-show="!pickedFm" class="ss-pick-role-text m-0">
                        Выбери роль
                      </p>
                      <p v-show="pickedFm" class="ss-pick-role-text m-0">
                        {{ nameFm }}
                      </p>
                    </div>
                    <div class="col-3 pr-2 h-100 text-right current-face">
                      <img
                        v-if="currentFm"
                        :key="currentFm"
                        :src="
                          require(`@/assets/img/soft-skills/${currentFm}.png`)
                        "
                        alt=""
                        class="fm-lil-img"
                      />
                    </div>
                  </div>
                </div>
                <!-- <div class="row ss-load-height2 m-0 w-100">
                  <div
                    class="col ml-4 my-auto pointer text-center family relative-block"
                    :class="{ active: member.id == selectedMember.id }"
                    @click="selectedMember = member"
                    v-for="member in family"
                    :key="member.id"
                  >
                    <img
                      :src="require(`@/assets/img/icons/${member.img}.png`)"
                      alt=""
                      class="ss-fm-img-short"
                    />
                    <transition :key="member.id" name="fade" mode="out-in"
                      ><img
                        src="@/assets/img/icons/green-confirmed.svg"
                        alt=""
                        class="absolute-block cheched-fm-icon"
                    /></transition>
                  </div>
                  <div class="col"></div>
                  <div class="col"></div>
                </div> -->
                <div class="row ss-load-height3 w-100 faces">
                  <button
                    @click="selectRole('father', 'Папа')"
                    class="btn-invisible-button pick-fm-ss-btn left-img top-img"
                  >
                    <img src="@/assets/img/soft-skills/father.png" alt="" />
                  </button>
                  <button
                    @click="selectRole('mother', 'Мама')"
                    class="btn-invisible-button pick-fm-ss-btn right-img top-img"
                  >
                    <img src="@/assets/img/soft-skills/mother.png" alt="" />
                  </button>
                  <button
                    @click="selectRole('kid', 'Сын')"
                    class="btn-invisible-button pick-fm-ss-btn left-img bottom-img"
                  >
                    <img src="@/assets/img/soft-skills/kid.png" alt="" />
                  </button>
                  <button
                    @click="selectRole('girl', 'Дочь')"
                    class="btn-invisible-button pick-fm-ss-btn right-img bottom-img"
                  >
                    <img src="@/assets/img/soft-skills/girl.png" alt="" />
                  </button>
                </div>
                <div class="row ss-load-height3 w-100 send-file">
                  <div class="ss-wrap-outer relative-block text-center">
                    <img
                      v-show="loaded"
                      src="@/assets/img/pictures/loaded.svg"
                      alt=""
                      class="absolute-block loaded-img"
                    />
                    <button
                      @click="deleteImg"
                      v-if="loaded"
                      class="absolute-block delete-image btn-invisible-button"
                    >
                      <img
                        src="@/assets/img/pictures/delete-image.svg"
                        alt=""
                        class="img-fluid"
                      />
                    </button>
                    <input
                      type="file"
                      ref="input"
                      accept="image/*"
                      style="display: none"
                      @change="loadImg"
                    />
                    <button
                      v-if="!loaded"
                      class="ss-wrap-inner"
                      @click="$refs.input.click()"
                    >
                      <img
                        src="@/assets/img/icons/upload.png"
                        class="load-img"
                      />
                    </button>
                    <button v-if="loaded" class="ss-wrap-inner">
                      <img ref="img" :src="imgSrc" class="img-fluid" />
                    </button>

                    <div class="row w-100 m-0 mt-3 justify-content-center">
                      <img
                        v-if="loaded"
                        src="@/assets/img/icons/my-video-answer.svg"
                        alt=""
                        class="ss-video-answer"
                      />
                      <input
                        v-model="fileName"
                        @change="changeName"
                        type="text"
                        class="ss-answer-filename ml-2 my-auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Строка с миниатюрками, классом blue-bg подсвечивается активная, 
      как и точкой внизу, по умолчанию все точки невидимы, лишь при выбранном.активном слайде
       она должна становиться видимой -->
        <div
          class="row mt-3 justify-content-center"
          style="margin: auto; width: 80%; height: 75px transition: 1.5s"
        >
          <div class="col-thumbnails">
            <div class="row w-100 h-100 adaptive-crap">
              <div
                v-for="Thumnail in ThumnailsList"
                :key="Thumnail.id"
                :index="Thumnail.id"
                style="display: flex"
                class="col p-0 border15 text-center"
                :class="Thumnail.activeClass"
              >
                <img
                  :src="require(`@/assets/${Thumnail.image}`)"
                  alt=""
                  class="ss-thumbnail-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ButtonNext :show="tale.pages > 26" link="27" class="white-next-btn-bg" />
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page26",
  components: { TopMenu, SideRightMenu, ButtonNext },
  data() {
    return {
      videoPlay: true,
      clicked: false,
      loaded: false,
      pickedRole: false,
      pickedFm: false,
      fileName: "Загрузи видео-отчет",
      currentFm: "",
      nameFm: "",
      selectedMember: {
        id: 1,
        img: "kid-icon-grey",
        name: "Брат",
      },
      family: [
        {
          name: "Брат",
          img: "kid",
        },
        {
          name: "Папа",
          img: "father",
        },
        {
          name: "Сестра",
          img: "girl",
        },
        {
          name: "Мама",
          img: "mother",
        },
      ],
      activeSlide: {
        id: 1,
        slideimg: "todo-list",
        name: "Папа",
        text: " Составить список дел на день",
      },
      SlidesList: [
        {
          id: 1,
          slideimg: "todo-list",
          text: "Составить список дел на день",
        },
        {
          id: 2,
          slideimg: "toys",
          text: "Навести порядок в комнате",
        },
        {
          id: 3,
          slideimg: "shop",
          text: "Сходить в «магазин» и купить необходимое для супа",
        },
        {
          id: 4,
          slideimg: "hospital",
          text: "Проблемная ситуация: «Ребенок заболел. Поход в поликлинику»",
        },
        {
          id: 5,
          slideimg: "restoration",
          text: "Отреставрировать книги",
        },
      ],
      ThumnailsList: [
        {
          id: 1,
          image: "img/soft-skills/to-do-list.svg",
          activeClass: "blue-bg",
        },
        {
          id: 2,
          image: "img/soft-skills/toys.svg",
          activeClass: "not-selected-thum",
        },
        {
          id: 3,
          image: "img/soft-skills/shop.svg",
          activeClass: "not-selected-thum",
        },
        {
          id: 4,
          image: "img/soft-skills/hospital.svg",
          activeClass: "not-selected-thum",
        },
        {
          id: 5,
          image: "img/soft-skills/library.svg",
          activeClass: "not-selected-thum",
        },
      ],
      DotsList: [
        {
          id: 1,
          invisible: "",
        },
        {
          id: 2,
          invisible: "invisible",
        },
        {
          id: 3,
          invisible: "invisible",
        },
        {
          id: 4,
          invisible: "invisible",
        },
        {
          id: 5,
          invisible: "invisible",
        },
      ],
      reverse: false,
      file: null,
      imgSrc: "",
      currentTask: {},
      slideAudio: new Audio(),
      roleAudio: new Audio(),
    };
  },
  watch: {
    carouselData() {
      this.$refs.carousel.slideTo(this.carouselData);
    },
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    playSlideSound() {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page26/85.${this.activeSlide.id}.mp3`)
        )
      );
      this.playRightAudio();
    },
    playRoleSound() {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page26/86${
            this.currentFm != "" ? "." + this.currentFm : ""
          }.mp3`)
        )
      );
      this.playRightAudio();
    },
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    changePositionAnimation() {
      if (this.pickedRole === true) {
        if (screen.width < 1440) {
          document.querySelector(".fm-choise-block").style.transform =
            "translateX(0%)";
          document.querySelector(".fm-choise-block").style.height = "375px";
          document.querySelector(".fm-choise-block").style.opacity = 1;
          document.querySelector(".next").style.opacity = 0;
          document.querySelector(".prev").style.opacity = 0;
          document.querySelector(".col-thumbnails").style.opacity = 0;
          document.querySelector(".slide-block").style.transform =
            "translateX(0%)";
          document
            .querySelector(".choose-destiny")
            .classList.add("scale-x-anim-soft");
          document.querySelector(".faces").classList.add("opacity-anim-soft");
          document.querySelector(".faces").style.height = "310px";
          document
            .querySelector(".current-face")
            .classList.add("opacity-anim-soft");
          document.querySelector(".sound").classList.add("opacity-anim-soft");
          document
            .querySelector(".roleplay")
            .classList.add("opacity-anim-soft");
        } else {
          document.querySelector(".fm-choise-block").style.transform =
            "translateY(0%)";
          document.querySelector(".fm-choise-block").style.opacity = 1;
          document.querySelector(".next").style.opacity = 0;
          document.querySelector(".prev").style.opacity = 0;
          document.querySelector(".col-thumbnails").style.opacity = 0;
          document.querySelector(".slide-block").style.transform =
            "translateY(0%)";
          document
            .querySelector(".choose-destiny")
            .classList.add("scale-x-anim-soft");
          document.querySelector(".faces").classList.add("opacity-anim-soft");
          document
            .querySelector(".current-face")
            .classList.add("opacity-anim-soft");
          document.querySelector(".sound").classList.add("opacity-anim-soft");
          document
            .querySelector(".roleplay")
            .classList.add("opacity-anim-soft");
        }
      }
      if (this.pickedRole === false) {
        if (screen.width >= 1440) {
          document.querySelector(".fm-choise-block").style.transform =
            "translateX(-55%)";
          document.querySelector(".fm-choise-block").style.opacity = 0;
          document.querySelector(".next").style.opacity = 1;
          document.querySelector(".prev").style.opacity = 1;
          document.querySelector(".col-thumbnails").style.opacity = 1;
          document.querySelector(".slide-block").style.transform =
            "translateX(61%)";
          document
            .querySelector(".choose-destiny")
            .classList.remove("scale-x-anim-soft");
          document
            .querySelector(".faces")
            .classList.remove("opacity-anim-soft");
          document
            .querySelector(".current-face")
            .classList.remove("opacity-anim-soft");
          document
            .querySelector(".sound")
            .classList.remove("opacity-anim-soft");
          document
            .querySelector(".roleplay")
            .classList.remove("opacity-anim-soft");
        } else {
          document.querySelector(".fm-choise-block").style.transform =
            "translateY(-100%)";
          document.querySelector(".fm-choise-block").style.opacity = 0;
          document.querySelector(".fm-choise-block").style.height = "0px";
          document.querySelector(".next").style.opacity = 1;
          document.querySelector(".prev").style.opacity = 1;
          document.querySelector(".col-thumbnails").style.opacity = 1;
          document.querySelector(".slide-block").style.transform =
            "translateY(0%)";
          document
            .querySelector(".choose-destiny")
            .classList.remove("scale-x-anim-soft");
          document
            .querySelector(".faces")
            .classList.remove("opacity-anim-soft");
          document.querySelector(".faces").style.height = "0px";
          document
            .querySelector(".current-face")
            .classList.remove("opacity-anim-soft");
          document
            .querySelector(".sound")
            .classList.remove("opacity-anim-soft");
          document
            .querySelector(".roleplay")
            .classList.remove("opacity-anim-soft");
        }
      }
    },
    async changePosition() {
      this.reverse = !this.reverse;
      this.clicked = !this.clicked;
      this.pickedRole = !this.pickedRole;
      this.changePositionAnimation();
      if (this.pickedRole) {
        await this.patchAnswer({
          id: this.currentTask.answers[0].id,
          data: { text_answer: this.activeSlide.text },
        });
      }
    },
    async selectRole(current, name) {
      this.pickedFm = true;
      this.currentFm = current;
      this.selectRoleAnimation();
      this.nameFm = name;
      await this.patchAnswer({
        id: this.currentTask.answers[1].id,
        data: { text_answer: name },
      });
    },
    selectRoleAnimation() {
      if (this.pickedFm === false) {
        if (screen.width >= 1440) {
          document.querySelector(".faces").style.opacity = 1;
          document.querySelector(".send-file").style.opacity = 0;
          document.querySelector(".send-file").style.zIndex = -1;
        } else {
          document.querySelector(".fm-choise-block").style.height = "375px";
          document.querySelector(".faces").style.height = "0px";
          document.querySelector(".faces").style.opacity = 1;
          document.querySelector(".send-file").style.opacity = 0;
          document.querySelector(".send-file").style.zIndex = -1;
        }
      }
      if (this.pickedFm === true) {
        if (screen.width >= 1440) {
          document.querySelector(".faces").style.opacity = 0;
          document.querySelector(".send-file").style.opacity = 1;
          document.querySelector(".send-file").style.zIndex = 99;
        } else {
          document.querySelector(".fm-choise-block").style.height = "375px";
          document.querySelector(".faces").style.height = "310px";
          document.querySelector(".faces").style.opacity = 0;
          document.querySelector(".send-file").style.opacity = 1;
          document.querySelector(".send-file").style.zIndex = 99;
        }
      }
    },
    ...TaleMapper.mapActions([
      "patchTale",
      "getTale",
      "patchTask",
      "patchAnswer",
      "patchFormAnswer",
    ]),
    loadImg() {
      this.file = this.$refs.input.files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
          this.fileName = this.file.name;
        }
      }
      this.loaded = true;
      this.sendImage();
    },
    async sendImage() {
      let answerData = new FormData();
      answerData.set("answer", this.file, this.file.name);
      await this.patchFormAnswer({
        id: this.currentTask.answers[2].id,
        data: answerData,
      });
      await this.patchAnswer({
        id: this.currentTask.answers[3].id,
        data: { text_answer: this.file.name },
      });
    },
    async changeName() {
      await this.patchAnswer({
        id: this.currentTask.answers[3].id,
        data: { text_answer: this.fileName },
      });
    },
    deleteImg() {
      this.loaded = false;
      this.fileName = "Загрузи видео-отчет";
    },
    prev() {
      this.reverse = true;
      this.activeSlide = this.SlidesList[this.activeSlide.id - 2]
        ? this.SlidesList[this.activeSlide.id - 2]
        : this.SlidesList[this.SlidesList.length - 1];
      this.DotsList.forEach((item) => {
        item.invisible = "invisible";
      });
      this.DotsList[this.activeSlide.id - 1].invisible = "";
      this.ThumnailsList.forEach((item) => {
        item.activeClass = "not-selected-thum";
      });
      this.ThumnailsList[this.activeSlide.id - 1].activeClass = "blue-bg";
    },
    next() {
      this.reverse = false;
      this.activeSlide = this.SlidesList[this.activeSlide.id]
        ? this.SlidesList[this.activeSlide.id]
        : this.SlidesList[0];
      this.DotsList.forEach((item) => {
        item.invisible = "invisible";
      });
      this.DotsList[this.activeSlide.id - 1].invisible = "";
      this.ThumnailsList.forEach((item) => {
        item.activeClass = "not-selected-thum";
      });
      this.ThumnailsList[this.activeSlide.id - 1].activeClass = "blue-bg";
    },

    Anim(role) {
      this.activeSlide.id > role.id
        ? (this.reverse = true)
        : (this.reverse = false);
      this.activeSlide = this.SlidesList[this.role.id];
      this.DotsList.forEach((item) => {
        item.invisible = "invisible";
      });
      this.DotsList[this.activeSlide.id - 1].invisible = "";
      this.ThumnailsList.forEach((item) => {
        item.activeClass = "not-selected-thum";
      });
      this.ThumnailsList[this.activeSlide.id - 1].activeClass = "blue-bg";
    },
    async sendToMentor() {
      // let answerData = new FormData();
      // answerData.append("answer", this.file);
      // await this.patchFormAnswer({
      //   id: this.currentTask.answers[2].id,
      //   data: answerData,
      // });
      // await this.patchAnswer({
      //   id: this.currentTask.answers[0].id,
      //   data: { text_answer: this.activeSlide.text },
      // });
      // await this.patchAnswer({
      //   id: this.currentTask.answers[1].id,
      //   data: { text_answer: this.nameFm },
      // });
      // await this.patchAnswer({
      //   id: this.currentTask.answers[3].id,
      //   data: { text_answer: this.fileName },
      // });
      // await this.patchTask({
      //   id: this.currentTask.id,
      //   data: { success: true, coins: 15 },
      // });
      // if (this.tale.pages < 27) {
      //   await this.patchTale({ pages: 27 });
      // }
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page26/85.mp3"))
      );
    },
  },
  async mounted() {
    await this.getTale(this.tale.id);
    this.currentTask = this.tale.tasks.find((task) => task.page == 26);
    if (this.currentTask.answers[2]) {
      this.reverse = true;
      this.clicked = true;
      this.pickedRole = true;
      this.activeSlide = this.SlidesList.find(
        (slide) => slide.text == this.currentTask.answers[0].text_answer
      );
      this.changePositionAnimation();
      this.pickedFm = true;
      this.nameFm = this.currentTask.answers[1].text_answer;
      this.currentFm = this.family.find(
        (member) => member.name == this.nameFm
      ).img;
      this.selectRoleAnimation();
      // this.currentFm = this.family.find(
      //   (member) => member.name == this.nameFm
      // ).img;
      this.loaded = true;
      this.imgSrc = this.currentTask.answers[2].answer;
      this.fileName = this.currentTask.answers[3].text_answer;
    }
  },
};
</script>

<style scoped>
.row-ss-bg {
  margin: auto;
  height: 470px;
  width: 1065px;
}
.sound-ss {
  width: 25px;
}
button.sound-ss {
  border: none;
  background-color: transparent;
  outline: none;
}
.row-ss-inside {
  height: 50px;
  margin: 1% 1.5%;
}
.ss-pick-role-text {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  color: #2b2a2999;
}
.btn-ss-yes {
  height: 80%;
  width: 96%;
  padding: 0 0 0 30%;
  background-color: #71c9e4;
  border: 2px solid #71c9e4;
  border-radius: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
}
.btn-ss-yes p {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #fefefe;
}
.btn-ss-yes:hover {
  box-shadow: 0px 0px 5px #71c9e4;
}
.confirmed-ss {
  width: 50%;
  object-fit: contain;
}
.wrap-bg {
  background-color: #71c9e4;
  background-image: url("../../../../assets/img/icons/wrap.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  height: 100%;
  box-shadow: 0px 0px 15px #00000030;
}

.not-selected-thum {
  transition: 0.6s ease;
}
.not-selected-thum:hover {
  background: #71c9e471;
}
.btn-img-slide {
  background: none;
  border: none;
}
.prev,
.next {
  width: 25px;
  height: 45px;
  top: calc(50% - 30px);
  border-radius: 100%;
  background: none;
  border: none;
  z-index: 50;
  transition: 0.5s ease-in-out;
}
.prev > img,
.next > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.prev {
  left: -90px;
}
.next {
  right: -90px;
}
.ss-slide-text {
  width: 75%;
  margin: 0 auto;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
}
.prev:hover,
.next:hover {
  box-shadow: 0px 0px 10px #fefefe;
}
.image-ss {
  height: calc(100% - 13vh);
  margin-top: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-ss > img {
  height: 100%;
  width: auto;
}

/* ANIMATION  */

.todo-list {
  width: 270px;
  height: 325px;
  background-image: url("../../../../assets/img/soft-skills/todo-list.png");
  animation: todo-list 4s steps(65) infinite;
}
@keyframes todo-list {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 17550px;
  }
  100% {
    background-position: 17550px;
  }
}

.toys {
  width: 285px;
  height: 325px;
  background-image: url("../../../../assets/img/soft-skills/remove-toys.png");
  animation: toys 4s steps(61) infinite;
}
@keyframes toys {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 21960px;
  }
  100% {
    background-position: 21960px;
  }
}

.shop {
  width: 285px;
  height: 325px;
  background-image: url("../../../../assets/img/soft-skills/fox-shop.png");
  animation: fox-shop 6s steps(95) infinite;
}
@keyframes fox-shop {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 33250px;
  }
  100% {
    background-position: 33250px;
  }
}

.restoration {
  width: 290px;
  height: 325px;
  background-image: url("../../../../assets/img/soft-skills/restoration-books.png");
  animation: restoration 4s steps(63) infinite;
}

@keyframes restoration {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 18900px;
  }
  100% {
    background-position: 18900px;
  }
}

.hospital {
  width: 310px;
  height: 325px;
  background-image: url("../../../../assets/img/soft-skills/hospital-accident.png");
  animation: hospital 5s steps(74) infinite;
}

@keyframes hospital {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 24050px;
  }
  100% {
    background-position: 24050px;
  }
}

.family {
  transition: 0.5s ease;
}
.family.active > .cheched-fm-icon {
  opacity: 1;
}
.cheched-fm-icon {
  bottom: -20%;
  right: 5%;
  width: 35%;
  opacity: 0;
}
.delete-image {
  width: 30px;
  height: 30px;
  top: 4%;
  right: 7%;
  z-index: 222;
}
.row-ss-thumbnails {
  margin-left: 5em;
}
.ss-thumbnail-img {
  height: 75%;
  width: 75%;
  object-fit: contain;
  margin: auto;
}
.flex-loader {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding-right: 1.5rem;
}
.dot-img {
  height: 7px;
}
.ss-arrow-icon {
  width: 18px;
}
.ss-pick-family-text {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  color: #9c9c9b;
}
.row-family-members {
  width: 100%;
}
.ss-fm-img-tall {
  height: 5vh;
}
.ss-fm-img-short {
  height: 4vh;
}
.ss-exit-icon {
  width: 1rem;
  height: 1rem;
  border: none;
  outline: none;
  background: none;
}
.ss-load-height1 {
  height: 8%;
}
.ss-load-height2 {
  height: 18%;
}
.ss-load-height3 {
  height: 310px;
  padding-left: 5px;
  margin-top: 2%;
}

.ss-wrap-outer {
  background: #fefefe50;
  height: 100%;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ss-wrap-inner {
  background: #fefefe20;
  margin-top: 1em;
  height: 235px;
  max-height: 235px;
  border: 2px solid #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
  width: 84%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ss-wrap-inner > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.load-img {
  height: 80px !important;
  width: auto !important;
}
.loaded-img {
  width: 90px;
  top: calc(50% - 75px);
  left: calc(50% - 45px);
  border: 2px solid #fefefe20;
  border-radius: 100%;
}
.ss-video-answer {
  width: 30px;
}
.ss-answer-filename {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #9c9c9b;
  outline: none;
  border: none;
  background: none;
}
.left-img {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.bottom-img {
  align-items: flex-start;
}
.top-img {
  align-items: flex-end;
}
.right-img {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
.top-img > img {
  margin: 5%;
  margin-bottom: 10%;
}
.bottom-img > img {
  margin: 5%;
  margin-top: 10%;
}
.pick-fm-ss-btn {
  height: 50%;
  width: 37%;
}
.pick-fm-ss-btn img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  transition: 0.5s;
}
.pick-fm-ss-btn:hover img {
  transform: scale(1.4);
}
.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-enter {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-leave-to {
  transform: translateX(-30%);
  opacity: 0;
}
.margin-photo-p27 {
  margin-top: 0;
}
.margin-photo1-p27 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.fm-lil-img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(55px);
  opacity: 0;
}

.slide-block {
  z-index: 5;
  flex: 0 0 44%;
  max-width: 44%;
  z-index: 2;
  transition: 1s ease-in-out;
  transform: translateX(65%);
}
.fm-choise-block {
  z-index: 5;
  flex-basis: 0;
  flex-grow: 1;
  /* width: 600px; */
  /* max-width: 100%; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  border-radius: 0 25px 25px 25px;
  background-color: #f3f3f350;
  display: flex;
  transform: translateX(-55%);
  transition: 1s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.send-file {
  transform: translateY(-100%);
  opacity: 0;
  z-index: -99;
  transition: 1s;
}
.col-thumbnails {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  transition: 0.5s ease-in-out;
}

.crutch {
  height: fit-content;
}
.wrap-height {
  height: 625px;
  align-items: flex-start;
  padding-top: 30px;
}
/* @media (max-width: 1050px) {
  .ss-pick-role-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .btn-ss-yes p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .adaptive-crap {
    display: flex;
    flex-flow: row;
    margin-left: -8%;
  }
}

@media (max-width: 850px) {
  .ss-pick-role-text {
    font-size: 0.6rem;
    line-height: 0.6rem;
  }
  .btn-ss-yes p {
    font-size: 0.6rem;
    line-height: 0.6rem;
  }
  .adaptive-crap {
    display: flex;
    flex-flow: row;
    margin-left: -15%;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
  .ss-wrap-outer {
    height: 90%;
  }
  .wrap-height {
    height: fit-content;
    margin-top: 70px !important;
    margin-bottom: 50px;
  }
  .row-ss-bg {
    margin: auto;
    height: fit-content;
    width: 650px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .ss-pick-role-text {
    font-size: 17px;
    line-height: 16.5px;
  }
  .col-thumbnails {
    flex: 0 0 70%;
    max-width: 430px;
  }
  .slide-block {
    flex: unset;
    max-width: unset;
    width: 470px;
    height: 460px;
    transform: translateX(0%);
  }
  .fm-choise-block {
    flex: unset;
    max-width: unset;
    width: 470px;
    height: 0px;
    transform: translateX(0%) translateY(-50%);

    margin-top: unset;
    margin-bottom: unset;
    margin-right: unset;
  }
  .ss-load-height1 {
    display: none;
  }
  .flex-loader {
    padding-left: 10px !important;
    padding-right: 10px;
  }
  .crutch {
    height: unset;
  }
  .ss-wrap-inner {
    height: 70%;
    max-height: 225px;
    width: 80%;
    background-color: #fefefe;
  }
  .pick-fm-ss-btn img {
    height: 70%;
    max-height: 225px;
  }
  .delete-image {
    top: 5%;
    right: 9%;
  }
  .faces {
    height: 0px;
  }
}
/* @media (min-width: 1441px) and (min-height: 850px) {
  .delete-image {
    width: 30px;
    height: 30px;
    top: 2.5vh;
    right: 7vw;
    z-index: 222;
  }
  .delete-image {
    top: 7%;
    right: 18%;
  }
  .ss-wrap-inner {
    margin-top: 2em;
  }
  .loaded-img {
    width: 130px;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
  }
  .margin-photo-p27 {
    margin-top: 3em;
  }
  .ss-slide-img {
    height: 35vh;
  }
  .ss-slide-text {
    font-size: 2rem;
    line-height: 2rem;
  }
} */
</style>
