<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-heroes"
      title="Герои"
      subtitle="Знакомство"
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
    />
    <div
      class="mt-2 p-0 full-height bottom-radius shadow-body border-body container-fluid relative-block animate__animated animate__fadeIn no-select"
      style="overflow-y: scroll"
    >
      <!-- <hr class="hr-invisible py-1 m-0" />
      <div class="wrap-height relative-block mt-0 heroes-bg">
        <div class="absolute-block slider-heroes">
          <img
            src="@/assets/img/page-13-anim/squirrel1.svg"
            alt=""
            class="hero-slide-img"
          />
          <img
            class="absolute-block bg-slider"
            src="@/assets/img/page-heroes/bg-slider.png"
            alt=""
          />
        </div>

        <div class="flex-ready">
          <div v-if="!portrait">
            <div class="row justify-content-end">
              <div class="col-5 pt-3 text-center">
                <img
                  @click="boop"
                  src="@/assets/img/icons/sound.svg"
                  alt=""
                  class="sound-game-icon"
                />
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-5 mt-1 text-center">
                <p class="hero-header-text m-0">Знакомься, это</p>

                <p class="hero-text-lil text-lil-margin m-0">
                  {{ heroLilName }}
                </p>
                <p class="hero-header-text m-0">{{ heroName }}</p>
              </div>
            </div>
          </div>
          <div v-if="portrait">
            <div class="row justify-content-center">
              <div class="col mt-2 text-center">
                <img
                  @click="boop"
                  src="@/assets/img/icons/sound.svg"
                  alt=""
                  class="sound-game-icon"
                />
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col text-center">
                <p class="hero-header-text m-0">Знакомься, это</p>

                <p class="hero-text-lil mt-4 m-0">{{ heroLilName }}</p>
                <p class="hero-header-text m-0">{{ heroName }}</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <video
        ref="video"
        style="width: 100%"
        src="@/assets/video/page8.mp4"
      ></video>
    </div>
    <ButtonNext
      :show="buttonShow || tale.pages >= 8"
      link="9"
      class="position-p8 white-next-btn-bg"
    />
  </section>
</template>

<script>
import "hooper/dist/hooper.css";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "page8",
  components: { TopMenu, ButtonNext },
  data() {
    return {
      heroLilName: "Белочка",
      heroName: "Фанни",
      portrait: false,
      hooperSettings: {
        itemsToShow: 1,
        transition: 500,
      },
      buttonShow: false,
    };
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },
  mounted() {
    this.setAudio(this.$refs.video);
    if (screen.width < 1439) {
      this.portrait = true;
    }
    this.audio.play();
    this.audio.onended = () => {
      this.buttonShow = true;
    };
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.heroes-bg {
  background: url("../../../../assets/img/page-heroes/bg-page.png") bottom
      no-repeat,
    url("../../../../assets/img/page-heroes/bg-lines.png") bottom no-repeat,
    #ffffff;
  background-size: cover, 58%;
  background-position-x: 0, 20%;
}
.wrap-height {
  min-width: 100%;
  height: 640px;
  min-height: 99%;
}
.flex-ready {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 70px;
  padding-right: 60px;
  height: 100%;
  width: 100%;
}
.hero-header-text {
  font-family: "Pribambas";
  font-size: 76px;

  line-height: 3rem;
  padding-bottom: 1.5rem;
  color: #2b2a29;
}
.hero-text-lil {
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
  color: #2b2a29;
  opacity: 0.5;
}
.text-lil-margin {
  margin-top: 60px !important;
}
.slider-heroes {
  width: 310px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 21%;
  bottom: 15%;
  z-index: 10;
}
.bg-slider {
  width: 241%;
  top: -62%;
  left: -81%;
  z-index: -1;
}
.hooper-list {
  height: 320px;
}
.hero-slide-img {
  height: 320px;
}
/* @media (max-width: 1050px) {
  .hero-header-text {
    font-size: 3rem;

    line-height: 2.3rem;
    padding-bottom: 2vh;
  }
}
@media (max-width: 850px) {
  .hero-header-text {
    font-size: 2.3rem;

    line-height: 2.1rem;
    padding-bottom: 2vh;
  }
} */

@media (max-width: 1400px) {
  .heroes-bg {
    background-size: 100%, 58%;
    background-position-x: 0, 20%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .heroes-bg {
    background: url("../../../../assets/img/page-heroes/bg-ipad.png") bottom
        no-repeat,
      #ffffff;
    background-size: contain;
    background-position-x: 0;
  }
  .wrap-height {
    min-width: unset;
    height: 865px;
  }
  .full-height {
    height: calc(100vh - 155px);
    border-radius: 0;
  }
  .slider-heroes {
    left: 32%;
    bottom: 8%;
    z-index: 10;
  }
  .flex-ready {
    margin-bottom: auto;
    height: 30%;
    padding: 0;
  }
  .hero-header-text {
    font-size: 76px;
    padding-bottom: 2.2rem;
  }
  .hero-text-lil {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
  }
  .position-p8 {
    bottom: 5%;
  }
}
</style>