<template>
  <section class="h-100" style="position: relative, overflow-y: hidden">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page12.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-19"
      title="Creative Project"
      subtitle="Креативный проект"
      white_text_1="ФОРМИРУЕМ"
      white_text_2="ХУДОЖЕСТВЕННЫЙ ВЗГЛЯД"
      :number="12"
      voiceText="В этом задании ты можешь заработать 4 фокса. Попроси родителей фотографировать тебя, когда ты занимаешься домашними делами."
    />
    <div
      v-show="!videoPlay"
      class="
        p-0
        full-height
        white-bg
        bottom-radius
        shadow-body
        row
        container-fluid
        animate__animated animate__fadeIn
        no-select
      "
      style="overflow-y: scroll"
    >
      <SideRightMenu
        :sendToMentorActive="pageIsSucceed"
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-8'"
        :questPage="currentTask.page"
        @send="sendToMentor"
        :light="true"
        :high_mentor="true"
        @path="saveWork"
        @tale="saveWork"
      />
      <div class="fox-skate-moving"></div>
      <div class="fox-helmet-moving"></div>
      <div class="fox-cleaning-moving"></div>
      <div class="row justify-content-center container-fluid img-group">
        <ImgLoader
          v-for="item in imgLoads"
          :key="item.id"
          :img="item.img"
          :id="item.id"
          :serverText="item.name"
          @name="changeImgName"
          @load="load"
          @deleteImg="deleteImg"
        />
      </div>
      <ButtonNext class="white-next-btn-bg" :show="tale.pages > 12" link="14" />
    </div>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import ImgLoader from "@/components/tales/tale1/pages/page12/ImgLoader.vue";
export default {
  name: "Page12",
  components: { TopMenu, SideRightMenu, ImgLoader, ButtonNext },
  data() {
    return {
      videoPlay: true,
      loadedImgs: 0,
      imgs: {},
      currentTask: {},
      imgLoads: [
        {
          id: 1,
          img: "",
          name: "",
        },
        {
          id: 2,
          img: "",
          name: "",
        },
        {
          id: 3,
          img: "",
          name: "",
        },
        {
          id: 4,
          img: "",
          name: "",
        },
      ],
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    pageIsSucceed() {
      return this.loadedImgs == 4 && this.tale.pages <= this.currentTask.page
        ? true
        : false;
    },
  },
  methods: {
    getExtention(name) {
      return name.split(".")[name.split(".").length - 1];
    },
    // Сохранение проделанной работы
    saveWork() {
      Object.values(this.imgs).forEach(async (img) => {
        let answerData = new FormData();
        let { file, id, answer } = img;
        let ext = this.getExtention(file.name);

        answerData.append("answer", file, `answer${id}.${ext}`);

        await this.patchFormAnswer({
          id: this.currentTask.answers[answer - 1].id,
          data: answerData,
        });
      });
    },
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    ...TaleMapper.mapActions([
      "getTale",
      "patchTale",
      "patchTask",
      "patchAnswer",
      "patchFormAnswer",
    ]),
    async load(img) {
      ++this.loadedImgs;
      this.loadAudioPlay();

      let answerData = new FormData();
      answerData.set("answer", img.file, img.file.name);
      let serverImgAnswerId = this.currentTask.answers[img.id * 2 - 2].id;
      await this.patchFormAnswer({ id: serverImgAnswerId, data: answerData });

      let serverNameAnswerId = this.currentTask.answers[img.id * 2 - 1].id;
      await this.patchAnswer({
        id: serverNameAnswerId,

        data: { text_answer: img.file.name.split(".")[0] },
      });

      // this.imgs[`img${img.answer}`] = img;
    },
    loadAudioPlay() {
      this.stopAllAudio();

      if (this.loadedImgs == 1) {
        this.setRightAudio(
          new Audio(require("@/assets/sounds/app-voice/page12/24.try.mp3"))
        );
      } else {
        this.setRightAudio(
          new Audio(
            require(`@/assets/sounds/lis-voice/reaction/0${this.loadedImgs}.mp3`)
          )
        );
      }
      this.playRightAudio();
    },
    async changeImgName(name, id) {
      let serverNameAnswerId = this.currentTask.answers[id * 2 - 1].id;
      await this.patchAnswer({
        id: serverNameAnswerId,
        data: { text_answer: name },
      });
    },
    deleteImg(id) {
      --this.loadedImgs;
      delete this.imgs[`img${id}`];
    },

    async sendToMentor() {
      this.saveWork();
      // await this.patchTask({
      //   id: this.currentTask.id,
      //   data: {
      //     success: true,
      //     coins: 4,
      //   },
      // });
      // if (this.tale.pages < 13) {
      //   await this.patchTale({ pages: 13 });
      // }
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page12/24.mp3"))
      );
    },
    initialAnimation() {
      if (screen.height === 1024 && screen.width === 768) {
        document.documentElement.style.overflowY = "hidden";
      }
    },
  },
  async mounted() {
    await this.getTale(this.tale.id);
    this.currentTask = this.tale.tasks.find((task) => task.page == 12);
    this.imgLoads.forEach((item, i) => {
      if (this.currentTask.answers[(i + 1) * 2 - 2].answer) {
        item.img = this.currentTask.answers[(i + 1) * 2 - 2].answer;
        item.name = this.currentTask.answers[(i + 1) * 2 - 1].text_answer;

        this.loadedImgs++;
        console.log(item);
      }
    });
  },
};
</script>

<style scoped>
.fox-skate-moving {
  position: absolute;
  right: 75%;
  bottom: 15%;
  align-self: center;
  width: 240px;
  height: 150px;
  background-image: url("../../../../assets/img/tale_charapters/page12/fox-skate.png");
  animation: fox-skate-moving 2s steps(42) infinite;
}
@keyframes fox-skate-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 9660px;
  }
}
.fox-helmet-moving {
  position: absolute;
  right: 10%;
  bottom: 15%;
  align-self: center;
  width: 230px;
  height: 170px;
  background-image: url("../../../../assets/img/tale_charapters/page12/fox-helmet.png");
  animation: fox-helmet-moving 2s steps(42) infinite;
}
@keyframes fox-helmet-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 9282px;
  }
}
.fox-cleaning-moving {
  position: absolute;
  right: 75%;
  bottom: 55%;
  transform: scale(0.6);
  align-self: center;
  width: 220px;
  height: 170px;
  background-image: url("../../../../assets/img/tale_charapters/page12/fox-cleaning.png");
  animation: fox-cleaning-moving 2s steps(60) infinite;
}
@keyframes fox-cleaning-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12900px;
  }
}
/* .suka {
  transform: translateY(-450%);
} */

.img-group {
  margin: auto;
  width: 600px;
  margin-left: calc(50% - 330px);
  /* padding-right: 21px; */
  height: 600px;
  padding: 0;
}

@media only screen and (min-device-height: 720px) and (max-device-height: 920px) {
  .suka {
    transform: translateY(-400%);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .img-group {
    margin: auto;
    width: 400px;
    height: 1200px;
    padding: 0;
    margin-top: 100px;
  }
  .suka {
    transform: translateY(0);
  }
  .fox-helmet-moving {
    right: 0;
  }
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
}
</style>
