<template>
  <section class="h-100 relative-block">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page23.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-31"
      title="Career Guidance"
      subtitle="Путеводитель в мире профессий"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="ПРАКТИЧЕСКИЕ НАВЫКИ"
      :number="23"
      voiceText="Какие домашние дела ты сделал на этой неделе? (нажми на нужные картинки). Ты можешь заработать 4 фокса."
    />
    <section
      v-show="!videoPlay"
      class="report-section animate__animated animate__fadeIn no-select full-height blue-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <!-- <SideRightMenu
        :coins="currentTask.coins"
        :coinsTarget="currentTask.target"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :sendToMentorActive="true"
        light
        high_mentor
        @send="sendToMentor"
      /> -->
      <SideRightMenu
        :coins="currentTask.coins"
        :coinsTarget="currentTask.target"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        light
        high_mentor
        @send="sendToMentor"
      />
      <hr class="hr-invisible py-2 my-1" />
      <div class="wrap-height mt-0" style="justify-content: center">
        <div class="report-block">
          <div class="flex-card">
            <div class="btn-block">
              <!-- <button style="visibility: hidden" @click.prevent="prev"> -->
              <button>
                <img src="@/assets/img/icons/arrow-list.png" alt="prev" />
              </button>
            </div>
            <v-touch tag="div" :key="selectedQuest.id" class="report-card">
              <div class="report-btns">
                <button
                  @click="selectAnswer('Нет')"
                  :class="{ active: selectedQuest.answer == 'Нет' }"
                  class="btn-next"
                >
                  <p class="m-0">нет</p>
                  <img src="@/assets/img/icons/decline.svg" alt="" />
                </button>

                <div class="report-footer">
                  <button class="sound-btn" @click="playSound">
                    <img src="@/assets/img/icons/sound.svg" alt="sound" />
                  </button>
                  <transition name="fade" mode="out-in">
                    <p :key="selectedQuest.id" class="ml-1 m-0">
                      {{ selectedQuest.text }}
                    </p>
                  </transition>
                </div>

                <button
                  @click="selectAnswer('Да')"
                  :class="{ active: selectedQuest.answer == 'Да' }"
                  class="btn-prev"
                >
                  <p class="m-0">да</p>
                  <img src="@/assets/img/icons/agree.svg" alt="" />
                </button>
              </div>
              <transition name="fade" mode="out-in">
                <img
                  :key="selectedQuest.id"
                  class="opacity-anim-shorter"
                  :src="
                    require(`@/assets/img/career_guidance/${selectedQuest.img}.png`)
                  "
                  :alt="selectedQuest.img"
                />
              </transition>
            </v-touch>
            <div class="btn-block">
              <!-- <button style="visibility: hidden" @click.prevent="next"> -->
              <button>
                <img src="@/assets/img/icons/arrow-list.png" alt="next" />
              </button>
            </div>
          </div>
          <div class="report-header">
            <transition-group
              :name="reverse ? 'reverse-slide-list' : 'slide-list'"
              tag="div"
            >
              <button
                :class="{ active: quest.id == selectedQuest.id }"
                v-for="quest in visibleSlideList"
                :key="quest.id"
                @click="selectQuest(quest)"
              >
                <img
                  :src="
                    require(`@/assets/img/career_guidance/${quest.img}.png`)
                  "
                  :alt="quest.img"
                />
              </button>
            </transition-group>
          </div>
        </div>
      </div>
      <ButtonNext
        :show="
          tale.pages > 23 || quests.filter((quest) => quest.answer).length >= 22
        "
        link="24"
        class="white-next-btn-bg"
      />
    </section>
  </section>
</template>

<script>
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page23",

  components: { TopMenu, SideRightMenu, ButtonNext },
  data() {
    return {
      videoPlay: true,
      quests: [
        {
          id: 1,
          img: "bed",
          text: "Заправил кровать",
          answer: "",
        },
        {
          id: 2,
          img: "breakfast",
          text: "Приготовил завтрак",
          answer: "",
        },
        {
          id: 3,
          img: "change_batteries",
          text: "Поменял батарейки",
          answer: "",
        },
        {
          id: 4,
          img: "clean_dishes",
          text: "Помыл посуду",
          answer: "",
        },
        {
          id: 5,
          img: "cook_bakery",
          text: "Готовил с родителем",
          answer: "",
        },
        {
          id: 6,
          img: "cook_salad",
          text: "Нарезал овощи",
          answer: "",
        },
        {
          id: 7,
          img: "cut_vegetables",
          text: "Мыл и чистил овощи",
          answer: "",
        },
        {
          id: 8,
          img: "dog_wash",
          text: "Купал питомца",
          answer: "",
        },
        {
          id: 9,
          img: "dress_up",
          text: "Подобрал одежду",
          answer: "",
        },
        {
          id: 10,
          img: "dry_clothes",
          text: "Высушил белье",
          answer: "",
        },
        {
          id: 11,
          img: "pack_backpack",
          text: "Собрал портфель",
          answer: "",
        },
        {
          id: 12,
          img: "pack_clothes",
          text: "Сложил вещи",
          answer: "",
        },
        {
          id: 13,
          img: "play_dog",
          text: "Гулял с питомцем",
          answer: "",
        },
        {
          id: 14,
          img: "serve_dishes",
          text: "Накрыл на стол",
          answer: "",
        },
        {
          id: 15,
          img: "shopping",
          text: "Выбирал продукты",
          answer: "",
        },
        {
          id: 16,
          img: "suck_dust",
          text: "Пропылесосил",
          answer: "",
        },
        {
          id: 17,
          img: "take_trash",
          text: "Вынес мусор",
          answer: "",
        },
        {
          id: 18,
          img: "timing",
          text: "Посмотрел время",
          answer: "",
        },
        {
          id: 19,
          img: "toy_box",
          text: "Убрал игрушки",
          answer: "",
        },
        {
          id: 20,
          img: "washing_machine",
          text: "Помогал стирать",
          answer: "",
        },
        {
          id: 21,
          img: "water_plants",
          text: "Полил цветы",
          answer: "",
        },
        {
          id: 22,
          img: "wrap_dust",
          text: "Вытер пыль",
          answer: "",
        },
      ],
      selectedQuest: {
        id: 1,
        img: "suck_dust",
        text: "Пропылесосил",
        answer: "",
      },
      questsChecked: 0,
      reverse: false,
      currentTask: {},
      questAudio: new Audio(),
    };
  },

  computed: {
    ...TaleMapper.mapState(["tale"]),
    pageIsSucceed() {
      return this.questsChecked == 5 && this.tale.pages < 21;
    },

    visibleSlideList() {
      return this.quests.filter((q) => {
        if (
          (this.selectedQuest.id < 3 && q.id < 6) ||
          (this.selectedQuest.id > this.quests.length - 3 &&
            q.id > this.quests.length - 5)
        ) {
          return true;
        }
        for (let i = -2; i <= 2; i++) {
          if (q.id + i == this.selectedQuest.id) {
            return true;
          }
        }
      });
    },
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["stopAllAudio", "playRightAudio"]),
    playSound() {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page23/64.${this.selectedQuest.id}.mp3`)
        )
      );
      this.playRightAudio();
    },
    async selectAnswer(answer) {
      this.selectedQuest.answer = answer;
      this.quests[this.selectedQuest.id - 1].answer = answer;
      this.questsChecked += 1;
      await this.patchAnswer({
        id: this.currentTask.answers[this.selectedQuest.id - 1].id,
        data: { text_answer: answer },
      });
      if (this.quests[this.selectedQuest.id]) {
        this.selectedQuest = this.quests[this.selectedQuest.id];
      } 
      // else if (this.quests.filter((quest) => quest.answer).length >= 21) {
        // await this.patchTask({
        //   id: this.currentTask.id,
        //   data: { success: true, coins: 5 },
        // });
        // .then(async () => {
        //   let pages = this.tale.pages;
        //   if (pages < 25) {
        //     await this.patchTale({ pages: 25 });
        //   } else {
        //     await this.patchTale({ pages });
        //   }
        //   // this.$router.push({ name: "tale1-24" });
        // });
      // }
    },
    selectQuest(quest) {
      quest.id < this.selectedQuest.id
        ? (this.reverse = true)
        : (this.reverse = false);
      this.selectedQuest = quest;
    },
    ...TaleMapper.mapActions(["patchTale", "patchTask", "patchAnswer"]),
    async sendToMentor() {
      let data = {
        career_guidance_answers: "",
        career_guidance_accept: true,
        career_guidance_coins: 5,
        pages: parseInt(this.tale.pages) < 24 ? "24" : this.tale.pages,
        child: this.tale.child,
      };
      this.quests.forEach(
        (quest) =>
          (data.career_guidance_answers =
            data.career_guidance_answers + quest.answer)
      );
      await this.patchTale({ data, token: this.token, tale: this.tale });
      this.$router.push({ name: "tale1-24" });
    },
  },
  mounted() {
    this.currentTask = this.tale.tasks.find((task) => task.page == 23);
    this.selectedQuest = this.quests[0];
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page23/64.mp3"))
    );
    setTimeout(() => {
      document.querySelector(".report-btns").classList.add("scale-x-anim");
      document.querySelector(".btn-next").classList.add("opacity-anim-18");
      document.querySelector(".btn-prev").classList.add("opacity-anim-18");
      document.querySelector(".report-footer").classList.add("opacity-anim-18");
    }, 0);

    if (
      this.currentTask.answers.filter((answer) => answer.text_answer).length >=
      22
    ) {
      this.currentTask.answers.forEach((answer, i) => {
        this.quests[i].answer = answer.text_answer.split(" ")[0];
      });
    }
  },
};
</script>

<style scoped>
/* //!LIST ANIMATION */
.full-height {
  height: calc(100% - 60px);
}
.slide-list-enter,
.slide-list-leave-to {
  opacity: 0;
  transform: translateX(100%) scale(0.1);
}
.reverse-slide-list-enter,
.reverse-slide-list-leave-to {
  opacity: 0;
  transform: translateX(-100%) scale(0.1);
}
.slide-list-leave-active,
.reverse-slide-list-leave-active {
  position: absolute;
  transition: 0;
}
.wrap-height {
  margin: unset;
}
.report-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.report-block {
  z-index: 1;
  margin-top: 20px;
  width: 600px;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.report-card {
  background: #71c9e4;
  background-image: url("../../../../assets/img/icons/wrap.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  height: 460px;
  width: 470px;
  box-shadow: 0px 0px 15px #0000002b;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.report-header {
  height: 75px;
  width: 470px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.report-header > div {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.report-header button {
  border: none;
  outline: none;
  background: none;
  width: 20%;
  border-radius: 0.5rem;
  transition: 0.5s ease;
  height: 70px;
  overflow: hidden;
}
.report-header button.active {
  background-color: #fee8c040;
}
.report-header button > img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.icon-report {
  width: 25%;
  height: auto;
}
.report-card > img {
  height: 100%;
  width: 65%;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 10px;
}
.report-footer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.report-footer > button {
  height: 80%;
  width: 15%;
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.report-footer > button > img {
  height: 60%;
  width: auto;
  object-fit: contain;
}
.report-footer > p {
  font-family: "Gilroy";
  font-size: 1.2em;
  color: #000;
  font-weight: bold;
  width: 100%;
  text-align: left;
}
.report-btns {
  height: 50px;
  width: 97%;
  background: #fff;
  border-radius: 200px;
  padding: 1% 1%;
  margin: 1% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.report-btns > button {
  width: 105px;
  height: 40px;
  border-radius: 5rem;
  background: lightgray;

  transition: 0.5s ease;
  border: none;
  outline: none;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.report-btns > button p {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15%;
}

.report-btns > button > img {
  height: 80%;
  object-fit: contain;
}
.report-btns > button:first-child:hover,
.report-btns > button:first-child.active {
  background: lightsalmon;
}
.report-btns > button:last-child:hover,
.report-btns > button:last-child.active {
  background: #ffde3b;
}

.flex-card {
  height: 470px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

/* @media (max-width: 900px) {
  .icon-report {
    display: none;
  }
  .report-btns > button p {
    font-size: 0.6rem;
    padding-left: 5%;
  }
  .report-btns > button > img {
    height: 70%;
    object-fit: contain;
  }
  .report-footer > p {
    font-size: 0.75em;
  }
} */
.btn-block {
  height: 100%;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block > button {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  transition: 0.5s ease;
  margin-left: auto;
  visibility: hidden;
}
.btn-block:first-of-type > button {
  margin-right: auto;
  margin-left: 0;
}
.btn-block > button > img {
  width: 100%;
  filter: invert(1);
  height: auto;
}

.btn-block:first-of-type > button > img {
  width: 100%;
  height: auto;
  transform: rotate(180deg);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-height {
    height: 700px;
    width: 100%;
    max-width: 100%;
  }
  .full-height {
    padding: 0;
    height: calc(100vh - 145px);
    border-radius: 0;
  }
  /* .btn-block > button {
    visibility: visible;
  } */
}
</style>
