<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-9"
      title="Level"
      subtitle="Уровни"
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
    />
    <div
      class="mt-2 full-height blue-bg bottom-radius shadow-body border-body container-fluid no-select animate__animated animate__fadeIn value-section"
      style="overflow-y: auto"
    >
      <hr class="hr-invisible m-0 py-1" />
      <div class="wrap-height">
        <div
          class="container rank-block"
          :style="{ pointerEvents: instructionVoice ? 'none' : 'auto' }"
        >
          <button class="arrow-btn" @click="clickArrow" ref="arrow">
            <img
              src="@/assets/img/icons/right-arrow-2-yellow.svg"
              alt="arrow"
            />
          </button>
          <div
            class="rank"
            :class="`rank-${rank.id} ${rank.id == position && 'active'}`"
            v-for="rank in ranks"
            :key="rank.id"
          >
            <button class="sound-btn" @click="playSound(rank.id)">
              <!-- <img
                src="@/assets/img/icons/listen_icon_white.png"
                alt="volume"
              /> -->
            </button>
            <img
              class="rank-img"
              :src="require(`@/assets/img/pictures/${rank.img}-rank.png`)"
              :alt="rank"
            />
            <div class="rank-money">
              <p class="m-0 mr-2">
                <span>{{ rank.money }}</span>
              </p>
              <img
                src="@/assets/img/icons/fox-coin.png"
                alt="fox-coin"
                class="img-rank-coin"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <ButtonNext :show="!instructionVoice" link="6" class="white-next-btn-bg" />
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page5",
  components: { TopMenu, ButtonNext },
  data() {
    return {
      refs: ["rank1", "rank2", "rank3"],
      audioSet: [
        new Audio(require("@/assets/sounds/app-voice/page5/07.1.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page5/07.2.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page5/07.3.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page5/08.mp3")),
      ],
      ranks: [
        {
          id: 1,
          money: 45,
          img: "silver",
        },
        {
          id: 2,
          money: 60,
          img: "gold",
        },
        {
          id: 3,
          money: 100,
          img: "platinum",
        },
      ],
      position: 1,
      instructionVoice: true,
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    playSound(id) {
      this.audio.pause();
      this.audioSet.forEach((item) => item.pause());
      this.audioSet[id - 1].play();
      this.position = id;
    },
    ...PlayerMapper.mapMutations(["setAudio"]),
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    clickArrow() {
      if (this.position == 3) {
        this.position = 1;
      } else {
        this.position++;
      }
    },
  },
  watch: {
    position: {
      handler(newValue) {
        if (screen.width > 1439) {
          if (newValue == 2) {
            this.$refs.arrow.style.left = "calc((100% / 1.5)  - 20px)";
            this.$refs.arrow.style.transform = "rotate(0)";
          } else if (newValue == 3) {
            this.$refs.arrow.style.left = "calc((100% / 1.5)  - 20px)";
            this.$refs.arrow.style.transform = "rotate(180deg)";
          } else if (newValue == 1 || newValue == 0) {
            this.$refs.arrow.style.left = "calc((100% / 3)  - 20px)";
            this.$refs.arrow.style.transform = "rotate(0)";
          }
        } else {
          if (newValue == 2) {
            this.$refs.arrow.style.top = "calc((100% / 1.5)  - 20px)";
            this.$refs.arrow.style.transform = "rotate(90deg)";
          } else if (newValue == 3) {
            this.$refs.arrow.style.top = "calc((100% / 1.5)  - 20px)";
            this.$refs.arrow.style.transform = "rotate(-90deg)";
          } else if (newValue == 1) {
            this.$refs.arrow.style.top = "calc((100% / 3)  - 20px)";
            this.$refs.arrow.style.transform = "rotate(90deg)";
          }
        }
      },
    },
  },
  async mounted() {
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/page5/07.mp3")));
    this.audio.play();
    this.audio.onended = () => {
      if (this.instructionVoice) {
        this.audioSet[3].play();
      }
      this.audioSet[3].onended = () => {
        this.instructionVoice = false;
      };
    };
  },
  beforeRouteLeave(_, __, next) {
    this.audioSet.forEach((item) => {
      item.pause();
    });
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.rank-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 25px;
  position: relative;
  height: 460px;
  width: 1035px;
  /* padding-right: 26px; */

  padding: 0;
}
.arrow-btn {
  position: absolute;
  left: calc((100% / 3) - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  border: none;
  display: flex;
  z-index: 30;
  transition: 0.5s ease-in-out;
}
.arrow-btn > img {
  width: 40%;
  height: auto;
  margin: auto;
}
.rank {
  flex: 1 1 calc(100% / 3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
.rank.active {
  background-color: #ffde3b;
  border-radius: 25px;
  z-index: 29;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15) !important;
}

.rank.active .rank-img {
  border: 12px solid #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.rank > .rank-img {
  border: 1vw solid #ffffff00;
  transition: 0.5s ease;
}
.img-rank-coin {
  width: 35%;
  margin-right: 5px;
}
.rank-1 {
  z-index: 10;
}
.rank-2 {
  z-index: 9;
  border-radius: 0 30px 30px 0;
}
.rank-3 {
  /* border-radius: 0 30px 30px 0; */
  box-shadow: none;
  z-index: 8;
}
.rank > img {
  margin: auto;
  width: 200px;
  margin-bottom: 25px;
  height: auto;
  border-radius: 100%;
}
.rank-money {
  width: 125px;
  height: 57px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 10% 0;
  padding: 2px 2px;
}
.rank-money p {
  flex: 1 1 50%;
  height: 100%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  line-height: normal;
  margin-right: 5%;
}
.sound-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3)
    url("../../../../assets/img/icons/sound-white.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .wrap-height {
  height: 100%;
} */
/* @media (max-width: 1000px) {
  .rank-money p {
    font-size: 1rem;
    line-height: 1rem;
  }
}
@media (max-width: 1300px) {
  .rank-money {
    width: 55%;
  }
}
@media (min-width: 1441px) and (min-height: 900px) {
  .rank > img {
    margin: auto;
    width: 70%;
    height: auto;
  }
  .rank-money p {
    font-size: 2rem;
    line-height: 2rem;
  }
} */
/* @media only screen and (min-device-width: 1366px) {
  .position-p5 {
    bottom: 10%;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-height {
    height: 865px;
    align-items: flex-end;
    margin-bottom: 25px;
    margin-top: 50px;
  }

  .rank-block {
    margin-top: auto;
    flex-flow: column nowrap;
    height: 865px;
    width: 520px;
  }
  .rank > img {
    margin: 0;
  }
  .rank {
    flex: 1 1 calc(100% / 3);

    flex-flow: row nowrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-right: 65px;
    padding-left: 30px;
  }
  .arrow-btn {
    left: calc(50% - 20px);
    top: calc((100% / 3) - 20px);
    transform: rotate(90deg);
  }
}
</style>