<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page19.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-26"
      title="Business Vocabulary"
      subtitle="Бизнес Термины"
      white_text_1="ФОРМИРУЕМ"
      white_text_2="СЛОВАРНЫЙ ЗАПАС"
      :number="19"
      voiceText="Если хочешь заработать фоксы, то подумай и добавь свой бизнес термин. Один термин - один фокс!"
    />
    <section
      v-show="!videoPlay"
      class="termins-section no-select full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :questPage="19"
        light
        high_mentor
      />
      <div class="wrap-height mt-0" :class="{ 'margin-ipad-p19': show }">
        <div
          class="termins-block opacity-anim-path"
          :class="{ 'left-show': show }"
        >
          <div
            :class="{ 'yellow-bg': allLoaded }"
            class="term-card relative-block+"
          >
            <div class="question-number right-3">
              <div class="number">
                <span>1</span>
              </div>
            </div>
            <p class="term-card-text">Подумай и добавь свой бизнес термин</p>
            <div class="cloud-anim"></div>
            <!-- <img
              class="term-card-img"
              src="@/assets/img/business-vocabulary/16.png"
              alt="img"
            /> -->
            <div class="term-card-img"></div>
            <button class="sound-btn" @click="playSound">
              <img src="@/assets/img/icons/sound.svg" alt="sound" />
            </button>
            <button class="arrow-btn" @click="show = !show">
              <img
                src="@/assets/img/icons/right-arrow.svg"
                :style="{
                  transform: `${show ? 'rotate(180deg)' : 'rotate(0)'}`,
                  transition: '0.5s',
                }"
                alt="arrow-right"
              />
            </button>
          </div>
          <transition name="grow">
            <!-- <div v-show="show" class="termins-count"> -->
            <div v-show="show" class="termins-count">
              <div class="load-answer">
                <!-- <button class="sound-btn">
                <img src="@/assets/img/icons/volume.svg" alt="sound" />
              </button> -->
                <p>Загрузите ответ</p>
              </div>

              <AddTermCard
                v-for="term in termins"
                :key="term.id"
                :term="term"
                @success="addTerm"
              />
            </div>
          </transition>
        </div>
      </div>
      <ButtonNext show link="20" class="white-next-btn-bg" />
    </section>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import AddTermCard from "@/components/tales/tale1/pages/page19/AddTermCard.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page19",
  components: { TopMenu, SideRightMenu, AddTermCard, ButtonNext },
  data() {
    return {
      show: false,
      currentTask: {},
      termins: [
        {
          id: 1,
          success: false,
          disable: false,
          answer: null,
        },
        {
          id: 2,
          success: false,
          disable: true,
          answer: null,
        },
        {
          id: 3,
          success: false,
          disable: true,
          answer: null,
        },
        {
          id: 4,
          success: false,
          disable: true,
          answer: null,
        },
        {
          id: 5,
          success: false,
          disable: true,
          audio: null,
        },
      ],
      videoPlay: true,
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    allLoaded() {
      return this.termins.filter((term) => !!term.answer).length >= 5;
    },
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...PlayerMapper.mapActions(["stopAllAudio", "playTopAudio"]),

    playSound() {
      this.stopAllAudio();
      this.playTopAudio();
    },

    async postTerm(term, id) {
      let answerData = new FormData();
      answerData.append(`answer`, term, `answer${id}.wav`);
      await this.patchFormAnswer({
        id: this.currentTask.answers[id - 1].id,
        data: answerData,
      });
    },
    async deleteTerm(id) {
      await this.patchAnswer({
        id: this.currentTask.answers[id - 1].id,
        data: { answer: null },
      });
    },

    addTerm(success, id, term) {
      if (success) {
        this.termins[id - 1].success = true;
        this.termins[id] ? (this.termins[id].disable = false) : null;
        this.postTerm(term, id);
      } else {
        this.termins[id - 1].success = false;
        this.termins[id] ? (this.termins[id].disable = true) : null;
        this.deleteTerm(id);
      }
    },
    ...TaleMapper.mapActions(["getTale", "patchFormAnswer"]),
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page19/52.mp3"))
      );
    },
    initialAnimation() {
      const getElems = (name) => {
        return document.querySelectorAll(name);
      };
      if (screen.height === 1024 && screen.width === 768) {
        document.documentElement.style.overflowY = "hidden";
      }
      setTimeout(function () {
        for (let z = 0; z < 5; ++z) {
          if (getElems(".term")[z].classList.contains("success")) {
            getElems(".coin-hook")[z].classList.add("coins-vert");
          }
        }
      }, 1000);
    },
  },
  async mounted() {
    this.initialAnimation();
    this.initialAudio();
    await this.getTale(this.tale.id);
    this.currentTask = this.tale.tasks.find((task) => task.page == 18);
    this.termins.forEach((termin, i) => {
      const answer = this.currentTask.answers[i];
      this.termins[i] = {
        ...termin,
        answer: answer.answer ?? null,
        success: !!answer.answer,
        disable: i == 0 ? false : this.termins[i - 1].success ? false : true,
      };
    });
    console.log(this.termins);
  },
};
</script>

<style scoped>
#overlay {
  z-index: 9999999999;
}
.grow-enter,
.grow-leave-to,
.grow-enter *,
.grow-leave-to * {
  width: 0 !important;
  font-size: 0;
}
.grow-enter-active,
.grow-leave-active,
.grow-enter-active *,
.grow-leave-active *,
.shrink-enter-active,
.shrink-leave-active,
.shrink-enter-active *,
.shrink-leave-active * {
  transition: 0.7s ease;
}
.shrink-enter,
.shrink-leave-to,
.shrink-enter *,
.shrink-leave-to * {
  width: 0 !important;
  height: 0 !important;
  font-size: 0;
}

.sound-btn > img {
  width: 50%;
  height: auto;
  opacity: 0.5;
}
.arrow-btn > img {
  width: 80%;
  opacity: 0.5;
  height: auto;
}
.sound-btn {
  top: 2%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.arrow-btn {
  bottom: 2%;
}

.sound-btn,
.arrow-btn {
  position: absolute;
  right: 2%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.term-card {
  height: 100%;
  background: #fff;
  border-radius: 30px;
  width: 460px;
  margin-left: 0.25rem;
  border: 2px solid lightgray;
  box-shadow: 0 0 20px lightgray;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
  transition: 0.5s ease;
}

.cloud-anim {
  position: absolute;
  right: 12%;
  bottom: 55%;
  width: 330px;
  height: 170px;
  background-image: url("../../../../assets/img/business-vocabulary/cloud.png");
  animation: anim-cloud 1.5s steps(60) infinite;
  transform: scale(1);
}
@keyframes anim-cloud {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 10800px;
  }
}

.term-card-img {
  position: absolute;
  bottom: 0%;
  width: 300px;
  height: 320px;
  background-image: url("../../../../assets/img/business-vocabulary/fox-think02.png");
  animation: term-card-img 8s steps(120) infinite;
}
@keyframes term-card-img {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 36000px;
  }
  100% {
    background-position-x: 36000px;
  }
}
.term-card > img {
  padding: 1% 2% 1% 2%;
  height: 90%;
  width: auto;
}
.term-card > p {
  font-weight: 600;
  font-size: 1em;
  margin-top: 16px;
  line-height: 1.5em;
  color: #9c9c9b;
  color: #000;
}

.load-answer {
  position: relative;
  top: 2%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
  z-index: 1;
}
.load-answer .sound-btn {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
}
.load-answer .sound-btn > img {
  width: 60%;
  height: auto;
}
.load-answer > p {
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #9c9c9b;
}
.termins-section {
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.termins-block {
  z-index: 2;
  /* min-height: 300px; */
  margin: auto;
  margin-top: 50px;
  /* width: 80%; */
  height: 470px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  /* background-color: #f9f9f9; */
  transition: 0.5s ease;
}

.no-background {
  background-color: #ffffff00;
}

.termins-count {
  width: 500px;
  height: 90%;
  border-radius: 0 30px 30px 0;
  background-color: #f9f9f9;
  overflow-y: scroll;
  flex-flow: column-reverse;
  justify-content: flex-end;
  position: relative;
}
.termins-count::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
  position: absolute;
}

.termins-count::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 20px;
  position: absolute;
}

.termins-count::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
}

.termins-count::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  position: absolute;
}

.termins-count::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
  position: absolute;
}

.termins-count::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}
.termins-block {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.left-show {
  justify-content: flex-start;
}
.number-wrap {
  height: 40px;
  width: 40px;
}
.question-number {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  /* margin: 5px; */
}
.left-15 {
  left: -15%;
}
.right-3 {
  left: -6rem;
  top: calc(50% - 20px);
}
.question-number .number {
  z-index: 1;
  height: 100%;
  width: 100%;

  border-radius: 100%;
  border: 2px solid #ffde3b;

  transition: 0.5s ease-in-out;
  position: relative;
}
.term.success .number {
  background: #ffde3b;
}
.question-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bolder;
  font-size: 1.3em;
}

/* @media (max-width: 1050px) {
  .term-card > p {
    text-align: center;
    font-size: 0.7em;
    padding: 0% 15%;
  }

  .term-load {
    width: 75% !important;
  }
}

@media (min-width: 1051px) and (max-width: 1280px) {
  .term-card > p {
    font-size: 0.85em;
  }
} */
.wrap-height {
  margin: unset;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .termins-block {
    width: fit-content;
    margin-top: unset;
    height: fit-content;
    justify-content: flex-start;
    flex-flow: column nowrap;
  }
  /* .full-height {
    height: 85vh;
    border-radius: 0;
  } */
  .wrap-height {
    height: fit-content;
    width: 470px;
    margin-top: 100px !important;
    padding-bottom: 50px;
    margin: auto;
  }
  .term-card {
    height: 460px;
    border-radius: 30px;
    width: 460px;
  }
  .termins-count {
    width: 440px;
    height: 400px;
    border-radius: 30px;
  }
  .arrow-btn > img {
    transform: rotate(90deg);
  }
  /* .margin-ipad-p19 {
    margin-top: 25% !important;
  } */
  .question-number {
    top: 41%;
  }
}
</style>
