<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page21.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-29"
      title="Team Work"
      subtitle="Командная работа"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ"
      :number="21"
      white_text_2="МЫШЛЕНИЕ"
      voiceText="Давай поиграем в игру Супермакет! В супермаркете есть 4 отдела «Овощи/фрукты», «Магазин игрушек», «Булочная» «Бытовая химия и промтовары». Разложи товары по отделам. Ты заработаешь максимально 10 фоксов."
    />
    <div
      v-show="!videoPlay"
      class="container-fluid animate__animated animate__fadeIn no-select full-height blue-bg bottom-radius shadow-body"
      style="display: flex; align-items: center; overflow-y: auto"
    >
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        sendToMentorActive
        @send="sendToMentor"
        high_mentor
      />
      <div class="wrap-game-tw">
        <div class="tw-left">
          <div
            v-for="category in categoryList"
            :key="category.id"
            :index="category.id"
            :style="{ animationDuration: category.id / 4 + 's' }"
            class="counter-block drop-zone opacity-anim-path"
            :ref="`category${category.id.toString()}`"
            :class="{
              correct: category.correct == 2,
              over: category.over,
              incorrect: category.correct == 0,
            }"
            @click="
              playSound(
                require(`@/assets/sounds/app-voice/page21/59.${category.id}.mp3`)
              )
            "
          >
            <div
              @drop.prevent="onDrop(category.id)"
              @dragover.prevent
              @dragenter.prevent="category.over = true"
              @dragleave.prevent="category.over = false"
              class="relative-block counter-wrap"
            >
              <img
                src="@/assets/img/teamwork/counter.png"
                alt=""
                class="img-tw-counter"
              />
              <img
                :src="require(`@/assets/img/teamwork/${category.image}.png`)"
                alt=""
                class="absolute-block img-tw-category"
              />
              <p class="absolute-block text-counter">{{ category.name }}</p>
            </div>
          </div>
        </div>
        <div class="tw-right opacity-anim-path">
          <div class="tw-card">
            <div class="btn-block">
              <button @click.prevent="prev">
                <img src="@/assets/img/icons/arrow-list.png" alt="prev" />
              </button>
            </div>
            <transition
              :name="!reverse ? 'slide-reverse' : 'slide'"
              mode="out-in"
            >
              <div
                :class="{ drag: activeProf.drag }"
                ref="drag-item"
                class="slide-block drag-el"
                :key="activeProf.id"
              >
                <img
                  draggable="true"
                  :src="require(`@/assets/img/teamwork/${activeProf.img}.png`)"
                />
              </div>
              <!-- //!РАБОЧИЙ БЛОК ИГРЫ -->
              <!-- <div
                :class="{ drag: activeProf.drag }"
                draggable
                @dragstart="startDrag($event)"
                @dragend="
                  count != 8
                    ? (activeProf.drag = false)
                    : (activeProf.drag = true)
                "
                ref="drag-item"
                @dragover.stop
                class="slide-block drag-el"
                :key="activeProf.id"
              >
                <img
                  draggable="true"
                  :src="require(`@/assets/img/teamwork/${activeProf.img}.png`)"
                />
              </div> -->
            </transition>
            <!-- <div class="btn-block" v-show="false"> -->
            <div class="btn-block">
              <button @click.prevent="next">
                <img src="@/assets/img/icons/arrow-list.png" alt="next" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <ModalGame @hide="hideModal" @send="sendToMentor" />
      <ButtonNext show link="22" class="white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import ModalGame from "@/components/tales/tale1/pages/page14/modal-game.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page21",
  components: { TopMenu, SideRightMenu, ButtonNext, ModalGame },
  data() {
    return {
      videoPlay: true,
      currentTask: {},
      reverse: false,
      activeProf: {
        id: 1,
        img: "fruits_vegetables/potato",
        title: 1,
        drag: false,
      },
      categoryList: [
        {
          id: 1,
          name: "Овощи-Фрукты",
          image: "bg-fv",
          correct: 1,
          over: false,
        },
        {
          id: 2,
          name: "Бытовая химия и промтовары",
          image: "bg-cp",
          correct: 1,
          over: false,
        },
        {
          id: 3,
          name: "Игрушки",
          image: "bg-ts",
          correct: 1,
          over: false,
        },
        {
          id: 4,
          name: "Булочная",
          image: "bg-b",
          correct: 1,
          over: false,
        },
      ],
      profs: [
        {
          id: 1,
          img: "fruits_vegetables/potato",
          title: 1,
          drag: false,
        },
        {
          id: 2,

          img: "fruits_vegetables/tomato",
          title: 1,
          drag: false,
        },
        {
          id: 3,

          img: "house_chemicals/toothbrush",
          title: 2,
          drag: false,
        },
        {
          id: 4,

          img: "house_chemicals/toothpaste",
          title: 2,
          drag: false,
        },
        {
          id: 5,

          img: "toys/dog_plush",
          title: 3,
          drag: false,
        },
        {
          id: 6,

          img: "toys/table",
          title: 3,
          drag: false,
        },
        {
          id: 7,
          img: "bakery/loaf",
          title: 4,
          drag: false,
        },
        {
          id: 8,
          img: "bakery/pie",
          title: 4,
          drag: false,
        },
      ],
      pageIsSucceed: false,
      secondAudio: new Audio(),
      count: 0,
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  watch: {
    count(newValue) {
      if (newValue == 8) {
        this.$bvModal.show("gameModal");
        this.playSound(require("@/assets/sounds/app-voice/modal/60.mp3"));
      } else {
        console.log(newValue);
      }
    },
  },
  methods: {
    playSound(audio) {
      this.stopAllAudio();
      this.setRightAudio(new Audio(audio));
      this.playRightAudio();
    },
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    ...TaleMapper.mapActions(["patchTask", "patchTale"]),
    sound(correct) {
      this.playSound(
        require(correct ? "@/assets/complete.mp3" : "@/assets/wrong.mp3")
      );
    },
    // !DRAG'N DROP
    startDrag(e) {
      e.dataTransfer.dropEffect = "move";
      e.dataTransfer.effectAllowed = "move";
      setTimeout(() => {
        this.activeProf.drag = true;
      }, 0);
    },

    onDrop(category) {
      const item = this.profs.find((i) => i.id == this.activeProf.id);
      const categoryItem = this.categoryList.find((i) => i.id == category);
      categoryItem.over = false;
      if (item.title == category) {
        this.sound(true);
        categoryItem.correct = 2;
        if (this.count != 8) {
          this.activeProf.drag = false;
          this.next();
        }
      } else {
        this.sound(false);
        categoryItem.correct = 0;
        this.activeProf.drag = false;
      }
      setTimeout(() => {
        categoryItem.correct = 1;
      }, 1000);
    },
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    prev() {
      this.reverse = true;
      this.activeProf = this.profs[this.activeProf.id - 2]
        ? this.profs[this.activeProf.id - 2]
        : this.profs[this.profs.length - 1];
    },
    next() {
      this.count++;
      this.reverse = false;
      this.activeProf = this.profs[this.activeProf.id]
        ? this.profs[this.activeProf.id]
        : this.profs[0];
    },
    hideModal() {
      this.$bvModal.hide("gameModal");

      if (this.secondAudio) {
        this.secondAudio.pause();
      }
      this.secondAudio = document.createElement("audio");
      this.secondAudio.play();

      setTimeout(() => {
        this.profs.forEach((element) => {
          element.drag = false;
        });
        this.activeProf = this.profs[0];
      }, 1500);
    },
    async sendToMentor() {
      await this.patchTask({
        id: this.currentTask.id,
        data: { success: true, coins: 10 },
      });
      if (this.tale.pages < 22) {
        await this.patchTale({ pages: 22 });
      }
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
  },
  mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page21/59.mp3"))
    );
    this.currentTask = this.tale.tasks.find((task) => task.page == 21);
  },
};
</script>

<style scoped>
.full-height {
  height: calc(100% - 60px);
}
.wrap-game-tw {
  width: 1150px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tw-left {
  width: 48%;
  /* min-height: 100%; */
  height: 555px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.counter-block {
  height: 45%;
  width: 45%;
  display: flex;
  justify-content: center;
}
.counter-wrap {
  margin: auto;
  max-width: 250px;
  max-height: 250px;
}
.img-tw-counter {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.drop-zone .img-tw-counter {
  transition: 0.5s ease;
}
.drop-zone.correct .img-tw-counter {
  filter: hue-rotate(60deg);
}
.drop-zone.incorrect .img-tw-counter {
  filter: hue-rotate(-45deg);
}
.drop-zone {
  transition: 0.5s ease;
}
.drop-zone.over {
  transform: scale(1.1);
}
.tint {
  background-color: #ffde3bb1;
  height: 48%;
  width: 68.5%;
  bottom: 31%;
  left: 15%;
}
.text-counter {
  top: 80%;
  width: 100%;
  margin: 0;
  padding: 0 20%;
  font-size: 17px;
  line-height: 14px;
  color: #2b2a29;
  font-weight: 500;
  text-align: center;
  z-index: 0;
}
.img-tw-category {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  height: 35%;
  bottom: 35%;
  left: 0;
  z-index: 0;
}

/* слайдер справа */

.tw-right {
  width: 41%;
  /* min-height: 100%; */
  height: 555px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.tw-block {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.tw-card {
  width: 100%;
  height: 75%;
  max-height: 460px;
  border-radius: 2rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.slide-block {
  z-index: 5;
  background: url("../../../../assets/img/teamwork/item-bg.png") no-repeat
      bottom,
    #71c9e4;
  background-size: contain;
  box-shadow: 0px 0px 25px #2c2c2c34;
  border-radius: 1rem;
  width: 335px;
  height: 320px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  cursor: move;
  transition: 0.5s ease;
}
.slide-block > img {
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.slide-block.drag {
  opacity: 0;
}
.btn-block {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block > button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  transition: 0.5s ease;
}
.btn-block > button > img {
  width: 50%;
  filter: invert(1);
  height: auto;
}

.btn-block:first-of-type > button > img {
  width: 50%;
  height: auto;
  transform: rotate(180deg);
}

/* переключение слайдов */
.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-enter {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-leave-to {
  transform: translateX(-30%);
  opacity: 0;
}

/* @media (max-width: 1051px) {
  .text-counter {
    top: 80%;
    width: 100%;
    margin: 0;
    padding: 0 15%;
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
} */
@media only screen and (min-device-width: 1441px) {
  .wrap-game-tw {
    align-items: center;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-game-tw {
    width: 525px;
    height: 825px;
    flex-flow: column-reverse;
    margin: auto;
    margin-top: 100px;
  }
  .full-height {
    padding: 0;
    height: calc(100vh - 145px);
    border-radius: 0;
  }
  .tw-right {
    width: 370px;
    height: 230px;
  }
  .slide-block {
    box-shadow: 0px 0px 25px #2c2c2c34;
    width: 240px;
    height: 230px;
  }
  .tw-card {
    width: 100%;
    height: 100%;
  }
  .btn-block > button {
    width: 20px;
    height: 35px;
  }
  .btn-block > button > img {
    width: 100% !important;
    height: auto;
  }

  .tw-left {
    margin-top: 20px;
    width: 100%;
    height: calc(825px - 250px);
  }
}
</style>
