<template>
  <section class="h-100 relative-block">
    <TopMenu
      id="top-page-menu-5"
      title="Welcome"
      subtitle="Приветствие"
      iconsrc="img/icons/pencil_icon.png"
      iconclass="icon-header"
      @play="secondAudio.pause()"
    />

    <section
      class="no-select mt-2 yellow-bg page5-bg shadow-body bottom-radius animate__animated animate__fadeIn height-p1"
    >
      <AnimPage1 class="display-pc" />
      <hr class="hr-invisible m-0 py-1" />
      <div class="wrap-height relative-block">
        <div class="row margin-bd">
          <div class="col-12 pl-0">
            <p class="header-page-5">Business diary</p>
          </div>
        </div>

        <div class="row margin-tc">
          <div class="col-12 pl-2">
            <p class="sub-header-page-5">
              Времена меняют Лидеров, <br />Лидеры меняют мир
            </p>
          </div>
        </div>

        <div class="row mt-5 margin-btn">
          <b-button
            @click="nextPage"
            v-on:keyup.enter="nextPage"
            variant="start"
            class="my-auto"
          >
            <div class="row w-100 justify-content-center align-items-center">
              <p class="text-left button-start-text m-0">начать</p>
              <img
                src="@/assets/img/icons/start-btn-icon.png"
                alt=""
                class="img-start"
              />
            </div>
          </b-button>
        </div>
        <AnimPage1 class="display-ipad" />
      </div>
    </section>
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import { TaleMapper } from "@/store/tale";
import AnimPage1 from "@/components/tales/tale1/anims/AnimPage1.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page1",
  data() {
    return {
      secondAudio: new Audio(require("@/assets/sounds/lis-voice/page1/01.mp3")),
    };
  },

  components: { TopMenu, AnimPage1 },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...TaleMapper.mapActions(["patchTale"]),
    async nextPage() {
      this.audio.pause();
      this.secondAudio.pause();
      this.secondAudio.play();
      if (this.tale.pages < 2) {
        await this.patchTale({ pages: 2 });
      }
      this.secondAudio.onended = () => {
        this.$router.push({ name: `tale${this.tale.number}-2` });
      };
    },
  },
  async mounted() {
    // this.setAudio(new Audio(require("@/assets/sounds/app-voice/page1/01.mp3")));
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/page1/01.mp3")));
    this.audio.play();
    this.audio.onended = () => {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page1/02.mp3"))
      );
      this.audio.play();
    };
    // let audio = new Audio(require("@/assets/sounds/app-voice/page1/01.mp3"));
    // audio.play();
    // audio.onended = () => {
    //   let audio = new Audio(require("@/assets/sounds/app-voice/page1/02.mp3"));
    //   audio.play();
    // };
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    this.secondAudio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.display-ipad {
  display: none;
}
.display-pc {
  display: unset;
}
.wrap-height {
  width: unset;
  height: fit-content;
  flex-flow: column;
  align-items: flex-start;
}
.height-p1 {
  height: calc(100vh - 128px);
  overflow-y: auto;
}
.page5-bg {
  background: url("../../../../assets/img/page-5-anim/bg1.png") no-repeat;
  background-size: 100%;
  background-position-x: 60%;
  background-position-y: 100%;
}
.btn-start {
  width: 270px;
  height: 85px;
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  padding: 0px 10px;
}

.button-start-text {
  font-family: "Pribambas";
  font-size: 76px;
  line-height: 2.3rem;
  padding-bottom: 1.8rem;
  font-weight: normal;
}
.margin-bd {
  margin-top: 6vh;
  margin-left: 8%;
}
.margin-tc {
  margin-top: 1vh;
  margin-left: 7%;
}
.margin-btn {
  margin-top: 1vh;
  margin-left: 7%;
}
.img-start {
  height: 100%;
  width: 20%;
}
.header-page-5 {
  font-family: "Pribambas";
  font-size: 76px;
  font-weight: normal;
}
.sub-header-page-5 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  opacity: 0.8;
  color: #2b2a29;
}
.row-btn-start {
  width: 80%;
  margin-left: auto;
  justify-content: space-between;
}

@media (min-width: 1441px) and (min-height: 850px) {
  .margin-bd {
    margin-top: 0vh;
    margin-left: 7.5%;
  }

  .header-page-5 {
    font-size: 7rem;
  }
  .sub-header-page-5 {
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .page5-bg {
    background-position-y: 45%;

    background: url("../../../../assets/img/page-5-anim/bg-ipad.png") no-repeat
      center;
    background-size: 100%;
  }
  .margin-bd {
    margin-top: 3vh;
    /* margin-left: 7%; */
  }
  .header-page-5 {
    font-size: 76px;
    line-height: 50px;
    padding-bottom: 2rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  .sub-header-page-5 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  .btn-start {
    border-radius: 25px;
    z-index: 30;
    margin: auto;
  }

  .button-start-text {
    font-family: "Pribambas";
    font-size: 76px;
    line-height: 2.3rem;
    padding-bottom: 1.8rem;
    font-weight: normal;
  }
  .height-p1 {
    height: calc(100vh - 155px);
    border-radius: 0;
  }
  .wrap-height {
    min-height: 98%;
    height: 845px;
    align-items: center;
    flex-flow: column;
  }
  .display-ipad {
    display: unset;
  }
  .display-pc {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page5-bg {
    background: url("../../../../assets/img/page-5-anim/bg-ipad.png") no-repeat
      center;
    background-size: 768px;
    background-size: 100%;
  }
}
</style>