<template>
  <section class="h-100">
    <TopMenu
      id="top-page-menu-14"
      title="Карта заданий"
      subtitle="Переходим к следующему занятию"
      iconsrc="img/icons/route-icon.png"
      iconclass="icon-header"
    />
    <section
      class="animate__animated animate__fadeIn path-section no-select mt-2 full-height white-bg bottom-radius shadow-body"
    >
      <div class="container-fluid h-100" style="overflow-y: auto">
        <div class="path-block mt-3">
          <!-- <div class="path-row" v-for="(taskRow, index) in tasks" :key="index"> -->
          <div
            class="task"
            v-for="task in tasks"
            :key="task.id"
            :class="{ locked: !task.accept, success: task.success }"
          >
            <div class="task-arrow">
              <img
                src="@/assets/img/icons/arrow-list.png"
                alt="arrow"
                v-if="
                  task.id == tasks.filter((item) => item.accept).length &&
                  task.id % 3 != 1
                "
              />
            </div>

            <div class="task-card" @click="$router.push({ name: task.link })">
              <button class="sound-btn" @click="boop">
                <img
                  src="@/assets/img/icons/listen_icon_white.png"
                  alt="sound"
                />
              </button>
              <img
                :src="require(`@/assets/img/task-map/${task.img}.png`)"
                alt=""
                :class="task.class"
              />
              <div class="task-status">
                <img
                  :src="
                    task.id == 1
                      ? require('@/assets/img/task-map/read.svg')
                      : task.success
                      ? require('@/assets/img/task-map/completed.svg')
                      : require('@/assets/img/task-map/locked.svg')
                  "
                  alt="status"
                />
              </div>
              <p class="mb-0">{{ task.text }}</p>
              <p class="m-0">{{ task.text1 }}</p>
              <div class="coins" v-if="task.target">
                <p>
                  <span style="color: #706f6f">{{ task.coins }}</span
                  >/{{ task.target }}
                </p>
                <img src="@/assets/img/icons/fox-coin.png" alt="" />
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import { Tale1Mapper } from "@/store/tales/tale1";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "PathPage",
  components: { TopMenu },
  data() {
    return {
      tasks: [],
    };
  },
  computed: {
    ...Tale1Mapper.mapState(["tale"]),
  },
  methods: {
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
  },
  mounted() {
    this.tasks = [
      {
        id: 1,
        text: "Read",
        text1: "Fox Story",
        accept: true,
        success: true,
        img: "read-fox-story",
        class: "read-fox-story",
        target: 0,
        coins: 0,
        link: "tale1-9",
      },
      {
        id: 2,
        text: "Fox - Story",
        accept: this.tale.pages >= 10,
        success: this.tale.fox_story_accept,
        img: "fox-story",
        class: "fox-story",
        target: 1,
        coins: this.tale.fox_story_coins,
        link: "tale1-10",
      },
      {
        id: 3,
        text: "Family Interview",
        accept: this.tale.pages >= 11,
        success: this.tale.family_interview_accept,
        img: "family-interview",
        class: "family-interview",
        target: 15,
        coins: this.tale.family_interview_coins,
        link: "tale1-11",
      },
      {
        id: 4,
        text: "Creative Project",
        accept: this.tale.pages >= 12,
        success: this.tale.creative_project_accept,
        img: "creative-project",
        class: "creative-project",
        target: 4,
        coins: this.tale.creative_project_coins,
        link: "tale1-12",
      },
      {
        id: 5,
        text: "Communication Club",
        accept: this.tale.pages >= 13,
        success: this.tale.communication_club_accept,
        img: "communication-club",
        class: "communication-club",
        target: 10,
        coins: this.tale.communication_club_coins,
        link: "tale1-13",
      },
      {
        id: 6,
        text: "Logic Club",
        accept: this.tale.pages >= 14,
        success: this.tale.logic_club_accept,
        img: "logic-club",
        class: "logic-club",
        target: 5,
        coins: this.tale.logic_club_coins,
        link: "tale1-14",
      },
      {
        id: 7,
        text: "Fox Биржа",
        accept: this.tale.pages >= 15,
        success: this.tale.fox_burse_accept,
        img: "fox-exchange",
        class: "fox-exchange",
        target: 5,
        coins: this.tale.fox_burse_coins,
        link: "tale1-15",
      },
      {
        id: 8,
        text: "Business Vocabulary",
        accept: this.tale.pages >= 18,
        success: this.tale.business_vocabulary_accept,
        img: "business-vocabulary",
        class: "business-vocabulary",
        target: 10,
        coins: this.tale.business_vocabulary_coins,
        link: "tale1-18",
      },
      {
        id: 9,
        text: "Presentation Guide",
        accept: this.tale.pages >= 20,
        success: this.tale.presentation_guide_accept,
        img: "presentation-guide",
        class: "presentation-guide",
        target: 20,
        coins: this.tale.presentation_guide_coins,
        link: "tale1-20",
      },
      {
        id: 10,
        text: "Teamwork",
        accept: this.tale.pages >= 21,
        success: this.tale.pages > 21,
        // success: this.tale.task9_accept,
        img: "fox-teamwork",
        class: "fox-teamwork",
        target: 10,
        coins: this.tale.teamwork_coins,
        link: "tale1-21",
      },
      {
        id: 11,
        text: "Relax",
        accept: this.tale.pages >= 22,
        success: this.tale.relax_accept,
        img: "relax",
        class: "relax",
        target: 1,
        coins: this.tale.relax_coins,
        link: "tale1-22",
      },
      {
        id: 12,
        text: "Career Guidance",
        accept: this.tale.pages >= 23,
        success: this.tale.career_guidance_accept,
        img: "career-guidance",
        class: "career-guidance",
        target: 5,
        coins: this.tale.career_guidance_coins,
        link: "tale1-23",
      },
      {
        id: 13,
        text: "Creative Club",
        accept: this.tale.pages >= 25,
        success: this.tale.pages > 25,
        img: "creative-club",
        class: "creative-club",
        target: 5,
        coins: 0,
        link: "tale1-25",
      },
      {
        id: 14,
        text: "Soft Skills",
        accept: this.tale.pages >= 26,
        success: this.tale.soft_skills_accept,
        img: "soft-skills",
        class: "soft-skills",
        target: 15,
        coins: this.tale.soft_skills_coins,
        link: "tale1-26",
      },
      {
        id: 15,
        text: "Lets Talk",
        accept: this.tale.pages >= 27,
        success: false,
        img: "lets-talk",
        class: "lets-talk",
        target: 0,
        coins: this.tale.lets_talk_coins,
        link: "tale1-27",
      },
    ];
  },
};
</script>

<style  scoped>
.path-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.path-block {
  width: 85%;
  margin: auto !important;
  min-height: 95%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.path-row {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.task {
  width: calc(100% / 3);
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}
.task-arrow {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.task-arrow > img {
  height: 100%;
  width: auto;
  max-width: 100%;
  filter: brightness(0.8);
}
.task-card {
  width: 250px;
  height: 100px;
  border-radius: 15px;
  /* border: 1px solid lightgray; */
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
  transition: 0.5s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.task-card > p {
  font-size: 1em;

  line-height: 1em;
  font-weight: bold;
  z-index: 2;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
}
.coins {
  background: #fff;
  border-radius: 2rem;
  height: 30%;
  width: 45%;
  margin-top: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.1rem 0.3rem;
  z-index: 2;
}
.coins > p {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
  color: #d9d9d9;
}
.coins > p > span {
  color: black;
}
.coins > img {
  height: 100%;
  width: auto;
  justify-self: flex-end;
}

.task-card > img {
  position: absolute;
  right: 0;
  /* height: 80%; */
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 0 1rem 1rem 0;
}
.task.success .task-card {
  background: #71c9e4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
.task-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.task-card:hover > p {
  border-bottom: 2px solid #ffde3b;
}
.task:first-child .task-card {
  background: #ffde3b;
}
.task.locked .task-card {
  background-color: #f9f9f9;
  border: 0;
  pointer-events: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
.task.locked .task-card > img {
  filter: grayscale(1);
}
.task.locked .coins > img {
  filter: grayscale(1);
}
.sound-btn {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 8px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
}
.sound-btn > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: brightness(0.8);
  transition: 0.5s ease;
}
.sound-btn:hover > img {
  filter: brightness(0.5);
}
.task-status {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-status > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(0);
}
.task.locked .task-status > img {
  filter: grayscale(1) brightness(0.9);
}

/* классы для изображений, потому что... там все по разному в каждой карточке карты */

.read-fox-story {
  height: 90%;
}
.fox-story {
  height: 97%;
}
.family-interview {
  height: 100%;
}
.creative-project {
  height: 90%;
}
.communication-club {
  height: 75%;
  left: 60%;
}
.logic-club {
  height: 85%;
  padding-right: 7%;
}
.fox-exchange {
  height: 90%;
}
.business-vocabulary {
  height: 70%;
  left: 50%;
}
.presentation-guide {
  height: 75%;
  padding-right: 9%;
}
.fox-teamwork {
  height: 90%;
}
.relax {
  height: 90%;
}
.career-guidance {
  height: 75%;
  top: 12%;
  padding-right: 9%;
}
.creative-club {
  height: 85%;
  top: 10%;
  padding-right: 9%;
}
.soft-skills {
  height: 97%;
  top: 2%;
  padding-right: 9%;
}
.lets-talk {
  height: 90%;
  padding-right: 5%;
}

/* @media (max-width: 1200px) {
  .task-arrow > img {
    height: 60%;
    width: auto;
    opacity: 0.4;
  }
}
@media (max-width: 850px) {
  .path-block {
    width: 95%;
    margin-left: 0%;
  }
  .task-card > p {
    font-size: 0.7em;
  }
  .coins > p {
    font-size: 0.7em;
    line-height: 0.7em;
  }
  .task-status {
    width: 1.5rem;
    height: 1.5rem;
  }
  .task {
    height: 90px;
  }
  .task-card {
    width: 200px;
    height: 65px;
    border-radius: 0.7rem;
    padding: 0 5%;
  }
  .communication-club {
    height: 70%;
    left: 60%;
  }
} */
</style>