<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-12"
      title="Fox-Биржа"
      subtitle="Давай играть!"
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
    />
    <div
      class="container-fluid animate__animated animate__fadeIn no-select full-height white-bg bottom-radius shadow-body border-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        light
        pushPath="tale1-path"
        pushTale="tale1-9"
        high_mentor
      />

      <hr class="hr-invisible py-1 m-0" />

      <div v-if="!portrait" class="flex-ready relative-block">
        <AnimReady class="display-pc" />
        <div class="row justify-content-end mt-5">
          <div class="col-5 pr-4 text-center">
            <div class="ralative-block loading-block mx-auto">
              <p class="my-auto">{{ procent }}%</p>
            </div>
          </div>
        </div>
        <div class="row pt-3 mt-2 justify-content-end">
          <!-- <div class="col-5 text-center">
            <img
              src="@/assets/img/icons/sound.svg"
              alt=""
              class="sound-game-icon"
            />
          </div> -->
        </div>
        <div class="row justify-content-end">
          <div class="col-5 mt-1 text-center">
            <p class="header-ready-text">давай играть!</p>

            <p style="padding-bottom: 70px" class="text-get-ready mt-3">
              Приготовься!<br />Скоро мы будем играть<br />
              в игру
            </p>
          </div>
        </div>
      </div>

      <div v-else class="flex-block-ipad">
        <div class="wrap-ipad">
          <!-- <div class="relative-block anim-square">
          <img
            src="@/assets/img/page-8-anim/loading-circle.svg"
            alt=""
            class="loading"
          />
         
        </div> -->
          <div class="relative-block loading-block mx-auto">
            <p class="my-auto">{{ procent }}%</p>
          </div>
          <div class="flex-rows">
            <div class="row">
              <div class="col text-center">
                <img
                  src="@/assets/img/icons/sound-white.svg"
                  alt=""
                  class="sound-white-icon"
                />
                <p class="header-ready-text">давай играть!</p>

                <p class="text-get-ready mt-3">
                  Приготовься!<br />Скоро мы будем играть<br />
                  в игру
                </p>
              </div>
            </div>
          </div>
        </div>
        <AnimReady class="display-ipad" />
      </div>

      <ButtonNext :show="procent == 100" link="17" class="white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import AnimReady from "@/components/tales/tale1/anims/AnimReady.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Ready",
  components: {
    TopMenu,
    SideRightMenu,
    AnimReady,
    ButtonNext,
  },
  data() {
    return {
      procent: 0,
      currentTask: {},
      portrait: false,
    };
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },

  mounted() {
    this.currentTask = this.tale.tasks.find((task) => task.page == 16);
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }
    this.setAudio(new Audio());

    setTimeout(() => {
      let interval = 75;
      setInterval(() => {
        this.procent < 100 && this.procent++;
      }, interval);
    }, 2000);
  },
};
</script>

<style  scoped>
.flex-ready {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  width: 1245px;
  padding-right: 50px;
  padding-left: 100px;
  height: 750px;
  padding-bottom: 10%;
}
.header-ready-text {
  font-family: "Pribambas";
  font-size: 76px;
  line-height: 3rem;
  padding-bottom: 1.5rem;
}
.text-get-ready {
  font-weight: 600;
  font-size: 25px;
  opacity: 0.5;
  line-height: normal;
}

.flex-block-ipad {
  padding-bottom: 0%;
  width: 768px;
  height: 770px;
  /* min-height: 100%; */
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}
.wrap-ipad {
  position: absolute;
  top: 0%;
  width: 560px;
  display: flex;
}
.flex-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.sound-white-icon {
  width: 13px;
  filter: invert(1);
}
.loading-block {
  margin-top: 2%;
  background-color: #ffde3b05;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 2px solid #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-block p {
  left: 48%;
  top: 49%;
  font-size: 23pt;
  transition: 0.5s;
}

.display-pc {
  position: absolute;
  bottom: 10%;
}
.display-ipad {
  display: unset;
  height: 470px;
}
@media (min-height: 720px) and (max-height: 900px) {
  .display-pc {
    bottom: 20%;
  }
}

@media (min-width: 1441px) and (min-height: 900px) {
  .text-get-ready {
    font-size: 1.4rem;
  }
  .header-ready-text {
    font-size: 4rem;
    line-height: 3rem;
  }
  .margin-p12 {
    margin-top: 10vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .flex-block-ipad {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .full-height {
    padding: 0;
    height: calc(100vh - 145px);
    border-radius: 0;
  }
  .header-ready-text {
    font-size: 76px;
    line-height: 2rem;
  }
  .text-get-ready {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
  }
  .loading-block p {
    left: 40%;
    font-size: 23pt;
    transition: 0.5s;
  }
}
</style>