<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-final"
      title="Твой результат"
      subtitle="Сколько ты заработал"
      iconsrc="img/icons/completion.svg"
      iconclass="icon-header"
      white_text_1=""
      white_text_2=""
    />
    <div
      class="container-fluid relative-block animate__animated animate__fadeIn mt-2 full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        v-if="!portrait"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-8'"
      />

      <hr class="hr-invisible py-1 m-0" />
      <div v-if="!portrait" class="flex-wrap relative-block">
        <AnimSticker class="display-pc" />
        <div class="row w-100 justify-content-end">
          <div class="col-5 text-center">
            <div class="relative-block anim-square">
              <!-- @mouseover="anim_round" -->
              <img
                src="@/assets/img/page-68-anim/loading-outer.png"
                alt=""
                class="loading"
              />
              <img
                src="@/assets/img/page-68-anim/loading-inner.png"
                alt=""
                class="absolute-block check-img"
              />
            </div>
          </div>
        </div>
        <div class="row w-100 mt-2 justify-content-end">
          <div class="col-5 text-center" @click="boop">
            <img
              src="@/assets/img/icons/sound-white.svg"
              alt=""
              class="sound-white-icon"
            />
          </div>
        </div>
        <div class="row w-100 justify-content-end">
          <div class="col-5 text-center">
            <p class="header-sticker">fox Sticker</p>
          </div>
        </div>
        <div class="row w-100 justify-content-end">
          <div class="col-5 text-center">
            <p class="text-sticker m-0">За прохождение сказки ты</p>
            <p class="text-sticker m-0">получаешь стикер</p>
            <p class="text-sticker m-0">с лисенком!</p>
            <p class="text-sticker m-0">Пройди все сказки и собери</p>
            <p class="text-sticker m-0">коллекцию персонажей!</p>
          </div>
        </div>
      </div>
      <div v-else class="flex-block-ipad pt-3">
        <div class="wrap-inner-ipad">
          <div class="relative-block anim-square">
            <!-- @mouseover="anim_round" -->
            <img
              src="@/assets/img/page-68-anim/loading-outer.png"
              alt=""
              class="loading"
            />
            <img
              src="@/assets/img/page-68-anim/loading-inner.png"
              alt=""
              class="absolute-block check-img"
            />
          </div>
          <div class="text-finish-block">
            <img
              src="@/assets/img/icons/sound-white.svg"
              alt=""
              class="sound-white-icon"
            />
            <p class="header-sticker">fox Sticker</p>
            <p class="text-sticker m-0">За прохождение сказки ты</p>
            <p class="text-sticker m-0">получаешь стикер</p>
            <p class="text-sticker m-0">с лисенком!</p>
            <p class="text-sticker m-0">Пройди все сказки и собери</p>
            <p class="text-sticker m-0">коллекцию персонажей!</p>
          </div>
        </div>

        <AnimSticker class="display-ipad" />
      </div>
    </div>
    <PagebodySticker
      :coinscount="65"
      class="mt-2 full-height white bottom-radius shadow-body animate__animated animate__fadeIn"
    />
  </section>
</template>

<script>
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import AnimSticker from "@/components/tales/tale1/anims/AnimSticker.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Sticker",
  components: { TopMenu, SideRightMenu, AnimSticker },
  data() {
    return {
      portrait: false,
    };
  },
  methods: {
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },

  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },

  mounted() {
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }
  },
};
</script>

<style  scoped>
.flex-wrap {
  height: 760px;
  width: 1250px;
  margin: auto;
  display: flex;
  padding-right: 45px;
  padding-bottom: 70px;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}
.header-sticker {
  font-family: "Pribambas";
  font-size: 76px;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  color: #2b2a29;
}

.text-sticker {
  text-align: center;
  width: 100%;
  font-weight: 500;
  opacity: 0.5;
  font-size: 25px;
  line-height: 27px;
  color: #2b2a29;
}
.sound-icon {
  width: 15px;
  height: auto;
}
.anim-square {
  height: 135px;
  width: 135px;
  margin: auto;
}
.loading {
  height: 100%;
  width: auto;
  animation-name: rotation;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.85, -0.3, 0.5, 1.15);
}
.check-img {
  height: 35px;
  width: auto;
  top: 40%;
  right: 34%;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
.flex-block-ipad {
  z-index: 1;
  padding-bottom: 0%;
  width: 735px;
  height: 840px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}
.wrap-inner-ipad {
  width: 650px;
  margin: auto;
  margin-top: 0;
  display: flex;
}
.sound-white-icon {
  width: 21px;
  margin: auto;
  filter: invert(1);
}
.text-finish-block {
  width: 490px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.coins-img {
  height: 105px;
  width: auto;
  object-fit: contain;
  margin-top: 20px;
}

/* @media (min-width: 1441px) and (min-height: 800px) {
  .header-sticker {
    font-size: 6rem;
    line-height: 5rem;
  }
  .text-sticker {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-square {
    margin-top: 2%;
  }
  .full-height {
    overflow-y: auto;
  }
  .header-sticker {
    margin-bottom: 0;
  }
  .header-sticker {
    font-size: 76px;
    padding-bottom: 1.5rem;
  }

  .full-height {
    /* height: 85.7vh; */
    padding: 1px !important;
    padding-bottom: 1px !important;
    height: calc(100vh - 155px);
    border-radius: 0;
  }
}
</style>