<template>
  <transition name="fade">
    <div v-show="show" class="do-next-work">
      <img src="@/assets/img/modals/you-can-continue-bg.png" alt="" />

      <div class="do-text wrapper">
        <h4>Ты уже можешь перейти к выполнению следующего задания</h4>
        <p class="continue-text">
          Продолжай выполнить все намеченные дела на этой неделе и не забудь
          вернуться и отправить результаты ментору. Удачи!
        </p>
      </div>
      <button class="close-btn" @click="$emit('close')">
        <img src="@/assets/img/modals/exit-blue.png" alt="" />
      </button>
      <button class="sound-btn" @click="$emit('modal-sound')">
        <img src="@/assets/img/modals/listen-blue.png" alt="" />
      </button>
      <div class="next-btn" @click="$emit('close')">
        <img src="@/assets/img/icons/yellow-next.png" alt="" />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ModalDoNextWork",
  props: {
    show: Boolean,
  },
};
</script>

<style scoped>
h4 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.2rem;
}
.continue-text {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.do-next-work {
  background-color: #71c9e4 !important;
  padding: 0;
  border-radius: 20px;
  height: 40%;
  width: 55vw;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 30%;
  left: 18vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  /* 
  background-image: url("../assets/img/modals/you-can-continue-bg.png");
  background-size: 34%;
  background-repeat: no-repeat;
  background-position-x: 4%;
  background-position-y: 0; */
}

.do-next-work > img {
  height: 100%;
  width: auto;
}
.do-text {
  color: #fff;
  text-align: center;
  padding-right: 10%;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  outline: none;
  background: none;
}
.close-btn > img {
  width: 100%;
  height: auto;
}
.sound-btn {
  position: absolute;
  top: 5%;
  left: 2%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  outline: none;
  background: none;
}
.sound-btn > img {
  width: 100%;
  height: auto;
}

.next-btn {
  position: absolute;
  bottom: 5%;
  right: 2%;
  height: 3rem;
  width: 3rem;
  border: none;
  outline: none;
  background: none;
}
.next-btn > img {
  width: 100%;
  height: auto;
}

/* @media (min-width: 1600px) {
  .do-text {
    padding-right: 5%;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  .continue-text {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .next-btn {
    height: 3rem;
    width: 3rem;
  }
}
@media (max-width: 1600px) {
  .do-text {
    padding-right: 5%;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .continue-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .next-btn {
    height: 2.7rem;
    width: 2.7rem;
  }
} */
/* @media (max-width: 1366px) {
  .do-text {
    padding-right: 5%;
  }
  h4 {
    font-size: 1.35rem;
    line-height: 1.35rem;
  }
  .continue-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .next-btn {
    height: 2.3rem;
    width: 2.3rem;
  }
}

@media (max-width: 1200px) {
  .do-text {
    padding-right: 5%;
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .continue-text {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .next-btn {
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 900px) {
  .do-text {
    padding-right: 5%;
  }
  h4 {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
  .continue-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .next-btn {
    height: 1.5rem;
    width: 1.5rem;
  }
} */
</style>