<template>
  <section
    id="buy-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <div
      v-if="profile.role == 'Admin' || 'ClientManager'"
      class="contaiter-fluid relative-block mr-2"
    >
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">
            {{
              role == "Admin"
                ? this.franchiseeDetails.name
                : this.franchiseeProfile.name
            }}
          </p>
        </div>
        <div class="col-3 text-right my-auto">
          <DropDown placeholder="Выбрать франшизу" />
        </div>
      </div>
    </div>
    <div v-else class="contaiter-fluid relative-block pt-4 mr-2 mt-2">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Аналитика</p>
        </div>
        <div class="col-3 text-right my-auto">
          <DropDown placeholder="Выбрать франшизу" />
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mr-4 mt-3 pl-4"
    >
      <hr class="invisible" />

      <div class="row base-info-text pt-4 mt-2">
        <div class="col-1 pr-0">
          <p class="semi-bold-text my-1">Регион:</p>
        </div>
        <div class="col-3" v-if="role == 'Admin' || role == 'SalesManager'">
          <p class="bold-text my-1">{{ this.franchiseeDetails.adress }}</p>
        </div>
        <div class="col-3" v-else>
          <p class="bold-text my-1">{{ this.franchiseeProfile.adress }}</p>
        </div>

        <div class="col text-right my-auto">
          <!-- <button
            v-if="profile.role == 'Franchisee'"
            href="#"
            @click="$bvModal.show('add-branch-modal')"
            class="button-add-branch ml-3 mr-4"
          >
            <p>Добавить филиал</p>
          </button> -->
          <button
            v-if="profile.role == 'Admin'"
            href="#"
            @click="$router.push({ name: 'admin-analytics-fr-data-mydata' })"
            class="button-data-franchisee mr-5"
          >
            <p>Просмотр данных аккаунта</p>
          </button>
          <button
            @click="
              !banFranchisee
                ? (showBanFranchisee = !showBanFranchisee)
                : (banFranchisee = !banFranchisee)
            "
            v-if="profile.role == 'Admin'"
            class="mr-4 ml-auto"
            :class="banFranchisee ? 'btn-unban-agent' : 'btn-ban-agent'"
          >
            {{ banFranchisee ? "Разблокировать" : "Заблокировать" }} партнера
          </button>
        </div>
      </div>

      <BaseInfoAll :packages="packages" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <div class="semi-bold-text pl-4">
        <Diagramm :info="diagrammInfo" />
      </div>
    </div>
    <ModalBanFranchisee
      @ok="firePartner"
      :show="showBanFranchisee"
      @close="showBanFranchisee = false"
    />
  </section>
</template>

<script>
import ModalBanFranchisee from "@/components/franchisee/analytics/ModalBanFranchisee.vue";
import DropDown from "@/components/franchisee/analytics/DropDown.vue";
import BaseInfoAll from "@/components/franchisee/analytics/branches/BaseInfoAll.vue";
import Diagramm from "@/components/global/analytics/Diagramm.vue";
import { AuthMapper } from "@/store/auth";
import { AdminMapper } from "@/store/admin";
import { FranchiseeMapper } from "@/store/franchisee";

export default {
  name: "Branches",
  components: {
    BaseInfoAll,
    Diagramm,
    DropDown,
    ModalBanFranchisee,
  },
  data() {
    return {
      banFranchisee: false,
      overlay: false,
      packageName: "Название пакета",
      regionName: "Регион",
      showBanFranchisee: false,
      diagrammInfo: [
        {
          id: 1,
          name: "Детский сад (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 2,
          name: "Начальная школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 3,
          name: "Школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 4,
          name: "Детский сад (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 5,
          name: "Начальная школа (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 6,
          name: "Школа (Offline)",
          count: 0,
          income: 0,
        },
      ],
    };
  },
  methods: {
    ...AdminMapper.mapActions([
      "getFranchiseeDetails",
      "blockFranchiseePackage",
      "getPackage",
    ]),
    ...FranchiseeMapper.mapActions(["getPackages", "getOtherPackages"]),

    async firePartner(reason) {
      let data = {
        id: this.franchiseeDetails.user_id.id,
        data: { status: 6, block_reason: reason },
      };
      await this.blockFranchiseePackage(data);
      await this.getPackage(this.franchiseeDetails.user_id.id);
      if (this.package[0].status == 6) {
        this.banFranchisee = true;
        console.log(this.banFranchisee);
      }
    },
  },
  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...AuthMapper.mapGetters(["role"]),
    ...AdminMapper.mapState(["franchiseeDetails", "package", "error"]),
    ...FranchiseeMapper.mapState(["packages", "franchiseeProfile"]),
  },

  async mounted() {
    if (this.role == "Admin" || this.role == "SalesManager") {
      await this.getFranchiseeDetails(this.$route.params.id);
      await this.getOtherPackages(this.$route.params.id);
    }
    if (this.role == "Franchisee") {
      await this.getPackages();
    }
  },
};
</script>

<style>
.btn-filter {
  background-color: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  transition: 0.5s ease;
}
.btn-filter p {
  color: #2b2a29;
}

.button-add-branch {
  background: #249ddd;
  border-radius: 3px;
  padding: 0;
  height: 30px;
  width: 150px;

  border: none;
  transition: 0.5s ease;
}
.button-add-branch:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.button-add-branch:active,
.button-add-branch:focus {
  transform: scale(1.05);
}
.button-add-branch > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}
.text-choise {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #2b2a29;
}
.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}

.category-dropdown.show > button {
  border: 1px solid #b42f26;
}

/* кнопочки */

.button-data-franchisee {
  border: 1.5px solid #9276e4;
  background: #00000000;
  box-sizing: border-box;
  border-radius: 39px;
  height: 35px;
  width: 235px;
  padding: 0;
  transition: 0.5s ease;
}
.button-data-franchisee > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
  transition: 0.5s ease;
}
.button-data-franchisee:hover {
  background: #9276e4;
  box-shadow: 0px 0px 15px #00000030;
}
.button-data-franchisee:active {
  transform: scale(1.05);
}
.button-data-franchisee:hover > p,
.button-data-franchisee:active > p {
  color: #fefefe;
}
.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
.my-franch-data-id {
  padding-left: 2.5rem !important;
  width: 13%;
}
.my-franch-data-package {
  width: 18%;
}
.my-franch-data-childcount {
  text-align: center;
  width: 18%;
}
.my-franch-data-status {
  width: 18%;
  padding-left: 2.5rem !important;
}
.my-franch-data-documents {
  text-align: center;
  width: 21%;
}
td.my-franch-data-date {
  color: #6c6c6c;
}
.mydata-btn-size {
  height: 30px;
  width: 95px;
}

.load-files-franshisee {
  background: #ffffff;
  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}

.load-files-franshisee:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}
.load-files-franshisee:hover > p,
.size-confirm > p {
  color: #ffffff;
}
.load-files-franshisee > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29 !important;
}
.load-files-franshisee:focus,
.load-files-franshisee:active {
  transform: scale(1.05);
}
</style>
