<template>
  <b-modal
    :id="`sber-${type.toLowerCase()}-modal`"
    ok-title="Оплатить"
    cancel-title="Отмена"
    cancel-variant="danger"
    @ok.prevent="$emit('create', value, title, type)"
    :ok-disabled="!value || value == 0 || loading"
    :cancel-disabled="loading"
  >
    <template #modal-header>{{ title }}</template>
    <b-overlay :show="loading">
      <span v-if="type == 'Fill'"
        >{{ title }} на сумму:
        <b-form-select>
          <b-form-select-option
            @click="$emit('change-value', option)"
            v-for="option in options"
            :key="option"
            :value="option"
            >{{ option }}.00 р.
          </b-form-select-option>
        </b-form-select>
      </span>
    </b-overlay>
  </b-modal>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 0,
    },
    title: {
      type: String,
      default: "Пополнение баланса",
    },
    type: {
      type: String,
      default: "Fill",
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      options: [0, 200, 500, 1000, 2000, 5000, 10000],
    };
  },
};
</script>

<style scoped>
</style>