<template>
  <div class="no-select">
    <!-- @mouseover="foxiesHover = true"
      @mouseleave="
        foxiesHover = false;
        foxiesExpand = false;
      "
      @click="foxiesExpand = !foxiesExpand" -->
    <div
      class="overlay no-select"
      :class="{ overlay_invisible: !overlay }"
      @click="closeAll()"
    ></div>
    <!-- <transition name="slide-menu" mode="in-out"> -->
    <div
      v-show="coinsTarget"
      :key="foxiesHover"
      @mouseover="hover = true"
      @mouseleave="
        foxiesExpand = false;
        hover = false;
      "
      @click="foxiesExpand = !foxiesExpand"
      class="side-menu__icon foxies side-anim"
      :class="{
        foxies_hover: foxiesHover || !foxiesHover,
        foxies_expand: foxiesExpand,
        hover: hover,
      }"
    >
      <button class="foxies__megaphone" v-show="foxiesExpand">
        <img
          class="img-fluid"
          src="@/assets/img/icons/sound.svg"
          alt="megaphone"
        />
      </button>
      <!-- <transition name="fade"> -->
      <p :key="foxiesHover" class="foxies__text">
        <span class="foxies__text-span">{{ coins }}</span
        >/{{ coinsTarget }}
      </p>
      <!-- </transition> -->

      <button class="side-menu__btn">
        <div class="coin-moving-side"></div>
        <!-- <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/fox-coin.png"
          alt="coin"
        /> -->
      </button>
      <p v-show="foxiesExpand" class="foxies__help-text">
        В этом задании ты можешь заработать
        {{
          `${coinsTarget} фоксик${
            coinsTarget % 10 > 4 || coinsTarget % 10 == 0
              ? "ов"
              : coinsTarget % 10 == 1
              ? ""
              : "а"
          }`
        }}
      </p>
    </div>
    <!-- </transition> -->
    <div class="side-menu__icon idea light-anim" :class="{ light: light }">
      <button
        class="side-menu__btn"
        @click="
          ideaClick = true;
          showOverlay(true);
        "
        :class="{ light: light }"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/idea.svg"
          alt="idea"
        />
      </button>
    </div>
    <div class="side-menu__group-of-3 three-anim" :class="{ light: light }">
      <!-- <div class="tale"> -->
      <button
        class="side-menu__btn"
        :class="{ light: light }"
        @click="
          taleClick = true;
          showOverlay(true);
        "
        @mouseover="taleHover = true"
        @mouseleave="!taleClick && (taleHover = false)"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/book-icon.svg"
          alt="tale"
        />
      </button>
      <!-- </div> -->
      <!-- <div class="path"> -->
      <!-- <button
        class="side-menu__btn"
        :class="{ light: light }"
        @click="
          $emit('path');
          $router.push({ name: pushPath });
        "
      > -->
      <button
        class="side-menu__btn"
        :class="{ light: light }"
        @click="
          pathClick = true;
          showOverlay(true);
        "
        @mouseover="pathHover = true"
        @mouseleave="!pathClick && (pathHover = false)"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/route-icon.svg"
          alt="path"
        />
      </button>
      <!-- </div> -->

      <!-- <div class="shop"> -->
      <button
        class="side-menu__btn"
        :class="{ light: light }"
        @click="
          shopClick = true;
          showOverlay(true);
        "
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/shop-icon.svg"
          alt="idea"
        />
      </button>
      <!-- </div> -->
    </div>
    <!-- <div class="side-menu__group-of-2">
 
       <div class="money"> 
      <button class="side-menu__btn">
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/fox-money.svg"
          alt="idea"
        />
      </button>
      </div> 
    </div> -->
    <div
      v-show="coinsTarget && !hideMentor"
      class="side-menu__icon mentor menthor-anim"
      :class="{
        mentor_active: sendToMentorActive || sendToMentorHover,
        mentor_hover: sendToMentorHover && !sendToMentorActive,
        light: light,
        high_mentor: high_mentor,
      }"
      @mouseover="sendToMentorHover = true"
      @mouseleave="!sendToMentorClick && (sendToMentorHover = false)"
      @click="
        sendToMentorClick = true;
        showOverlay(true);
        playMentorSound();
      "
    >
      <p
        v-show="sendToMentorActive || sendToMentorHover"
        class="mentor__text m-0"
      >
        Отправить<br />
        ментору
      </p>
      <button
        class="side-menu__btn"
        :class="{ light: light }"
        style="background: unset"
      >
        <img
          class="side-menu__icon-img"
          :class="{
            'img-mentor': sendToMentorActive,
            'img-mentor-disable': !sendToMentorActive,
          }"
          :src="
            sendToMentorActive
              ? require('@/assets/img/icons/send-to-menthor-active.svg')
              : require('@/assets/img/icons/send-to-menthor.png')
          "
          alt="mentor"
        />
      </button>
    </div>

    <transition name="fade">
      <ModalSideRightMenu
        v-show="taleClick"
        :text="'Ты всегда можешь прочитать и прослушать сказку еще раз'"
        :left-btn="false"
        :right-btn-text="'Вернуться к сказке'"
        :right-btn-img="'book-icon.svg'"
        :rightBtnImgInvert="true"
        :img="'1'"
        :right-btn-color="'blue'"
        :push="pushTale"
        @close="closeTaleWindow"
        class="window-tale"
        type="tale"
        @pushMethod="
          $emit('tale');
          secondAudio.pause();
        "
      />
    </transition>
    <transition name="fade">
      <ModalSideRightMenu
        v-show="pathClick"
        :text="'Перемещаться по заданиям можно с помощью карты'"
        :left-btn="false"
        :right-btn-text="'Перейти к карте'"
        :right-btn-img="'route-icon.svg'"
        :rightBtnImgInvert="true"
        :img="'3'"
        :right-btn-color="'green'"
        :push="pushPath"
        @close="closePathWindow"
        class="window-path"
        type="tale"
        @pushMethod="
          $emit('tale');
          secondAudio.pause();
        "
      />
    </transition>
    <transition name="fade">
      <ModalSideRightMenu
        v-show="sendToMentorClick"
        :text="mentorWindowText"
        :activeMentor="sendToMentorActive"
        :left-btn="true"
        :img="'2'"
        :right-btn-text="'Отправить ментору'"
        :right-btn-img="
          sendToMentorActive
            ? 'send-to-menthor-active.svg'
            : 'send-to-menthor.svg'
        "
        :send="true"
        :right-btn-color="sendToMentorActive ? 'orange' : ''"
        :rightBtnImgInvert="sendToMentorActive ? false : true"
        @close="closeMenthorWindow"
        @send="
          $emit('send');
          secondAudio.pause();
        "
        class="window-mentor"
      />
    </transition>
    <transition name="fade">
      <div class="parents_window" v-show="parentsClick">
        <img
          class="parents_window-img"
          src="@/assets/img/hints/parent-recomend-bg.png"
          alt="parents"
        />
        <button class="parents_window-close-btn" @click="closeParentsWindow">
          <img src="@/assets/img/icons/close-icon.png" alt="close" />
        </button>
        <div class="parents_window-right">
          <h3>Рекомендации для родителей</h3>
          <p>
            Расскажите о своих домашних обязанностях ребенку и предложите
            составить список дел, в которых он может участвовать вместе с Вами
            (самостоятельно).
          </p>
        </div>
        <div class="parents_window-end">
          <button class="parents_window-btn">
            <img src="@/assets/img/icons/idea-icon-blue.svg" alt="parents" />
          </button>
          <button class="parents_window-sound-btn">
            <img src="@/assets/img/icons/volume.svg" alt="sound" />
          </button>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div class="shop_window" v-show="shopClick">
        <img
          class="shop_window-img"
          src="@/assets/img/hints/play-home-bg.png"
          alt="play-home"
        />
        <h3>Хочешь поиграть дома?</h3>

        <p>
          Комплект карточек «Ситуации», комплект карточек «Семья». можно купить
          в интернет-магазине
        </p>
        <button class="shop_window-btn">
          <div class="shop_window-btn-text">
            <p class="m-0">Купить</p>
          </div>
          <div class="shop_window-btn-img-block">
            <img src="@/assets/img/icons/shop-blue.svg" alt="shop" />
          </div>
        </button>
        <!-- <button class="shop_window-sound-btn" @click="playShopSound()">
          <img src="@/assets/img/icons/sound-white.svg" alt="sound" />
        </button> -->
        <button class="shop_window-close-btn" @click="closeShopWindow">
          <img src="@/assets/img/icons/close-icon.png" alt="close" />
        </button>
      </div>
    </transition>

    <transition name="fade">
      <div class="idea_window" v-show="ideaClick">
        <!-- <button
          v-b-modal.modal-idea
          @click="closeIdeaWindow"
          class="idea_window-btn mt-1"
        >  -->
        <button @click="closeIdeaWindow" class="idea_window-btn mt-1">
          <div class="idea_window-btn-text">
            <p class="m-0">Записать идею</p>
          </div>
          <div class="idea_window-btn-img-block">
            <img src="@/assets/img/icons/my_idea.svg" alt="shop" />
          </div>
        </button>

        <p class="mt-3">Пришла идея во время выполнения задания?</p>

        <p>Запиши её!</p>

        <img
          class="idea_window-img"
          src="@/assets/img/hints/hint-idea.png"
          alt="play-home"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import ModalSideRightMenu from "@/components/tales/global/menu/ModalSideRightMenu.vue";
import { PlayerMapper } from "@/store/player";
export default {
  name: "SideRightMenu",
  components: {
    ModalSideRightMenu,
  },
  props: {
    sendToMentorActive: Boolean,
    coinsTarget: Number,
    pushPath: String,
    pushTale: String,
    questPage: Number,
    coins: Number,
    light: Boolean,
    high_mentor: Boolean,
    hideMentor: {
      type: Boolean,
      default: false,
    },
  },
  data: function () {
    return {
      hover: false,

      foxiesHover: false,
      foxiesExpand: false,
      ideaClick: false,
      sendToMentorHover: false,
      sendToMentorClick: false,
      taleClick: false,
      taleHover: false,

      pathClick: false,
      pathHover: false,
      parentsClick: false,
      shopClick: false,
      overlay: false,
      secondAudio: new Audio(),
    };
  },
  computed: {
    mentorWindowText() {
      return this.sendToMentorActive
        ? "Ты готов отправить ментору на проверку?"
        : "Посмотри по-внимательнее, ты пока ответил не на все вопросы";
    },
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    closeAll() {
      this.foxiesHover = false;
      this.foxiesExpand = false;
      this.ideaClick = false;
      this.sendToMentorHover = false;
      this.sendToMentorClick = false;
      this.taleClick = false;
      this.taleHover = false;

      this.pathClick = false;
      this.pathHover = false;
      this.parentsClick = false;
      this.shopClick = false;
      this.overlay = false;
    },
    playSound(sound) {
      this.$emit("play");
      this.stopAllAudio();
      this.setRightAudio(new Audio(sound));
      this.playRightAudio();
    },
    playShopSound() {
      this.playSound(
        require("@/assets/sounds/app-voice/side-right-menu/22.mp3")
      );
    },
    playMentorSound() {
      if (!this.sendToMentorActive) {
        this.playSound(
          require("@/assets/sounds/app-voice/side-right-menu/13.mp3")
        );
      } else {
        this.playSound(
          require("@/assets/sounds/app-voice/side-right-menu/14.mp3")
        );
      }
    },
    closeMenthorWindow() {
      this.$emit("pause");
      this.stopAllAudio();
      this.showOverlay(false);
      // this.$emit("overlay", false);
      this.sendToMentorHover = false;
      this.sendToMentorClick = false;
    },
    closeTaleWindow() {
      this.$emit("pause");
      this.stopAllAudio();
      this.showOverlay(false);
      // this.$emit("overlay", false);
      this.taleHover = false;
      this.taleClick = false;
    },
    closePathWindow() {
      this.$emit("pause");
      this.stopAllAudio();
      this.showOverlay(false);
      // this.$emit("overlay", false);
      this.pathHover = false;
      this.pathClick = false;
    },
    closeParentsWindow() {
      this.$emit("pause");
      this.stopAllAudio();
      this.showOverlay(false);
      // this.$emit("overlay", false);
      this.parentsClick = false;
    },
    closeShopWindow() {
      this.$emit("pause");
      this.stopAllAudio();
      this.showOverlay(false);
      // this.$emit("overlay", false);
      this.shopClick = false;
    },
    closeIdeaWindow() {
      this.$emit("pause");
      this.stopAllAudio();
      this.showOverlay(false);
      // this.$emit("overlay", false);
      this.ideaClick = false;
    },
    showOverlay(overlay) {
      this.overlay = overlay;
    },
  },
  beforeRouteLeave(_, __, next) {
    this.stopAllAudio();
    _;
    __;
    next();
  },
};
</script>

<style>
.slide-menu-enter-active {
  transition: all 0.5s ease;
}
.slide-menu-leave-active {
  transition: all 0.5s ease;
}
.slide-menu-enter, .slide-menu-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: scale(0.6);
  opacity: 0.6;
}

.side-menu__icon,
.side-menu__group-of-3,
.side-menu__group-of-2 {
  position: absolute;
  right: 2%;
  border: 2px solid #ffffff30;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease;
}
.side-menu__icon:hover,
.side-menu__group-of-3:focus,
.side-menu__group-of-2:active {
  z-index: 9999;
}

.hover {
  z-index: 9999;
}
.side-menu__btn {
  border-radius: 50%;
  border: none;
  outline: none;
  background: #fefefe30;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
}

.light {
  z-index: 99999;
}

.side-menu__icon.light,
.side-menu__group-of-3.light,
.side-menu__group-of-2.light {
  border: 2px solid #9c9c9b30;
}

.side-menu__btn.light {
  border-radius: 50%;
  border: none;
  outline: none;
  background: #2b2a2910;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
}

.side-menu__icon-img {
  width: 100%;
  height: 100%;
}

/* //*FOXIES */
.foxies {
  top: 80px;
  flex-flow: row wrap;
  z-index: 0;
}

.foxies_hover {
  background: #ffffff50;
  width: auto;
  padding: 0 0.05vw;
  justify-items: flex-end;
}

.coin-moving-side {
  justify-self: flex-end;
  min-width: 71px;
  max-width: 71px;
  height: 81px;
  background-image: url("../../../../assets/img/icons/coinSprite.png");
  animation: coinMoving 0.5s steps(13) 6;
  transform: scale(0.7) translateX(-35%) translateY(-35%);
}

@keyframes coinMoving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1053px;
  }
}

.foxies__text {
  margin: 0;
  font-weight: 600;
  color: #2b2a2930;
  font-size: 1.6em;
  padding: 0 5px;
}
.foxies__text-span {
  color: #2b2a2970;
}
.foxies_expand {
  width: 250px;
  height: auto;
  border-radius: 2rem 1rem 1rem 2rem;
  right: 0;
  padding-right: 2vw;
  z-index: 100000;
  display: flex;
  justify-content: flex-end;
  background: white;
}
.foxies__help-text {
  flex: 1 1 100%;
  text-align: right;
}
.foxies__megaphone {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background: none;
}

.idea {
  top: 26%;
}

.side-menu__group-of-3,
.side-menu__group-of-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  z-index: 99999;
}

.side-menu__group-of-3 {
  top: 40%;
}

.side-menu__group-of-2 {
  top: 40%;
}

/* //*MENTOR BUTTON */

.mentor {
  top: 77%;
  z-index: 0 !important;
}
.mentor:hover {
  z-index: 9999 !important;
}
.mentor_active {
  justify-items: flex-end;
  width: 245px;
  background: #f08800;
}
.mentor_active > button {
  background: #fff !important;
}
.mentor_hover {
  background: lightgray;
}
.mentor_hover > button > img {
  filter: invert(0.2);
}

.mentor__text {
  width: 80%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1em;
}
.mentor.light > button > img {
  filter: invert(0.1);
}
.window-mentor {
  top: 61%;
}

.window-tale {
  top: 24%;
  height: auto;
}
.window-path {
  top: 30%;
  height: auto;
}

/* //*PARENTS WINDOW */

.parents_window {
  position: absolute;
  right: 0;
  z-index: 1111111;
  width: 40%;
  height: 40%;
  border-radius: 20px;
  background: skyblue;
  display: flex;
  justify-content: flex-end;
  padding-top: 1vw;
  padding-right: 1vw;
  bottom: 18%;
}

.parents_window-img {
  position: absolute;
  right: 55%;
  bottom: 0;
  width: 55%;
  height: auto;
}

.parents_window-right {
  width: 45%;
}
.parents_window-right > h3 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}
.parents_window-right > p {
  margin-top: 1vw;
  font-size: 0.8em;
  line-height: 1em;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  font-weight: bold;
}
.parents_window-end {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.parents_window-btn {
  border-radius: 50%;
  border: none;
  outline: none;
  background: #fff;
  width: 3vw;
  height: 3vw;
}
.parents_window-btn > img {
  width: 2.4vw;
  height: 2.4vw;
}
.parents_window-sound-btn {
  width: 20%;
  margin-bottom: 1vw;
  height: auto;
  border: none;
  outline: none;
  background: none;
}
.parents_window-sound-btn > img {
  filter: invert(1);
}
.parents_window-close-btn {
  position: absolute;
  top: 5%;
  left: 3%;
  border: none;
  outline: none;
  background: none;
  width: 1vw;
  height: 1vw;
}

/* //*SHOP WINDOW */
.shop_window {
  position: absolute;
  right: 0;
  z-index: 1111111;
  width: 260px;
  height: 235px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  top: 29%;
  text-align: center;
  padding: 1vw 2vw;
  background: #ffde3b;
  padding-top: 4vw;
}
.shop_window-img {
  position: absolute;
  bottom: 73%;
  width: 100%;
}
.shop_window > p {
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 0.9em;
  font-weight: 600;
  opacity: 0.7;
}
.shop_window > h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.1em;
}
.shop_window-btn {
  border: none;
  outline: none;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 0.05vw;
  border-radius: 50px;
  width: 100%;
}
.shop_window-btn-text {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding-right: 12%;
}
.shop_window-btn-img-block {
  background: #fff;
  border-radius: 50%;
  width: 2.5rem;
  margin: 0.15rem;
  height: 2.5rem;
  margin-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop_window-btn-img-block > img {
  background: #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.shop_window-sound-btn {
  position: absolute;
  top: -52%;
  left: 3%;
  border: none;
  outline: none;
  background: none;
  width: 20px;
  height: 20px;
}

.shop_window-close-btn {
  position: absolute;
  top: -52%;
  right: 3%;
  border: none;
  outline: none;
  background: none;
  width: 1vw;
  height: 1vw;
}
/* //*SHOP WINDOW */

/* //*IDEA WINDOW */
.idea_window {
  position: absolute;
  right: 0;
  z-index: 1111111;
  width: 285px;
  height: 300px;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 23%;
  text-align: center;
  padding: 1vw 2vw;
  background: #fefefe;
}
.idea_window-img {
  position: absolute;
  bottom: -75px;
  width: 100%;
}
.idea_window > p {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  opacity: 0.5;
  color: #2b2a29;
}
.idea_window-btn {
  border: none;
  outline: none;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 0.05vw;
  border-radius: 50px;
  width: 100%;
}
.idea_window-btn-text {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  /* padding-right: 20%; */
}
.idea_window-btn-img-block {
  background: #fff;
  border-radius: 50%;
  width: 2.5rem;
  margin: 0.15rem;
  height: 2.5rem;
  margin-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.idea_window-btn-img-block > img {
  background: #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.idea_window-sound-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  border: none;
  outline: none;
  background: none;
  width: 20px;
  height: 20px;
}

.idea_window-close-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  border: none;
  outline: none;
  background: none;
  width: 13px;
  height: 13px;
}
.idea_window-close-btn > img {
  filter: invert(1);
  width: 100%;
}
/* //*IDEA WINDOW */

.overlay {
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 68px;
  opacity: 0.3;
  z-index: 1000000;
  transition: 0.5s ease-in-out;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
}
.img-mentor {
  object-fit: contain;
  width: 90%;
  height: 100%;
}
.img-mentor-disable {
  object-fit: contain;
  width: 70%;
  margin-top: 2px;
  height: 100%;
}

/* ANIMATIONS */

.side-anim {
  animation: side-anim 1s 1 cubic-bezier(0.15, 0.08, 0.4, 1.35);
}

@keyframes side-anim {
  0% {
    transform: translateX(100%);
    opacity: 0;
    scale: 0.1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    scale: 1;
  }
}

/* @media (max-width: 1200px) {
  .foxies__text {
    font-size: 1.2rem;
  }
  .foxies__help-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .shop_window > h3 {
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
  .shop_window > p {
    font-size: 0.65em;
    line-height: 0.8em;
  }
} */
/* 
@media (max-height: 527px) {
  .mentor__text {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
  .foxies__text {
    font-size: 1em;
  }
  .foxies__help-text {
    font-size: 0.8rem;
  }
  .foxies {
    top: 60px;
  }
  .idea {
    top: 100px;
  }
  .side-menu__group-of-3 {
    top: 140px;
  }
  .mentor {
    top: 80%;
  }
  .side-menu__btn {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.1rem;
  }
  .window-mentor {
    top: 160px;
  }
  .window-tale {
    top: 62px;
  }
  .shop_window {
    width: 16%;
    top: 90px;
    padding: 1vw 1vw;
    padding-top: 3vw;
  }
  .shop_window > h3 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 0.9rem;
  }
  .shop_window-btn {
    height: auto;
    padding: 0 0.1rem;
  }
  .shop_window-btn-img-block {
    width: 1.5rem;
    margin: 0.1rem;
    height: 1.5rem;

    margin-left: 7%;
  }
}

@media (max-height: 527px) {
  .window {
    width: 500px !important;
    height: 120px !important;
  }
}
@media (max-width: 800px) and (max-height: 527px) {
  .window {
    width: 400px !important;
    height: 100px !important;
  }
  .window-btn {
    width: 86%;
  }
  .window-tale {
    top: 68px;
  }
  .window-mentor {
    top: 65%;
  }
  .shop_window-sound-btn {
    top: -30%;
    width: 0.8rem;
    height: 0.8rem;
  }
  .shop_window-sound-btn > img {
    width: 100%;
    height: 100%;
  }
  .shop_window-close-btn img {
    width: 100%;
    height: 100%;
  }
  .shop_window-close-btn {
    top: -30%;
    width: 0.8rem;
    height: 0.8rem;
  }
  .shop_window {
    width: 23%;
    top: 55px;
    padding: 1vw 1vw;
    padding-top: 3rem;
  }
  .shop_window-btn-text {
    padding-right: 5%;
  }
}
@media (min-height: 800px) {
  .window-tale {
    top: 23%;
  }
  .window-mentor {
    top: 61%;
  }
  .window-btn {
    width: 88%;
  }
}
@media (max-height: 420px) {
  .mentor {
    top: 75%;
  }
  .window-mentor {
    top: 50%;
  }
} */
@media (min-width: 1441px) and (min-height: 800px) {
  .parents_window-right > h3 {
    font-size: 1.5em;
  }
  .shop_window > p {
    font-size: 12px;
    line-height: 14px;
  }
  .shop_window {
    width: 18%;
    padding: 1vw 2rem;
    padding-top: 4vw;
    top: 230px;
    height: 250px;
  }
  .shop_window-btn-img-block {
    width: 3rem;
    margin: 0.2rem;
    height: 3rem;
    margin-left: 7%;
  }
  .shop_window > h3 {
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
  .shop_window-sound-btn,
  .shop_window-close-btn {
    top: -65%;
  }
  .foxies {
    top: 80px;
  }
  .idea {
    top: 180px;
  }
  .side-menu__group-of-3 {
    top: 280px;
  }
  .mentor {
    top: 78%;
  }
  .window-mentor {
    top: 65%;
  }

  .window-tale {
    top: 185px;
  }

  .side-menu__btn {
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
  }
}

@media only screen and (min-device-height: 720px) and (max-device-height: 920px) {
  .coin-moving-side {
    left: 37%;
    top: -40%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .side-menu__icon,
  .side-menu__group-of-3,
  .side-menu__group-of-2 {
    z-index: 0 !important;
  }
  .side-menu__icon:hover,
  .side-menu__group-of-3:focus,
  .side-menu__group-of-2:active {
    z-index: 9999 !important;
  }
  .idea,
  .side-menu__group-of-3,
  .side-menu__group-of-2 {
    top: 90px;
  }

  .side-menu__group-of-3,
  .side-menu__group-of-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .idea {
    right: unset;
    left: 4%;
  }
  .side-menu__group-of-3 {
    right: calc(50% - 70px);
  }
  .foxies {
    top: 90px;
    right: 3%;
    flex-flow: row wrap;
  }
  .coin-moving-side {
    left: 37%;
    top: -40%;
  }
  .mentor {
    top: unset;
    bottom: 30px;
    right: 3%;
  }
  .high_mentor {
    top: unset;
    bottom: 90px;
  }

  .window-path {
    top: 45%;
    right: calc(50% - 350px) !important;
  }
  .window-tale {
    top: 45%;
    right: calc(50% - 350px) !important;
  }
  .window-mentor {
    top: 45%;
    right: calc(50% - 350px) !important;
  }
  .idea_window {
    right: calc(50% - 150px) !important;
    top: 22%;
  }
  .shop_window {
    right: calc(50% - 140px) !important;
    top: 42%;
  }

  /* //*SHOP WINDOW */
  .shop_window {
    width: 280px;
    height: 260px;
    padding: 1.2rem 1.4rem;
    padding-top: 0;
  }
  .shop_window-img {
    bottom: 73%;
    width: 100%;
  }
  .shop_window > p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
  .shop_window > h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
  }
}
</style>