<template>
  <div class="h-100 child-sidepanel-bg no-select">
    <div class="row pt-5 mb-2"></div>
    <router-link :to="{ name: 'child-tales' }" active-class="active">
      <div class="row child-row no-wrap margin-side-menu-adaptive pl-2">
        <div class="col-md-12 my-auto text-center p-0">
          <img
            src="@/assets/img/icons/child-personal-page.png"
            class="side-icon-tale"
          />
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'child-dictionary' }" active-class="active">
      <div class="row child-row no-wrap margin-side-menu-adaptive pl-2">
        <div class="col-md-12 my-auto text-center p-0">
          <img
            src="@/assets/img/icons/dictionary-child.png"
            class="side-icon-tale"
          />
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'child-notebook' }" active-class="active">
      <div class="row child-row no-wrap margin-side-menu-adaptive pl-2">
        <div class="col-md-12 my-auto text-center p-0">
          <img
            src="@/assets/img/icons/notebook-child.png"
            class="side-icon-tale"
          />
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'child-profile' }" active-class="active">
      <div class="row child-row no-wrap margin-side-menu-adaptive pl-2">
        <div class="col-md-12 my-auto text-center p-0">
          <img
            src="@/assets/img/icons/profile-child.png"
            class="side-icon-tale"
          />
        </div>
      </div>
    </router-link>

    <div class="row mt-4 mb-3"></div>
    <div class="row margin-side-menu-exit">
      <div class="col-md-12 text-center p-0">
        <button @click="logOut()" class="btn btn-block">
          <img
            src="@/assets/img/icons/exit-child.png"
            class="side-icon-tale-exit"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";
export default {
  name: "SidePanel",
  computed: { ...AuthMapper.mapState(["error"]) },
  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "child-login" });
      } else {
        console.log(this.error);
      }
    },
  },
};
</script>

<style>
.side-icon-tale,
.side-icon-tale-exit {
  width: 25%;
  height: auto;
}

.side-icon-tale-exit {
  width: 40%;
}
.margin-side-menu-exit {
  margin-top: 30%;
}
.margin-side-menu-adaptive {
  margin: 0;
}

@media (max-width: 900px) {
  .side-icon-tale,
  .side-icon-tale-exit {
    width: 35%;
    height: auto;
  }
}
</style>