/* .custom-checkbox,
.like-checkbox,
.activity-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.activity-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  background-size: 75%;
  transition: 0.3s ease;
  opacity: 1;
}
.activity-checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-image: url("../assets/img/BusinessPractice/icons/checked.svg");
  opacity: 0.5;
}
.activity-checkbox:checked + label::before {
  background-image: url("../assets/img/BusinessPractice/icons/checked.svg");
}

.checkbox-date-disabled {
  display: none;
}
.checkbox-date-active {
  opacity: 1;
}



.custom-checkbox + label,
.like-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #ef7f1a;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}

.like-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background: url("../assets/img/BusinessPractice/icons/heart.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95%;
  opacity: 0.3; 
}

.like-checkbox:not(:disabled):not(:checked) + label:hover::before {
  opacity: 0.5;
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #f59f53a8;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #f59f53a8;
  border-color: #f59f53a8;
}
.like-checkbox:checked + label::before {
  opacity: 1;
}
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.1rem #fb9237a8;
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #f59f53a8;
}

.like-checkbox:checked + label::before {
  opacity: 1;
}
.custom-checkbox:checked + label::before {
  border-color: #ef7f1a;
  background-color: #ef7f1a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
 */
