/*** CSS RESET ***/
* {
  margin: 0;
  padding: 0;
}
p {
  margin: 5px 0 10px 0;
}
html,
body,
#app {
  width: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.form-control,
.form-control::placeholder {
  transition: 0.2s linear;
}
.form-control:focus::placeholder,
.form-control:hover::placeholder {
  color: #000000;
}
.form-control:focus {
  border-color: #000000;
}
img {
  pointer-events: none;
}
li,
ul {
  list-style-type: none;
}
.hooper:focus,
.hooper-track {
  outline: none;
}
.hooper-track {
  border: none;
}
::-webkit-scrollbar {
  width: 0;
}
/*** GENERAL STYLES ***/
body {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  background: #f0eff2;
  overflow-x: hidden;
}
a {
  color: #000000;
  transition: 0.4s ease;
}
a:hover {
  color: #929292;
  text-decoration: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.hooper {
  height: 100% !important;
}
.navbar-light {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.row-header {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  height: 60px;
}
.round-icon {
  border-radius: 50%;
  border: 2px solid #ed8719;
  box-sizing: border-box;
}
.white-link {
  color: #ffffff;
}
.rotating-arrow,
.rotate-90 {
  transition: 0.4s ease;
}
.rotate-180 {
  transform: rotate(180deg);
}
#link-a-profile:hover .rotating-arrow {
  transform: rotate(180deg);
}
.rotate-90:hover {
  transform: rotate(90deg);
}
.no-select {
  user-select: none;
}
.normal-text {
  font-weight: 400;
}
.semi-bold-text {
  font-weight: 500;
}
.bold-text {
  font-weight: bold;
}
.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blockNone {
  display: none !important;
}
.w-20 {
  width: 20% !important;
}
/*** REGISTRATION AND LOGIN ***/

.wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}
.full-height-container {
  height: 100vh;
}
.signinup-bg {
  background: url("../img/background/bg.png") no-repeat center;
  background-size: cover;
}
.signinup {
  min-width: 500px;

  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  color: #1e3a6c;
}
.signinup__header-blue {
  background: #1e3a6c;
  min-height: 45px;
}
.signinup__header-orange {
  background: #ed8719;
  min-height: 45px;
}
.header-text {
  font-weight: 500;
  font-size: 24px;
  color: #fefefe;
}
.form__label {
  font-size: 16px;
  color: #1e3a6c;
}

.form__button {
  background: #1e3a6c;
  border-radius: 3px;
  min-width: 200px;
  height: 40px;
}
.form__button:focus,
.form__button:active {
  background: #1e3a6c;
  box-shadow: 0px 0px 25px #1e3a6c30;
}
.button-blue {
  background: #1e3a6c;
  transition: 0.5s ease;
}
.button-orange {
  background: #ed8719;
  transition: 0.5s ease;
}
.button-orange:focus,
.button-orange:active {
  box-shadow: 0px 0px 25px #ed871930;
  background: #ed8719 !important;
}
.form__button p {
  font-weight: 500;
  font-size: 16px;
  color: #fefefe;
}

.form-check-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.form-check-input {
  width: 20px;
  height: 20px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 2px;
}
.login__rememberlink {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #1e3a6c;
}
h1 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}
.row {
  margin: 0;
}
.profile-popup {
  transition: 0.1s linear;
}
.profile-popup:hover,
.profile-popup:focus,
.profile-popup:active {
  background: rgba(237, 135, 25, 0.28);
}
.chat-message,
.chat-my-message {
  border: 0.3px solid #0000003d;
  box-sizing: border-box;
  border-radius: 5px;
}
.chat-my-message {
  background: #feebd7;
}
.chat-message {
  background: #fefefe;
}
.message-text {
  font-size: 12px;
}
.chatbody {
  background: #f3f3f3;
}
.typing-message {
  background: #fefefe;
  min-height: 50px;
}
/*** PERSONAL PAGE ***/

.navbar__parent,
.row__table,
.hover-tasks {
  height: 60px;
  transition: 0.5s;
}
.brand__image {
  max-height: 53px;
}

.personalpage-bg {
  background: url("../img/background/parent-page.png") no-repeat center right;
  background-size: contain;
}
.sidepanel-bg {
  background: url("../img/background/business-side-fox.png") no-repeat,
    url("../img/background/sidepanel.png") no-repeat, #082456;
  background-size: 60%, 100%;
  background-position-y: 98%, 100%;
  background-position-x: 30%, 50%;
}
.sidepanel-bg-admin {
  background: #082456;
}
.page-content {
  height: calc(100vh - 60px);
}
.page-row {
  width: 100% !important;
  height: 51px;
  color: #9aafd5;
  transition: 0.4s ease;
  border-right: 6px solid #082456;
}
.page-row:hover {
  border-right: 6px solid #9aafd5;
}
.page-text,
.rank-description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1rem;
}
.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pages-brand {
  width: 250px;
}
.pages-tale {
  width: 85px !important;
}
.btn-log-off {
  background: url("../img/icons/exit.png") no-repeat center, #ffffff00;
  background-position-x: 15%;

  border: 1px solid #9aafd5;
  box-sizing: border-box;
  border-radius: 3px;
  color: #9aafd5;
  transition: 0.5s;
}
.btn-log-off p {
  margin-top: 0;
  margin-bottom: 0;
}
.btn-log-off:hover {
  background: url("../img/icons/exit-hover.png") no-repeat center, #ffffff00;
  background-position-x: 15%;

  color: #eb8300;
  border: 1px solid #eb8300;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.active .page-row {
  background: #1e3a6c;
  border-right: 6px solid #9aafd5;
  color: #fefefe;
}

.table.b-table td,
.table.b-table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}
.table.b-table {
  max-width: 100% !important;
  table-layout: fixed;
}
.table.b-table tr {
  max-width: 100%;
}
/*** MY PROFILE ***/

.container-parent-page,
.my-child-container,
.tale-container,
.agent-container {
  background: #fefefe;
  transition: 0.5s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.agent-height {
  overflow-y: scroll;
  height: 83vh;
}
.nav-tabs {
  border: none;
}
.nav-link-regular {
  font-family: Montserrat;
  font-style: normal;
  color: #a4a4a4;
  font-size: 16px;
  line-height: 20px;

  border: 1px solid #c4c4c4 !important;
  border-radius: 0px !important;
}
.nav-link-regular.active {
  color: #000000 !important;
  background: #f0eff2 !important;
  border-bottom: 4px solid #9aafd5 !important;
}
.input__profile {
  width: 300px !important;
  height: 40px;
}
.btn-profile-tab {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  color: #ed8719;
  border-radius: 3px;
  background: none;
}
.btn-profile-tab p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.btn-profile-tab:hover {
  color: #000000;
  background: #ed8619d5;
}

#savebutton,
#addchildbutton {
  width: 144px;
}
#changepasswordbutton {
  width: 180px;
}
#photo-load {
  display: none;
}
#sendtomentor {
  width: 190px;
}

.pointer {
  cursor: pointer !important;
}
hr {
  border: 2px solid #9aafd5;
}
.table-header,
.table-item {
  font-size: 16px;
  line-height: 20px;
}
.table-header {
  font-weight: bold;
}
.table-item {
  font-weight: 500;
}

.hr-invisible {
  border: none;
}
.row__table:hover {
  background: #efefef;
}

/*** MOM DAD CLUB ***/
.mdc-table-item,
.tale-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s ease;
}
.signup-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #082456;
}
.training-header {
  background: #082456;
  height: 40px;
}
.training-header p {
  color: #fefefe;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.btn-filter {
  background-color: #fefefe !important;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 265px;
  transition: 0.3s;
  height: 30px;
  background: url("../img/icons/filter-button-arrow.png") no-repeat center right;
  background-position-x: calc(100% - 20px);
}
.btn-filter > p {
  font-size: 14px;
  line-height: 17px;
  color: #2b2a29;
  margin: auto 0;
}
.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active {
  color: #000000;
  border: 1px solid #ed8719;
}
.hidden {
  display: none;
}
.dialog-training {
  max-width: 650px !important;
}
.content-training {
  height: 360px;
}
.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.training-start-text {
  line-height: 22px;
  font-weight: 600;
  font-size: 18px;
}

/*** MY CHILDREN ***/

.input-child {
  width: 250px;
}
.mcc-width {
  width: 900px;
}

.pay-to-account {
  height: 40px;
}
.rank-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.dictionary-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.dictionary-hr {
  width: 600px;
  border: none;
  border-bottom: 1px solid #9aafd5;
}
.text-bolder {
  font-size: 18px;
  font-weight: 600;
}
.input-textarea {
  width: 450px !important;
  min-height: 170px;
  max-height: 250px;
}
.slogan-textarea {
  width: 380px !important;
  min-height: 105px !important;
  max-height: 210px;
  max-width: 500px;
}
.perfomance-no-scroll,
.dictionary-no-scroll,
.tale-no-scroll {
  overflow-y: scroll;
}
.perfomance-no-scroll {
  max-height: 55vh;
}
.dictionary-no-scroll {
  max-height: 65vh;
}
.tale-no-scroll {
  max-height: 30vh;
}
.perfomance-no-scroll::-webkit-scrollbar,
.dictionary-no-scroll::-webkit-scrollbar {
  width: 0;
}
.hover-tasks:hover {
  background: #efefef;
}
.hr-task,
.notification-hr {
  border: none;
  border-bottom: 1px solid #9aafd5;
}

/*** CHAT IN PERSONAL PAGE - CHILDREN - CHILD ***/

.chat-header-bg,
.chat-header-child-bg {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.chat-header-bg {
  background: #082456;
}
.chat-header-child-bg {
  background: #ffde3b;
}
.chat-header-top {
  height: 50px;
}
.chat-header-bottom {
  height: 35px;
}
.nav-link-chat,
.nav-link-chat-child {
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}
.nav-link-chat {
  color: #fefefe;
}
.nav-link-chat-child {
  color: #000000;
}
.nav-link-chat:hover {
  border: none;
  color: #fefefe !important;
  background: #9aafd550 !important;
}
.nav-link-chat.active {
  border: none;
  color: #fefefe !important;
  background: #9aafd5 !important;
}
.nav-item {
  transition: 0.5s;
}
.container-chat {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 80vh;
}
.chat-textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.chat-textarea {
  border: none;
  resize: none;
  overflow: auto;
  font-size: 14px;
  line-height: 19px;
}
.messages {
  height: 60vh;
}
/*** POPOVERS ***/
.popover-profile {
  width: 220px;
}
.popover-notification {
  width: 380px;
}
.popover-ranks {
  width: 615px;
  z-index: 9999;
}
.popover-row {
  transition: 0.5s;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.popover-row:hover {
  border-radius: 5px;
  background: #efefef;
}
.popover-button {
  height: 25px;
}
.popover-body {
  padding: 0;
}
.popover {
  max-width: 100% !important;
}
.notification-count-header,
.notification-count-menthor,
.notification-count-child {
  position: absolute;
  font-size: 10px;
  border-radius: 50%;
  height: 14px;
  padding-left: 1px;
  width: 14px;
  color: white;
  background: #ec6548;
}
.notification-count-header {
  right: 12px;
  top: 11px;
}
.notification-count-menthor {
  top: 5px;
}

.rank-name-text {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
/*** Ментор ***/

.row__deny-textarea {
  height: 250px;
}
.request-link {
  filter: grayscale(100%);
  transition: all 0.3s;
}
.request-link:hover {
  filter: none;
}
.deny-textarea {
  background: #f0eff2;
  border: 0.3px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 140px;
  max-height: 180px;
}
.table-item-group {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.full-grey {
  filter: grayscale(100%);
}
.accept,
.deny {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.accept {
  color: #082456;
}
.deny {
  color: #ec6548;
}
.dicttionary-groups {
  background: #082456;
}
.group-link-sidepanel {
  color: #9aafd5;
}
.group-link-sidepanel:hover {
  color: #fefefe;
}

/*** РЕБЕНОК ***/

.childlogin-bg {
  background: url("../img/background/hello-fox.png") no-repeat left bottom,
    url("../img/background/bg-login-child.png") no-repeat center;
  background-size: 21.5%, cover;
  background-position-x: 2%, 50%;
}
.wrapper-steps {
  margin: 0 auto;
  user-select: none;
  width: 750px;
}
.steps-bg {
  background: #ed8719;
  height: 80px;
}
.step-text {
  color: #fefefe;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.btn-inline-step {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  border-radius: 3px;
  color: #ed8719;
}
.btn-inline-step p {
  color: #ed8719;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.row-step1 {
  height: 45px;
}
.step-1-body {
  height: 230px;
}
.step-3-body {
  height: 300px;
}
.btn-step-2 {
  height: 35px;
  width: 100px;
}
#text-area-motto {
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  border-radius: 3px;
  width: 300px;
  height: 100px;
  resize: none;
}
.motto-pick-label {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.menu-motto {
  width: 335px;
}
.row-avatars {
  height: 65px !important;
}
.no-pointer {
  cursor: default !important;
}
.general-container-child {
  transition: 0.5s ease;
}
/** ChildPage **/
.childpage-bg {
  background: url("../img/background/bg-child-page.png") no-repeat center;
  background-size: cover;
}
.child-sidepanel-bg {
  background: url("../img/background/sidepanel-child.png") no-repeat, #ffde3b;
  background-size: 100%;
  overflow-y: auto;
  background-position-y: 100%;
  background-position-x: 50%;
}
.load-photo-text {
  font-size: 0.8rem;
}
.full-height {
  height: calc(100% - 68px);
}
/* Боковое меню */
.child-row {
  width: 100% !important;
  height: 51px;
  color: #2b2a29;
  transition: 0.4s ease;
  border-right: 6px solid #ffde3b;
}
.child-row:hover {
  border-right: 6px solid #ed8719;
}
.active .child-row {
  background: rgba(237, 135, 25, 0.7);
  border-right: 6px solid #ed8719;
  color: #fefefe;
}
.fox-invisible-button,
.fox-lil-bg-image {
  position: absolute;
  left: 7%;
  bottom: 20%;
}
.fox-invisible-button {
  width: 12%;
  height: 12%;
  border: none;
  background: none;
}
.button-fox-image {
  width: 100%;
  height: auto;
}
.fox-lil-bg-image {
  width: 140px;
}
.btn-log-off-child {
  border-radius: 5px;
  color: #ffffff;
  transition: 0.5s;
  background: url("../img/icons/exit-child.png") no-repeat center, #ed8719;
  background-position-x: 15%;
}
.btn-log-off-child:hover {
  color: #000000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.rank-name {
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ed8719;
}
.row-child-header,
.row-child-header-big {
  height: 56px;
  background: url("../img/images/underheader.png") no-repeat center;
  background-position-x: 2%;
  background-size: contain;
}

/* Чат для ребенка */
.header-thin-bg {
  background-size: 181px 56px;
}
.child-chat {
  max-width: 305px;
}
.child-bg {
  background: #ffde3b;
}

.nav-link-chat-child:hover {
  border: none;
  color: #000000 !important;
  background: #ed86198f !important;
}
.nav-link-chat-child.active {
  border: none;
  color: #000000 !important;
  background: #ed8719 !important;
}

/* Профиль ребенка */
.profile-motto {
  width: 365px !important;
}
.child-dictionary-hr {
  border: 1px solid #ed8719;
}
.term-link-add {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ed8719 !important;
}
.term-link-add:hover {
  color: #000000 !important;
}
.tale-row,
.disabled-row {
  height: 65px;
}
.tale-row {
  transition: 0.5s ease;
  background: url("../img/icons/row-tale-bg.png") no-repeat center;
  background-position-x: 1.5%;
  border: solid 1px #00000000;
}
.tale-row:hover {
  color: #ed8719;
  border-top: solid 1px #0000002c;
  border-bottom: solid 1px #0000002c;
}
.disabled-row {
  background: url("../img/icons/row-tale-bg-disabled.png") no-repeat center,
    #e8e8e8;
  background-position-x: 1.5%;
}
.disabled-text {
  color: #787878 !important;
}
.big-close-icon {
  width: 30px;
}
.tale-container {
  height: 720px;
}
.undertale-height {
  height: 45px;
}
.btn-ask-question {
  width: 180px;
  background: #ffde3b;
  border-radius: 5px;
}
.btn-ask-question p {
  transition: 0.5s ease;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.btn-ask-question:hover p {
  color: #ff8400;
}
.plug {
  height: 100%;
}

/*** Приветственное модальное окно ***/

#greetingsmodal .modal-dialog {
  min-width: 100vw;
  margin: 0;
}
#greetingsmodal___BV_modal_content_ {
  min-height: 100vh;
  background: url("../img/background/bg-rules.png") no-repeat right, #fefefec0;
  padding: 0%;
}
h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #ee8402;
}
.modal-hello-fox {
  width: 390px;
}
.btn-modal-understand {
  background: #ed8719;
  border-radius: 5px;
  width: 130px;
  height: 45px;
  transition: 0.3s ease;
}
.btn-modal-understand p {
  color: #fefefe;
  font-size: 18px;
  transition: 0.3s ease;
}
.btn-modal-understand:hover {
  box-shadow: 0px 2px 7px #0000007c;
}
.btn-modal-understand:hover p {
  color: #000000;
}

/* Выбор ребенком девиза */

.b-dropdown-text {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: normal;
}
.b-dropdown button {
  background: url("../img/icons/filter-button-arrow.png") no-repeat center,
    #fefefe00;
  background-position-x: 90%;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  text-align: left;
  padding-left: 25px;
  box-sizing: border-box;
  color: #000000;
  transition: 0.3s ease;
}
.b-dropdown:hover button {
  background: url("../img/icons/filter-button-arrow.png") no-repeat center,
    #ed8719;
  background-position-x: 90%;
}

.dropdown-toggle::after {
  display: none;
}
.green-text {
  color: #1c8845 !important;
}
.red-text {
  color: #f22929 !important;
}
.blue-text {
  color: #2c61bf !important;
}
.orange-text {
  color: #e4690b !important;
}
.gray-text {
}
.display-ipad {
  display: none;
}
.display-pc {
  display: unset;
}
.date-picker-without-icon {
  align-items: center !important;
  height: 30px !important;
  margin-bottom: 20px !important;
  width: 93% !important;
  margin-top: 0px !important;
}
.date-picker-without-icon > button {
  visibility: hidden !important;
}
.date-picker-without-icon > label {
  margin-left: -35px !important;
}

.agent-file-load {
  padding: 3% 7%;

  background: #efefef00;
  border: 1.5px solid #9aafd5;
  box-sizing: border-box;
  border-radius: 56px;
  font-size: 14px;
  line-height: 17px;
  color: #2b2a29;

  transition: 0.5s ease;
}
.agent-file-load:hover {
  border: 1px solid #000000;
  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.282);
}
.agent-file-load:focus {
  color: #000000;
  border: 1px solid #000000;
}
.agent-file-load.disabled {
  background: lightgrey;
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff;
}
.breadcrumb-text {
  color: #666666;
  font-size: 14px;
  transition: 0.5s ease;
}
.breadcrumb-text:hover {
  text-align: underline;
}
.header-child-big {
  font-size: 30px;
  line-height: 37px;
  color: #2b2a29;
  font-weight: 500;
  margin: 0;
}
.subheader-child-big {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2b2a29;
}
.a-row-data-label {
  font-weight: 400;
  font-size: 1rem;
}
.a-row-data {
  font-size: 1rem;
  font-weight: 500;
}
.hr-branch {
  border: none;
  border-bottom: 1px solid #c4c4c4;
}
.hr-table {
  border: 1px solid #efefef;
  box-shadow: 0px 1px 3px #efefef;
  margin: 0;
}
#dropdown-perpages > button {
  padding: 0;
  border: none;
  background-color: #ffffff00 !important;
  border-bottom: 1px solid #4a4a4a;
  border-radius: 0;
  width: 40px;
}
#dropdown-perpages > button:hover {
  background-color: #ffffff00 !important;
  color: #2b2a29;
}

.show > #dropdown-perpages.dropdown-toggle {
  border: none !important;
  background: #ffffff00 !important;
}
.header-admin {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}
.dropdown-menu.show {
  background: #ffffff;
  display: block;
}
.search-bg {
  background: url("../img/admin-icons/search.svg") no-repeat;
  background-size: 20px;
  background-position-y: 55%;
  background-position-x: 98%;
  padding-right: 30px;
}
.custom-select {
  background: url("../img/admin-icons/arrow.svg") no-repeat !important;
  background-size: 21px;
  background-position-y: 50% !important;
  background-position-x: 95% !important;
  padding-right: 30px;
}
.money-bg {
  background: url("../img/admin-icons/money.svg") no-repeat !important;
  background-size: 21px;
  background-position-y: 50% !important;
  background-position-x: 95% !important;
  padding-right: 30px;
}
.dropdown-item {
  font-size: 16px;
}
.top-input {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
}
.top-input:focus {
  box-shadow: none;
}
.w-40 {
  width: 40%;
}
.w-20 {
  width: 20%;
}
.w-fit {
  width: fit-content;
}
.analytics-tab-title {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}
.blue-link {
  color: #0038ff;
}
.blue-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
.dropdown-menu.show {
  display: block;
  width: fit-content !important;
  min-width: 100% !important;
}
.no-border {
  border: none !important;
}
.cut-text {
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Запрещаем перенос строк */
}
.normal-text {
  font-weight: 400;
}
