/* @media screen and (max-width: 1100px) {
  h1 {
    font-size: 1.15rem;
  }
  .rank-name {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .bold-menu-text {
    font-size: 1rem;
  }
  .normal-menu-text {
    font-size: 0.65rem;
  }
  .tale-text {
    font-size: 1rem;
    line-height: 1rem;
  }
  .white-menu-text {
    font-size: 0.6rem;
  }
}

@media (max-height: 600px) {
  .full-height {
    height: calc(100% - 40px);
  }
  .menu-row {
    height: 40px;
  }
  .bold-menu-text {
    font-size: 20px;
  }
  .normal-menu-text {
    font-size: 10px;
  }
}
@media (max-width: 800px) and (max-height: 527px) {
  .bold-menu-text {
    font-size: 15px;
  }
  .normal-menu-text {
    font-size: 8px;
  }
}
@media screen and (max-width: 900px) {
  .white-menu-text {
    font-size: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .row-child-header {
    background-size: 12vw;
  }
  .row-child-header-big {
    background-size: 18vw;
  }
  .btn-log-off-child {
    background: #ed8719;
  }
}
@media (min-width: 1101px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .btn-log-off-child {
    background: url("../img/icons/exit-child.png") no-repeat center, #ed8719;
    background-position-x: 15%;
  }
  .btn-log-off {
    background: url("../img/icons/exit.png") no-repeat center;
    background-position-x: 15%;
    border: 1px solid #9aafd5;
    box-sizing: border-box;
    border-radius: 3px;
    color: #9aafd5;
    transition: 0.5s;
  }
  .btn-log-off p {
    margin-left: 1.5em;
  }
  .btn-log-off:hover {
    background: url("../img/icons/exit-hover.png") no-repeat center;
    background-position-x: 15%;
    color: #eb8300;
    border: 1px solid #eb8300;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .bold-menu-text {
    font-size: 25px;
  }
  .normal-menu-text {
    font-size: 15px;
  }
  .icon-header {
    width: auto;
    height: 30px;
    padding-right: 10%;
  }
  .display-ipad {
    display: unset;
  }
  .display-pc {
    display: none;
  }
  .ipad-scroll {
    overflow-y: scroll;
  }
  .full-height {
    padding: 0;
    height: calc(100vh - 155px);
    border-radius: 0;
  }
}
@media (min-width: 1441px) and (min-height: 850px) {
  .load-photo-text {
    font-size: 1rem;
  }
  .child-row {
    height: 7vh;
  }
  .row-child-header {
    background-size: 8vw;
  }
  .row-child-header-big {
    background-size: 12vw;
  }

  .icon-header-number {
    height: 1.5vw;
    margin-top: 0.5vh !important;
    margin-right: 0.3vw;
  }
  .next-fhd {
    padding-right: 4px;
  }
  .agent-height {
    height: 86vh;
  }
  /* Page 5 */
  .icon-header {
    height: 1.5vw;
  }
  .margin-bd {
    margin-left: 10%;
    margin-top: 1%;
  }
  /* Page 5 */

  /* Page 6 */
  .column-rule {
    height: 13vh;
    background: red;
  }
  .margin-row {
    margin-left: 15%;
    margin-right: 15%;
  }
  .row-icon {
    width: 355px;
    height: 3px;
  }
  /* Page 6 */

  /* Page 7 */
  .margin-p7 {
    margin-top: 1.75em !important;
  }
  /* Page 7 */

  /* Page 8 */
  .text-description {
    font-size: 30px;
    line-height: 34px;
    padding-right: 20px;
  }
  .btn-blue {
    width: 80%;
  }
  .button-buy-text {
    font-size: 22px;
    line-height: 26px;
  }
  /* Page 8 */
  /* Page 11 */
  .hint-wrap {
    height: 285px;
    width: 1035px;
  }
  .hint-text {
    font-size: 22px;
    line-height: 21px;
  }
  .margin-p11 {
    margin-top: 0em !important;
  }
  .padding-p11 {
    padding-top: 2em;
  }
  /* Page 11 */

  /* Page 12 */
  .background-page-12 {
    background-size: 100vh;
  }
  .p12-margin {
    margin-top: 0em;
  }
  .p12-lil-margin {
    margin-top: 0.5em;
  }

  /* Page 12 */

  /* Page 14 */
  .padding-p14 {
    padding-left: 8em;
    padding-right: 8em;
  }
  .card-height {
    height: 103px;
    border-radius: 25px;
  }
  .card-text-header {
    line-height: 27px;
    font-size: 22px;
  }
  .card-task-background1 {
    background-size: 45%;
  }
  .card-task-background2 {
    background-size: 37%;
  }
  .card-task-background3 {
    background-size: 45%;
  }
  .card-task-background4 {
    background-size: 37%;
  }
  .card-task-background5 {
    background-size: 34%;
    background-position-x: 85%;
  }
  .card-task-background6 {
    background-size: 45%;
  }
  .card-task-background7 {
    background-size: 37%;
  }
  .card-task-background8 {
    background-size: 35%;
  }
  .card-task-background9 {
    background-size: 32%;
  }
  .card-task-background10 {
    background-size: 40%;
  }
  .card-task-background11 {
    background-size: 40%;
  }
  .card-task-background12 {
    background-size: 30%;
  }
  .card-task-background13 {
    background-size: 29%;
  }
  .card-task-background14 {
    background-size: 30%;
  }
  .card-task-background15 {
    background-size: 42%;
  }
  /* Page 14 */
  /* Page 15 */
  .background-page-15 {
    background-size: 56%;
  }
  .notification-count-header,
  .notification-count-child {
    right: 35%;
  }
  .padding-p13 {
    padding-left: 0em;
  }
  /* Page 15 */
  /* Page 16 */
  .row-task,
  .number-row {
    height: 120px;
  }
  .task-text {
    font-size: 1.35rem;
    line-height: 1.5rem;
  }
  /* Page 16 */
}
