.page-foximage {
  max-height: 60px;
}
.page2-foximage {
  max-height: 20mm;
}
.page4-foximage {
  max-height: 15mm;
}
.page5-foximage {
  max-height: 12mm;
}
/* 
.list3-bg {
  background: url("../assets/img/BusinessPractice/background/bottom-bg.png")
    no-repeat bottom center;
  background-size: contain;
}
.bg-second-page {
  background: url("../assets/img/BusinessPractice/other/first-step.png")
      no-repeat,
    url("../assets/img/BusinessPractice/background/cleaning-top.png") no-repeat,
    url("../assets/img/BusinessPractice/background/cleaning.png") no-repeat,
    url("../assets/img/BusinessPractice/background/bgpage2.png") no-repeat center;
  background-size: 20%, 60%, 45%, 100%;
  background-position-x: 15%, 25%, 66%, 50%;
  background-position-y: 80%, 7%, 95%, 50%;
}
.bg-four-page {
  background: url("../assets/img/BusinessPractice/background/coins.png")
      no-repeat center,
    url("../assets/img/BusinessPractice/background/bgpage4.png") no-repeat top;
  background-size: 70%, contain;
  background-position-y: 9%, 0%;
}
.bg-five-page {
  background: url("../assets/img/BusinessPractice/pagelist/page3.png") no-repeat
    center top;
  background-size: 15%;
}
.bg-six-page {
  background: url("../assets/img/BusinessPractice/pagelist/page4.png") no-repeat,
    url("../assets/img/BusinessPractice/foxes/our-money.png") no-repeat,
    url("../assets/img/BusinessPractice/background/rules-top-pen.png") no-repeat;
  background-size: 15%, 23%, 30%;
  background-position-y: 0%, 90%, 12%;
  background-position-x: 50%, 85%, 100%;
}
.bg-seven-page {
  background: url("../assets/img/BusinessPractice/pagelist/page5.png") no-repeat
    center top;
  background-size: 15%;
}
.bg-eight-page {
  background: url("../assets/img/BusinessPractice/pagelist/page6.png") no-repeat
    center top;
  background-size: 15%;
}
.bg-nine-page {
  background: url("../assets/img/BusinessPractice/pagelist/page7.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 22%;
}
.bg-ten-page {
  background: url("../assets/img/BusinessPractice/pagelist/page8.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top;
  background-size: 15%, 22%;
}
.bg-eleven-page {
  background: url("../assets/img/BusinessPractice/pagelist/page9.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 22%;
}
.bg-twelve-page {
  background: url("../assets/img/BusinessPractice/pagelist/page10.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top;
  background-size: 15%, 22%;
}
.bg-thirdteen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page11.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 22%;
}
.bg-fourteen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page12.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top;
  background-size: 15%, 22%;
}
.bg-fifteen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page13.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 22%;
}
.bg-sixteen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page14.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top,
    url("../assets/img/BusinessPractice/foxes/fox-choise.png") no-repeat center;
  background-size: 15%, 22%, 75%;
  background-position-y: 0, 0, 57%;
}
.bg-seventeen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page15.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 22%;
}
.bg-eighteen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page16.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top;
  background-size: 15%, 22%;
}
.bg-nineteen-page {
  background: url("../assets/img/BusinessPractice/pagelist/page17.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top,
    url("../assets/img/BusinessPractice/background/home-work.png") no-repeat
      right;
  background-size: 15%, 22%, 80%;
  background-position-y: 0, 0, 90%;
}
.bg-twenty-page {
  background: url("../assets/img/BusinessPractice/pagelist/page18.png") no-repeat,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat,
    url("../assets/img/BusinessPractice/background/home-work-1.png") no-repeat;
  background-size: 15%, 22%, 65%;
  background-position-y: 0, 0, 90%;
  background-position-x: 50%, 100%, 30%;
}
.bg-twentyone-page {
  background: url("../assets/img/BusinessPractice/pagelist/page19.png") no-repeat,
    url("../assets/img/BusinessPractice/background/colorize-line.png") no-repeat;
  background-size: 15%, 15%;
  background-position-x: 50%, 68%;
  background-position-y: 0%, 49%;
}
.bg-twentytwo-page {
  background: url("../assets/img/BusinessPractice/pagelist/page20.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top;
  background-size: 15%, 22%;
}
.bg-twentytwo-page-lil-elems {
  background: url("../assets/img/BusinessPractice/background/colorize-line1.png")
      no-repeat,
    url("../assets/img/BusinessPractice/background/colorize-line2.png") no-repeat;
  background-size: 20%, 30%;
  background-position-x: 68%, 73%;
  background-position-y: 23%, 87%;
}
.bg-twentythree-page {
  background: url("../assets/img/BusinessPractice/pagelist/page21.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 30%;
}
.bg-twentyfour-page {
  background: url("../assets/img/BusinessPractice/pagelist/page22.png") no-repeat
      top center,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      top right;
  background-size: 15%, 22%;
}
.bg-twentyfour-page-lil-elems {
  background: url("../assets/img/BusinessPractice/background/lets-talk-bg.png")
      no-repeat,
    url("../assets/img/BusinessPractice/icons/lets-talk-icon-star.png") no-repeat,
    url("../assets/img/BusinessPractice/icons/lets-talk-icon-star.png") no-repeat,
    url("../assets/img/BusinessPractice/icons/lets-talk-icon-note.png") no-repeat,
    url("../assets/img/BusinessPractice/elements-bg/da.png") no-repeat,
    url("../assets/img/BusinessPractice/elements-bg/fuq.png") no-repeat;
  background-size: 42%, 3%, 3%, 10%, 3%, 3%;
  background-position-x: 9%, 100%, 97%, 100%, 47%, 96%;
  background-position-y: 49%, 27%, 72%, 85%, 28%, 32%;
}
.bg-twentyfive-page {
  background: url("../assets/img/BusinessPractice/pagelist/page23.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-left-bg.png") no-repeat
      left top;
  background-size: 15%, 22%;
}
.bg-twentysix-page {
  background: url("../assets/img/BusinessPractice/pagelist/page24.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/top-right-bg.png") no-repeat
      right top;
  background-size: 15%, 22%;
}
.bg-twentyseven-page {
  background: url("../assets/img/BusinessPractice/pagelist/page25.png") no-repeat
      center top,
    url("../assets/img/BusinessPractice/background/lil-bottom-bg.png") no-repeat
      center bottom,
    url("../assets/img/BusinessPractice/icons/m&dc.png") no-repeat;
  background-size: 15%, 100%, 45%;
  background-position-y: 0, 100%, 20%;
  background-position-x: 50%, 50%, 8%;
}

.dotted-border-bottom {
  border-bottom: dotted 2px #000000;
}
.fat-dotted-border-bottom {
  border-bottom: dotted 4px #00000031;
}
::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
#secondpage-textarea {
  min-height: 135px;
  max-height: 135px;
  border: none;
  resize: none;
  text-align: center;
}
.page-tale-theme {
  font-size: 14px;
  font-weight: 800;
}
.page-extrabold-text {
  font-size: 24px;
  font-weight: 800;
}
.page-normal-text {
  font-size: 12px;
  font-weight: normal;
}
.big-numbers-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/page-top-bg.png")
      no-repeat,
    url("../assets/img/BusinessPractice/elements-bg/page-bottom-bg.png")
      no-repeat;
  background-size: 7%, 6%;
  background-position-y: 3%, 100%;
  background-position-x: 97%, 98%;
}
.hello-fox-img {
  max-height: 70mm;
}
.page5-header {
  font-weight: 800;
  font-size: 16px;
}
.page5-header-big {
  font-weight: 800;
  font-size: 18px;
}
.card-img {
  max-height: 15mm;
  max-width: 18mm;
}
.page-text-semibold {
  font-size: 15px;
  font-weight: 500;
}
.orange-color {
  color: rgb(255, 157, 0);
}
.pixel-header {
  font-family: Pixar;
  line-height: 18px;
  font-size: 14px;
}
.big-dot {
  width: 10px;
}
.instructions-text,
.mdc-text {
  font-size: 13px;
  color: #707070;
}
.moodtoday-image {
  max-height: 18mm;
}
.tale-textarea {
  min-height: 60px;
  max-height: 60px;
}
.recomendations-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/recomendations.png")
    no-repeat left bottom;
  background-size: 13%;
}
.recomendations-bg1 {
  background: url("../assets/img/BusinessPractice/elements-bg/recomendations.png")
    no-repeat bottom;
  background-size: contain;
  background-position-x: 1%;
}
.mark-img {
  max-width: 45px;
}
.bolder-text {
  font-weight: 600;
}
.term-row-bg,
.term-row-bg2,
.term-row-bg3 {
  background: url("../assets/img/BusinessPractice/elements-bg/vocabulary.png")
    no-repeat;
  background-size: 33px;
}
.term-row-bg {
  background-position-x: 4%;
  background-position-y: 14%;
}
.term-row-bg2 {
  background-position-x: 4%;
  background-position-y: 40%;
}
.term-row-bg3 {
  background-position-x: 4%;
  background-position-y: 100%;
}
.questionfox-image {
  max-height: 55mm;
}
.handwritten-text {
  font-family: Flow;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}
.little-header-text,
.white-header-text {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}
.white-header-text {
  color: #ffffff;
}
.header-text-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/tips.png")
      no-repeat,
    url("../assets/img/BusinessPractice/icons/what.png") no-repeat;
  background-size: 40%, 12%;
  background-position-y: 65%, 58%;
  background-position-x: 10%, 57%;
}
.little-text {
  font-weight: bold;
  font-size: 11px;
}
.bold-text {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}
.extra-bold-text {
  font-weight: 700;
  font-size: 14px;
}
.questions-bg {
  background: url("../assets/img/BusinessPractice/icons/what.png") no-repeat;
  background-size: 9%;
  background-position-x: 78%;
}
.mdc-text {
  line-height: 16px;
}
.good-job-text {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
}
.achivements-bg-header {
  height: 50px;
  background-color: #ffde3b;
  border-radius: 10px;
}
.achivement-bg {
  height: 35px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
.best-thoughts {
  height: 33vh;
}
.my-thoughts {
  min-height: 80px;
  max-height: 130px;
}
.relative-colorize-left-block1,
.relative-colorize-left-block2,
.relative-colorize-right-block {
  position: relative;
}
.relative-colorize-left-block1 {
  width: 265px;
}
.relative-colorize-right-block .right-img {
  position: absolute;
  left: 100%;
  margin-top: 150px;
}
.relative-colorize-left-block2,
.relative-colorize-right-block {
  width: 250px;
}
.drawing-block {
  background-color: #f3f3f3;
  border-radius: 20px;
  min-height: 40vh;
}
.supermarket-game-block {
  overflow-y: scroll;
  max-height: 35vh;
}
.skills-game-block {
  overflow-y: scroll;
  max-height: 30vh;
}
.table-scroll {
  overflow-y: scroll;
  max-height: 150px;
}
.number-icon {
  width: 25px;
}
.grey-table-background,
.yellow-table-background {
  border-radius: 10px;
}
.grey-table-background {
  background: #f3f3f3;
}
.yellow-table-background {
  background: #ffde3b;
}
.table-header {
  height: 40px;
}
.table-row {
  height: 35px;
}
.lil-table-elem {
  width: 120px;
}
.table-activity-text {
  font-size: 11px;
}
.lets-talk-row1-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/lets-talk-icon-1.png")
    no-repeat;
  background-size: 33px;
  background-position: 55% 75%;
}
.lets-talk-row2-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/lets-talk-icon-2.png")
    no-repeat;
  background-size: 33px;
  background-position: 55% 100%;
}
.lets-talk-row3-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/lets-talk-icon-1.png")
    no-repeat;
  background-size: 33px;
  background-position: 55% 100%;
}
.lets-talk-row4-bg {
  background: url("../assets/img/BusinessPractice/elements-bg/lets-talk-icon-2.png")
    no-repeat;
  background-size: 33px;
  background-position: 8% 90%;
}

.talking-textarea {
  max-height: 80px;
  min-height: 70px;
}
.wide-talking-textarea {
  max-height: 40px;
  min-height: 40px;
}

.vocabulary-scroll {
  overflow-y: scroll;
  max-height: 50vh;
} */
