<template>
  <div class="contaiter-fluid ml-3 mr-4">
    <div class="contaiter container-parent-page mt-4 mx-2">
      <div class="row ml-4">
        <div class="col-md-5 mt-4">
          <h1>Добавить ребенка</h1>
        </div>
      </div>

      <form class="form-inline">
        <div class="row w-100 mt-2 ml-4 no-wrap">
          <div class="col-md-4 col-xl-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Фамилия"
                v-model="second_name"
              />
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Имя"
                v-model="name"
              />
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Отчество"
                v-model="last_name"
              />
            </div>
          </div>
        </div>
        <div class="row w-100 ml-4 no-wrap">
          <div class="col-md-4 col-xl-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="number"
                class="form-control pl-3 input-child"
                :class="{ 'border-danger': !ageGroupPass }"
                no-wheel="true"
                v-mask="'##'"
                placeholder="Возраст"
                v-model="age"
              />
              <p></p>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="form-group mt-3 pt-2">
              <div
                class="btn-group w-100 d-flex align-items-center"
                style="height: 38px"
              >
                <span
                  :class="
                    learning == 'Online' ? 'text-success' : 'text-warning'
                  "
                  >Способ обучения: {{ learning }}</span
                >
                <!-- <button
                  type="button"
                  class="btn btn-filter text-left pl-4"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <p>{{ learning }}</p>
                </button>
                <div class="dropdown-menu w-100">
                  <button
                    v-if="learning != 'Online'"
                    class="dropdown-item"
                    @click="online()"
                    type="button"
                  >
                    Online
                  </button>
                  <button
                    v-if="learning != 'Offline'"
                    class="dropdown-item"
                    @click="offline()"
                    type="button"
                  >
                    Offline
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100 ml-4 mb-4 no-wrap">
          <div class="col-md-9">
            <div class="form-group mt-3 pt-2" v-if="referalShow">
              <input
                type="text"                
                class="form-control pl-3 input-child w-100"
                placeholder="Пригласительный код"
                v-model="referal"
                @change="changeReferal"
              />
              <p v-if="selectedMentor" class="w-100">
                Ментор: {{ selectedMentor.second_name }}
                {{ selectedMentor.name }} {{ selectedMentor.last_name }}
              </p>
              <p v-if="selectedGroup" class="w-100">
                Группа: {{ selectedGroup.name }}
              </p>
              <p v-if="selectedGroup" class="w-100">
                Возрастная категория: {{ selectedGroup.age_group }} лет
              </p>
              <p
                v-if="selectedGroup && !ageGroupPass"
                class="w-100 text-danger"
              >
                Внимание! Возраст ребенка должен совпадать с возрастной
                категорией группы!
              </p>
              <!-- <b-form-select
                class="form-control pl-3"
                text="Ментор"
                v-model="selectedMentor"
                :options="listMentors"
              >
                <template #first>
                  <b-form-select-option
                    class="form-control pl-3"
                    :value="mentor"
                    >Ментор</b-form-select-option
                  >
                </template>
              </b-form-select> -->
            </div>
            <div class="form-group mt-3 pt-2" v-else>
              <button
                class="btn btn-profile-tab"
                @click.prevent="referalShow = !referalShow"
              >
                Ввести пригласительный код
              </button>
            </div>
          </div>
          <!-- <div class="col-md-2">
            <div class="form-group mt-3 pt-2">
              <b-form-select
                class="form-control pl-3"
                text="Группа"
                v-model="selectedGroup"
                :options="listGroups"
              >
                <template #first>
                  <b-form-select-option class="form-control pl-3" :value="group"
                    >Группа</b-form-select-option
                  >
                </template>
              </b-form-select>
            </div>
          </div> -->
        </div>
        <div class="row w-100 ml-4 mb-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group my-3 pt-2">
              <button
                id="addchildbutton"
                class="btn btn-profile-tab"
                :disabled="!disableCreateButton"
                @click.prevent="addChild()"
              >
                <p class="m-0">Добавить</p>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { ChildMapper } from "@/store/child";

export default {
  name: "FormAddChild",
  data() {
    return {
      selectedMentorId: null,
      selectedGroupId: null,
      selectedMentor: null,
      selectedGroup: null,
      name: "",
      second_name: "",
      last_name: "",
      age: "",

      email: "",
      referal: "",
      referalShow: false
    };
  },
  computed: {
    ...AuthMapper.mapState(["token", "profile"]),
    ...ChildMapper.mapState([
      "children",
      "error",
      "mentors",
      "groups",
      "mentor",
      "group"
    ]),
    learning() {
      return this.referal ? "Offline" : "Online";
    },
    ageGroupPass() {
      if (this.selectedGroup) {
        let [minAge, maxAge] = this.selectedGroup.age_group
          .split("-")
          .map(age => parseInt(age));
        if (this.age >= minAge && this.age <= maxAge) return true;
        return false;
      }
      return true;
    },
    disableCreateButton() {
      return (
        this.name &&
        this.second_name &&
        this.last_name &&
        this.age &&
        this.email &&
        this.ageGroupPass
      );
    }
  },
  methods: {
    ...ChildMapper.mapActions([
      "postChild",
      "getMentors",
      "getGroups",
      "setMentor",
      "setGroup",
      "getMentor",
      "getGroup"
    ]),
    async addChild() {
      console.log(this.selectedMentor);
      let payload = {
        email: this.email,
        learning: this.learning,
        age: this.age,
        name: this.name,
        second_name: this.second_name,
        last_name: this.last_name,
        role: "Child",
        token: this.token,
        mentor: this.selectedMentorId ?? null,
        group: this.selectedGroupId ?? null,
        parent: this.profile.id
      };
      await this.postChild(payload);
      if (this.error) {
        if (this.error["email"]) {
          this.toast("Ошибка!", "Данная почта уже зарегистрирована", "danger");
        }
      } else {
        this.clearForm();
        this.toast("Успешно", "Ребенок успешно зарегистрирован.", "success");
      }
    },
    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true
      });
    },
    clearForm() {
      this.email = "";
      this.learning = "";
      this.age = "";
      this.name = "";
      this.second_name = "";
      this.last_name = "";
      this.referal = "";
      this.referalShow = false;
    },
    changeReferal() {
      if (this.referal) {
        try {
          const { mentorId, groupId } = JSON.parse(
            window.atob(
              this.referal.split("/")[this.referal.split("/").length - 1] //Выносим из ссылки id ментора и группы
            )
          );
          this.selectedMentorId = mentorId;
          this.selectedGroupId = groupId;
        } catch {
          this.toast("Ошибка", "Неверно введена реферальная ссылка", "danger");
          this.referal = "";
        }
      }
    }
  },
  async mounted() {},
  watch: {
    selectedMentorId: {
      async handler(newId) {
        if (newId) {
          await this.getMentor(newId);
          if (!this.error) {
            this.selectedMentor = this.mentor;
          }
        }
      }
    },
    selectedGroupId: {
      async handler(newId) {
        if (newId) {
          await this.getGroup(newId);
          if (!this.error) {
            this.selectedGroup = this.group;
          }
        }
      }
    }
  }
};
</script>

<style scoped>

.form-inline .form-control {
  max-width: 100%!important;
     width: 100%!important;
}

</style>
