<template>
  <div
    class="term"
    :ref="`term${term.id}`"
    :class="{
      disable: term.disable,
      success: term.success,
    }"
  >
    <div
      class="sound-road"
      :class="`${record && 'record'} sound-road${term.id}`"
      :ref="`road${term.id}`"
    ></div>
    <div class="term-load" :class="{ record, recorded: isRecorded }">
      <button @click="addTerm" class="term-load-btn">
        <img
          :class="{ 'success-img': isRecorded }"
          :src="
            require(`@/assets/img/icons/${
              !record && !isRecorded
                ? 'voice-big.png'
                : !record && isRecorded
                ? 'voice-success.svg'
                : 'upload.png'
            }`)
          "
          alt="load"
        />
      </button>
      <button
        v-if="isRecorded && !record"
        class="record-listen-btn"
        @click="audioPlay"
      >
        <img src="@/assets/img/icons/play-button-arrowhead.svg" alt="listen" />
      </button>
      <!-- <button
        v-if="isRecorded && !record"
        class="record-delete-btn"
        @click="audioDelete"
      >
        <img src="@/assets/img/icons/delete.svg" alt="delete" />
      </button> -->
      <div class="coin-hook"></div>
      <!-- <img src="@/assets/img/pictures/coins-pic1.png" alt="" /> -->

      <!-- <img src="@/assets/img/pictures/coins-pic.png" alt="" />
      <div class="term-after-number"></div> -->
      <div class="question-number">
        <div class="top-line" v-if="term.id != 1"></div>
        <div class="number">
          <span v-show="!term.success">{{ term.id }}</span>
          <img
            v-show="term.success"
            :src="require('@/assets/img/icons/check.svg')"
            alt=""
            class="img-success"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { TaleMapper } from "@/store/tale";
export default {
  name: "AddTermCard",
  props: {
    term: Object,
  },
  data() {
    return {
      clicked: false,
      mediaRecorder: null,
      isRecorded: false,
      record: false,
      voice: new Audio(),
      currentTask: {},
      currentAnswer: {},
    };
  },
  methods: {
    openCard() {
      let open = document.querySelector(".term .term-load-all");
      open.style = "display: flex";
    },
    async recordSound() {
      this.isRecorded = false;
      if (!this.record) {
        this.record = true;
        this.soundRoad();
      } else {
        this.record = false;
        await this.mediaRecorder.stop();
      }
    },
    addTerm() {
      if (this.clicked) {
        this.mediaRecorder.stop();
        this.record = false;
      } else {
        this.isRecorded = false;

        this.soundRoad();
        this.record = true;
      }
      this.clicked = !this.clicked;
    },
    async soundRoad() {
      let stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
      });
      if (stream) {
        this.mediaRecorder = new MediaRecorder(stream);
        let voice = [];
        this.mediaRecorder.ondataavailable = (e) => {
          voice.push(e.data);
        };
        this.mediaRecorder.onstop = () => {
          let blob = new Blob(voice, {
            type: "audio/wav",
          });
          this.voice.src = window.URL.createObjectURL(blob);
          this.isRecorded = true;
          stream.getTracks().forEach(function (track) {
            track.stop();
          });
          let strokes = document.querySelectorAll(".stroke");
          strokes.forEach((stroke) => {
            stroke.remove();
          });
          this.$emit("success", true, this.term.id, blob);
          setTimeout(() => (this.open = false), 1000);
        };
        // ***************

        this.mediaRecorder.start();
        let context = new AudioContext();
        let analyser = context.createAnalyser();
        let src = context.createMediaStreamSource(stream);
        src.connect(analyser);
        for (let i = 0; i < 100; i++) {
          let stroke = document.createElement("div");
          stroke.className = "stroke";
          stroke.style.background = "white";
          stroke.style.minWidth = "0.8%";
          this.$refs[`road${this.term.id}`].appendChild(stroke);
        }
        let strokes = document.querySelectorAll(".stroke");
        let loop = () => {
          if (this.mediaRecorder.state == "recording") {
            window.requestAnimationFrame(loop);
            let array = new Uint8Array(200);
            analyser.getByteFrequencyData(array);
            for (var i = 0; i < 100; i++) {
              let height = array[i + 100] / 3;
              strokes[i].style.minHeight = height + "%";
            }
          }
        };
        loop();
      }
    },
    audioPlay() {
      this.voice.play();
    },
    audioDelete() {
      this.voice.src = "";
      this.isRecorded = false;
      this.$emit("success", false, this.term.id, null);
    },
  },

  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  watch: {
    term: {
      handler(newTerm) {
        console.log(newTerm);

        if (newTerm.answer) {
          this.voice.src = newTerm.answer;
          this.isRecorded = true;
        }
      },
    },
  },

  // mounted() {
  // this.$refs["term" + this.term.id.toString()].style.zIndex = `${(
  //   10 - this.term.id
  // ).toString()}`;
  // this.currentTask = this.tale.tasks.find((task) => task.page == 18);
  // this.currentAnswer = this.currentTask.answers[this.number - 1].answer;
  // if (this.currentAnswer) {
  //   this.isRecorded = true;
  //   this.voice.src = this.currentAnswer;
  // }
  // },
};
</script>

<style scoped>
.img-success {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 80%;
  height: 80%;
  filter: invert(1);
}
.term {
  height: calc(100% / 3);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}

.term.disable .term-card {
  opacity: 0;
}

.sound-btn,
.arrow-btn {
  position: absolute;
  right: 2%;
  width: 1.5vw;
  height: 1.5vw;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.sound-btn > img {
  width: 50%;
  height: auto;
  opacity: 0.5;
}
.arrow-btn > img {
  width: 80%;
  opacity: 0.5;
  height: auto;
}
.sound-btn {
  top: 7%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.arrow-btn {
  bottom: 7%;
}

.sound-road {
  height: 45%;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  width: 30%;
  opacity: 0;
  align-self: center;
  transform: translateX(-50%) scaleX(2.5);
  z-index: 0;
}
.sound-road.record {
  width: 30%;

  opacity: 1;
  border-radius: 15px 0 0 15px;
}
.sound-road > span {
  width: 0.5%;
  height: 5%;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s ease;
}
.sound-road > span.record {
  width: 0.5%;
  height: 50%;
  animation: animate 0.7s linear infinite;
}

@keyframes animate {
  50% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}

.term-load {
  height: calc(100% - 0.5rem);
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.term-load > .term-load-btn {
  height: 47px;
  width: 55px;
  transform: scale(2);
  background: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 0.5s ease;
}
.term-load.record > .term-load-btn {
  background: #ffde3b;
}
.term-load.record > .term-load-btn > img {
  filter: brightness(10);
}
.term.disable .term-load > .term-load-btn {
  background: none;
  box-shadow: none;
  border: 2px dashed lightgray;
  pointer-events: none;
}
.record-listen-btn,
.record-delete-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 0.5s ease;
  z-index: 10;
}
.record-listen-btn {
  left: 23.5%;
  bottom: 14%;
}
.record-delete-btn {
  right: 49.5%;
  bottom: 14%;
}
.record-delete-btn > img {
  filter: invert(1);
}
.record-listen-btn:hover,
.record-delete-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.record-listen-btn > img,
.record-delete-btn > img {
  width: 100%;
  height: auto;
  transform: scale(0.5);
}
.record-listen-btn > img {
  filter: invert(1);
}
.term-load > .term-load-btn > img {
  width: 25%;
  height: auto;
  transition: 0.5s ease;
}
.term-load.recorded > .term-load-btn {
  background-color: #ffde3b;
}
.term-load.recorded > .term-load-btn > img {
  filter: invert(1);
}

.term-load > img {
  height: 60%;
  width: auto;
  filter: grayscale(1);
  transition: 0.5s ease;
  padding: 3%;
  transition: 1s ease;
  margin-left: 20px;
}
/* .term.disable .term-load > img {
  height: 50%;
} */
.term.success .term-load > img {
  filter: grayscale(0);
  padding: 0;
}
.coin-hook {
  position: relative;
  bottom: 30px;
  width: 160px;
  height: 140px;
  background-image: url("../../../../../assets/img/pictures/coins-pic1.png");
  background-position-x: 300px;
  transition: 1s ease-in-out;
  transform: translateX(20px);
}
.term.disable .coin-hook {
  filter: grayscale(1);
}
.coins-vert {
  position: relative;
  bottom: 30px;
  width: 160px;
  height: 140px;
  background-image: url("../../../../../assets/img/pictures/coins-pic1.png");
  background-position-x: 300px;
  animation: coins-vert 4s steps(135) 1;
  filter: grayscale(0);
}
@keyframes coins-vert {
  0% {
    background-position-x: 20520px;
  }
  100% {
    background-position-x: 0px;
  }
}

.question-number {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
  margin-right: 20px;
}
.question-number .number {
  z-index: 1;
  width: 38px;
  padding-top: 35px;
  border-radius: 50%;
  border: 2px solid #ffde3b;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  position: relative;
  color: #000;
}
.term.success .number {
  border: 2px solid #ffde3b;
  background-color: #ffde3b;
}
.term.disable .number {
  background-color: lightgray;
  border: 2px solid lightgray;
  color: #fff;
}
.term.success .number span {
  color: #000;
}
.question-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3em;
}
.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  background: #ffde3b;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.term.success .top-line::before {
  height: 100%;
}
.success-img {
  height: 20px !important;
  width: 25px !important;
  filter: unset !important;
}

/* @media (max-width: 1050px) {
  .term-load {
    width: 75%;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .question-number {
    margin-right: 0px;
    width: 20%;
  }
  .term-load > img {
    height: 60%;
    margin-left: 10px;
  }
  .sound-road {
    height: 50%;
  }
  .term-load > .term-load-btn > img {
    width: 20px;
  }
  .record-delete-btn {
    right: 41.5%;
    bottom: 14%;
  }
  .record-listen-btn {
    left: 23.5%;
    bottom: 14%;
  }
}
</style>