<template>
  <div class="h-100 pages-brand sidepanel-bg-admin no-select">
    <div class="row pt-2 mb-2"></div>
    <!-- ОСОБАЯ ВКЛАДКА С ВЫПАДАЛКАМИ -->
    <router-link :to="{ name: 'admin-analytics-crm' }" active-class="active">
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = true;
          activeSubtab = 1;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Аналитика</p>
        </div>
      </div>
    </router-link>
    <!-- ОСОБАЯ ВКЛАДКА С ВЫПАДАЛКАМИ -->
    <!-- ВЫПАДАЛКА СО ВКЛАДОЧКАМИ -->

    <b-collapse v-model="collapseVisible">
      <b-card class="dicttionary-groups pt-0">
        <router-link
          :to="{ name: 'admin-analytics-crm' }"
          active-class="active"
        >
          <div class="row no-wrap m-0 my-2 mt-3 pl-2" @click="activeSubtab = 1">
            <div class="col-md-3 my-auto text-center p-0"></div>
            <div class="col-md-9 my-auto p-0">
              <p
                :class="{ 'active-subtab': activeSubtab == 1 }"
                class="page-text subtab-text m-0"
              >
                CRM
              </p>
            </div>
          </div>
        </router-link>
      </b-card>
      <b-card class="dicttionary-groups pt-0">
        <router-link
          :to="{ name: 'admin-analytics-reports' }"
          active-class="active"
        >
          <div class="row no-wrap m-0 my-2 pl-2" @click="activeSubtab = 2">
            <div class="col-md-3 my-auto text-center p-0"></div>
            <div class="col-md-9 my-auto p-0">
              <p
                :class="{ 'active-subtab': activeSubtab == 2 }"
                class="page-text subtab-text m-0"
              >
                Отчеты
              </p>
            </div>
          </div>
        </router-link>
      </b-card>
    </b-collapse>

    <!-- ВЫПАДАЛКА СО ВКЛАДОЧКАМИ -->

    <!-- ОБЫЧНЫЕ ВКЛАДКИ -->
    <router-link :to="{ name: 'admin-children-all' }" active-class="active">
      <div v-if="profile.role == 'Admin'"
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Все дети</p>
        </div>
      </div>
    </router-link>

     <!-- <router-link :to="{ name: 'admin-managers' }" active-class="active">
      <div v-if="profile.role == 'HeadSalesManager'"
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Все менеджеры</p>
        </div>
      </div>
    </router-link> -->
    
    <router-link :to="{ name: 'admin-branch-my' }" active-class="active">
      <div v-if="profile.role == 'Admin'"
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мои филиалы</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'admin-system' }" active-class="active">
      <div v-if="profile.role == 'Admin'"
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Администрир.</p>
        </div>
      </div>
    </router-link>

    <!-- ОБЫЧНЫЕ ВКЛАДКИ -->

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-8 p-0">
        <button @click="logOut()" class="btn btn-block btn-log-off">
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";

export default {
  name: "SidePanel",
  data() {
    return {
      collapseVisible: false,
      activeSubtab: 0,
      ageCategories: [
        { name: "CRM", value: "1" },
        { name: "Отчеты", value: "2" },
      ],
    };
  },

  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      this.$router.push("/login");
    },
    async selectAge(age) {
      await this.setAge(age);
    },
  },
  computed: { ...AuthMapper.mapState(["profile", "error"]) },
  mounted() {
    if (document.location.pathname.indexOf("/admin/analytics") == 0) {
      this.collapseVisible = true;

      if (document.location.pathname.indexOf("/admin/analytics/reports") == 0) {
        this.activeSubtab = 2;
      } else if (document.location.pathname.indexOf("/admin/analytics") == 0) {
        this.activeSubtab = 1;
      } else {
        this.activeSubtab = 0;
      }
    }
  },
};
</script>



<style>
.subtab-text {
  color: #9aafd5;
  transition: 0.5s;
}
.subtab-text:hover {
  color: #ffffff;
}
.activeSubtab {
  color: #ffffff;
  font-weight: 600;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
  border-left: 3px solid #ffffff00;
  transition: 0.5s ease;
}
/* 

.__age-category.active p {
  border-left: 3px solid #9aafd5;
  padding-left: 10px;
  color: #ffffff;
} */

.subtab-text {
  color: #9aafd5;
  padding-left: 15px;
}
.active-subtab {
  border-left: 3px solid #9aafd5;
  color: #ffffff !important;
}
</style>

