<template>
  <section>
    <div class="row w-100 mt-3 table-analytics height-menthors">
      <b-table
        striped
        ref="topchild"
        id="menthors-table"
        :items="items"
        :fields="fields"
      >
        <!-- аналог системы рангов -->
        <template #cell(status)="row">
          {{ row.value == 0 ? "Работает" : "Уволен" }}
        </template>
        <!-- аналог системы рангов -->
        <!-- кнопка, чтобы вызвать дополнителньую информацию о менторе -->
        <template #cell(show_details)="row">
          <button
            @click="row.toggleDetails"
            class="btn-invisible-button btn-details-height"
          >
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="img-fluid"
            />
          </button>
        </template>
        <!-- кнопка, чтобы вызвать дополнителньую информацию о менторе -->
        <!-- кнопка для увольнения ментора -->
        <template #cell(fire_menthor)="row">
          <button
            @click="
              $bvModal.show('modal-scoped');
              firethatmenthor(row.status);
            "
            class="btn-invisible-button btn-fired h-100"
          >
            <img
              src="@/assets/img/admin-icons/fire-ellipse.svg"
              alt=""
              class="img-fluid"
            />
            <p class="m-0">Уволить</p>
          </button>
        </template>
        <!-- кнопка для увольнения ментора -->

        <!-- дополнительная информация про ментора -->
        <template #row-details="row">
          <div class="row">
            <div class="col-3 pl-0">
              <p class="my-1">Кол-во проведённых тренингов:</p>
            </div>
            <div class="col-1">
              <p class="my-1">
                <span class="bold-text">{{ row.item.trainingCount }}</span>
              </p>
            </div>

            <div class="col-3"><p class="my-1">Общее кол-во детей:</p></div>
            <div class="col-1">
              <p class="my-1">
                <span class="bold-text">{{ row.item.childCount }}</span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-3 pl-0">
              <div class="row">
                <div class="col-7 p-0">
                  <p><span class="bold-text">Наименование</span></p>
                  <p>Группа 1</p>
                  <p>Группа 2</p>
                </div>
                <div class="col text-center p-0">
                  <p><span class="bold-text">Кол-во детей</span></p>
                  <p>10</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </template>
        <!-- дополнительная информация про ментора -->
      </b-table>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableMenthors",
  data() {
    return {
      messageTheme: "",
      perPage: 10,
      currentPage: 1,
      fields: [
        {
          key: "menthorname",
          label: "ФИО",
          class: "menthor-name",
          sortable: false,
        },
        {
          key: "date",
          label: "Дата",
          class: "menthor-date",
          sortable: true,
        },
        {
          key: "status",
          label: "Статус",
          class: "menthor-status",
          sortable: false,
        },
        {
          key: "show_details",
          class: "show-details",
          label: "",
        },
        {
          key: "fire_menthor",
          class: "fire-menthor",
          label: "",
        },
      ],
      items: [
        {
          isActive: true,
          id: 1,
          menthorname: "Иванов И.И.",
          status: 0,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          childCount: 19,
          trainingCount: 25,
          _showDetails: false,
        },
        {
          isActive: true,
          id: 2,
          menthorname: "Петорова Н.В.",
          status: 0,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          childCount: 12,
          trainingCount: 24,
          _showDetails: false,
        },
        {
          isActive: true,
          id: 3,
          menthorname: "Петров Н.С.",
          status: 1,
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          childCount: 11,
          trainingCount: 22,
          _showDetails: false,
        },
      ],
    };
  },
  methods: {
    expandAdditionalInfo(row) {
      row._showDetails = !row._showDetails;
    },
    sorting() {},
  },
};
</script>



<style>
.btn-fired {
  height: 20%;
}
.btn-details-height {
  width: 15px;
}

.menthor-date {
  width: 30%;
  text-align: center;
}
.show-details {
  width: 5%;
}
.fire-menthor {
  width: 10%;
}
.menthor-status {
  width: 25%;
  text-align: center;
}
</style>