<template>
  <div class="container p-0 popover-ranks">
    <!-- Серебрянный уровень -->
    <div class="row my-2">
      <div class="col-md-2 my-auto animate__animated animate__bounceIn">
        <img src="@/assets/img/images/silver-rank.png" />
      </div>
      <div class="col-md-10 pl-0">
        <div class="row">
          <div class="col-md-12"><p class="rank-name-text">Silver</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="rank-description-text">
              Это твой уровень сейчас. Поздравляю!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Серебрянный уровень -->
    <!-- Золотой уровень -->
    <div class="row my-2">
      <div class="col-md-2 my-auto animate__animated animate__bounceIn">
        <img src="@/assets/img/images/gold-rank.png" />
      </div>
      <div class="col-md-10 pl-0">
        <div class="row">
          <div class="col-md-12"><p class="rank-name-text">Gold</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="rank-description-text">
              Чтобы получить этот уровень заработай еще 20 Фоксиков.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Золотой уровень -->
    <!-- Платиновый уровень -->
    <div class="row my-2">
      <div class="col-md-2 my-auto animate__animated animate__bounceIn">
        <img src="@/assets/img/images/platinum-rank.png" />
      </div>
      <div class="col-md-10 pl-0">
        <div class="row">
          <div class="col-md-12"><p class="rank-name-text">Platinum</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="rank-description-text">
              Чтобы получить этот уровень заработай еще 60 Фоксиков.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Платиновый уровень -->
  </div>
</template>

<script>
export default {
  name: "PopoverRanks",
};
</script>