<template>
  <div class="h-100 pages-brand sidepanel-bg-admin no-select">
    <div class="row pt-2 mb-2"></div>
    <router-link
      to="/franchisee/analytics"
      active-class="active"
      :class="{ disabled_link: disabledBuy }"
    >
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Аналитика</p>
        </div>
      </div>
    </router-link>

    <a href="#" active-class="active" :class="{ disabled_link: disabledBuy }">
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Заявка в магазин</p>
        </div>
      </div>
    </a>

    <router-link
      to="/franchisee/buy"
      active-class="active"
      :class="{ disabled_link: disabled }"
    >
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Купить франшизу</p>
        </div>
      </div>
    </router-link>
    <router-link to="/franchisee/data" active-class="active">
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мои данные</p>
        </div>
      </div>
    </router-link>
    <router-link
      to="/franchisee/support"
      active-class="active"
      :class="{ disabled_link: disabledBuy }"
    >
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Обратная связь</p>
        </div>
      </div>
    </router-link>

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-8 p-0">
        <button @click="logOut()" class="btn btn-block btn-log-off">
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { FranchiseeMapper } from "@/store/franchisee";

export default {
  name: "SidePanel",
  date() {
    return {
      activeLink: false,
    };
  },
  computed: {
    ...AuthMapper.mapState(["error"]),
    ...FranchiseeMapper.mapState(["franchiseeProfile", "packages"]),

    disabled() {
      return !this.franchiseeProfile.name;
    },

    disabledBuy() {
      return (
        !this.franchiseeProfile.name ||
        !this.packages.find((pack) => pack.status == 2)
      );
    },
  },
  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      this.$router.push("/login");
    },
  },
  mounted() {
    console.log(this.disabled);
  },
};
</script>

<style>
.disabled_link {
  pointer-events: none;
  display: none;
}

/* .disabledBuy {
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff;
} */
</style>