<template>
  <section id="childloginsteps" class="childlogin-bg">
    <div
      class="container full-height-container animate__animated animate__fadeIn"
      style="display: flex; align-items: center"
    >
      <div class="wrapper-steps">
        <div class="row w-100 justify-content-center">
          <div class="col-6 my-4 text-center">
            <img src="@/assets/img/logo/BusinessFox.png" class="img-fluid" />
          </div>
        </div>

        <div class="accordion" id="accordionExample">
          <!-- //!Первый шаг логина -->
          <div class="card">
            <div class="card-header steps-bg p-0" id="headingOne">
              <h5 class="mb-0 h-100">
                <button
                  class="btn w-100 h-100 text-left no-pointer"
                  aria-expanded="true"
                >
                  <p class="my-auto pl-4 step-text">Этап 1. Введи свое имя</p>
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body step-1-body">
                <div class="row w-100 h-100 row-step1">
                  <div class="col-md-2"></div>
                  <div class="col-md-6 my-auto pr-0 row-step1">
                    <input
                      type="text"
                      class="form-control w-100 h-100"
                      id="ChildNameFromLoginSteps"
                      placeholder="Имя"
                      v-model="nickname"
                    />
                  </div>
                  <div class="col-md-2 my-auto pl-0 row-step1">
                    <button
                      class="btn btn-inline-step w-100 h-100 text-left"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <p class="my-auto text-center">OK</p>
                    </button>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
          <!--//! Первый шаг логина -->
          <!--//! Второй шаг логина -->
          <div class="card">
            <div class="card-header steps-bg p-0" id="headingTwo">
              <h5 class="mb-0 h-100">
                <button class="btn w-100 h-100 text-left no-pointer">
                  <p class="my-auto pl-4 step-text">Этап 2. Выбери девиз</p>
                </button>
              </h5>
            </div>

            <div
              style="z-index: 1000"
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body step-2-body px-0">
                <div class="row h-100">
                  <div class="col-md-6 pl-4">
                    <textarea
                      class="form-control mt-4"
                      id="text-area-motto"
                      placeholder="Напиши свой девиз"
                      v-model="slogan"
                    ></textarea>
                    <button
                      class="btn my-4 p-0 btn-inline-step btn-step-2"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <p class="my-auto text-center">OK</p>
                    </button>
                  </div>
                  <div class="col-md-6 pr-4">
                    <p class="motto-pick-label mt-4">
                      Или выбери один из предложеных:
                    </p>
                    <DropDown :items="slogans" @choose="setSlogan" />
                  </div>
                </div>
              </div>
            </div>
            <!--//! Второй шаг логина -->
          </div>
          <!--//! Третий шаг для логина -->
          <div class="card">
            <div class="card-header steps-bg p-0" id="headingThree">
              <h5 class="mb-0 h-100">
                <button class="btn w-100 h-100 text-left no-pointer">
                  <p class="my-auto pl-4 step-text">Этап 3. Выбери аватар</p>
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body step-2-body">
                <div class="row h-100">
                  <!-- //!Загрузка картинки -->
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 text-center my-3 pt-2">
                        <img
                          src="@/assets/img/icons/icon-profile-big.png"
                          class="img-fluid round-icon"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group text-center">
                          <input
                            type="file"
                            @change="chooseAvatar()"
                            class="form-control-file"
                            ref="file"
                            id="photo-load"
                          />
                          <label for="photo-load" class="mx-auto pointer"
                            >Загрузить фото</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--//! Загрузка картинки -->
                  <!--//! Выбор аватара -->
                  <PickAvatar @pick="pickAvatar" />
                  <!-- //!Выбор аватара -->
                </div>
              </div>
            </div>
          </div>
          <!-- //!Третий шаг для логина -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { ChildMapper } from "@/store/child";
import PickAvatar from "@/components/child/login/steps/PickAvatar.vue";
import DropDown from "@/components/child/login/steps/dropdown.vue";
export default {
  name: "Steps",
  computed: {
    ...AuthMapper.mapState(["avatar", "token"]),
  },
  data() {
    return {
      nickname: "",
      sloganName: "Девиз",
      slogan: "",
      file: null,
      slogans: [
        "Если не ты, то кто?",
        "Желающие радуги должны мириться с дождем.",
        "Относись к другим так, как ты хочешь чтобы относились к тебе.",
        "У совершенства нет предела.",
      ],
    };
  },
  components: {
    PickAvatar,
    DropDown,
  },
  mounted() {
    console.log(this.slogans);
  },
  methods: {
    ...AuthMapper.mapActions(["changeAvatar", "patchFormDataProfile"]),
    ...ChildMapper.mapActions(["setChildNickAndSlogan"]),
    setSlogan(slogan) {
      this.slogan = slogan;
    },
    async chooseAvatar() {
      let payload = {
        token: this.token,
        slogan: this.slogan,
        name: this.nickname,
      };
      await this.setChildNickAndSlogan(payload);
      this.file = this.$refs.file.files[0];
      let formData = new FormData();
      formData.append("avatar", this.file);
      await this.patchFormDataProfile(formData);
      if (!this.error) {
        this.$router.push({ name: "child-profile" });
        // this.toast('Изменения приняты', 'Аватар профиля успешно изменен', 'success');
      } else {
        console.log(this.error);
      }
    },
    async pickAvatar(src) {
      let payload = {
        token: this.token,
        slogan: this.slogan,
        name: this.nickname,
      };
      await this.setChildNickAndSlogan(payload);
      let avatar = null;
      await fetch(src)
        .then((res) => res.blob())
        .then((blob) => {
          avatar = new File([blob], "avatar.jpg", blob);
        });

      let formData = new FormData();
      formData.append("avatar", avatar);
      await this.patchFormDataProfile(formData);
      if (!this.error) {
        this.$router.push({ name: "child-profile" });
        // this.toast('Изменения приняты', 'Аватар профиля успешно изменен', 'success');
      } else {
        console.log(this.error);
      }
    },
  },
};
</script>
