<template>
  <b-modal id="modal-ban-agent" hide-header hide-footer centered>
    <!-- <template #modal-footer="{ ban }"> -->
    <!-- Emulate built in modal footer ok and cancel button actions -->
    <div class="row w-100">
      <div class="col text-left">
        <p class="modal-header">Заблокировать агента</p>
        <textarea
          id="сause-of-Ban"
          name="text"
          v-model="сauseBan"
          placeholder="Причина блокировки"
          class="ban-textarea p-2"
        />
        <b-button
          variant="modal-ban-child"
          class="bold-text white-text mt-3 mb-4"
          @click="ban"
        >
          <p>Заблокировать</p>
        </b-button>
      </div>
    </div>
    <!-- </template> -->
  </b-modal>
</template>

<script>
export default {
  name: "ModalConfirmation",
  data() {
    return {
      сauseBan: "",
    };
  },
  methods: {
    ban() {
      this.$bvModal.hide("modal-ban-child1");
      this.$emit("ok", this.сauseBan);
    },
  },
};
</script>


<style>
/* .modal-confirm-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
} */
#modal-ban-agent___BV_modal_content_ {
  width: 640px;
}
.modal-header {
  font-weight: 500;
  font-size: 20px;
  color: #2b2a29;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 15px;
  border: none;
}
.ban-textarea {
  background: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: 520px;
  height: 165px;
}
.btn-modal-ban-child {
  background: #f22929;

  height: 35px;
  width: 145px;
  border-radius: 40px;
}
.btn-modal-ban-child > p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
</style>

