<template>
  <div class="row mt-4" style="padding-left: 2.5rem">
    <div class="col-2 pl-0">
      <b-form-datepicker
        class="top-input flex-row-reverse"
        right
        no-flip
        placeholder="Дата"
        locale="ru"
        hide-header
        label-help=""
        :start-weekday="1"
        :date-format-options="{
          year: 'numeric',
          month: 'numeric',
          day: 'numeric'
        }"
        v-model="chosenDate"
      ></b-form-datepicker>
    </div>
    <div class="col-4 p-0">
      <b-input
        class="top-input search-bg"
        placeholder="Поиск"
        v-model="filter.search"
      ></b-input>
    </div>
    <div
      class="col-2 my-auto"
      @click="show = !show"
      style="display: flex; align-items: center"
    >
      <img
        src="@/assets/img/admin-icons/filters.png"
        alt=""
        class="img-filters mr-2"
      />
      <h5 class="pointer m-0">Фильтры</h5>
    </div>
    <div class="col"></div>
    <div class="col-2 col-button">
      <b-button variant="download" pill
        ><p class="m-0">Скачать отчет</p>
      </b-button>
    </div>
    <div class="col-12 mt-4 p-0" v-show="show">
      <div class="row">
        <div class="col-2 pl-0">
          <b-form-select
            v-model="filter.program"
            :options="programs"
          ></b-form-select>
        </div>
        <div class="col-1"></div>
        <div class="col-3 ml-4">
          <b-form-select
            v-model="filter.level"
            :options="levels"
          ></b-form-select>
        </div>
        <div class="col-3 ml-4">
          <!-- <b-form-select v-model="filter.status" :options="statuses">
          </b-form-select> -->
        </div>
        <div class="col"></div>
        <div class="col-3 mt-4 pl-0">
          <b-form-select v-model="filter.tale" :options="tales"></b-form-select>
        </div>
        <div class="col-3 ml-4 mt-4">
          <b-form-select v-model="filter.age" :options="ages"></b-form-select>
        </div>
        <div class="col-3 ml-4 mt-4">
          <b-form-select
            v-model="filter.format"
            :options="formats"
          ></b-form-select>
        </div>
        <div
          class="col mt-4 text-center pointer"
          style="display: flex; align-items: center; justify-content: flex-end"
        >
          <img
            src="@/assets/img/admin-icons/fire-ellipse.png"
            alt=""
            class="img-filters mr-2"
          />
          <h5 class="m-0" @click="clearFilter">Сбросить</h5>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BranchMapper } from "@/store/branch";
export default {
  name: "DropdownFilters",
  data() {
    return {
      show: false,
      filter: {
        program: "",
        level: "",
        status: "",
        tale: "",
        age: "",
        format: "",
        date: "",
        search: ""
      },
      levels: [{ value: "", text: "Уровень" }, "Silver", "Gold", "Platinum"],
      statuses: [{ value: "", text: "Статус обучения" }, "Good", "Bad", "???"],
      formats: [{ value: "", text: "Формат обучения" }, "Online", "Offline"]
    };
  },
  computed: {
    ...BranchMapper.mapState(["branchChildren"]),
    programArray() {
      let progArray = [];
      this.branchChildren.forEach(child =>
        !progArray.includes([child.age]) ? progArray.push(child.age) : null
      );
      progArray = progArray.map(age =>
        age < 8 ? "Дошкольная" : age < 13 ? "Начальная школа" : "Средняя школа"
      );
      return progArray;
    },
    programs() {
      return [{ value: "", text: "Программа" }, ...this.programArray];
    },
    taleArray() {
      let array = [];
      this.branchChildren.forEach(child => {
        if (child.tales.length) {
          !array.includes(child.tales[child.tales.length - 1].name)
            ? array.push(child.tales[child.tales.length - 1].name)
            : null;
        }
      });
      return array;
    },
    tales() {
      return [
        { value: "", text: "Fox-Story" },
        { value: "Сказка не найдена", text: "Без сказки" },
        ...this.taleArray
      ];
    },
    ageArray() {
      let array = [];
      this.branchChildren.forEach(child =>
        !array.includes([child.age]) ? array.push(child.age) : null
      );
      return array;
    },
    ages() {
      return [{ value: "", text: "Возраст" }, ...this.ageArray];
    }
  },
  watch: {
    filter: {
      handler(newValue) {
        this.setFilter(newValue);
      },
      deep: true
    }
  },
  methods: {
    ...BranchMapper.mapMutations(["setFilter", "clearFilter"]),
    clearFilter() {
      this.clearFilter();
      this.filter = {
        program: "",
        level: "",
        status: "",
        tale: "",
        age: "",
        format: "",
        date: "",
        search: ""
      };
    }
  }
};
</script>

<style>
.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-download {
  border: 1.5px solid #ed8719;
  height: 30px;
  width: 130px;
  padding: 0;
}
.btn-download > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}
</style>
