<template>
  <section id="BranchPage">
    <div
      class="container-fluid p-0 full-height-container animate__animated animate__fadeIn"
    >
      <Header />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <ModalConfirmation />
    </div>
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import { AuthMapper } from "@/store/auth";
import Header from "@/components/branch/Header.vue";
import SidePanel from "@/components/branch/SidePanel.vue";
import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "Branch",
  components: {
    Header,
    SidePanel,
    ModalConfirmation,
  },
  methods: {
    ...BranchMapper.mapActions(["getBranchProfile"]),
    ...AuthMapper.mapActions(["getProfile"]),
  },
  async mounted() {
    await this.getBranchProfile();
    await this.getProfile();
  },
};
</script>

<style>
</style>