<template>
  <form class="form-inline">
    <div class="row w-100 mt-2 ml-4 pl-3 no-wrap">
      <div class="col-md-6 text-center pl-0">
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            placeholder="Слово"
            v-model="name"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <textarea
            class="form-control pl-3 input-textarea"
            placeholder="Определение"
            v-model="description"
          ></textarea>
        </div>
        <div class="form-group my-3 pt-2">
          <b-button
            @click="makeChildTerm()"
            id="sendtomentor"
            class="btn btn-profile-tab"
          >
            <p class="m-0">
              Отправить <br />
              ментору
            </p>
          </b-button>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </form>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { ChildMapper } from "@/store/child";
export default {
  name: "FormAddTerm",
  data() {
    return {
      name: "",
      description: "",
    };
  },
  computed: {
    ...AuthMapper.mapState(["token"]),
    ...ChildMapper.mapState(["kid", "error"]),
  },
  methods: {
    ...ChildMapper.mapActions(["makeTerm"]),
    async makeChildTerm() {
      let payload = {
        token: this.token,
        name: this.name,
        description: this.description,
        child: [this.kid.id],
        mentor: this.kid.mentor.id,
        age_category: this.kid.age,
      };
      await this.makeTerm(payload);
      if (this.error) {
        console.log(this.error);
      }
    },
  },
};
</script>

<style>
</style>
