<template>
  <form class="form-inline">
    <div class="row w-100 mt-2 ml-4 pl-3 no-wrap">
      <div class="col-md-6 text-center pl-0">
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="kid.child.second_name"
            placeholder="Фамилия"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="kid.child.name"
            placeholder="Имя"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="kid.child.last_name"
            placeholder="Отчество"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <div @click="change()" id="savebutton" class="btn btn-profile-tab">
            <p class="m-0">Сохранить</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group mt-3 pt-2 mr-4 pr-2">
          <textarea
            class="form-control pl-3 w-100 slogan-textarea"
            v-model="kid.slogan"
            placeholder="Текст лозунга"
          ></textarea>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </form>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";

export default {
  name: "TabInfo",
  computed: {
    ...ChildMapper.mapState(["kid"]),
    ...AuthMapper.mapState(["token"]),
  },
  methods: {
    ...ChildMapper.mapActions(["changeChildName"]),
    async change() {
      let payload = {
        name: this.kid.child.name,
        second_name: this.kid.child.second_name,
        last_name: this.kid.child.last_name,
        slogan: this.kid.slogan,
        id: this.kid.child.id,
        token: this.token,
      };
      await this.changeChildName(payload);
      if (this.error) {
        console.log(this.error);
      } else {
        this.toast("Успех", "Данные успешно обновлены", "success");
      }
    },
    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },
  },
};
</script>

<style>
</style>