<template>
  <section id="performance" class="mt-3 perfomance-no-scroll">
    <div class="row justify-content-center w-100">
      <div class="col-md-12 p-0">
        <!-- Аккордион-задания для ребенка -->
        <div id="accordion">
          <!-- Кнопка для раскрытия -->
          <div
            class="card"
            v-for="Task in TaskList"
            :key="Task.id"
            :index="Task.id"
          >
            <div class="card-header py-0 hover-tasks" v-bind:id="Task.htmlid">
              <p class="h-100 m-0 ml-1">
                <button
                  class="btn mdc-table-item w-100 h-100 py-0"
                  data-toggle="collapse"
                  :data-target="Task.collapselink"
                  aria-expanded="true"
                  :aria-controls="Task.collapseid"
                >
                  <div class="row">
                    <div class="col-md-10 text-left p-0">
                      {{ Task.cardheader }}
                    </div>
                    <div class="col-md-2 text-right">
                      <img
                        src="@/assets/img/icons/arrow_down.png"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </button>
              </p>
            </div>
            <!-- Контент аккордеонового поля -->
            <div
              v-bind:id="Task.collapseid"
              class="collapse"
              v-bind:aria-labelledby="Task.htmlid"
              data-parent="#accordion"
            >
              <!-- Тело карточки -->
              <div class="card-body pb-0 pt-1">
                <div
                  class="sub-task"
                  v-for="stask in Task.Subtasks"
                  :key="stask.id"
                  :index="stask.id"
                >
                  <div class="row mt-3 ml-4 mr-2 pr-2">
                    <div class="col-md-8 my-auto">
                      <p class="m-0 page-text">
                        {{ stask.subtaskname }}
                      </p>
                    </div>
                    <div class="col-md-2 p-0 my-auto text-center">
                      <img
                        v-if="stask.completed"
                        src="@/assets/img/icons/task-complete.png"
                        class="img-fluid"
                      />
                      <img
                        v-else
                        src="@/assets/img/icons/task-not-completed.png"
                        class="img-fluid"
                      />
                    </div>
                    <div class="col-md-2 pl-0 my-auto text-right">
                      <a
                        v-on:click="SingUpForTraining(Train.id)"
                        class="signup-link"
                        href="#"
                        >Просмотреть</a
                      >
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      <hr class="ml-4 mr-3 hr-task" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Тело карточки -->
            </div>
            <!-- Контент аккордеонового поля -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "TabTales",
  data() {
    return {
      TaskList: [
        {
          id: 1,
          htmlid: "heading1",
          collapselink: "#collapse1",
          collapseid: "collapse1",
          cardheader: "Как лисенок узнал что такое домашние дела",
          Subtasks: [
            {
              id: "subtask1.1",
              subtaskname: "Задание №1. Какие дела ты выполняешь дома?",
              completed: true,
            },
            {
              id: "subtask1.2",
              subtaskname:
                "Задание №2. Просмотр мультфильма “Лунтик и его друзья” Серия №312 ",
              completed: false,
            },
          ],
        },
        {
          id: 2,
          htmlid: "heading2",
          collapselink: "#collapse2",
          collapseid: "collapse2",
          cardheader: "Как у лисенка появился велосипед",
          Subtasks: [
            {
              id: "subtask2.1",
              subtaskname: "Задание №1. А ты купил шлем?",
              completed: true,
            },
            {
              id: "subtask2.2",
              subtaskname: "Задание №2. Покупка велосипеда в магазине! ",
              completed: false,
            },
            {
              id: "subtask2.3",
              subtaskname:
                "Задание №3. Расстроиться из-за того, что нужно было купить велосипед первее, чем шлем ",
              completed: true,
            },
          ],
        },
        {
          id: 3,
          htmlid: "heading3",
          collapselink: "#collapse3",
          collapseid: "collapse3",
          cardheader: "Как лисенок стал мером и спас лес",
          Subtasks: [
            {
              id: "subtask3.1",
              subtaskname: "Задание №1. Стать мером",
              completed: true,
            },
            {
              id: "subtask3.2",
              subtaskname: "Задание №2. Спасти лес ",
              completed: false,
            },
          ],
        },
        {
          id: 4,
          htmlid: "heading4",
          collapselink: "#collapse4",
          collapseid: "collapse4",
          cardheader: "Как лисенок победил лень",
          Subtasks: [
            {
              id: "subtask4.1",
              subtaskname: "Задание №1. Собраться с силами",
              completed: true,
            },
            {
              id: "subtask4.2",
              subtaskname: "Задание №2. Победить лень! ",
              completed: false,
            },
          ],
        },
        {
          id: 5,
          htmlid: "heading5",
          collapselink: "#collapse5",
          collapseid: "collapse5",
          cardheader: "Что такое банк?",
          Subtasks: [
            {
              id: "subtask5.1",
              subtaskname: "Задание №1. Спросить у папы, что такое банк",
              completed: true,
            },
            {
              id: "subtask5.2",
              subtaskname: "Задание №2. Ограбить банк! ",
              completed: false,
            },
          ],
        },
        {
          id: 6,
          htmlid: "heading6",
          collapselink: "#collapse6",
          collapseid: "collapse6",
          cardheader: "Сказка о том как деньги придумали",
          Subtasks: [
            {
              id: "subtask6.1",
              subtaskname:
                "Задание №1. Прочесть сказки о том, как впервые появились деньги",
              completed: true,
            },
            {
              id: "subtask6.2",
              subtaskname: "Задание №2. Напечатать себе много ценных бумажек. ",
              completed: false,
            },
          ],
        },
        {
          id: 7,
          htmlid: "heading7",
          collapselink: "#collapse7",
          collapseid: "collapse7",
          cardheader:
            "Сказка о том, что такое деньги, откуда они берутся и зачем они нужны",
          Subtasks: [
            {
              id: "subtask7.1",
              subtaskname: "Задание №1. Потратить все свои карманные деньги",
              completed: true,
            },
            {
              id: "subtask7.2",
              subtaskname:
                "Задание №2. Понять, где взять еще денег на конфеты. ",
              completed: false,
            },
            {
              id: "subtask7.3",
              subtaskname: "Задание №3. Ограбить банк!!! ",
              completed: false,
            },
          ],
        },
        {
          id: 8,
          htmlid: "heading8",
          collapselink: "#collapse8",
          collapseid: "collapse8",
          cardheader: "Где живут деньги?",
          Subtasks: [
            {
              id: "subtask8.1",
              subtaskname: "Задание №1. Получить много денег",
              completed: true,
            },
            {
              id: "subtask8.2",
              subtaskname: "Задание №2. Купить себе кошелек. ",
              completed: true,
            },
            {
              id: "subtask8.3",
              subtaskname:
                "Задание №3. У тебя так много денег, что они не влезают в кошелек! Почему бы не воспользоваться банком, который ты дважды грабил, а? ",
              completed: false,
            },
          ],
        },
      ],
    };
  },
};
</script>

<style>
</style>