<template>
  <section id="request-table">
    <!-- <DropdownFilters /> -->

    <div class="row pt-4" style="padding-left: 2.5rem; padding-right: 2.5rem">
      <div class="my-auto p-0" style="min-width: 220px">
        <p class="m-0 a-row-data-label">
          Все заявки:
          <span class="bold-text orange-text pl-4">{{ items.length }}</span>
        </p>
      </div>
      <div class="col-2 pl-0">
        <b-form-datepicker
          class="top-input flex-row-reverse"
          right
          no-flip
          hide-header
          placeholder="Дата"
          locale="ru"
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
          label-help=""
          style="height: 30px !important"
          v-model="chosenDate"
        ></b-form-datepicker>
      </div>
      <div class="col-4 p-0">
        <b-input
          class="top-input search-bg"
          placeholder="Поиск"
          style="height: 30px !important"
          v-model="filter.search"
        ></b-input>
      </div>
    </div>

    <div class="row mt-4" style="padding-left: 2.5rem; padding-right: 2.5rem">
      <div class="col-3 pl-0">
        <div class="dropdown request-dropdown-size my-auto">
          <button
            class="btn py-1 w-100 h-100 btn-filter dropdown-toggle"
            type="button"
            id="diagramm-programm-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p v-if="selectVal.type_agent == undefined">Все заявки</p>
            <p v-else>{{ selectVal.type_agent }}</p>
          </button>
          <div
            class="dropdown-menu animate slideIn"
            aria-labelledby="diagramm-btn1"
          >
            <a
              @click="selectVal.type_agent = 'Франчайзи'"
              class="dropdown-item"
              href="#"
              >Франчайзи</a
            >
            <div class="dropdown-divider m-0"></div>
            <a
              @click="selectVal.type_agent = 'Агент'"
              class="dropdown-item"
              href="#"
              >Агенты</a
            >
            <div class="dropdown-divider m-0"></div>
            <a
              @click="selectVal.type_agent = undefined"
              class="dropdown-item"
              href="#"
              >Все заявки</a
            >
          </div>
        </div>
      </div>

      <div class="col-3 pl-0">
        <div class="dropdown request-dropdown-size my-auto">
          <button
            class="btn py-1 my-auto w-100 h-100 btn-filter dropdown-toggle"
            type="button"
            id="diagramm-level-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p v-if="selectVal.status == undefined">Все статусы</p>
            <p v-else>{{ getPackageStatus(selectVal.status) }}</p>
          </button>
          <div
            class="dropdown-menu animate slideIn"
            aria-labelledby="diagramm-btn1"
          >
            <div
              v-for="status in packageStatuses"
              :key="status"
              @click="selectVal.status = status"
              class="dropdown-item pointer"
            >
              {{ getPackageStatus(status) }}
            </div>
            <!-- <div class="dropdown-divider m-0"></div>
            <a @click="selectVal.status = 1" class="dropdown-item" href="#"
              >Повторная</a
            >
            <div class="dropdown-divider m-0"></div>
            <a @click="selectVal.status = 2" class="dropdown-item" href="#"
              >Отклонена</a
            >
            <div class="dropdown-divider m-0"></div>
            <a @click="selectVal.status = 3" class="dropdown-item" href="#"
              >Документы отправлены</a
            >
            <div class="dropdown-divider m-0"></div>
            <a @click="selectVal.status = 4" class="dropdown-item" href="#"
              >Счет оплачен</a
            >
            <div class="dropdown-divider m-0"></div>
            <a @click="selectVal.status = 5" class="dropdown-item" href="#"
              >В работе</a
            >
            <div class="dropdown-divider m-0"></div>
            <a @click="selectVal.status = 6" class="dropdown-item" href="#"
              >Заблокирована</a
            >
            <div class="dropdown-divider m-0"></div> -->
            <div
              @click="selectVal.status = undefined"
              class="dropdown-item pointer"
            >
              Все статусы
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        ref="topcrm"
        id="crm-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        table-class="pointer"
        sort-icon-left
        :filter="filter.search"
        @row-clicked="clickRow"
      >
        <template #cell(status)="row">
          <div class="row h-100">
            <p
              class="m-0 yellowtext"
              v-if="
                getPackageStatus(row.value) == 'Новая' ||
                getPackageStatus(row.value) == 'Повторная'
              "
            >
              {{ getPackageStatus(row.value) }}
            </p>
            <p
              class="m-0 greentext"
              v-if="
                getPackageStatus(row.value) == 'В работе' ||
                getPackageStatus(row.value) == 'Счет оплачен' ||
                getPackageStatus(row.value) == 'Документы отправлены'
              "
            >
              {{ getPackageStatus(row.value) }}
            </p>

            <p
              class="m-0 red-text"
              v-if="
                getPackageStatus(row.value) == 'Отклонена' ||
                getPackageStatus(row.value) == 'Заблокирована'
              "
            >
              {{ getPackageStatus(row.value) }}
            </p>
          </div>
        </template>
        <template #cell(age)="row">
          <div class="row h-100">
            <p class="m-0">{{ row.value }} лет</p>
          </div>
        </template>
        <template #cell(date)="row">
          {{ formatDate(row.value) }}
        </template>
        <template #cell(package)="row">
          <p class="m-0">{{ row.value }}</p>
        </template>
        <template #cell(show_details)="row">
          <b-button
            :id="`show_details_btn_${row.item.id}`"
            variant="1"
            @click="
              row.toggleDetails();
              row.rotate = !row.rotate;
            "
            class="btn-invisible-button btn-details-height"
          >
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              :class="{ rotate180: row.rotate }"
              class="w-100 h-100"
            />
          </b-button>
        </template>
        <!-- дополнительная информация про заявку -->
        <template #row-details="row">
          <div class="row">
            <div style="margin-left: 2.5rem; width: 350px">
              <div class="row justify-content-between">
                <p class="my-1">Организация:</p>
                <p class="my-1">{{ row.item.organisation }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">ИНН/КПП:</p>
                <p class="my-1">{{ row.item.inn }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">Счет:</p>
                <p class="my-1">{{ row.item.account }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">Банк:</p>
                <p class="my-1">{{ row.item.bank }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">БИК банка:</p>
                <p class="my-1">{{ row.item.bankBIK }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">Корр.счет:</p>
                <p class="my-1">{{ row.item.corrAccount }}</p>
              </div>
            </div>
            <div style="margin-left: 12%; width: 320px">
              <div class="row justify-content-between">
                <p class="my-1">Телефон:</p>
                <p class="my-1">{{ row.item.phone }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">E-mail:</p>
                <p class="my-1">{{ row.item.email }}</p>
              </div>
              <hr class="hr-branch my-1" />
              <div class="row justify-content-between">
                <p class="my-1">Адрес:</p>
                <p class="my-1">{{ row.item.adress }}</p>
              </div>
            </div>
          </div>

          <div
            class="row mt-3 justify-content-between"
            style="padding-left: 2.5rem"
          >
            <div
              v-if="
                getPackageStatus(row.item.status) == 'В работе' ||
                profile.role == 'ClientManager'
              "
            >
              <b-button
                variant="1"
                @click="pushToContrAgent(row)"
                class="button-request violet-button mt-2"
                ><p>Подробнее</p>
              </b-button>
            </div>
            <!-- <div v-else>
              <b-button
                v-if="profile.role == 'Admin' &&
                  (getPackageStatus(row.item.status) == 'Новая' ||
                  getPackageStatus(row.item.status) == 'Отклонена')
                "
                id="allowed"
                @click="changeStatus(3, row.item.id)"
                variant="1"
                class="button-request green-button mt-2"
                ><p>Принять заявку</p>
              </b-button>

              <b-button
                v-if="profile.role == 'Admin' && getPackageStatus(row.item.status) == 'Новая'"
                id="denied"
                v-b-modal="'modal-decline-request'"
                @click="selectData(row)"
                variant="1"
                class="button-request red-button mt-2"
                ><p>Отклонить заявку</p>
              </b-button>

              <b-button
                v-if="profile.role == 'Admin' && 
                  getPackageStatus(row.item.status) == 'Документы отправлены'
                "
                id="originals"
                @click="changeStatus(2, row.item.id)"
                variant="1"
                class="button-request green-button mt-2"
                ><p>Оригиналы получены</p>
              </b-button>
            </div> -->
            <div>
              <b-button
                variant="1"
                @click="toastAnketa(row.item.agentname)"
                class="button-request button-round-request mt-2"
                ><p>Скачать анкету</p>
              </b-button>

              <b-button
                @click="loadDocs(row.item)"
                style="margin-right: 1.5rem !important"
                variant="1"
                class="button-round-request mt-2"
                ><p>Скачать документы</p>
              </b-button>
            </div>
          </div>
        </template>
        <!-- дополнительная информация про заявку -->
      </b-table>
    </div>

    <div class="row justify-content-center mt-2">
      <!-- @page-click="scrolltoTop" -->
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="crm-table"
        class="m-0"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4 pb-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
    <ModalDeclineRequest
      :number="modalData.id"
      :agentName="modalData.name"
      :agentRole="modalData.role"
      @ok="changeStatus"
    />
  </section>
</template>

<script>
// import DropdownFilters from "@/components/branch/analytics/tab-crm/DropdownFilters.vue";
// import { BranchMapper } from "@/store/branch";
import toast from "@/scripts/toast";
import { AdminMapper } from "@/store/admin";
import { AuthMapper } from "@/store/auth";
import moment from "moment";
import ModalDeclineRequest from "@/components/admin/crm/ModalDeclineRequest.vue";

export default {
  name: "TableCrm",
  components: { ModalDeclineRequest },
  props: {
    packages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      filter: {
        search: "",
      },
      packageStatuses: [0, 1, 2, 3, 4, 5, 6],

      chosenDate: undefined,
      perPage: "15",

      currentPage: 1,

      selectVal: {
        type_agent: undefined,
        status: undefined,
        date: undefined,
      },
      modalData: {
        id: -1,
        name: "",
        role: "",
      },

      fields: [
        {
          key: "number",
          label: "№",
          class: "crm-id",
          sortable: true,
        },
        {
          key: "agentname",
          label: "Контрагент",
          class: "crm-name",
          sortable: true,
        },
        {
          key: "status",
          label: "Статус",
          class: "crm-status",
          sortable: true,
        },
        {
          key: "type_agent",
          label: "Тип",
          class: "crm-type",
          sortable: true,
        },
        {
          key: "region",
          label: "Регион",
          class: "crm-region",
          sortable: true,
        },

        {
          key: "age",
          label: "Возраст",
          class: "crm-age",
          sortable: true,
        },
        {
          key: "package",
          label: "Пакет",
          class: "crm-package",
          sortable: true,
        },
        {
          key: "date",
          label: "Дата",
          class: "crm-date",
          sortable: true,
        },
        {
          key: "show_details",
          label: "",
          class: "crm-dropdown",
          sortable: false,
        },
      ],
    };
  },

  methods: {
    toast,
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    clickRow(item) {
      document.getElementById(`show_details_btn_${item.id}`).click();
      console.log(item);
    },
    loadDocs(item) {
      this.toastDocuments(item.agentname);
      item.documents.forEach((doc) => {
        let a = document.createElement("a");
        a.href = doc;
        a.target = "_blank";
        a.click();
      });
    },
    selectData(rowData) {
      this.modalData.id = rowData.item.id;
      this.modalData.name = rowData.item.agentname;
      this.modalData.role = rowData.item.type_agent;
    },
    toastAnketa(agentName) {
      this.toast(
        "Скачивание",
        `Начато скачивание анкеты контрагента: "${agentName}"`,
        "info"
      );
    },
    toastDocuments(agentName) {
      this.toast(
        "Скачивание",
        `Начато скачивание документов контрагента: "${agentName}"`,
        "info"
      );
    },
    ...AdminMapper.mapActions(["patchPackages"]),

    changeStatus(status, id) {
      this.$emit("status", status, id);
    },

    async pushToContrAgent(row) {
      let type = row.item.type_agent;
      this.$router.push({
        name:
          type == "Агент"
            ? "clientmanager-agent"
            : "clientmanager-analytics-franchisee",
        params: { id: row.item.purchaserId },
      });
    },
    getPackageStatus(number) {
      switch (number) {
        case 0:
          return "Новая";
        case 1:
          return "Повторная";
        case 2:
          return "В работе";
        case 3:
          return "Документы отправлены";
        case 4:
          return "Отклонена";
        case 5:
          return "Счет оплачен";
        case 6:
          return "Заблокирована";
        default:
          return "Неизвестная заявка";
      }
    },
    getPackageType(number) {
      switch (number) {
        case 0:
          return "Детский сад";
        case 1:
          return "Начальная школа";
        case 2:
          return "Школа";
        default:
          return "Неизвестный тип франшизы";
      }
    },
    getPackageAge(number) {
      switch (number) {
        case 0:
          return "5-9";
        case 1:
          return "9-12";
        case 2:
          return "13-16";
        default:
          return "Возраст неизвестен";
      }
    },
  },
  computed: {
    ...AuthMapper.mapState(["error", "profile"]),
    rows() {
      return this.items.length;
    },

    items() {
      let items = this.packages;
      return items.reverse().map((item, i) => {
        if (item.franchisee) {
          return {
            number: i + 1,
            id: item.id,
            purchaserId: item.franchisee.user_id.id,
            agentname: item.franchisee.name,
            status: item.status,
            type_agent: "Франчайзи",
            region: item.franchisee.urAdress,
            age: this.getPackageAge(item.name),
            package: this.getPackageType(item.name),
            date: moment(item.date),
            rotate: false,
            inn: item.franchisee.inn,
            organisation: item.franchisee.name,
            account: item.franchisee.RS,
            bank: item.franchisee.bank,
            bankBIK: item.franchisee.BIK,
            corrAccount: item.franchisee.CS,

            phone: item.franchisee.user_id.phone,
            email: item.franchisee.user_id.email,
            adress: item.franchisee.adress,
            documents: Object.entries(item.franchisee)
              .filter((i) => i[0].indexOf("PDF") > 0 && i[1])
              .map((i) => i[1]),
          };
        }
        if (item.agent) {
          return {
            number: i + 1,
            id: item.id,
            purchaserId: item.agent.user_id.id,
            agentname: `${item.agent.user_id.second_name} ${item.agent.user_id.name} ${item.agent.user_id.last_name}`,
            status: item.status,
            type_agent: "Агент",
            region: item.agent.adress,
            age: this.getPackageAge(item.name),
            package: "-",
            date: moment(item.date),
            rotate: false,
            inn: item.agent.inn,
            organisation: "Не организация",
            account: "Нет расчетного счета",
            bank: "Нет банка",
            bankBIK: "Нет БИК",
            corrAccount: "Нет КС",

            phone: item.agent.user_id.phone,
            email: item.agent.user_id.email,
            adress: item.agent.adress,
            documents: Object.entries(item.agent)
              .filter((i) => i[0].indexOf("PDF") > 0 && i[1])
              .map((i) => i[1]),
          };
        }
        return {
          number: i + 1,
          id: item.id,
          purchaserId: "",
          agentname: "",
          status: "",
          type_agent: "",
          region: "",
          age: "",
          package: "",
          date: "",
          rotate: false,
          inn: "",
          organisation: "",
          account: "",
          bank: "",
          bankBIK: "",
          corrAccount: "",

          phone: "",
          email: "",
          adress: "",
        };
      });
    },
    filteredItems() {
      return this.items.filter((item) => {
        let keep = true;

        if (this.selectVal.is_my != true) {
          this.selectVal.is_my = undefined;
        }

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          if (key == "date" && this.chosenDate !== undefined) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
          }
          if (key == "date" && this.chosenDate !== undefined) {
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                moment(item[key]).format("DD.MM.YYYY") == this.selectVal[key]);
          } else {
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                item[key] === this.selectVal[key]);
          }

          // console.log("Дата с фильтра - " + this.selectVal.date);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
};
</script>

<style>
/* .table td,
.table th {
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
  font-size: 0.75rem;
} */

.animate {
  animation-duration: 0.8s;

  animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  100% {
    transform: translateY(30px);
    opacity: 1;
  }
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.dropdown-menu > div {
  padding: 0.25rem 0.75rem;
  font-size: 14px;
}
.request-dropdown-size {
  width: 200px;
  height: 30px;
}
.btn-details-height {
  width: 15px;
}
.btn-details-height > img {
  transition: 0.5s ease;
}
.crm-id {
  width: 8.5%;
  padding-left: 2.5rem !important;
}
.crm-name {
  padding-left: 1rem !important;
  width: 19%;
}
.crm-age {
  width: 11%;
  text-align: left;
  padding-left: 1.5rem !important;
}
.crm-status,
.crm-type {
  width: 10%;
}
.crm-package {
  text-align: left;
  width: 13%;
}
.crm-region {
  text-align: left;
  width: 15%;
}
.crm-date {
  width: 9%;
  text-align: left;
}
.crm-dropdown {
  width: 4%;
  padding-right: 1.5rem !important;
}
td.crm-date {
  color: #6c6c6c;
}
.crm-learning {
  display: none;
}

/* кнопки */
.button-request {
  height: 30px;
  border-radius: 3px;
  margin-right: 50px;

  transition: 0.5s ease;
}
.button-request > p,
.button-request:hover > p {
  margin: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
}
.button-request:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.button-request:focus,
.button-request:active {
  box-shadow: 0px 0px 15px #00000030;
  transform: scale(1.05);
}
.green-button {
  background: #67b42b;
}
.red-button {
  background: #f22929;
}
.violet-button {
  background: #9276e4;
}
.button-round-request {
  border: 1.5px solid #b42f26;
  background: #00000000;
  box-sizing: border-box;
  border-radius: 40px !important;
  height: 35px;
  border-radius: 3px;
  margin-right: 50px;
  transition: 0.5s ease;
}
.button-round-request > p {
  margin: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2b2a29;
}
.button-round-request:hover {
  background: #b42f26;
  box-shadow: 0px 0px 15px #00000030;
}
.button-round-request:focus,
.button-round-request:active {
  background: #b42f26;
  box-shadow: 0px 0px 15px #00000030;
  transform: scale(1.05);
}
.button-round-request:hover > p {
  color: #fefefe;
}
/* кнопки */

/* фильтры */

.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}
.btn-filter {
  display: flex;
}
</style>
