<template>
  <section id="childtales" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header header-thin-bg no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Сказки</h1>
          </div>
        </div>
        <hr class="invisible my-1" />
        <div
          class="row w-100 no-wrap pointer"
          v-for="tale in tales"
          :key="tale.number"
          :index="tale.number"
        >
          <!-- Если сказка открыта -->
          <div class="col-md-12 my-auto px-0">
            <div @click="openTale(tale)" class="row tale-row px-2">
              <div class="col-md-11 my-auto pr-0">
                <p class="tale-text m-0">
                  {{ tale.name }}
                </p>
              </div>
            </div>
            <!-- Если сказка открыта -->
            <!-- Если сказка заблокирована -->
            <!-- <div class="row disabled-row px-2">
              <div class="col-md-10 my-auto pr-0">
                <p class="tale-text disabled-text m-0">
                  {{ Tale.name }}
                </p>
              </div>
              <div class="col-md-1"></div>
              <div
                class="col-md-1 my-auto text-center animate__bounceIn animate__slower"
              >
                <img
                  src="@/assets/img/icons/locked.png"
                  class="img-fluid"
                />
              </div>
            </div> -->
            <!-- Если сказка заблокирована -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { Tale1Mapper } from "@/store/tales/tale1";
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";
export default {
  name: "ChildTales",
  computed: {
    ...TaleMapper.mapState(["page", "tales"]),
    ...AuthMapper.mapState(["token"]),
    ...ChildMapper.mapState(["profile"]),
  },
  data() {
    return {
      TalesList: [
        {
          id: 0,
          talename: "Как лисенок узнал что такое домашние дела",
          unlocked: true,
        },
        {
          id: 1,
          talename: "Как у лисенка появился велосипед",
          unlocked: true,
        },
        {
          id: 2,
          talename: "Как лисенок стал мером и спас лес",
          unlocked: false,
        },
        {
          id: 3,
          talename: "Как лисенок победил лень",
          unlocked: false,
        },
        {
          id: 4,
          talename: "Что такое банк?",
          unlocked: false,
        },
        {
          id: 5,
          talename: "Сказка о том как деньги придумали",
          unlocked: false,
        },
        {
          id: 6,
          talename:
            "Сказка о том, что такое деньги, откуда они берутся и зачем они нужны",
          unlocked: false,
        },
        {
          id: 7,
          talename: "Где живут деньги?",
          unlocked: false,
        },
        {
          id: 8,
          talename: "Кошелек",
          unlocked: false,
        },
      ],
    };
  },
  methods: {
    ...TaleMapper.mapActions(["getTales", "turnPage"]),
    ...Tale1Mapper.mapMutations(["set1Tale"]),
    async openTale(tale) {
      if (tale.pages == 0) {
        tale.pages = 1;
        await this.turnPage({ tale: tale, token: this.token });
        this.set1Tale(tale);
        this.$router.push({ name: `tale${tale.number}-${tale.pages}` });
      } else {
        this.set1Tale(tale);
        this.$router.push({ name: `tale${tale.number}-path` });
      }
    },
  },
  async mounted() {
    var chat = document.querySelector("#chat-block");
    var container = document.querySelector(".my-child-container");

    if (chat) {
      if (chat.classList.contains("hidden")) {
        if (container.classList.contains("mcc-width")) {
          container.classList.remove("mcc-width");
          container.classList.add("w-100");
        } else {
          container.classList.remove("cpc-width");
          container.classList.add("w-100");
        }
      }
    }
    await this.getTales({ token: this.token, id: this.profile.id });
  },
};
</script>