<template>
  <section id="ChildPage" class="childpage-bg">
    <div
      class="container-fluid p-0 full-height-container animate__animated animate__fadeIn"
    >
      <Header />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel />
        <div class="content-block p-0">
          <router-view></router-view>
        </div>
        <!-- Чат -->
        <Chat v-bind:type="1" />

        <button
          @click="$bvModal.show('ModalGreetings')"
          class="fox-invisible-button"
        >
          <img
            src="@/assets/img/background/hello-fox.png"
            class="no-select button-fox-image"
          />
        </button>
      </div>
    </div>

    <b-modal id="ModalGreetings" hide-header hide-footer class="w-100 h-100">
      <ModalGreetings />
    </b-modal>
  </section>
</template>

<script>
import Header from "@/components/child/header/Header.vue";
import SidePanel from "@/components/child/SidePanel.vue";
import Chat from "@/components/global/chat/Chat.vue";
import ModalGreetings from "@/components/child/ModalGreetings.vue";

export default {
  name: "Child",
  components: {
    Chat,
    Header,
    SidePanel,
    ModalGreetings,
  },
};
</script>

<style scoped>
.content-block {
  width: 60%;
}
.row {
  flex-wrap: nowrap;
}
</style>
