<template>
  <section
    id="childdictionary"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header header-thin-bg no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Словарь</h1>
          </div>
        </div>
        <hr class="invisible" />
        <div
          class="my-3 row-child-dictionary row w-100 no-wrap"
          v-for="term in terms"
          :key="term.id"
          :index="term.id"
        >
          <div class="col-md-12 my-auto px-0">
            <div class="row px-1">
              <div class="col-md-9 pr-0">
                <p class="dictionary-text m-0">
                  <span class="text-bolder">{{ term.name }} - </span>
                  {{ term.name }}
                </p>
              </div>
              <div
                class="col-md-1 my-auto text-right animate__bounceIn animate__slower"
              >
                <img
                  src="@/assets/img/icons/listenterm.png"
                  class="img-fluid"
                />
              </div>
              <div
                v-if="term.child.includes(profile.id)"
                class="col-md-2 my-auto pl-0 text-center animate__bounceIn animate__slower"
              >
                <img src="@/assets/img/icons/task-complete.png" />
              </div>
              <div
                v-else
                class="col-md-2 my-auto pl-0 text-center animate__bounceIn animate__slower"
              >
                <p @click="takingTerm(term)" class="pointer term-link-add">
                  Добавить
                </p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12 px-0">
                <!--<hr v-if="term.id < terms.length - 1" class="my-3 child-dictionary-hr" />
                            <hr class="my-3 invisible" />-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";
export default {
  name: "Dictionary",
  computed: {
    ...ChildMapper.mapState(["terms", "profile", "error", "term"]),
    ...AuthMapper.mapState(["token"]),
  },
  data() {
    return {};
  },
  async mounted() {
    var chat = document.querySelector("#chat-block");
    var container = document.querySelector(".my-child-container");
    if (chat) {
      if (chat.classList.contains("hidden")) {
        if (container.classList.contains("mcc-width")) {
          container.classList.remove("mcc-width");
          container.classList.add("w-100");
        } else {
          container.classList.remove("cpc-width");
          container.classList.add("w-100");
        }
      }
    }
    let payload = {
      token: this.token,
      mentor: this.profile.mentor.id,
    };
    await this.getDictionary(payload);
    if (this.error) {
      console.log(this.error);
    }
  },
  methods: {
    ...ChildMapper.mapActions(["getDictionary", "takeTerm"]),
    ...ChildMapper.mapMutations(["setTerm"]),

    async takingTerm(term) {
      let payload = {
        token: this.token,
        child: [this.profile.id],
      };
      await this.setTerm(term);
      await this.takeTerm(payload);
      if (this.error) {
        console.log(this.error);
      } else {
        let payload = {
          token: this.token,
          mentor: this.profile.mentor.id,
        };
        await this.getDictionary(payload);
      }
    },
  },
};
</script>

<style>
</style>
