<template>
  <section
    id="myowndictionary"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header-big w-100 no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Мой словарик</h1>
          </div>
        </div>
        <hr class="invisible" />
        <div
          class="my-3 row-child-dictionary row w-100 no-wrap"
          v-for="term in terms"
          :key="term.id"
          :index="term.id"
        >
          <div class="col-md-12 my-auto px-0">
            <div class="row px-3">
              <p class="dictionary-text m-0">
                <span class="text-bolder">{{ term.name }} - </span>
                {{ term.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";
export default {
  name: "Notebook",
  computed: {
    ...ChildMapper.mapState(["terms", "error", "profile"]),
    ...AuthMapper.mapState(["token"]),
  },
  data() {
    return {
      TermList: [
        {
          id: 0,
          termname: "Биржа труда",
          termdescription:
            "организация, где каждый человек может найти себе работу или сотрудника.",
        },
        {
          id: 1,
          termname: "Инструкция",
          termdescription:
            "правило, устанавливающие порядок и способ осуществления, выполнения чего-либо",
        },
        {
          id: 2,
          termname: "Тайм-менеджмент",
          termdescription: "управление своим временем, чтобы ты все успевал",
        },
      ],
    };
  },
  methods: {
    ...ChildMapper.mapActions(["getNotebook"]),
  },
  async mounted() {
    var chat = document.querySelector("#chat-block");
    var container = document.querySelector(".my-child-container");
    if (chat) {
      if (chat.classList.contains("hidden")) {
        if (container.classList.contains("mcc-width")) {
          container.classList.remove("mcc-width");
          container.classList.add("w-100");
        } else {
          container.classList.remove("cpc-width");
          container.classList.add("w-100");
        }
      }
    }
    let payload = {
      token: this.token,
      child: this.profile.id,
    };
    await this.getNotebook(payload);
    if (this.error) {
      console.log(this.error);
    }
  },
};
</script>

<style>
</style>
