<template>
  <section
    id="childprofile"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header-big no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Мой Профиль</h1>
          </div>
        </div>

        <form class="form-inline">
          <div class="row w-100 ml-2 no-wrap">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center my-3 pt-2">
                  <img
                    ref="avatar"
                    :src="profile.avatar"
                    class="img-fluid round-icon w-100"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group text-center">
                    <input
                      @change="chooseAvatar()"
                      ref="file"
                      type="file"
                      class="form-control-file"
                      id="photo-load"
                    />
                    <label
                      for="photo-load"
                      class="mx-auto pointer load-photo-text"
                      >Загрузить фото</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 text-center pl-0">
              <div class="form-group my-4 pt-2">
                <input
                  type="text"
                  class="form-control pl-3 input__profile"
                  placeholder="Имя"
                  v-model="profile.name"
                />
              </div>
              <div class="form-group mt-3 pt-2">
                <div class="row w-100">
                  <div class="col-md p-0">
                    <input
                      type="text"
                      class="form-control w-100 h-100 text-slogan"
                      id="ChildMottoFromProfile"
                      placeholder="Введи девиз"
                      v-model="profile.slogan"
                    />
                  </div>

                  <div class="col-md-4 pl-0">
                    <button
                      type="button"
                      class="btn btn-inline-step w-100 h-100"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Выбрать
                    </button>
                    <div class="dropdown-menu">
                      <button
                        class="dropdown-item text-slogan"
                        @click="setSlogan(slogan.slogan)"
                        type="button"
                        v-for="slogan in slogans"
                        :key="slogan.id"
                        :index="slogan.id"
                      >
                        {{ slogan.slogan }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mt-5 pt-3">
                <b-button
                  @click="changeNickAndSlogan()"
                  id="savebutton"
                  class="btn btn-profile-tab"
                >
                  <p class="m-0">Сохранить</p>
                </b-button>
              </div>
            </div>
          </div>
          <hr class="hr-invisible" />
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";
export default {
  name: "Profile",
  data() {
    return {
      file: null,
      slogans: {
        1: {
          id: 1,
          slogan: "Если не ты, то кто?",
        },
        2: {
          id: 2,
          slogan: "Желающие радуги должны мириться с дождем.",
        },
        3: {
          id: 3,
          slogan:
            "Относись к другим так, как ты хочешь чтобы относились к тебе.",
        },
        4: {
          id: 4,
          slogan: "У совершенства нет предела.",
        },
      },
    };
  },
  computed: {
    ...ChildMapper.mapState(["profile", "error", "mediaUrl"]),
    ...AuthMapper.mapState(["token", "avatar", "profile"]),
  },
  methods: {
    ...AuthMapper.mapActions(["changeAvatar", "getAvatar"]),
    ...ChildMapper.mapActions(["getChildProfile", "setChildNickAndSlogan"]),
    ...ChildMapper.mapMutations(["setSlogan"]),
    async changeNickAndSlogan() {
      let payload = {
        token: this.token,
        slogan: this.profile.slogan,
        name: this.profile.nickname,
      };
      await this.setChildNickAndSlogan(payload);
    },
    async chooseAvatar() {
      this.file = this.$refs.file.files[0];
      let formData = new FormData();
      formData.append("avatar", this.file);
      await this.changeAvatar(formData);
      location.reload();
    },
  },
  async mounted() {
    var chat = document.querySelector("#chat-block");
    var container = document.querySelector(".my-child-container");
    if (chat) {
      if (chat.classList.contains("hidden")) {
        if (container.classList.contains("mcc-width")) {
          container.classList.remove("mcc-width");
          container.classList.add("w-100");
        } else {
          container.classList.remove("cpc-width");
          container.classList.add("w-100");
        }
      }
    }
    await this.getAvatar();
    await this.getChildProfile(this.token);
    if (this.error) {
      console.log(this.error);
    }
  },
};
</script>

<style>
.text-slogan {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
