<template>
  <section id="childtales" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header header-thin-bg no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Сказки</h1>
          </div>
        </div>
        <hr class="invisible my-1" />
        <div
          class="row w-100 no-wrap pointer"
          v-for="tale in tales"
          :key="tale.id"
          :index="tale.id"
        >
          <!-- Если сказка открыта -->
          <div class="col-md-12 my-auto px-0">
            <div @click="openTale(tale)" class="row tale-row px-2">
              <div class="col-md-11 my-auto pr-0">
                <p class="tale-text m-0">
                  {{ tale.name }}
                </p>
              </div>
            </div>
            <!-- Если сказка открыта -->
            <!-- Если сказка заблокирована -->
            <!-- <div class="row disabled-row px-2">
              <div class="col-md-10 my-auto pr-0">
                <p class="tale-text disabled-text m-0">
                  {{ Tale.name }}
                </p>
              </div>
              <div class="col-md-1"></div>
              <div
                class="col-md-1 my-auto text-center animate__bounceIn animate__slower"
              >
                <img
                  src="@/assets/img/icons/locked.png"
                  class="img-fluid"
                />
              </div>
            </div> -->
            <!-- Если сказка заблокирована -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
export default {
  name: "Tales",
  computed: {
    ...TaleMapper.mapState(["tales", "tale"]),
  },
  methods: {
    ...TaleMapper.mapActions(["getTales", "getTale"]),
    async openTale(tale) {
      await this.getTale(tale.id);
      if (this.tale.pages == 0) {
        this.$router.push({ name: `tale${this.tale.number}-1` });
      } else if (this.tale.pages < 10) {
        this.$router.push({
          name: `tale${this.tale.number}-${this.tale.pages}`,
        });
      } else {
        this.$router.push({ name: `tale${this.tale.number}-path` });
      }
    },
  },
  async mounted() {
    var chat = document.querySelector("#chat-block");
    var container = document.querySelector(".my-child-container");

    if (chat) {
      if (chat.classList.contains("hidden")) {
        if (container.classList.contains("mcc-width")) {
          container.classList.remove("mcc-width");
          container.classList.add("w-100");
        } else {
          container.classList.remove("cpc-width");
          container.classList.add("w-100");
        }
      }
    }
    await this.getTales();
  },
};
</script>