<template>
  <div
    id="modal-add-menthor"
    class="modal-wrap absolute-block animate__animated"
  >
    <div class="contaiter-fluid relative-block mt-3 pl-4">
      <button
        @click="closeModal()"
        class="btn-invisible-button absolute-block close-modal-icon"
      >
        <img
          src="@/assets/img/icons/close-icon-afroamerican.png"
          alt=""
          class=""
        />
      </button>
      <hr class="invisible" />
      <h6 class="pl-3 mb-4">Задание “Семейное Интервью”</h6>

      <!-- ввод личной информации по ментору -->
      <div
        class="mb-4"
        v-for="answer in childAnswers"
        :key="answer.id"
        :index="answer.id"
      >
        <div class="row mb-3">
          <div class="col-3 bold-text">
            <p class="m-0">Ответ {{ answer.id }}</p>
          </div>
          <div class="col">
            <p class="m-0 semi-bold-text">{{ answer.cost }} фоксиков</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4" :class="{ blockNone: !answer.photo }">
            <button class="agent-file-load w-100 py-2">Просмотр фото</button>
          </div>
          <div class="col-4" :class="{ blockNone: !answer.video }">
            <button class="agent-file-load w-100 py-2">Просмотр видео</button>
          </div>
          <div class="col-4" :class="{ blockNone: !answer.autio }">
            <button class="agent-file-load w-100 py-2">Прослушать аудио</button>
          </div>
        </div>
      </div>
      <!-- загрузка файлов для добавления ментора -->
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalChildAnswers",
  data() {
    return {
      childAnswers: [
        {
          id: 1,
          cost: 5,
          photo: true,
          video: true,
          autio: true,
        },
        {
          id: 2,
          cost: 4,
          photo: true,
          autio: true,
        },
        {
          id: 3,
          cost: 8,
          autio: true,
        },
      ],
    };
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
  },
};
</script>


<style  scoped>
.agent-file-load {
  width: 70%;
  padding: 2% 7%;
}
</style>