<template>
  <section
    id="buhfranch-act-viewer-child"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Счет на оплату
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Счет на оплату</p>
        </div>
      </div>
      <div class="row px-3" style="margin-top: 20px">
        <b-button
          variant="1"
          @click="downloadPDF"
          class="btn-act"
          style="margin-right: 55px"
          ><p>Скачать счет</p></b-button
        >
        <b-button variant="1" @click="printPDF" class="btn-act"
          ><p>Распечатать счет</p></b-button
        >
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px; height: 600px; display: flex"
      id="iframeContainer"
    ></div>
  </section>
</template>

<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
import moment from "moment";
pdfMake.vfs = pdfFonts.pdfMake.vfs;
moment.locale("ru");
export default {
  name: "SeminarDocViewer",
  props: ["packItem"],
  methods: {
    downloadPDF() {
      pdfMake.createPdf(this.doc).download("Счет на оплату.pdf");
    },
    printPDF() {
      pdfMake.createPdf(this.doc).print();
    },
    getPrice(count, format) {
      if (count < 25) return this.costs[format][0] * count;
      if (count > 24 && count < 50) return this.costs[format][1] * count;
      if (count > 49) return this.costs[format][2] * count;
    },
  },
  mounted() {
    this.doc = {
      pageSize: "A4",
      pageOrientation: "landscape",
      content: [
        {
          text: "Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.",
          alignment: "center",
          margin: [100, 0, 100, 10],
        },
        {
          table: {
            widths: [250, 250, 50, "*"],
            body: [
              [
                {
                  text: [
                    `${this.packItem.franchisee.name}\n\n`,
                    { text: "Банк получателя", fontSize: 10 },
                  ],
                  rowSpan: 2,
                  colSpan: 2,
                },
                "",
                {
                  text: "БИК",
                },
                {
                  text: this.packItem.franchisee.BIK,
                },
              ],
              ["", "", "Сч. Р/с", this.packItem.franchisee.RS],
              [
                `ИНН ${this.packItem.franchisee.inn}`,
                `КПП ${this.packItem.franchisee.KPP}`,
                {
                  text: "Сч. К/c",
                  rowSpan: 2,
                },
                {
                  text: this.packItem.franchisee.CS,
                  rowSpan: 2,
                },
              ],
              [
                {
                  text: [
                    'ООО "ПинКод"\n\n',
                    {
                      text: "Получатель",
                      fontSize: 10,
                    },
                  ],
                  colSpan: 2,
                },
                "",
                "",
                "",
              ],
            ],
          },
          alignment: "left",
        },
        " ",
        {
          table: {
            width: ["auto", "*"],
            body: [
              [
                {
                  text: `Счет на оплату No ${this.packItem.id} от ${moment(
                    this.packItem.date
                  ).format("DD MMMM YYYY")}`,
                  bold: true,
                  fontSize: 14,
                  colSpan: 2,
                  border: [false, false, false, true],
                },
                "",
              ],
              [
                {
                  text: "Поставщик:",
                  margin: [0, 20, 0, 20],
                  border: [false, false, false, false],
                },

                {
                  text: 'ООО "ПинКод" ИНН 325500624053, КПП , 241050 г.Брянск пр-кт Ленина д.70 кв.117',
                  bold: true,
                  margin: [0, 20, 0, 20],
                  border: [false, false, false, false],
                },
              ],
              [
                { text: "Покупатель:", border: [false, false, false, false] },
                {
                  text: `${this.packItem.franchisee.name} ИНН ${
                    this.packItem.franchisee.inn
                  }, ${
                    this.packItem.franchisee.KPP
                      ? "КПП " + this.packItem.franchisee.KPP
                      : ""
                  } ${this.packItem.franchisee.urAdress}`,
                  bold: true,
                  border: [false, false, false, false],
                },
              ],
            ],
          },
        },
        {
          table: {
            headerRows: 1,
            widths: [20, "*", 50, 50, 80, 80],
            body: [
              [
                {
                  text: "№",
                  bold: true,
                  alignment: "center",
                  margin: [0, 10, 0, 10],
                },
                {
                  text: "Товары (работы, услуги)",
                  bold: true,
                  alignment: "center",
                  margin: [0, 10, 0, 10],
                },
                {
                  text: "Кол-во",
                  bold: true,
                  alignment: "center",
                  margin: [0, 10, 0, 10],
                },
                {
                  text: "Ед. изм.",
                  bold: true,
                  alignment: "center",
                  margin: [0, 10, 0, 10],
                },
                {
                  text: "Цена",
                  bold: true,
                  alignment: "center",
                  margin: [0, 10, 0, 10],
                },
                {
                  text: "Сумма",
                  bold: true,
                  alignment: "center",
                  margin: [0, 10, 0, 10],
                },
              ],
              [
                {
                  text: "1",
                  alignment: "right",
                },
                {
                  text: `Пакет "${
                    this.packItem.name == 0
                      ? "Детский сад"
                      : this.packItem.name == 1
                      ? "Начальная школа"
                      : "Школа"
                  }" (${this.packItem.format ? "Online" : "Offline"}) на ${
                    this.packItem.child_count
                  } детей`,
                  alignment: "left",
                },
                {
                  text: "1",
                  alignment: "right",
                },
                {
                  text: "шт",
                  alignment: "left",
                },
                {
                  text: `${this.getPrice(
                    this.packItem.child_count,
                    this.packItem.format
                  )},00`,
                  alignment: "right",
                },
                {
                  text: `${this.getPrice(
                    this.packItem.child_count,
                    this.packItem.format
                  )},00`,
                  alignment: "right",
                },
              ],
              [
                {
                  text: "Итого:",
                  colSpan: 5,
                  bold: true,
                  alignment: "right",
                  border: [false, false, false, false],
                },
                "",
                "",
                "",
                "",
                {
                  text: `${this.getPrice(
                    this.packItem.child_count,
                    this.packItem.format
                  )},00`,
                  bold: true,
                  alignment: "right",
                  border: [false, false, false, false],
                },
              ],
              [
                {
                  text: "В том числе НДС:",
                  colSpan: 5,
                  bold: true,
                  alignment: "right",
                  border: [false, false, false, false],
                },
                "",
                "",
                "",
                "",
                {
                  text: "0,00",
                  bold: true,
                  alignment: "right",
                  border: [false, false, false, false],
                },
              ],
            ],
          },
        },
        {
          table: {
            widths: ["*"],
            body: [
              [
                {
                  text: `Всего наименований 1, на сумму ${this.getPrice(
                    this.packItem.child_count,
                    this.packItem.format
                  )},00 руб.`,
                  border: [false, false, false, true],
                },
              ],
              // [
              //   {
              //     text: "Восемь тысяч рублей 00 копеек. Без НДС.",
              //     border: [false, false, false, true],
              //     bold: true,
              //     fontSize: 14,
              //   },
              // ],
            ],
          },
        },
        {
          table: {
            widths: ["auto", "*", "auto", "*"],
            body: [
              [
                {
                  text: "Руководитель",
                  margin: [10, 10, 10, 0],
                  border: [false, false, false, false],
                  bold: true,
                },
                { text: " ", border: [false, false, false, true] },
                {
                  text: "Бухгалтер",
                  margin: [10, 10, 10, 0],
                  border: [false, false, false, false],
                  bold: true,
                },
                { text: " ", border: [false, false, false, true] },
              ],
            ],
          },
        },
      ],
      styles: {
        header: {
          alignment: "center",
          fontSize: 14,
          margin: [0, 0, 0, 10],
        },
        subheader: {
          alignment: "center",
          fontSize: 10,
          margin: [0, 0, 0, 5],
        },
        text: {
          alignment: "justify",
          lineHeight: 1.5,
          fontSize: 10,
          margin: [0, 0, 0, 5],
        },
        bold: {
          bold: true,
        },
        italic: {
          italics: true,
        },
        center: {
          alignment: "center",
        },
        table: {
          margin: [0, 5, 0, 15],
        },
        grayText: {
          color: "gray",
        },
      },
      defaultStyle: {
        alignment: "justify",
      },
    };
    const pdfDocGenerator = pdfMake.createPdf(this.doc);
    pdfDocGenerator.getDataUrl((dataUrl) => {
      const targetElement = document.querySelector("#iframeContainer");
      const iframe = document.createElement("iframe");
      iframe.style.width = "100%";
      iframe.src = dataUrl;
      targetElement.appendChild(iframe);
    });
  },
  data() {
    return {
      costs: [
        [1500, 1300, 1100],
        [7000, 6000, 5000],
      ],
      doc: {},
    };
  },
};
</script>

<style>
.toolbar {
  display: none;
}
</style>