<template>
  <section
    id="buhfranch-act-viewer-child"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Лицензионный договор
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Лицензионный договор</p>
        </div>
      </div>
      <div class="row px-3" style="margin-top: 20px">
        <b-button
          variant="1"
          @click="downloadPDF"
          class="btn-act"
          style="margin-right: 55px"
          ><p>Скачать договор</p></b-button
        >
        <b-button variant="1" @click="printPDF" class="btn-act"
          ><p>Распечатать договор</p></b-button
        >
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px; height: 600px; display: flex"
      id="iframeContainer"
    ></div>
  </section>
</template>

<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
import moment from "moment";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

export default {
  name: "LicenseDocViewer",
  props: ["packItem"],
  methods: {
    downloadPDF() {
      pdfMake.createPdf(this.doc).download("Лицензионный договор.pdf");
    },
    printPDF() {
      pdfMake.createPdf(this.doc).print();
    },
  },
  mounted() {
    this.doc = {
      pageSize: "A4",
      pageOrientation: "portrait",
      content: [
        {
          text: "Лицензионный договор",
          style: ["header", "bold"],
        },
        " ",
        {
          columns: [
            {
              text: "г. Москва",
              style: "text",
            },
            {
              text: `${moment(this.packItem.date).format("«DD» MM YYYY")} г.`,
              alignment: "right",
              style: "text",
            },
          ],
        },
        " ",
        {
          text: `Общество с ограниченной ответственностью «ПинКод», именуемый в дальнейшем "Лицензиар", в лице генерального директора Шилкиной Марины Алексндровны, действующего на основании Устава, с одной стороны и ${
            this.packItem.franchisee.name
          } ${
            this.packItem.franchisee.inn
          }, именуемый в дальнейшем "Лицензиат", в лице ${
            this.packItem.franchisee.ip
              ? this.packItem.franchisee.name
              : this.packItem.franchisee.director
          },   действующего на основании Устава, с другой стороны, а вместе именуемые "Стороны", заключили настоящий договор о нижеследующем:`,
          style: "text",
        },
        {
          text: "1. Предмет договора",
          style: "text",
        },
        {
          text: "1.1. Лицензиар предоставляет обязуется предоставить Лицензиату неисключительное право использования методических материалов обучающей программы «BUSINESS FOX», программного обеспечения CRM «BUSINESS FOX» (далее-Программные материалы), в установленных настоящим договором пределах, а Лицензиат обязуется уплатить Лицензиару обусловленное вознаграждение за приобретение права использования Программных материалов и ежемесячное вознаграждение за их использование.",
          style: "text",
        },
        {
          text: "1.2. Объектом по договору являются: методические материалы обучающей программы «BUSINESS FOX», программное обеспечение CRM «BUSINESS FOX» Свидетельства No __________.",
          style: "text",
        },
        {
          text: "1.3. Территория, на которой допускается использование Программных материалов ограничивается территорией Российской Федерации.",
          style: "text",
        },
        {
          text: "1.4. Права использования Программных материалов предоставляются Лицензиату с правом заключения сублицензионных договоров с третьими лицами в пределах тех прав и тех способов использования, которые предусмотрены лицензионным договором для него самого.",
          style: "text",
        },
        {
          text: "2. Права и обязанности Сторон",
          style: "text",
        },
        {
          text: "2.1. Лицензиат может использовать Программные материалы только в пределах тех прав и теми способами, которые предусмотрены настоящим лицензионным договором.",
          style: "text",
        },
        {
          text: "2.2. Лицензиат обязан обеспечить соответствие качества оказываемых услуг, устанавливаемым Лицензиаром.",
          style: "text",
        },
        {
          text: "3. Срок действия договора",
          style: "text",
        },
        {
          text: "3.1. Договор прекращает свое действие с момента прекращения действия лицензии.",
          style: "text",
        },
        {
          text: "3.2. В случае прекращения исключительного права лицензионный договор прекращается.",
          style: "text",
        },
        {
          text: "4. Вознаграждение Лицензиара и порядок расчетов.",
          style: "text",
        },
        {
          text: "4.1. Вознаграждение за приобретение права использования комплексом исключительных прав, предусмотренных п. 1.1. Договора, при условии использования не свыше приобретенного количества пакетов Программных материалов, составляет:",
          style: "text",
        },
        {
          type: "none",
          ul: [
            "Использование в формате «онлайн»:",
            {
              type: "none",
              ul: [
                "1 пакет (25-49 кабинетов) = по 1 500 (Одна тысяча пятьсот) рублей за каждый пакет.",
                "1 пакет (50-99 кабинетов) = по 1 300 (Одна тысяча триста) рублей за каждый пакет.",
                "1 пакет (100-неограниченное кол-во кабинетов) = по 1 100 (Одна тысяча сто) рублей за каждый пакет.",
              ],
            },
          ],

          style: "text",
        },
        {
          type: "none",
          ul: [
            "Использование в формате «офлайн»:",
            {
              type: "none",
              ul: [
                "1 пакет (25-49 кабинетов) = по 7.500 (Семь тысяч) рублей за каждый пакет.",
                "1 пакет (50-99 кабинетов) = по 6.000 (Шесть тысяч) рублей за каждый пакет.",
                "1 пакет (100-неограниченное кол-во кабинетов) = по 5.000 (Пять тысяч) рублей за каждый пакет.",
              ],
            },
          ],
          style: "text",
        },
        {
          text: [
            {
              text: "4.2. Вознаграждение за разовое приобретение пакетов Программного материала осуществляется в течение ",
            },
            {
              text: "5 (Пять) рабочих дней ",
              style: "bold",
            },
            {
              text: "с момента подписания настоящего договора.",
            },
          ],
          style: "text",
        },
        {
          text: "5. Ответственность по договору",
          style: "text",
        },
        {
          text: "5.1. За использование Программных материалов способом, не предусмотренным настоящим договором, либо по прекращении действия договора, либо иным образом за пределами прав, предоставленных договором, Лицензиат несет ответственность за нарушение исключительного права на Программные материалы, предусмотренную Гражданским кодексом РФ и другими нормативно-правовыми актами.",
          style: "text",
        },
        {
          text: "5.2. При нарушении Лицензиатом обязанности уплатить Лицензиару в установленный договором срок вознаграждение за предоставление права использования Программных материалов, Лицензиар может в одностороннем порядке отказаться от лицензионного договора и потребовать возмещения убытков, причиненных расторжением договора.",
          style: "text",
        },
        {
          text: "5.3. Лицензиар гарантирует наличие у него предоставляемых по настоящему договору исключительных прав на Программные материалы.",
          style: "text",
        },
        {
          text: "6. Заключительные положения",
          style: "text",
        },
        {
          text: "6.1. Настоящий договор вступает в силу с момента его государственной регистрации.",
          style: "text",
        },
        {
          text: "6.2. Договор подлежит государственной регистрации в федеральном органе исполнительной власти по интеллектуальной собственности.",
          style: "text",
        },
        {
          text: "6.3. Во всем, что не предусмотрено настоящим договором, Стороны руководствуются действующим законодательством РФ.",
          style: "text",
        },
        {
          text: "7. Реквизиты и подписи Сторон",
          style: "text",
        },
        {
          columns: [
            [
              { text: "Лицензиар" },
              {
                text: this.packItem.franchisee.name,
              },
            ],
            [
              { text: "Лицензиат", alignment: "right" },
              {
                text: "ООО ПинКод",
                alignment: "right",
              },
            ],
          ],
          style: ["bold", "text"],
        },
      ],
      styles: {
        header: {
          alignment: "center",
          fontSize: 14,
          margin: [0, 0, 0, 10],
        },
        subheader: {
          alignment: "center",
          fontSize: 10,
          margin: [0, 0, 0, 5],
        },
        text: {
          alignment: "justify",
          lineHeight: 1.5,
          fontSize: 10,
          margin: [0, 0, 0, 5],
        },
        bold: {
          bold: true,
        },
        italic: {
          italics: true,
        },
        center: {
          alignment: "center",
        },
        table: {
          margin: [0, 5, 0, 15],
        },
        grayText: {
          color: "gray",
        },
      },
      defaultStyle: {
        alignment: "justify",
      },
    };
    const pdfDocGenerator = pdfMake.createPdf(this.doc);
    pdfDocGenerator.getDataUrl((dataUrl) => {
      const targetElement = document.querySelector("#iframeContainer");
      const iframe = document.createElement("iframe");
      iframe.style.width = "100%";
      iframe.src = dataUrl;
      targetElement.appendChild(iframe);
    });
  },

  data() {
    return {
      doc: {
        pageSize: "A4",
        pageOrientation: "portrait",
        content: [
          {
            text: "Лицензионный договор",
            style: ["header", "bold"],
          },
          " ",
          {
            columns: [
              {
                text: "г. Москва",
                style: "text",
              },
              {
                text: "«__»_______ 2021 г.",
                alignment: "right",
                style: "text",
              },
            ],
          },
          " ",
          {
            text: 'Общество с ограниченной ответственностью «ПинКод», именуемый в дальнейшем "Лицензиар", в лице генерального директора Шилкиной Марины Алексндровны, действующего на основании Устава, с одной стороны и _____________, именуемый в дальнейшем "Лицензиат", в лице ____________________,   действующего на основании___________________________, с другой стороны, а вместе именуемые "Стороны", заключили настоящий договор о нижеследующем:',
            style: "text",
          },
          {
            text: "1. Предмет договора",
            style: "text",
          },
          {
            text: "1.1. Лицензиар предоставляет обязуется предоставить Лицензиату неисключительное право использования методических материалов обучающей программы «BUSINESS FOX», программного обеспечения CRM «BUSINESS FOX» (далее-Программные материалы), в установленных настоящим договором пределах, а Лицензиат обязуется уплатить Лицензиару обусловленное вознаграждение за приобретение права использования Программных материалов и ежемесячное вознаграждение за их использование.",
            style: "text",
          },
          {
            text: "1.2. Объектом по договору являются: методические материалы обучающей программы «BUSINESS FOX», программное обеспечение CRM «BUSINESS FOX» Свидетельства No __________.",
            style: "text",
          },
          {
            text: "1.3. Территория, на которой допускается использование Программных материалов ограничивается территорией Российской Федерации.",
            style: "text",
          },
          {
            text: "1.4. Права использования Программных материалов предоставляются Лицензиату с правом заключения сублицензионных договоров с третьими лицами в пределах тех прав и тех способов использования, которые предусмотрены лицензионным договором для него самого.",
            style: "text",
          },
          {
            text: "2. Права и обязанности Сторон",
            style: "text",
          },
          {
            text: "2.1. Лицензиат может использовать Программные материалы только в пределах тех прав и теми способами, которые предусмотрены настоящим лицензионным договором.",
            style: "text",
          },
          {
            text: "2.2. Лицензиат обязан обеспечить соответствие качества оказываемых услуг, устанавливаемым Лицензиаром.",
            style: "text",
          },
          {
            text: "3. Срок действия договора",
            style: "text",
          },
          {
            text: "3.1. Договор прекращает свое действие с момента прекращения действия лицензии.",
            style: "text",
          },
          {
            text: "3.2. В случае прекращения исключительного права лицензионный договор прекращается.",
            style: "text",
          },
          {
            text: "4. Вознаграждение Лицензиара и порядок расчетов.",
            style: "text",
          },
          {
            text: "4.1. Вознаграждение за приобретение права использования комплексом исключительных прав, предусмотренных п. 1.1. Договора, при условии использования не свыше приобретенного количества пакетов Программных материалов, составляет:",
            style: "text",
          },
          {
            type: "none",
            ul: [
              "Использование в формате «онлайн»:",
              {
                type: "none",
                ul: [
                  "1 пакет (25-49 кабинетов) = по 1 500 (Одна тысяча пятьсот) рублей за каждый пакет.",
                  "1 пакет (50-99 кабинетов) = по 1 300 (Одна тысяча триста) рублей за каждый пакет.",
                  "1 пакет (100-неограниченное кол-во кабинетов) = по 1 100 (Одна тысяча сто) рублей за каждый пакет.",
                ],
              },
            ],

            style: "text",
          },
          {
            type: "none",
            ul: [
              "Использование в формате «офлайн»:",
              {
                type: "none",
                ul: [
                  "1 пакет (25-49 кабинетов) = по 7.500 (Семь тысяч) рублей за каждый пакет.",
                  "1 пакет (50-99 кабинетов) = по 6.000 (Шесть тысяч) рублей за каждый пакет.",
                  "1 пакет (100-неограниченное кол-во кабинетов) = по 5.000 (Пять тысяч) рублей за каждый пакет.",
                ],
              },
            ],
            style: "text",
          },
          {
            text: [
              {
                text: "4.2. Вознаграждение за разовое приобретение пакетов Программного материала осуществляется в течение ",
              },
              {
                text: "5 (Пять) рабочих дней ",
                style: "bold",
              },
              {
                text: "с момента подписания настоящего договора.",
              },
            ],
            style: "text",
          },
          {
            text: "5. Ответственность по договору",
            style: "text",
          },
          {
            text: "5.1. За использование Программных материалов способом, не предусмотренным настоящим договором, либо по прекращении действия договора, либо иным образом за пределами прав, предоставленных договором, Лицензиат несет ответственность за нарушение исключительного права на Программные материалы, предусмотренную Гражданским кодексом РФ и другими нормативно-правовыми актами.",
            style: "text",
          },
          {
            text: "5.2. При нарушении Лицензиатом обязанности уплатить Лицензиару в установленный договором срок вознаграждение за предоставление права использования Программных материалов, Лицензиар может в одностороннем порядке отказаться от лицензионного договора и потребовать возмещения убытков, причиненных расторжением договора.",
            style: "text",
          },
          {
            text: "5.3. Лицензиар гарантирует наличие у него предоставляемых по настоящему договору исключительных прав на Программные материалы.",
            style: "text",
          },
          {
            text: "6. Заключительные положения",
            style: "text",
          },
          {
            text: "6.1. Настоящий договор вступает в силу с момента его государственной регистрации.",
            style: "text",
          },
          {
            text: "6.2. Договор подлежит государственной регистрации в федеральном органе исполнительной власти по интеллектуальной собственности.",
            style: "text",
          },
          {
            text: "6.3. Во всем, что не предусмотрено настоящим договором, Стороны руководствуются действующим законодательством РФ.",
            style: "text",
          },
          {
            text: "7. Реквизиты и подписи Сторон",
            style: "text",
          },
          {
            columns: [
              {
                text: "Лицензиар",
              },
              {
                text: "Лицензиат",
                alignment: "right",
              },
            ],
            style: ["bold", "text"],
          },
        ],
        styles: {
          header: {
            alignment: "center",
            fontSize: 14,
            margin: [0, 0, 0, 10],
          },
          subheader: {
            alignment: "center",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          text: {
            alignment: "justify",
            lineHeight: 1.5,
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          bold: {
            bold: true,
          },
          italic: {
            italics: true,
          },
          center: {
            alignment: "center",
          },
          table: {
            margin: [0, 5, 0, 15],
          },
          grayText: {
            color: "gray",
          },
        },
        defaultStyle: {
          alignment: "justify",
        },
      },
    };
  },
};
</script>

<style>
.toolbar {
  display: none;
}
</style>