<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div v-if="profile.role == 'Admin'" class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Агент 1</p>
        </div>
        <div class="col text-right">
          <button
            @click="
              !banAgent
                ? $bvModal.show('modal-ban-agent')
                : (banAgent = !banAgent)
            "
            class="mr-2 ml-auto"
            :class="banAgent ? 'btn-unban-agent' : 'btn-ban-agent'"
          >
            {{ banAgent ? "Разблокировать" : "Заблокировать" }} агента
          </button>
        </div>
      </div>
    </div>

    <div v-else class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Аналитика</p>
        </div>
      </div>
    </div>

    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3 pl-4">
      <hr class="invisible" />
      <!-- строка с общим оборотом агента -->
      <div class="row" :class="{'pb-4': !packages.length > 0}">
        <div class="col pl-0">
          <div class="row" style="padding-top: 35px">
            <div class="col-3">
              <p class="m-0 a-row-data-label">Общий оборот:</p>
            </div>
            <div class="col-1 p-0 text-right a-row-data green-bold-text">
              {{ numberWithSpaces(totalTurnover) }} P
            </div>

            <b-button
              v-if="profile.role == 'Admin'"
              @click="
                $router.push({
                  name: 'admin-agent-data',
                  params: { id: $route.params.id },
                })
              "
              variant="1"
              class="absolute-block agent-data-button"
              style="right: 45px"
              ><p>Просмотр данных аккаунта</p></b-button
            >
          </div>
          <!-- строка с общим оборотом агента -->
          <div class="row">
            <div class="col-4 pr-0">
              <hr class="hr-agent" />
            </div>
          </div>
          <!-- строка с доходом агента -->
          <div class="row">
            <div class="col-3">
              <p class="m-0 a-row-data-label">Доход:</p>
            </div>
            <div class="col-1 p-0 text-right a-row-data orange-bold-text">
              {{ numberWithSpaces(incomeSumm) }} P
            </div>
          </div>
          <!-- строка с доходом агента -->
          <div class="row">
            <div class="col-4 pr-0">
              <hr class="hr-agent" />
            </div>
          </div>
          <!-- строка с количеством проданых франшиз -->
          <div class="row">
            <div class="col-3">
              <p class="m-0 a-row-data-label">Кол-во проданных франшиз:</p>
            </div>
            <div class="col-1 p-0 text-right a-row-data orange-bold-text">
              {{ numberWithSpaces(selledFranshises) }}
            </div>
          </div>
          <!-- строка с количеством проданых франшиз -->
          <div v-if="profile.role == 'Agent'" class="row mt-3 pb-1">
            <div class="col-4 mb-auto">
              <p class="m-0 a-row-data-label">Ссылка на продажу франшизы:</p>
            </div>
          </div>
          <div v-if="profile.role == 'Agent'" class="row pb-2">
            <div class="col-3 mb-auto">
              <button @click="copylink()" class="data-download-anketa mt-3">
                <p class="m-0">Копировать ссылку</p>
              </button>
            </div>
          </div>

          <div v-if="profile.role == 'Agent'" class="row mt-3 pb-1">
            <div class="col-4 mb-auto">
              <p class="m-0 a-row-data-label">
                Ссылка на продажу личного кабинета:
              </p>
            </div>
          </div>
          <div v-if="profile.role == 'Agent'" class="row pb-2">
            <div class="col-3 mb-auto">
              <button
                @click="copylinkParent()"
                class="data-download-anketa mt-3"
              >
                <p class="m-0">Копировать ссылку</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <Diagramm :info="diagrammInfo" @date-change="diagrammDateChange" />
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TableAnalytics  v-if="packages.length > 0" :packages="packages" />
    </div>
    <ModalBanAgent @ok="ban" />
  </section>
</template>

<script>
import { numberWithSpaces } from "@/scripts/number";
import { AuthMapper } from "@/store/auth";
import { AgentMapper } from "@/store/agent";

import toast from "@/scripts/toast";
import ModalBanAgent from "@/components/agent/analytics/ModalBanAgent.vue";
import Diagramm from "@/components/global/analytics/Diagramm.vue";
import TableAnalytics from "@/components/agent/analytics/TableAnalytics.vue";
import moment from "moment";
export default {
  name: "Analytics",
  components: {
    Diagramm,
    TableAnalytics,
    ModalBanAgent,
  },
  data() {
    return {
      messageTheme: "",
      diagrammDate: null,
      banAgent: false,
    };
  },
  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...AuthMapper.mapGetters(["role"]),
    ...AgentMapper.mapState(["packages", "error"]),
    selledFranshises() {
      return this.filteredPackages.length || 0;
    },
    incomeSumm() {
      if (!this.filteredPackages.length > 0) return 0;
      return this.filteredPackages
        .map((pack) => pack.price / 20)
        .reduce((a, b) => a + b);
    },
    totalTurnover() {
      if (!this.filteredPackages.length > 0) return 0;
      return this.filteredPackages
        .map((pack) => pack.price)
        .reduce((a, b) => a + b);
    },
    diagrammInfo() {
      let info = [
        {
          id: 1,
          name: "Детский сад (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 2,
          name: "Начальная школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 3,
          name: "Школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 4,
          name: "Детский сад (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 5,
          name: "Начальная школа (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 6,
          name: "Школа (Offline)",
          count: 0,
          income: 0,
        },
      ];
      if (this.filteredPackages.length < 0) return info;
      this.filteredPackages.forEach((pack) => {
        let index = pack.format ? 0 : 3;
        index = index + pack.name;
        info[index].count++;
        info[index].income += pack.price / 20;
      });
      return info;
    },
    filteredPackages() {
      return this.packages.filter(
        (pack) => !this.diagrammDate || this.diagrammDate == pack.date
      );
    },
  },
  methods: {
    ...AgentMapper.mapActions(["getPackages", "getAgentProfile"]),
    numberWithSpaces,
    toast,
    diagrammDateChange(date) {
      if (!date) return (this.diagrammDate = date);
      this.diagrammDate = moment(date).format("YYYY-MM-DD");
    },
    copylink() {
      let value = { agentProfileId: this.profile.id };

      value =
        document.location.protocol +
        "//" +
        document.location.host +
        "/franchisee-authentification/franchisee/" +
        btoa(JSON.stringify(value));
      var copytext = document.createElement("input");
      copytext.value = value;
      document.body.appendChild(copytext);
      copytext.select();
      document.execCommand("copy");
      document.body.removeChild(copytext);

      this.toast("Выполнено", "Ссылка скопирована в буфер обмена", "success");
    },
    copylinkParent() {
      let value = { agentProfileId: this.profile.id };

      value =
        document.location.protocol +
        "//" +
        document.location.host +
        "/referal/" +
        btoa(JSON.stringify(value));
      var copytext = document.createElement("input");
      copytext.value = value;
      document.body.appendChild(copytext);
      copytext.select();
      document.execCommand("copy");
      document.body.removeChild(copytext);

      this.toast("Выполнено", "Ссылка скопирована в буфер обмена", "success");
    },

    async ban(cause) {
      this.banAgent = true;

      await this.ban({
        id: this.$route.params.id,
        data: { ban: true, ban_cause: cause },
      });
      if (!this.error) {
        this.toast("Выполнено", `Агент успешно заблокирован`, "success");
      } else {
        this.toast(
          "Неизвестная ошибка",
          `Не удалось заблокировать агента`,
          "danger"
        );
      }
    },
  },
  async mounted() {
    await this.getPackages();
    // if (!this.error) {
    //   this.packages.forEach((pack) => {
    //     let index = pack.format == "Online" ? 0 : 3;
    //     index = index + pack.name;
    //     this.diagrammInfo[index].count++;
    //     this.diagrammInfo[index].income += pack.price / 20;

    //     this.totalTurnover += pack.price;
    //     this.incomeSumm += pack.price / 20;
    //   });
    // }
  },
};
</script>

<style>
.header-admin {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
}
.orange-bold-text {
  font-size: 16px;
  font-weight: 600;
  color: #e4690b;
}
.green-bold-text {
  font-weight: bold;
  font-size: 16px;
  color: #1c8845;
}
.hr-agent {
  border: 1px dashed #c4c4c4;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.data-download-anketa {
  border: unset;
  background: #4d4db8;
  border-radius: 3px;
  height: 30px;
  width: 180px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}

/* кнопочки */

.agent-data-button {
  border: 1.5px solid #9276e4;
  background: #00000000;
  box-sizing: border-box;
  height: 35px;
  width: 235px;
  border-radius: 40px;
  padding: 0;
  transition: 0.5s ease;
}
.agent-data-button > p {
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  color: #2b2a29;
}
.agent-data-button:hover > p {
  color: #fefefe;
}
.agent-data-button:hover {
  background: #9276e4;
}
.agent-data-button:focus,
.agent-data-button:active {
  background: #9276e4;
  transform: scale(1.05);
}

.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
</style>