<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div
      v-if="profile.role == 'Agent'"
      class="contaiter-fluid relative-block mr-2 mt-2"
    >
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Мои данные
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">
            Документы {{ profile.second_name }} {{ profile.name }}
            {{ profile.last_name }}
          </p>
        </div>
        <div class="col-4 my-auto text-right">
          <a
            class="link-anketa"
            href=""
            @click.prevent="agentDocIsVisible = true"
            >Договор № {{ formProfile.id }} от {{ formProfile.date_joined }}</a
          >
        </div>
      </div>
    </div>
    <div v-else class="contaiter-fluid relative-block mr-2 mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки/Агент 1
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Изменение данных Агент 1</p>
          <a class="link-anketa mt-1" href="#"
            >Договор № {{ formProfile.id }} от {{ formProfile.date_joined }}</a
          >
        </div>
        <div class="col-4 pr-2 text-right">
          <button
            @click="
              !banAgent
                ? $bvModal.show('modal-ban-agent')
                : (banAgent = !banAgent)
            "
            class="mr-2 ml-auto"
            :class="banAgent ? 'btn-unban-agent' : 'btn-ban-agent'"
          >
            {{ banAgent ? "Разблокировать" : "Заблокировать" }} агента
          </button>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4 p-0"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <hr class="invisible" />

      <div class="row mt-3" style="padding-top: 35px">
        <div style="padding-left: 2.5rem" class="col-2 mr-5">
          <b-form-datepicker
            class="top-input flex-row-reverse"
            right
            no-flip
            placeholder="Дата"
            locale="ru"
            hide-header
            label-help=""
            :start-weekday="1"
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric',
            }"
            v-model="chosenDate"
          ></b-form-datepicker>
        </div>
        <div class="col-2">
          <b-input
            class="top-input money-bg"
            placeholder="Сумма"
            type="text"
            onblur="(this.type='text')"
            onfocus="(this.type='number')"
            v-model="filter"
          />
        </div>
      </div>

      <div class="row w-100 mt-4 table-analytics">
        <b-table
          hover
          id="agent-analytics-table"
          :items="filteredItems"
          :fields="fields"
          :total-rows="rows"
          :per-page="perPage"
          :current-page="currentPage"
          :filter="filter"
        >
          <template #cell(act)="row">
            <a
              href=""
              @click.prevent="openAct(row.value, row.item.id)"
              class="buyer-link"
            >
              Акт № {{ row.item.id }}
            </a>
          </template>
          <template #cell(date)="row">
            {{ formatDate(row.value) }}
          </template>
        </b-table>
      </div>
    </div>
    <ModalBanAgent @ok="ban" />
    <b-modal hide-header hide-footer size="xl" centered v-model="showAct">
      <h3 class="w-100 text-center">Акт № {{ activeActId }}</h3>
      <div ref="show"></div>
    </b-modal>
    <b-modal size="xl" hide-footer hide-header v-model="agentDocIsVisible">
      <AgentDocViewer :data="formProfile" :make="agentDocIsVisible" />
    </b-modal>
  </section>
</template>

<script>
import { AgentMapper } from "@/store/agent";
import ModalBanAgent from "@/components/agent/analytics/ModalBanAgent.vue";
import { AuthMapper } from "@/store/auth";
import AgentDocViewer from "@/components/buhfranch/docs/AgentDocViewer.vue";
// import { email, required, minLength } from "vuelidate/lib/validators";
import moment from "moment";
export default {
  name: "DataAnketa",
  components: {
    ModalBanAgent,
    AgentDocViewer,
  },
  data() {
    return {
      filter: "",

      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      agentDocIsVisible: false,
      filterOn: [],
      activeActId: "",
      showAct: false,
      chosenDate: undefined,
      selectVal: {
        date: undefined,
      },

      perPage: 15,
      currentPage: 1,
      fields: [
        {
          key: "id",
          label: "Номер",
          class: "analytics-id",
          sortable: true,
        },
        {
          key: "packagename",
          label: "Пакет",
          class: "analytics-packege",
          sortable: false,
        },

        {
          key: "cost",
          label: "Стоимость",
          class: "analytics-finance-cost",
          sortable: true,
        },
        {
          key: "income",
          label: "Доход",
          class: "analytics-finance-cost",
          sortable: true,
        },
        //   {
        //     key: "menthor",
        //     label: "Ментор",
        //     class: "analytics-taxes",
        //     sortable: false,
        //   },
        {
          key: "act",
          label: "Акт",
          sortable: false,
          class: "analytics-buyer",
        },
        {
          key: "date",
          label: "Дата",
          class: "analytics-date",
          sortable: true,
        },
      ],
      items: [
        {
          isActive: true,
          id: 1,
          packagename: "Детский сад",

          cost: 1000,
          profit: 10000,
          buyer: "Акт №1",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          packagename: "Детский сад",

          cost: 7000,
          profit: 70000,

          buyer: "Акт №2",
          date: moment("01-10-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          packagename: "Начальная школа",

          cost: 8000,
          profit: 80000,

          buyer: "Акт №3",
          date: moment("01-09-2020", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
      ],
    };
  },
  methods: {
    ...AgentMapper.mapActions(["getPackages", "getAgentProfile"]),
    async ban(cause) {
      this.banAgent = true;

      await this.ban({
        id: this.$route.params.id,
        data: { ban: true, ban_cause: cause },
      });
      if (!this.error) {
        this.toast("Успешно", `Агент успешно заблокирован`, "success");
      } else {
        this.toast(
          "Неизвестная ошибка",
          `Не удалось заблокировать агента`,
          "danger"
        );
      }
    },
    scrolltoTop() {
      this.$refs.analyticsStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    clearFilter() {
      this.selectVal = {
        date: undefined,
      };
      this.chosenDate = undefined;
    },
    getPackageName(name, format, childCount) {
      let names = ["Детский сад", "Начальная школа", "Школа"];
      let formats = ["Offline", "Online"];
      return names[name] + " / " + formats[format] + " " + childCount;
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    openAct(act, id) {
      this.activeActId = id;
      this.showAct = true;
      setTimeout(() => {
        let target = this.$refs.show;
        let iframe = document.createElement("iframe");
        iframe.src = process.env.VUE_APP_API_URL + act;
        iframe.style.width = "100%";
        iframe.style.height = "500px";
        target.append(iframe);
      }, 1);
    },
  },
  computed: {
    ...AgentMapper.mapState(["packages", "agentProfile"]),
    ...AuthMapper.mapState(["profile"]),
    rows() {
      return this.items.length;
    },
    formProfile() {
      return {
        id: this.agentProfile.id,
        email: this.agentProfile.user_id.email,
        name: this.agentProfile.user_id.name
          ? `${this.agentProfile.user_id.second_name} ${this.agentProfile.user_id.name} ${this.agentProfile.user_id.last_name}`
          : "",
        birthday: this.agentProfile.birthday,
        citizen: this.agentProfile.citizen ?? "",
        education: this.agentProfile.education,
        emailBuch: this.agentProfile.emailBuch,
        passport: this.agentProfile.passport,
        passportWho: this.agentProfile.passportWho,
        passportWhen: this.agentProfile.passportWhen,
        country: this.agentProfile.country,
        adress: this.agentProfile.adress,
        factAdress: this.agentProfile.factAdress,
        inn: this.agentProfile.inn,
        snils: this.agentProfile.snils,
        resumePDF: this.agentProfile.resumePDF,
        passportPDF: this.agentProfile.passportPDF,
        innPDF: this.agentProfile.innPDF,
        snilsPDF: this.agentProfile.snilsPDF,
        date_joined: moment(this.agentProfile.user_id.date_joined).format(
          "«DD» MMM YYYY"
        ),
      };
    },

    filteredItems() {
      return this.packages
        .map((pack, i) => {
          return {
            number: i + 1,
            id: pack.id,
            packagename: this.getPackageName(
              pack.name,
              pack.format,
              pack.child_count
            ),
            act: pack.act_file,
            cost: pack.price,
            income: pack.price / 20,
            buyer: pack.franchisee.name,
            date: moment(pack.date),
          };
        })
        .filter((item) => {
          let keep = true;
          // console.log("Значение даты - '" + this.chosenDate + "'");

          if (this.chosenDate == "") {
            this.clearFilter();
          }

          // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
          this.fieldKeys.forEach((key) => {
            if (key == "date" && this.chosenDate != undefined) {
              this.selectVal[key] = moment(this.chosenDate).format(
                "DD.MM.YYYY"
              );
            }
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                item[key] === this.selectVal[key]);

            // console.log("Дата с фильтра - " + this.selectVal.date);
          });

          return keep;
        });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
  async mounted() {
    await this.getPackages();
  },
};
</script>

<style>
.link-anketa {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;

  color: #2c61bf;
}

.analytics-id {
  width: 7%;
  padding-left: 40px !important;
}
.analytics-finance-cost {
  width: 9%;
  text-align: center;
}
.analytics-packege {
  width: 15%;
}
.analytics-category {
  width: 11%;
}
.analytics-buyer {
  text-align: center;
}
.analytics-buyer {
  width: 16%;
  text-align: left;
  padding-left: 8% !important;
}
.buyer-link {
  color: #2c61bf;
}
.analytics-taxes,
.analytics-date {
  width: 11%;
}
.analytics-taxes {
  text-align: center;
}
.analytics-date {
  color: #6c6c6c;
  text-align: left;
}
</style>
