<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Обратная связь</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container py-4 mx-3 mr-4 mt-3"
      style="min-height: 400px"
    >
      <hr class="invisible" />
      <div class="row mt-2 mb-2 pl-4">
        <div class="col"><h6>Написать администратору</h6></div>
      </div>
      <form class="pl-4" id="formSupport">
        <div class="row row-support">
          <div class="col admin-inputs">
            <input
              id="theme"
              name="themes"
              v-model="item.support_theme"
              placeholder="Тема сообщения"
              class="theme-input py-2"
            />
          </div>
        </div>
        <div class="row row-support mt-1">
          <div class="col admin-inputs">
            <textarea
              id="message"
              name="text"
              v-model="item.support_text"
              placeholder="Текст сообщения"
              class="message-input"
            />
          </div>
        </div>
        <div class="row row-support mt-3">
          <div class="col text-right">
            <button
              class="agent-file-load width-support py-1"
              :class="{ disabled }"
              @click.prevent="dataChange()"
            >
              Отправить сообщение
            </button>
          </div>
        </div>
      </form>
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4 pt-1 pb-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <div ref="tableStart" class="row w-100">
        <transition name="fade">
          <b-table
            borderless
            hover
            fixed
            id="agent-message-table"
            :items="items"
            :fields="fields"
            :total-rows="rows"
            :per-page="perPage"
            :current-page="currentPage"
          ></b-table>
        </transition>
      </div>
      <div class="row mt-3 justify-content-center">
        <b-pagination
          v-if="rows > 1"
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          @page-click="scrolltoTop"
          aria-controls="agent-message-table"
        ></b-pagination>
      </div>
    </div>
  </section>
</template>

<script>
import toast from "@/scripts/toast";
import { SupportMapper } from "@/store/support";
import { AuthMapper } from "@/store/auth";
import { FranchiseeMapper } from "@/store/franchisee";
import { BranchMapper } from "@/store/branch";

import moment from "moment";

export default {
  name: "Support",
  data() {
    return {
      item: {
        isActive: false,
        support_theme: "",
        sended_at: moment().format("YYYY-MM-DD"),
        status: "Вопрос",
        support_text: "",
      },

      perPage: 10,
      currentPage: 1,
      fields: [
        {
          key: "support_theme",
          label: "Тема",
          class: "support-theme",
          sortable: true,
        },

        {
          key: "status",
          label: "Статус",
          class: "support-status",
          sortable: false,
        },

        {
          key: "support_text",
          label: "Сообщение",
          class: "support-message",
          sortable: false,
        },
        {
          key: "sended_at",
          label: "Дата",
          class: "support-date",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    items() {
      return this.support.map((msg, i) => {
        return {
          id: i + 1,
          support_theme: msg.theme.name,
          support_text: msg.support_text,
          sended_at: moment(msg.sended_at).format("DD.MM.YYYY"),
          status: msg.theme.status,
        };
      });
    },
    rows() {
      return this.items.length;
    },

    disabled() {
      const fill = Object.entries(this.item)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter((i) => !["isActive", "sended_at", "status"].includes(i[0]));

      return fill.length < 2;
    },
    ...SupportMapper.mapState(["support", "error"]),
    ...AuthMapper.mapState(["profile"]),
    ...FranchiseeMapper.mapState(["franchiseeProfile"]),
    ...BranchMapper.mapState(["branchProfile"]),
    ...AuthMapper.mapGetters(["role"]),
  },
  methods: {
    scrolltoTop() {
      this.$refs.tableStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },

    ...SupportMapper.mapActions(["sendSupport", "getSupport"]),

    toast,

    async dataChange() {
      await this.sendSupport({
        theme: {
          name: this.item.support_theme,
          creator_name:
            this.role == "Agent"
              ? `${this.profile.second_name} ${this.profile.name} ${this.profile.last_name}`
              : this.role == "Branch"
              ? this.branchProfile.name
              : this.role == "Franchisee"
              ? this.franchiseeProfile.name
              : "Имя не введено",
        },
        msg: {
          support_text: this.item.support_text,
          sender: this.profile.id,
        },
      });
      // await this.sendSupport({ payload: this.item,  });
      if (!this.error) {
        this.items = this.support;
        this.item.support_text = "";
        this.item.support_theme = "";
        this.toast("Отправка сообщения", "Сообщение отправлено", "success");
      } else {
        console.log(this.error);
      }
    },
  },

  async mounted() {
    await this.getSupport();
  },
};
</script>

<style>
.header-admin {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #2b2a29;
}
.admin-inputs > input,
.admin-inputs > textarea {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s ease;
  margin: 1vh 0;
  font-size: 16px;
  border-radius: 5px;
}

.admin-inputs > input:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}
.admin-inputs > textarea {
  min-height: 20vh;
  width: 100%;
}
.admin-inputs > textarea:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}

.admin-inputs > input {
  width: 90%;
}
.theme-input {
  width: 380px !important;
  height: 30px;
}
.message-input {
  width: 600px !important;
  min-height: 165px !important;
}
.page-item {
  transition: 0.5s;
}
.page-link {
  color: rgb(0, 0, 0);
}
.width-support {
  background: #249ddd;
  border-radius: 23px;
  color: #ffffff;
  height: 35px;
  width: 200px;
  font-size: 14px;
  padding: 0;
}
td.support-message {
  font-size: 13px;

  font-weight: 400;
  line-height: 16px;
  color: #2b2a29;
}
.support-date {
  width: 15%;
  text-align: center;
}
.support-status {
  width: 30%;
  text-align: center;
}
.support-theme {
  width: 15%;
  text-align: left;
  padding-left: 40px !important;
}
th {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
}
.page-item.active .page-link {
  color: rgb(0, 0, 0);
  background-color: rgba(201, 201, 201, 0.54);
  border-color: rgb(201, 201, 201);
}

/* @media (min-width: 1441px) and (min-height: 850px) {
  .admin-inputs > input,
  .admin-inputs > textarea {
    margin: 1vh 0;
    font-size: 1rem;
  }
} */

thead {
  border-bottom: 1.5px solid #efefef;
}
.row-support {
  width: 630px;
}
</style>