<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            {{ child.child.second_name }} {{ child.child.name }}
            {{ child.child.last_name }}
          </p>
        </div>
        <div class="col text-right">
          <button
            v-if="!childBanned"
            @click="$bvModal.show('modal-ban-child1')"
            class="mr-2 btn-ban-child"
          >
            Заблокировать ребёнка
          </button>
          <button
            v-if="childBanned"
            @click="
              childBanned = !childBanned;
              causeBan = '';
            "
            class="mr-2 btn-unban-child"
          >
            Разблокировать ребёнка
          </button>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container relative-block mx-3 mr-4 mt-3">
      <TableChildArchive class="mt-3 py-4" />
    </div>
    <ModalChildBan @ok="ban" />
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import ModalChildBan from "@/components/branch/analytics/child/info/ModalChildBan.vue";
import TableChildArchive from "@/components/branch/analytics/child/archive/TableChildArchive.vue";
export default {
  name: "Archive",
  components: {
    TableChildArchive,
    ModalChildBan,
  },
  methods: {
    ...BranchMapper.mapActions(["banChild"]),
    // async ban() {
    //   await this.banChild(this.child.child.id);
    //   if (!this.error) {
    //     this.toast("Успешно", "Ребенок успешно заблокирован", "success");
    //   } else {
    //     this.toast(
    //       "Неизвестная ошибка",
    //       "Не удалось заблокировать ребенка",
    //       "danger"
    //     );
    //   }
    // },
    async ban(cause) {
      // await this.banChild(this.child.child.id);

      this.childBanned = true;

      if (cause != "") {
        this.causeBan = cause;
      } else {
        this.causeBan = "Бан по неизвестной причине, плохой мальчик";
      }
      console.log(this.causeBan);

      // if (!this.error) {
      //   this.toast("Успешно", "Ребенок успешно заблокирован", "success");
      // } else {
      //   this.toast(
      //     "Неизвестная ошибка",
      //     "Не удалось заблокировать ребенка",
      //     "danger"
      //   );
      // }
    },
  },
  data() {
    return {
      childSurname: "Петров",
      childName: "Николай",
      childPatromic: "Валентинович",

      childBanned: false,
      causeBan: "",
    };
  },
  computed: {
    ...BranchMapper.mapState(["child"]),
  },
};
</script>

<style>
.breadcrumb-text {
  color: #666666;
  font-size: 14px;
}
/* .header-child-big {
  font-size: 1.5rem;
} */
.child-data-color {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.data-header {
  font-weight: 500;
}
.child-link {
  color: #0500ff;
}
.child-link:hover {
  color: #0099ff;
  text-decoration: underline;
}
.btn-ban-child,
.btn-unban-child {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-child {
  background: #f22929;
}
.btn-unban-child {
  background: #67b42b;
}
.btn-ban-child:hover,
.btn-unban-child:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-child:active,
.btn-ban-child:focus,
.btn-unban-child:active,
.btn-unban-child:focus {
  transform: scale(1.05);
}
@media (max-width: 1024px) {
}
@media (min-width: 1441px) and (min-height: 850px) {
  .breadcrumb-text {
    font-size: 1rem;
  }
  /* .header-child-big {
    font-size: 2rem;
  } */
}
</style>