<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select relative-block"
  >
    <div @click="overlay = false" class="overlay-progress" v-show="overlay">
      <ModalAnswers :task="choosenTask" />
    </div>

    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            {{ child.child.second_name }} {{ child.child.name }}
            {{ child.child.last_name }}
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">Ответы по Fox-Story</p>
        </div>
      </div>
    </div>
    <div class="container-fluid h-100" style="overflow-y: auto">
      <div class="path-block">
        <!-- <div class="path-row" v-for="(taskRow, index) in tasks" :key="index"> -->
        <div
          class="task opacity-anim-path"
          v-for="(task, i) in tasks"
          :key="task.id"
          :class="{ locked: !task.accept, success: task.success }"
          :style="{ animationDuration: task.id / 10 + 's' }"
        >
          <div class="task-arrow">
            <img
              src="@/assets/img/icons/arrow-list.png"
              alt="arrow"
              v-if="
                i + 1 == tasks.filter((item) => item.accept).length &&
                (i + 1) % 3 != 1
              "
            />
          </div>

          <div class="task-card" @click="i != 0 && taskAnswers(task)">
            <button class="sound-btn">
              <img src="@/assets/img/icons/listen_icon_white.png" alt="sound" />
            </button>
            <div :class="`${task.img}`"></div>
            <!-- <img
                v-if="task.img"
                :src="require(`@/assets/img/task-map/${task.img}.gif`)"
                alt=""
                :class="task.img"
              /> -->
            <div class="task-status">
              <img
                :src="
                  i + 1 == 1
                    ? require('@/assets/img/task-map/read.svg')
                    : task.success
                    ? require('@/assets/img/task-map/completed.svg')
                    : require('@/assets/img/task-map/locked.png')
                "
                alt="status"
              />
            </div>
            <p
              class="mb-0"
              style="margin-top: 12px"
              v-if="task.name == 'Read Fox Story'"
            >
              {{ task.name.split(" ")[0] }}
            </p>
            <p class="m-0" v-if="task.name == 'Read Fox Story'">
              {{ `${task.name.split(" ")[1]} ${task.name.split(" ")[2]}` }}
            </p>
            <p v-else class="mb-0" style="margin-top: 12px">
              {{ task.name }}
            </p>
            <div class="coins" style="margin-top: 8px" v-if="task.target">
              <p :class="{ 'lil-coins': (task.coins || task.target) >= 20 }">
                <span style="color: #706f6f">{{ task.coins }}</span
                >/{{ task.target }}
              </p>
              <div class="coin-moving"></div>
              <!-- <img src="@/assets/img/icons/fox-coin.gif" alt="" /> -->
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
</template>

<script>
import ModalAnswers from "@/components/branch/analytics/child/progress/ModalAnswers.vue";
import { BranchMapper } from "@/store/branch";
export default {
  name: "Progress",
  components: {
    ModalAnswers,
  },
  data() {
    return {
      overlay: false,
      choosenTask: {},
      firstTask: {
        id: 0,
        name: "Read Fox Story",
        accept: true,
        img: "read-fox-story",
        target: 0,
        coins: 0,
        page: "9",
      },
    };
  },
  computed: {
    ...BranchMapper.mapState(["tale", "child", "error"]),
    tasks() {
      if (this.tale.tasks) {
        let taleTasks = [this.firstTask, ...this.tale.tasks];
        taleTasks.forEach((task) => {
          parseInt(task.page) <= parseInt(this.tale.pages)
            ? (task.accept = true)
            : (task.accept = false);
        });
        return taleTasks;
      }
      return [];
    },
  },
  methods: {
    ...BranchMapper.mapActions(["getChildInfo", "getChildTale"]),
    taskAnswers(task) {
      if (task.answers.length) {
        this.choosenTask = task;
        this.$bvModal.show("modal-answers");
      } else {
        this.toast("Ответов нет", "Данное задание является игрой", "warning");
      }
    },
    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },
  },
  async mounted() {
    await this.getChildInfo(this.$route.params.id);
    await this.getChildTale(this.$route.params.tale);
  },
};
</script>
<style scoped>
.overlay-progress {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.path-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.path-block {
  /* width: 1135px; */
  margin: auto;
  height: 615px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.path-row {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.task {
  width: calc(100% / 3);
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}
.task-arrow {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.task-arrow > img {
  height: 100%;
  width: auto;
  max-width: 100%;
  filter: brightness(0.8);
}
.task-card {
  width: 250px;
  height: 95px;
  border-radius: 15px;
  /* border: 1px solid lightgray; */
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
  transition: 0.5s ease;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  cursor: pointer;
}
.task-card > p {
  font-size: 1em;

  line-height: 1em;
  font-weight: bold;
  z-index: 2;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
}
.coins {
  background: #fff;
  border-radius: 2rem;
  width: 90px;
  height: 30px;
  margin-top: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.1rem 0.3rem;
  z-index: 2;
}
.coins > p {
  width: 60%;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  color: #d9d9d9;
}
.coins-little > p {
  font-size: 18px;
  line-height: 18px;
}
.coins > p > span {
  color: black;
}
.coins > img {
  height: 100%;
  width: auto;
  justify-self: flex-end;
}

.task-card > img {
  position: absolute;
  right: 0;
  /* height: 80%; */
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 0 1rem 1rem 0;
}
.task.success .task-card {
  background: #71c9e4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
.task-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.task-card:hover > p {
  border-bottom: 2px solid #ffde3b;
}
.task:first-child .task-card {
  background: #ffde3b;
}
.task.locked .task-card {
  background-color: #f9f9f9;
  border: 0;
  pointer-events: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
.task.locked .task-card > img {
  filter: grayscale(1);
}
.task.locked .coins > img {
  filter: grayscale(1);
}
.sound-btn {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 8px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
}
.sound-btn > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: brightness(0.8);
  transition: 0.5s ease;
}
.sound-btn:hover > img {
  filter: brightness(0.5);
}
.task-status {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-status > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(0);
}
.task.locked .task-status > img {
  filter: grayscale(1) brightness(0.9);
}

.read-fox-story {
  height: 90%;
}
.fox-story {
  height: 97%;
}
.family-interview {
  height: 100%;
}
.creative-project {
  height: 90%;
}
.communication-club {
  height: 75%;
  left: 60%;
}
.logic-club {
  height: 85%;
  padding-right: 7%;
}
.fox-exchange {
  height: 90%;
}
.business-vocabulary {
  height: 70%;
  left: 50%;
}
.presentation-guide {
  height: 75%;
  padding-right: 9%;
}
.fox-teamwork {
  height: 90%;
}
.relax {
  height: 90%;
}
.career-guidance {
  height: 75%;
  top: 12%;
  padding-right: 9%;
}
.creative-club {
  height: 85%;
  top: 10%;
  padding-right: 9%;
}
.soft-skills {
  height: 97%;
  top: 2%;
  padding-right: 9%;
}
.lets-talk {
  height: 90%;
  padding-right: 5%;
}

.center-task {
  justify-content: center;
}
.right-task {
  justify-content: flex-end;
}
.bottom-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.path-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.path-block {
  width: 1135px;
  margin: auto;
  padding-right: 50px;
  padding-top: 25px;
  height: 615px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.path-row {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.task {
  width: calc(100% / 3);
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}
.task-arrow {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.task-arrow > img {
  height: 100%;
  width: auto;
  max-width: 100%;
  filter: brightness(0.8);
}
.task-card {
  width: 250px;
  height: 95px;
  border-radius: 15px;
  /* border: 1px solid lightgray; */
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
  transition: 0.5s ease;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  cursor: pointer;
}
.task-card:hover {
  transform: scale(1.1);
}
.task-card:active,
.task-card:focus {
  transform: scale(1.1);
}
.task-card > p {
  font-size: 1em;

  line-height: 1em;
  font-weight: bold;
  z-index: 2;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
}
.coins {
  background: #fff;
  border-radius: 2rem;
  width: 90px;
  height: 30px;
  margin-top: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.1rem 0.3rem;
  z-index: 2;
}
.coins > p {
  width: 60%;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  color: #d9d9d9;
}

.coins > p > span {
  color: black;
}
.coins > img {
  height: 100%;
  width: auto;
  justify-self: flex-end;
}

.coin-moving {
  position: absolute;
  right: 47%;
  width: 81px;
  height: 81px;
  background-image: url("../../../../assets/img/icons/coinSprite.png");
  animation: coinMoving 0.5s steps(13) infinite;
  transform: scale(0.4);
}

@keyframes coinMoving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1053px;
  }
}

.read-fox-story {
  position: absolute;
  bottom: -20%;
  left: 30%;
  width: 221px;
  height: 132px;
  background-image: url("../../../../assets/img/task-map/read-fox-story.png");
  animation: read-fox-story 2s steps(50) infinite;
  transform: scale(0.7);
}

@keyframes read-fox-story {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 10400px;
  }
}

.fox-story {
  position: absolute;
  bottom: -24%;
  left: 45%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/fox-story.png");
  animation: fox-story 2s steps(60) infinite;
  transform: scale(0.7);
}

@keyframes fox-story {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 9600px;
  }
}

.family-interview {
  position: absolute;
  bottom: -24%;
  left: 45%;
  width: 141px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/family-interview.png");
  animation: family-interview 1.5s steps(40) infinite;
  transform: scale(0.7);
}

@keyframes family-interview {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6400px;
  }
}

.creative-project {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/creative-project.png");
  animation: creative-project 2s steps(67) infinite;
  transform: scale(0.7);
}

@keyframes creative-project {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 13936px;
  }
}

.communication-club {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/communication-club.png");
  animation: communication-club 2s steps(55) infinite;
  transform: scale(0.7);
}

@keyframes communication-club {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 11440px;
  }
}

.logic-club {
  position: absolute;
  bottom: -23%;
  left: 40%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/logic-club.png");
  animation: logic-club 1.5s steps(45) infinite;
  transform: scale(0.7);
}

@keyframes logic-club {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 7200px;
  }
}

.fox-exchange {
  position: absolute;
  left: 29%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/fox-exchange.png");
  animation: fox-exchange 2s steps(58) infinite;
  transform: scale(0.7);
}

@keyframes fox-exchange {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12064px;
  }
}

.business-vocabulary {
  position: absolute;
  left: 28%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/business-vocabulary.png");
  animation: business-vocabulary 1.5s steps(49) infinite;
  transform: scale(0.7);
}

@keyframes business-vocabulary {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 10192px;
  }
}

.presentation-guide {
  position: absolute;
  bottom: -24%;
  left: 40%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/presentation-guide.png");
  animation: presentation-guide 1.5s steps(42) infinite;
  transform: scale(0.7);
}

@keyframes presentation-guide {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6720px;
  }
}

.fox-teamwork {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/fox-teamwork.png");
  animation: fox-teamwork 2s steps(60) infinite;
  transform: scale(0.7);
}

@keyframes fox-teamwork {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12480px;
  }
}

.relax {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/relax.png");
  animation: relax 2s steps(60) infinite;
  transform: scale(0.7);
}

@keyframes relax {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12480px;
  }
}

.career-guidance {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/career-guidance.png");
  animation: career-guidance 2s steps(60) infinite;
  transform: scale(0.7);
}

@keyframes career-guidance {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12480px;
  }
}

.creative-club {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/creative-club.png");
  animation: creative-club 2s steps(60) infinite;
  transform: scale(0.7);
}

@keyframes creative-club {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12480px;
  }
}

.soft-skills {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/soft-skills.png");
  animation: soft-skills 2s steps(60) infinite;
  transform: scale(0.7);
}

@keyframes soft-skills {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12480px;
  }
}

.lets-talk {
  position: absolute;
  left: 30%;
  width: 181px;
  height: 112px;
  background-image: url("../../../../assets/img/task-map/lets-talk.png");
  animation: lets-talk 1s steps(38) infinite;
  transform: scale(0.7);
}

@keyframes lets-talk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 7904px;
  }
}

.task-card > img {
  position: absolute;
  right: 0;
  /* height: 80%; */
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 0 1rem 1rem 0;
}
.task.success .task-card {
  background: #71c9e4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
.task-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.task:first-child .task-card {
  background: #ffde3b;
}
.task.locked .task-card {
  background-color: #f9f9f9;
  border: 0;
  pointer-events: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
.task.locked .task-card > img {
  filter: grayscale(1);
}
.task.locked .coins > img {
  filter: grayscale(1);
}
.sound-btn {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 8px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
}
.sound-btn > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: brightness(0.8);
  transition: 0.5s ease;
}
.sound-btn:hover > img {
  filter: brightness(0.5);
}
.task-status {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-status > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(0);
}
.task.locked .task-status > img {
  filter: grayscale(1) brightness(0.9);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .full-height {
    height: calc(100vh - 155px);
    border-radius: 0;
  }
  .coins > p {
    font-size: 19px;
    line-height: 19px;
    width: 70%;
  }
  .task {
    width: calc(100% / 2);
    height: 130px;
  }
  .path-block {
    padding-top: unset;
    width: 625px;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 40px;
    margin-left: calc(50% - 310px);
    /* margin-left: 5%; */
    min-height: 95%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .task-card > p {
    padding-left: 5px;
  }
  .coins {
    width: 90px;
    height: 30px;
    padding-left: 0;
  }
  .task-arrow {
    justify-content: center;
  }
}

.lil-coins {
  font-size: 17px !important;
  line-height: 20px !important;
}
</style>