<template>
  <b-modal
    id="modal-coins-more"
    hide-footer
    hide-header
    centered
    class="modal-coins"
  >
    <div class="row">
      <div class="col-2">
        <img
          src="@/assets/img/modals/listen-blue.png"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col"></div>
      <div class="col-2">
        <img src="@/assets/img/modals/exit-blue.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-5 px-2 text-center">
        <img src="@/assets/img/modals/coins.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col text-center">
        <p class="modal-coins-header">
          Загрузи<br />
          ответы на все<br />
          задания
        </p>
      </div>
    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col text-center">
        <p class="modal-coins-text">чтобы заработать фоксики</p>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "ModalCoins",
};
</script>

<style>
#modal-coins-more___BV_modal_content_ {
  background-color: #71c9e4 !important;
  padding: 0;
  border-radius: 20px;
  height: 420px;
  max-width: 340px !important;
  margin: auto;
}
.modal-coins-header {
  font-size: 35px;
  line-height: 37px;
  font-weight: bold;
  color: #fff;
}
.modal-coins-text {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
}
</style>