<template>
  <section class="h-100" style="position: relative">
    >
    <TopMenu
      id="top-page-menu-test3"
      title="Communication club"
      subtitle="Здесь мы учимся общаться"
      white_text_1="ФОРМИРУЕМ НАВЫК"
      white_text_2="КОММУНИКАЦИИ"
      :number="13"
    />
    <div
      class="container-fluid animate__animated animate__fadeIn task-list no-select mt-2 full-height white-bg bottom-radius shadow-body"
    >
      <SideRightMenu
        :sendToMentorActive="pageIsSucceed"
        :coinsTarget="10"
        :coins="tale.task4_coins ? tale.task4_coins : 0"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-8'"
        :questPage="13"
        @send="sendToMentor"
      />
      <div class="task-wrap">
        <TimeTask
          v-for="(task, index) in tasks"
          :key="index"
          :img="task.img"
          :name="task.name"
          :number="index + 1"
          :success="task.success"
          :disable="task.disable"
          :day="task.day"
          :hour="task.hour"
          :report="task.report"
          @success="
            task.success = true;
            tasks[index + 1]
              ? (tasks[index + 1].disable = false)
              : (showButton = true);
            index == 1 ? (modalShow = true) : null;
          "
        />
      </div>

      <ButtonNext :show="true" link="tale1-13.5" />
      <button
        ref="modal"
        v-b-modal.modal-do-next-work
        style="visibility: hidden"
      ></button>
      <ModalDoNextWork :show="modalShow" @close="modalShow = false" />
      <transition name="fade">
        <div
          class="overlay"
          @click="modalShow = false"
          v-show="modalShow"
        ></div>
      </transition>
    </div>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";

import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/tale1/test/SideRightMenu.vue";
import TimeTask from "@/components/tales/tale1/test/test3/TimeTask.vue";
import ModalDoNextWork from "@/components/tales/tale1/modals/ModalDoNextWork.vue";

import { Tale1Mapper } from "@/store/tales/tale1";
import { AuthMapper } from "@/store/auth";
export default {
  name: "Page3",
  components: { TopMenu, SideRightMenu, TimeTask, ButtonNext, ModalDoNextWork },
  data() {
    return {
      tasks: [],
      showButton: false,
      modalShow: false,
    };
  },
  computed: {
    pageIsSucceed() {
      return (
        this.tasks.filter((item) => {
          return item.success;
        }).length >= 2
      );
    },
    ...Tale1Mapper.mapState(["tale"]),
    ...AuthMapper.mapState(["token"]),
  },
  watch: {
    pageIsSucceed: () => {
      this.modalShow = true;
    },
  },
  methods: {
    ...Tale1Mapper.mapActions(["patchTale"]),
    async sendToMentor() {
      let tale = this.tale;
      let data = {
        child: tale.child,
        task4_accept: true,
        task4_coins: 10,
        pages: parseInt(this.tale.pages) < 13.5 ? "13.5" : this.tale.pages,
      };

      await this.patchTale({ data, tale, token: this.token });
      this.$router.push({ name: "tale1-13.5" });
    },
  },
  mounted() {
    this.tasks = [
      {
        name: "Полить цветы",
        success: this.tale.task4_quest1_report ? true : false,
        disable: false,
        img: "water-grass",
        day: this.tale.task4_quest1_time
          ? this.tale.task4_quest1_time.split(" ")[0]
          : "",
        hour: this.tale.task4_quest1_time
          ? parseInt(this.tale.task4_quest1_time.split(" ")[1])
          : 0,
        report: this.tale.task4_quest1_report
          ? this.tale.task4_quest1_report
          : "",
      },
      {
        name: "Протереть пыль",
        success: this.tale.task4_quest2_report ? true : false,
        disable: this.tale.task4_quest1_report ? false : true,
        img: "wrap-dust",
        day: this.tale.task4_quest2_time
          ? this.tale.task4_quest2_time.split(" ")[0]
          : "",
        hour: this.tale.task4_quest2_time
          ? parseInt(this.tale.task4_quest2_time.split(" ")[1])
          : 0,
        report: this.tale.task4_quest2_report
          ? this.tale.task4_quest2_report
          : "",
      },
      {
        name: "Убрать игрушки",
        success: this.tale.task4_quest3_report ? true : false,
        disable: this.tale.task4_quest2_report ? false : true,
        img: "tidy-toys",
        day: this.tale.task4_quest3_time
          ? this.tale.task4_quest3_time.split(" ")[0]
          : "",
        hour: this.tale.task4_quest3_time
          ? parseInt(this.tale.task4_quest3_time.split(" ")[1])
          : 0,
        report: this.tale.task4_quest3_report
          ? this.tale.task4_quest3_report
          : "",
      },
      {
        name: "Помочь в сервировке стола",
        success: this.tale.task4_quest4_report ? true : false,
        disable: this.tale.task4_quest3_report ? false : true,
        img: "help-with-serve",
        day: this.tale.task4_quest4_time
          ? this.tale.task4_quest4_time.split(" ")[0]
          : "",
        hour: this.tale.task4_quest4_time
          ? parseInt(this.tale.task4_quest4_time.split(" ")[1])
          : 0,
        report: this.tale.task4_quest4_report
          ? this.tale.task4_quest4_report
          : "",
      },
      {
        name: "Подготовка к совместному занятию",
        success: this.tale.task4_quest5_report ? true : false,
        disable: this.tale.task4_quest4_report ? false : true,
        img: "preparing",
        day: this.tale.task4_quest5_time
          ? this.tale.task4_quest5_time.split(" ")[0]
          : "",
        hour: this.tale.task4_quest5_time
          ? parseInt(this.tale.task4_quest5_time.split(" ")[1])
          : 0,
        report: this.tale.task4_quest5_report
          ? this.tale.task4_quest5_report
          : "",
      },
    ];
  },
};
</script>

<style  scoped>
.task-list {
  background: rgb(250, 250, 250);
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
}
.task-wrap {
  height: 75vh;
  width: calc(75vh * 1.333);
}
</style>