<template>
  <div class="slide">
    <CardLoad
      v-for="load in loads"
      :key="load.id"
      :img1="load.img1"
      :img2="load.img2"
      :number="load.id"
      :success="load.success"
      :disable="load.disable"
      :accept="load.accept"
      @load="loadAnswer"
    />
  </div>
</template>

<script>
import CardLoad from "@/components/tales/tale1/pages/page11/CardLoad.vue";
export default {
  name: "InterviewSlide",
  components: { CardLoad },
  props: {
    loads: Array,
  },
  data() {
    return {};
  },
  methods: {
    loadAnswer(id, voice) {
      this.$emit("load", id, voice);
    },
  },
};
</script>

<style scoped>
.slide {
  width: 50%;
  height: 90%;
  background: rgb(235, 235, 235);
  border-radius: 0 2rem 2rem 0;
}
</style>