<template>
  <div class="modal-again">
    <img
      class="window-img"
      src="@/assets/img/family-interview/modal-bg.png"
      alt="fox-write"
    />
    <div class="window-left"></div>
    <div class="window-right">
      <button class="window-sound-btn" @click="$emit('sound')">
        <img src="@/assets/img/icons/volume.svg" alt="sound" />
      </button>
      <button class="window-close-btn" @click="$emit('close')">
        <img src="@/assets/img/icons/close-icon.png" alt="close" />
      </button>

      <p class="window-right-text">
        Xочешь продолжить интервью и заработать дополнительные Fox Money?
      </p>
      <div
        class="row"
        style="
          flex-flow: row nowrap;
          width: 100%;
          justify-content: space-evenly;
        "
      >
        <button
          v-if="leftBtn"
          class="window-return-btn decline-btn window-btn"
          @click="$emit('decline')"
        >
          <div class="window-btn-text px-2">
            <p class="m-0">Нет</p>
          </div>
          <div class="window-btn-img-block">
            <img
              class="window-btn-img"
              src="@/assets/img/icons/decline.svg"
              alt=""
            />
          </div>
        </button>
        <button
          @click="$emit('accept')"
          class="window-btn accept-btn"
          :class="rightBtnColor ? `window-right-btn_${rightBtnColor}` : ''"
        >
          <div class="window-btn-text px-2">
            <p class="m-0">{{ rightBtnText }}</p>
          </div>
          <div class="window-btn-img-block">
            <img
              class="window-btn-img"
              src="@/assets/img/icons/agree.svg"
              alt=""
            />
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalAgain",
  props: {
    leftBtn: Boolean,
    text: String,
    img: String,
    rightBtnText: String,
    rightBtnImg: String,
    rightBtnImgInvert: Boolean,
    rightBtnAccept: Boolean,
    rightBtnColor: String,
    push: String,
    send: Boolean,
  },
};
</script>

<style scoped >
.modal-again {
  position: absolute;
  width: 600px;
  height: 160px;
  background-color: #ffde3b;
  bottom: 3%;
  right: 0;
  box-shadow: 0px 0px 15px #00000030;
  z-index: 99999999999999;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 20px;
}

.window-img {
  position: absolute;
  right: 45%;
  bottom: 0;
  width: 80%;
  height: auto;
  z-index: 0;
}

.window-left {
  flex: 1 1 50%;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2% 0;
}
.accept-btn:hover {
  background: #71c9e4;
}
.decline-btn:hover {
  /* background: rgb(213, 25, 82); */
}
.window-btn {
  /* width: auto; */
  width: 105px;
  border: none;
  outline: none;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.05vw;
  border-radius: 50px;
  transition: 0.5s;
}
/* .window-return-btn {
  background: #f08800;
} */

.window-btn-text {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.window-btn-img-block {
  border-radius: 50%;
  width: 2rem;
  margin: 0.15rem;
  height: 2.2rem;
  margin-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-btn-img {
  /* background: #fff; */
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.window-right {
  flex: 1 1 50%;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 2% 0;
}
/* .window-right .window-btn {
  pointer-events: none;

} */
.window-right .window-btn.window-right-btn_orange {
  pointer-events: all;
}
.window-right .window-btn.window-right-btn_blue {
  pointer-events: all;
  background: skyblue;
  border: 1px solid #fff;
}
.window-right-text {
  text-align: center;
  line-height: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5%;
  padding: 0 12%;
}
.window-close-btn,
.window-sound-btn {
  position: absolute;
  top: 5%;
  border: none;
  outline: none;
  background: none;
}
.window-close-btn {
  right: 5%;
  width: 5%;
  height: auto;
}
.window-sound-btn {
  width: 5%;
  height: auto;
  left: 5%;
}
.window-close-btn > img,
.window-sound-btn > img {
  width: 100%;
  height: 100%;
}
.window-sound-btn > img {
  filter: invert(1);
}

.invert {
  background: none;
  filter: invert(0.2);
  margin: 0.2vw;
}
.window-right-btn_orange {
  background: #f08800;
}

/* @media (max-width: 1200px) {
  .window-btn-text {
    font-size: 0.8em;
  }
  .window-right-text {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .modal-again {
    width: 540px;
    height: 160px;
    bottom: calc(50% - 125px);
    right: calc(50% - 335px);
  }
}
</style>