<template>
  <div class="row mt-2">
    <div class="col">
      <div style="transition: 1s ease" class="white-bg pt-4 pl-4 pr-4 pb-0">
        <p class="m-0 pl-3 mt-2 mb-3 data-header">Список пользователей</p>

        <div class="wrap-users-info">
          <div class="row px-3 w-100 base-child-info-text">
            <p class="my-1">Главный аккаунт:</p>
            <p class="my-1 ml-3 semi-bold-text">ФИО Владелец</p>
          </div>
          <div class="row px-3">
            <button
              @click="$emit('add')"
              class="agent-file-load p-0 py-2 btn-admin-change-data new-user-width"
            >
              <p>Новый пользователь</p>
            </button>
          </div>
        </div>

        <b-collapse v-model="opened">
          <hr class="hr-branch mt-3" />
          <b-card
            class="no-border pt-0"
            v-for="user in userList"
            :key="user.id"
          >
            <div class="row w-100 base-child-info-text">
              <p class="my-1" style="width: 110px">{{ user.role }}:</p>
              <p class="my-1 semi-bold-text">{{ user.name }}</p>
            </div>
          </b-card>
        </b-collapse>

        <!-- </transition> -->
        <div class="row py-3">
          <button
            @click="opened = !opened"
            class="ml-auto p-0 btn-show-accounts"
          >
            <transition name="fade">
              <p v-if="!opened" class="m-0">Показать все аккаунты</p>
              <p v-else class="m-0">Скрыть все аккаунты</p>
            </transition>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 ml-2 arrow-diagramm"
              :class="{ rotate180: opened }"
            />
          </button>
        </div>
      </div>
    </div>

    <!-- второй столбец с информацией -->
    <div class="col ml-5 pr-0 info-height">
      <div class="white-bg h-100 p-4">
        <div class="row mt-2 mb-3">
          <div class="col-8 text-left">
            <p class="m-0 data-header">Расчетные данные</p>
          </div>
        </div>
        <div class="wrap-users-info">
          <div class="row w-100 base-child-info-text">
            <div class="col">
              <p class="my-1">
                Проценты и размеры вознаграждений Франчайзи, Агенту, Ментору.
                Общая стоимость Личного кабинета
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button
                @click="$router.push({ name: 'admin-data-change' })"
                class="agent-file-load p-0 py-2 btn-admin-change-data change-data-width"
              >
                <p>Изменить данные</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- второй столбец с информацией -->
  </div>
</template>

<script>
export default {
  name: "UsersAndData",
  data() {
    return {
      opened: false,
    };
  },
  props: {
    users: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    userList() {
      if (this.users.length) {
        return this.users.map((i) => {
          return {
            name: `${i.second_name} ${i.name} ${i.last_name}`,
            role:
              i.role == "HeadSalesManager"
                ? "РОП"
                : i.role == "BuhAdmin"
                ? "Бухгалтер"
                : "Неизвестная должность",
          };
        });
      }
      return [];
    },
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.child-info-hr {
  border: 0.1px dashed #c4c4c4;
}

.change-data-width {
  width: 165px;
}
.new-user-width {
  width: 210px;
  margin-right: 2.5rem;
}
.btn-admin-change-data {
  border: 1.5px solid #9276e4;
  background: #ffffff00;
  box-sizing: border-box;
  border-radius: 40px;

  height: 35px;
  transition: 0.5s ease;
}
.btn-admin-change-data > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #2b2a29;
}
.btn-admin-change-data:hover > p {
  color: #ffffff;
}
.btn-admin-change-data:hover {
  background: #9276e4;
  border: 1.5px solid #9276e4;
  box-shadow: 0px 0px 15px #00000030;
}
.btn-admin-change-data:focus,
.btn-admin-change-data:active {
  border: 1.5px solid #9276e4;
  transform: scale(1.05);
}
.info-height {
  height: 275px;
}
.wrap-users-info {
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.wrap-hidden-users {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.arrow-diagramm {
  height: 12px;
  margin: 0;
  transition: 0.5s ease;
}
.btn-show-accounts {
  background: #ffffff00;
  border: none;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.hidden {
  visibility: hidden;
}
.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}
</style>