.icon-header {
  width: auto;
  height: 21px;
  padding-right: 10%;
}
.icon-header-number {
  width: auto;
  height: 21px;
  padding-right: 10%;
}
.img-money {
  top: 50%;
  left: 50%;
  margin-top: -212px;
  margin-left: -220px;
  max-width: 100%;
  height: auto;
}
.img-card {
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -135px;
  max-width: 100%;
  height: auto;
}

.bold-menu-text {
  font-weight: 800;
  font-size: 25px;
  line-height: normal;
}
.normal-menu-text {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}
.white-menu-text {
  padding-right: 15px;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  color: #ffffff;
}
.header-page-5 {
  font-size: 100px;
  font-weight: bold;
}
.sub-header-page-5 {
  font-size: 30px;
  font-weight: 500;
  color: #2b2a29;
}
.number-icon {
  width: 35px;
  transition: 1s;
}
.row-icon {
  width: 320px;
  height: 2px;
  transition: 1s;
}
.column-rule {
  height: 110px;
  width: 335px;
  border-radius: 30px;
  border: 1px solid #c5c5c5;
  transition: 1s;
}
.sound-icon {
  width: 25px;
  height: 25px;
}
.menu-row {
  height: 60px;
  z-index: 20;
}
/* Page 8 */

.loading-block {
  background-color: #ffde3b05;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1.5px solid #000;
}
.loading-block p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  line-height: 26px;

  top: 40%;
  left: 50%;
  margin-left: -5px;
}

/* Page 11 */

.hint-wrap {
  height: 215px;
  border-radius: 10px;
  transition: 0.7s;
}
.sm-icon-image {
  width: 50px;
}
.sm-icon-image-xs {
  width: 40px;
}

/* Page 13 */

.btn-white-tale {
  background: none;
  color: #2b2a29;
}
.next-page-text {
  font-weight: 15px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
}
.next-page-text:hover {
  text-decoration: none;
}
.tale-header {
  font-size: 35px;
  line-height: 30px;
  font-weight: 800;
}
.tale-text {
  text-indent: 70px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

/* Page 14 */

.white-coins-button {
  width: 90px;
  height: 30px;
  border: solid 1px #c5c5c5;
  border-radius: 2rem !important;
  background: #ffffff;
  transition: 0.5s;
}
.white-coins-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}
.white-coins-button p {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #d9d9d9;
}
.current-coins {
  color: #706f6f;
}

/* Page 16 */

.row-task {
  height: 110px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  transition: 1s ease;
}
.row-task:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.mother-image {
  width: 97px;
}
.number-icon {
  width: 36px;
}
.number-row {
  height: 110px;
}
