body {
  color: #2b2a29;
}
.no-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.border15 {
  border-radius: 15px;
}
.invisible {
  display: none;
}
.relative-block {
  position: relative;
}
.absolute-block {
  position: absolute;
}
.black-text {
  color: #2b2a29 !important;
}
.hr-invisible {
  border: 1px solid #ffffff00;
}
.btn-white,
.btn-blue {
  transition: 0.5s;
}
.btn-white {
  background: #ffffff;
  border: none;
  color: #71c9e4;
  width: 270px;
}
.btn-blue {
  background: #71c9e4;
  border: none;
  color: #ffffff;
  width: 80%;
}
.btn-white:hover,
.btn-blue:hover {
  box-shadow: 0px 0px 10px #00000030;
}
.btn-white:focus,
.btn-blue:focus {
  border: 1px solid #000;
  box-shadow: 0px 0px 25px #00000047;
}
.margin-row {
  margin-left: 9%;
  margin-right: 9%;
}
.margin-y-block {
  margin-top: 6%;
  height: 49vh;
}
.gray-filter {
  filter: grayscale(1);
}
.pointer {
  cursor: pointer;
}
.border30 {
  border-radius: 30px;
}
.sound-game-icon {
  width: 13px;
  height: 13px;
}
.white-text {
  color: #ffffff !important;
}
.btn-invisible-button {
  background: #ffffff00;
  border: #ffffff00;
  padding: 0;
  outline: #ffffff00;
}
.btn-invisible-button:hover,
.btn-invisible-button:focus {
  background: #ffffff00;
  border: #ffffff00;
  padding: 0;
  outline: #ffffff00;
}
.btn-invisible-button img {
  transition: 0.3s;
}
.btn-invisible-button:hover img {
  filter: drop-shadow(2px 0px 1px #00000030);
}
.rotate180 {
  transform: rotate(180deg);
}
.rotate90 {
  transform: rotate(90deg);
}
.table td,
.table th {
  vertical-align: middle;
  padding-left: 0;
}
.table th {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #4a4a4a;
}
.table td {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #2b2a29;
}
.redtext {
  color: rgb(213, 25, 82);
}
.yellowtext {
  color: #ffde3b;
}
.greentext {
  color: #99ceac;
}
.orangetext {
  color: #ed8619b6;
}
.wrap-height {
  height: 650px;
  display: flex;
  align-items: center;
  margin-top: 70px;
  width: 1300px;
  max-width: 100%;
  margin: auto;
}
.bottom-radius {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
