<template>
  <div class="row mt-2">
    <div class="col-6">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>

        <div class="row w-100 base-mentor-info-text">
          <div class="col-3"><p class="my-1">ФИО:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ mentor.mentor.second_name }} {{ mentor.mentor.name }} {{ mentor.mentor.last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-3"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ mentor.mentor.phone }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-3"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ mentor.mentor.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-6"><p class="my-1">Дата взятия на работу:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ mentor.date_work }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
         <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Статус работы:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ mentor.job_status }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-3">
            <p class="my-1">Адрес:</p>
          </div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ mentor.adress }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-6"><p class="my-1">Серия/Номер паспорта:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ mentor.passport }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>    
        <div class="row w-100 base-mentor-info-text">
          <div class="col-6"><p class="my-1">Пасспорт кем выдан:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ mentor.passport_who }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>    
        <div class="row w-100 base-mentor-info-text">
          <div class="col-6"><p class="my-1">Дата выдачи пасспорта:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ mentor.passport_when	 }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>       
      </div>
    </div>
  </div>
</template>

<script>
import { HeadManagerMapper } from "@/store/headManager";

export default {  
  name: "mentorBaseInfo",
  data() {
    return {      
     
    };
  },  

  computed: {
    ...HeadManagerMapper.mapState(["mentor"]),
  }, 
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-mentor-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.mentor-info-hr {
  border: 0.1px dashed #c4c4c4;
}

</style>
