<template>
  <div class="row mt-2">
    <div class="col">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Возраст:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ child.age }} лет</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Родитель:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ child.parent.second_name }} {{ child.parent.name }}
                {{ child.parent.last_name }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Франчайзи:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ child.franchisee }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3">
            <p class="my-1">Филиал:</p>
          </div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ child.branch }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Ментор:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span
                >{{ child.mentor.second_name }} {{ child.mentor.name }}
                {{ child.mentor.last_name }}</span
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Группа:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ child.group }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- второй столбец с информацией -->
    <div class="col ml-5">
      <div class="white-bg h-100 p-4">
        <div class="row mb-3">
          <div class="col-8 text-left">
            <p class="m-0 data-header">Данные обучения</p>
          </div>
          <div v-if="role != 'SalesManager' || false" class="col text-right">
            <!--  :to="{ name: archiveLink, params: { id: $route.params.id } }" -->
            <div class="child-link">Архив (0)</div>
          </div>
        </div>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Программа</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">Undefined program</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Fox-story</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ child.tale }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Уровень</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ child.rank }}</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-7">
            <button
              v-if="role != 'SalesManager'"
              class="agent-file-load p-0 py-2 child-chat-btn"
            >
              Открыть чат
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import { AuthMapper } from "@/store/auth";

export default {
  props: {
    archiveLink: {
      type: String,
      default: "",
    },
  },
  name: "ChildBaseInfo",
  data() {
    return {
      childArchiveCount: 1,
      items: [],
    };
  },
  methods: {
    ...BranchMapper.mapActions(["getPrograms"]),
  },

  computed: {
    ...AuthMapper.mapGetters(["role"]),
    ...BranchMapper.mapState(["child", "program"]),
  },
  mounted() {
    // let item = {
    //   isActive: true,
    //   id: this.child.program.id,
    //   program: this.child.program.name,
    //   date: this.child.program.date,
    //   datecomplete: this.child.program.date_end,
    // };
    // this.items.push(item);
    // this.childArchiveCount = this.items.length;
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.child-info-hr {
  border: 0.1px dashed #c4c4c4;
}
.child-chat-btn {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  border-radius: 39px;
  width: 120px;
  height: 35px;
}
</style>
