<template>
  <section id="table-child-level">
    <div class="row mt-3 w-100 table-analytics">
      <b-table
        hover
        id="child-level-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        sort-icon-left
      ></b-table>
    </div>
    <div class="row mt-3 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="menthors-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end pb-4 px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
export default {
  name: "TableChildLevel",
  data() {
    return {
      perPage: "15",
      currentPage: 1,
      fields: [
        {
          key: "id",
          label: "№",
          class: "child-level-id",
          sortable: true
        },

        {
          key: "level",
          label: "Уровень",
          class: "child-level-level",
          sortable: true
        },
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-level-foxstory",
          sortable: false
        },
        {
          key: "programm",
          label: "Программа",
          class: "child-level-programm",
          sortable: false
        },
        {
          key: "date",
          label: "Дата",
          class: "child-level-date",
          sortable: true
        }
      ],
      items: []
    };
  },
  computed: {
    ...BranchMapper.mapState(["taleLogs", "error"]),
    rows() {
      return this.items.length;
    }
  },
  methods: {
    ...BranchMapper.mapActions(["getChildLevelLogs"])
  },
  async mounted() {
    await this.getChildLevelLogs(this.$route.params.id);
    if (!this.error) {
      this.items = this.taleLogs.map((logs, i) => {
        let item = {
          id: i + 1,
          date: logs.date,
          level: logs.rank,
          foxstory: logs.fox_story,
          programm: logs.program
        };
        return item;
      });
    }
  }
};
</script>

<style>
.child-level-height {
  height: 270px;
  overflow-y: auto;
}

.child-level-level,
.child-level-foxstory,
.child-level-id,
.child-level-date,
.child-level-programm {
  text-align: center;
}
.child-level-id {
  width: 11%;
  text-align: left;
  padding-left: 2.5rem !important;
}
.child-level-level {
  text-align: left;
  width: 20%;
  padding-left: 10% !important;
}
.child-level-date,
.child-level-programm {
  width: 17%;
}
</style>
