<template>
  <section id="table-child-foxstory">
    <div class="row mt-3 w-100 table-analytics">
      <b-table
        hover
        id="child-foxtale-table"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        :items="items"
        :fields="fields"
        sort-icon-left
      >
        <template #cell(foxstory)="row">
          <div class="row h-100">
            <p class="my-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(level)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(date)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(answers)="row">
          <button
            @click="taleAnswers(row.item.id)"
            class="agent-file-load button-answers py-1"
          >
            <p>Ответы</p>
          </button>
        </template>
      </b-table>
    </div>
    <div class="row mt-3 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="menthors-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end pb-4 px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
export default {
  name: "TableChildLevel",
  data() {
    return {
      perPage: "15",
      currentPage: 1,
      fields: [
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-foxtale-foxstory",
          sortable: false
        },
        {
          key: "level",
          label: "Уровень",
          class: "child-foxtale-level",
          sortable: true
        },
        {
          key: "date",
          label: "Дата прохождения",
          class: "child-foxtale-date",
          sortable: true
        },
        {
          key: "answers",
          label: "",
          class: "child-foxtale-answers",
          sortable: false
        }
      ],
      items: []
    };
  },
  methods: {
    ...BranchMapper.mapActions(["getChildTales"]),
    async taleAnswers(id) {
      // this.$router.push({ path: this.$route.params.id + "/tale/" + id });
      this.$router.push({ path: this.$route.params.id + "/tale/" + id });
    }
  },
  computed: {
    ...BranchMapper.mapState(["tales", "error"]),
    rows() {
      return this.items.length;
    }
  },
  async mounted() {
    await this.getChildTales(this.$route.params.id);
    if (!this.error) {
      this.items = this.tales.map(tale => {
        let item = {
          id: tale.id,
          foxstory: tale.name,
          level: tale.rank,
          date: "15.03.2021"
        };
        return item;
      });
    }
  }
};
</script>

<style>
.child-foxtale-foxstory {
  width: 40%;
  padding-left: 2.5rem !important;
}
.child-foxtale-level {
  width: 20%;
  text-align: center;
}
.child-foxtale-date {
  width: 25%;
  text-align: center;
}
.child-foxtale-answers {
  text-align: center;
}
.button-answers {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  height: 30px;
  width: 85px;
  border-radius: 40px;
  padding: 0;
}
.button-answers > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
  margin: 0;
}
</style>
