<template>
  <div class="h-100 pages-brand sidepanel-bg no-select">
    <div class="row mt-4 pt-3 mb-2"></div>
    <router-link :to="{ name: 'parent-child-children' }" active-class="active">
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3 my-auto text-center p-0">
          <img src="@/assets/img/icons/my_account.png" class="img-fluid p-0" />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Личный кабинет</p>
        </div>
      </div>
    </router-link>

    <!-- <router-link :to="{ name: 'parent-momdadclub' }" active-class="active">
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3 my-auto text-center p-0">
          <img src="@/assets/img/icons/MDclub.png" class="img-fluid p-0" />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">МамаПапа Клуб</p>
        </div>
      </div>
    </router-link> -->

    <router-link :to="{ name: 'parent-profile' }" active-class="active">
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3 my-auto text-center p-0">
          <img src="@/assets/img/icons/my_profile.png" class="img-fluid p-0" />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мой профиль</p>
        </div>
      </div>
    </router-link>

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-6 p-0">
        <button @click="logOut()" class="btn btn-block btn-log-off">
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";

export default {
  name: "SidePanel",
  computed: { ...AuthMapper.mapState(["error"]) },
  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      this.$router.push({ name: "global-login" });
    },
  },
};
</script>

<style>
</style>