<template>
  <section class="menu-row no-select relative-block">
    <div class="row w-100 h-100 m-0 menu-bg">
      <div
        class="col-mini-btns my-auto h-100 pr-2 text-center divider-playerpage"
      >
        <div class="row h-100">
          <div
            class="col-4 p-0 h-100 text-center divider-page radius-top-bottom-left"
          >
            <img
              v-if="iconsrc"
              :src="require(`@/assets/${iconsrc}`)"
              alt=""
              class="animate__animated animate__fadeIn"
              :class="iconclass"
            />
            <p class="m-0 mr-1 page-number" v-if="number">{{ number }}</p>
          </div>
          <div class="col px-0">
            <div class="row h-100">
              <div class="col px-1 my-auto">
                <button
                  @click="rewindAudio(-5)"
                  class="btn-invisible-button rewind"
                >
                  <img
                    src="@/assets/img/icons/back_5_sec.png"
                    alt=""
                    class="img-fluid"
                  />
                </button>
              </div>

              <div class="col px-1 my-auto pointer" @click="playPause">
                <img
                  :src="
                    audio.paused
                      ? require('@/assets/img/icons/play-icon.png')
                      : require('@/assets/img/icons/pause.png')
                  "
                  alt=""
                  class="img-fluid"
                  :class="{ invert: !audio.paused }"
                />
              </div>

              <div class="col px-1 my-auto">
                <button
                  @click="rewindAudio(5)"
                  class="btn-invisible-button rewind"
                >
                  <img
                    src="@/assets/img/icons/next_5_sec.png"
                    alt=""
                    class="img-fluid"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-player my-auto wrapper divider-sound">
        <div class="animate__animated animate__fadeIn">
          <b-progress
            :value="currentTime"
            class="progress-bar-sound"
          ></b-progress>
          <div id="audio" class="player-wrapper">
            <audio id="myAudio">
              <source :src="require(`@/assets/marley.mp3`)" />
            </audio>
          </div>
        </div>
      </div>
      <div class="wrap-for-dropdown"></div>
      <div
        class="col pl-0 h-100 flex-center text-center relative-block divider-yellow-white"
      >
        <div class="relative-block m-auto width-fit">
          <p
            class="m-0 mx-auto bold-menu-text width-fit animate__animated animate__fadeIn"
          >
            {{ title }}
          </p>
          <p
            class="m-0 mx-auto normal-menu-text width-fit animate__animated animate__fadeIn"
          >
            {{ subtitle }}
          </p>
          <button
            v-if="voiceText"
            @click="openHint = !openHint"
            class="btn-invisible-button absolute-block arrow-top-menu"
          >
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="w-100 h-100"
              :class="{ rotate180: openHint }"
            />
          </button>
        </div>
        <!-- выпадалка -->
      </div>

      <div
        class="col-white-text portrait-show pl-0 h-100 flex-center text-right white-text-bg"
      >
        <div class="text-show">
          <p class="m-0 white-menu-text animate__animated animate__fadeIn">
            {{ white_text_1 }}
          </p>
          <p class="m-0 white-menu-text animate__animated animate__fadeIn">
            {{ white_text_2 }}
          </p>
        </div>
      </div>
    </div>
    <transition name="topslide">
      <div
        v-show="openHint"
        class="dropdown-top-menu absolute-block"
        v-if="voiceText"
      >
        <p class="slide-text px-3 mb-4 mt-3">
          {{ voiceText }}
        </p>
        <button
          @click="openHint = !openHint"
          class="btn-invisible-button absolute-block arrow-inside-menu"
        >
          <img
            src="@/assets/img/icons/arrow-down-diagramm.png"
            alt=""
            class="w-100 h-100"
            :class="{ rotate180: openHint }"
          />
        </button></div
    ></transition>
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import { TaleMapper } from "@/store/tale";
export default {
  name: "TopMenu",
  props: {
    title: String,
    subtitle: String,
    white_text_1: String,
    white_text_2: String,
    iconsrc: String,
    iconclass: String,
    number: Number,
    voiceText: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      animate: true,
      openHint: false,
      play: false,
      progressBar: null,
      // valueSound: 0,
    };
  },
  methods: {
    ...TaleMapper.mapMutations([
      "setTaleTitle",
      "setTaleSubTitle",
      "setTalePage",
    ]),
    ...PlayerMapper.mapActions(["playTopAudio", "stopAllAudio"]),
    ...PlayerMapper.mapMutations(["clearAudioCurrentTime", "rewindAudio"]),
    playPause() {
      if (this.audio.paused) {
        this.$emit("play");
        this.playTopAudio();
      } else {
        this.$emit("pause");
        this.audio.pause();
      }
    },
  },
  computed: {
    ...PlayerMapper.mapState(["audio", "currentTime"]),
  },
  watch: {
    title(newValue) {
      this.setTaleTitle(newValue);
    },
    subtitle(newValue) {
      this.setTaleSubTitle(newValue);
    },
  },

  mounted() {
    this.setTaleTitle(this.title);
    this.setTaleSubTitle(this.subtitle);
    this.clearAudioCurrentTime();
    if (this.number) this.setTalePage(this.number);
  },
  beforeRouteLeave(_, __, next) {
    this.stopAllAudio();
    _;
    __;
    next();
  },
};
</script>

<style scoped>
.img-fluid.invert {
  filter: invert(1);
  max-width: 80%;
}
.rewind > img {
  width: 1.3rem;
  height: auto;
}
.white-text-bg {
  background: #71c9e4;
  border-top-right-radius: 10px;
}
.radius-top-bottom-left {
  border-top-left-radius: 10px;
}
.divider-sound {
  background: url("../../../../../assets/img/pictures/divider-white.png")
      no-repeat right center,
    #71c9e4;
}
.divider-playerpage {
  border-radius: 15px;
  background: #ffde3b;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  padding-left: 0;
}

.divider-yellow-white {
  background: #ffffff;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.divider-page {
  border-radius: 10px;
  background: #71c9e4;
  clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}
.progress-bar-sound {
  height: 5px;
  border-radius: 50px;
  transition: none;
}
.flex-center {
  justify-content: center;
  flex-flow: column;
  display: flex;
}
.page-number {
  font-size: 1.1rem;
}
.width-fit {
  width: fit-content;
}
.arrow-top-menu {
  top: calc(50% - 0.75rem);
  right: -2rem;
  width: 1.5rem;
}
.arrow-inside-menu {
  right: 1rem;
  bottom: 1rem;
  width: 15px;
}
.dropdown-top-menu {
  top: 100%;
  right: 0;
  width: 50%;
  z-index: -1;
  height: fit-content;
  background: #fff;
  box-shadow: -5px 0px 10px #00000021;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.slide-text {
  font-weight: 500;
  font-size: 0.9rem;
}
.col-player {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0px 25px 0px 5px;
}
.col-white-text,
.col-mini-btns {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.menu-bg {
  background: #71c9e4;
  /* border-radius: 10px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* @media (max-width: 1200px) {
  .page-number {
    font-size: 0.8rem;
  }
}
@media (max-width: 900px) {
  .page-number {
    font-size: 0.7rem;
  }
  .arrow-top-menu {
    top: calc(50% - 0.75rem);
    right: -2rem;
    width: 1rem;
  }
  .slide-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 1200px) {
  .page-number {
    font-size: 0.8rem;
  }
} */

/* Планшет в портретном режиме */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .portrait-show {
    visibility: hidden;
  }
  .text-show {
    display: none;
  }
  .col-white-text {
    flex: 0 0 3%;
    max-width: 3%;
  }
  .col-player {
    display: none;
  }
  .col-mini-btns {
    flex: 0 0 31%;
    max-width: 31%;
  }
  .menu-bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 49%,
      rgba(113, 201, 228, 1) 55%
    );
  }
}

.topslide-enter-active,
.topslide-leave-active {
  transition: 0.75s;
}
.topslide-enter, .topslide-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-60%) scaleY(0);
  box-shadow: none;
}
.dropdown-top-menu {
  top: 100%;
  right: 3%;
  width: 69%;
}
</style>