<template>
  <section id="buhFranch-page">
    <div
      class="container-fluid p-0 full-height-container animate__animated animate__fadeIn"
    >
      <Header />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <ModalConfirmation />
    </div>
  </section>
</template>

<script>
import Header from "@/components/global/header/Header.vue";
import SidePanel from "@/components/buhfranch/SidePanel.vue";

import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "BuhFranch",
  components: {
    Header,
    SidePanel,
    ModalConfirmation,
  },
};
</script>

<style>
.btn-buhadmin-round {
  border-radius: 25px;
  background: #b42f2600;
  border: 1.5px solid #b42f26;
  transition: 0.5s ease;
  padding: 0;
  font-size: 14px;
  color: #2b2a29;
}
.btn-buhadmin-round:hover {
  background: #b42f26;
  border: 1.5px solid #b42f26;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}
.btn-buhadmin-round:active {
  transform: scale(1.05);
}
.btn-act {
  padding-top: 0;
  padding-bottom: 0;
  background: #b42f26;
  border-radius: 3px;
  height: 30px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;

  transition: 0.5s ease;
}
.btn-act:hover {
  box-shadow: 0px 0px 15px #9276e430;
  border: none;
}
.btn-act:acttive {
  transform: scale(1.05);
}

.btn-buh-moreinfo {
  background: #b42f26 !important;
  border: 1px solid #b42f26 !important;
}
.btn-buh-moreinfo:hover {
  border: 1px solid #b42f26 !important;
  box-shadow: 0px 0px 15px #00000030;
}
.btn-buh-moreinfo:active {
  background: #b42f26 !important;
}

.btn-documents {
  background: #f0eff200;
  border: 1.5px solid #b42f26 !important;
}
.btn-documents:hover {
  background: #b42f26 !important;
  border: 1.5px solid #b42f26 !important;
}
</style>