<template>
  <section id="children-buhFranch-union">
    <router-view></router-view>
  </section>
</template>

<script>
export default {
  name: "ChildrenBuhFranchUnion",
};
</script>

<style>
</style>