<template>
  <div id="chat-block" :class="this.widthclass">
    <div class="contaiter container-parent-page container-chat mt-5 mx-2">
      <div :class="bgcolor">
        <!-- Верхняя часть заголовка от чата -->
        <div class="row align-items-center no-wrap chat-header-top no-select">
          <div class="col-md-5 text-center">
            <p class="header-text my-auto">Чат</p>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3 text-center pr-3">
            <div v-on:click="Closechat" class="my-auto rotate-90 pointer">
              <img
                :src="require(`@/assets/${this.closeicon}`)"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <!-- Выбор чата между ребенком и ментором данного ребенка -->
        <div
          class="row align-items-center no-wrap chat-header-bottom no-select"
        >
          <ul class="nav nav-tabs w-100 m-0">
            <li class="nav-item text-center w-50">
              <a
                :class="this.bgcolortabs"
                data-toggle="tab"
                href="#firstchat"
                >{{ this.firstdude }}</a
              >
            </li>
            <li class="nav-item text-center w-50">
              <a
                :class="this.bgcolortabs"
                data-toggle="tab"
                href="#secondchat"
                >{{ this.seconddude }}</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="row w-100 m-0 tab-content h-100">
        <div class="tab-pane fade w-100 chatbody active" id="firstchat">
          <ChatBody />
        </div>
        <div class="tab-pane fade w-100 chatbody" id="secondchat">
          <ChatBody />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ChatBody from "@/components/global/chat/ChatBody.vue";
export default {
  name: "Chat",
  props: ["type"],
  components: {
    ChatBody,
  },
  data() {
    return {
      widthclass: "col-md p-0",
      bgcolor: "chat-header-bg",
      closeicon: "img/icons/close-icon.png",
      bgcolortabs: "nav-link nav-link-chat",
      // Первая вкладка, где общаются
      firstdude: "Ментор",
      //Вторая вкладка, где общаются
      seconddude: "Родитель",
    };
  },
  methods: {
    Closechat: function () {
      var chat = document.querySelector("#chat-block");
      var container = document.querySelector(".my-child-container");

      chat.classList.add("animate__animated", "animate__fadeOutRight");
      setTimeout(() => {
        chat.classList.remove("animate__animated", "animate__fadeOutRight");
        chat.classList.add("hidden");
      }, 1000);
      setTimeout(() => {
        if (container.classList.contains("mcc-width")) {
          container.classList.remove("mcc-width");
        } else {
          container.classList.remove("cpc-width");
        }
        container.classList.add("w-100");
      }, 1000);
    },
  },
  mounted() {
    if (this.type == 1) {
      this.widthclass = "col-md p-0 mr-3 child-chat";
      this.bgcolor = "chat-header-child-bg";
      this.closeicon = "img/icons/close-icon-afroamerican.png";
      this.bgcolortabs = "nav-link nav-link-chat-child";
    } else if (this.type == 2) {
      this.firstdude = "РеБенок";
      this.seconddude = "Родитель";
    } else {
      this.firstdude = "РеБенок";
      this.seconddude = "Ментор";
    }
  },
};
</script>

<style>
</style>