<template>
  <section class="animate__animated animate__fadeIn">
    <div class="messages dictionary-no-scroll">
      <div
        class="row pl-3 my-2 w-100 no-wrap"
        v-for="Message in ChatMessages"
        :key="Message.id"
        :index="Message.index"
      >
        <div v-if="Message.isendthis == false" class="col-md-2 p-0 no-select">
          <img
            src="@/assets/img/icons/big-child-avatar.png"
            class="img-fluid round-icon"
          />
        </div>
        <div
          v-if="Message.isendthis == false"
          class="col-md-9 my-auto p-1 pl-2 ml-2 chat-message"
        >
          <p class="m-0 pr-2 message-text">{{ Message.messagetext }}</p>
        </div>
        <div
          v-else
          class="col-md-11 ml-auto mr-2 p-1 pl-2 text-left chat-my-message"
        >
          <p class="m-0 pr-2 message-text">{{ Message.messagetext }}</p>
        </div>
      </div>
    </div>
    <div class="row mt-auto typing-message">
      <div class="col-md-10 p-0">
        <textarea
          class="form-control chat-textarea pt-4 pb-0"
          placeholder="Написать сообщение..."
        ></textarea>
      </div>
      <div class="col-md-2 p-0 m-auto no-select">
        <a href="#">
          <img src="@/assets/img/icons/send-message.png" class="img-fluid" />
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "ChatBody",
  data() {
    return {
      ChatMessages: [
        {
          id: 0,
          isendthis: false,
          messagetext: "Привет! Помоги.",
        },
        {
          id: 1,
          isendthis: true,
          messagetext: "Что тебе нужно?",
        },
        {
          id: 2,
          isendthis: false,
          messagetext:
            "Я хочу понять, как выполнить задание с ограблением банка, мне очень интересно это сделать?",
        },
        {
          id: 3,
          isendthis: true,
          messagetext: "Я тебе пришлю пистолет по почте, не волнуйся!",
        },
      ],
    };
  },
};
</script>