<template>
  <section id="table-child-archive">
    <div class="row w-100 table-analytics child-archive-height">
      <b-table
        borderless
        hover
        id="child-foxtale-table"
        :items="items"
        :fields="fields"
      >
        <template #cell(foxstory)="row">
          <div class="row h-100">
            <p class="my-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(dateofbuy)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(datecomblete)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(statistics)>
          <button class="agent-file-load w-75 my-2 py-2">
            Открыть статистику
          </button>
        </template>
      </b-table>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableChildArchive",
  data() {
    return {
      fields: [
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-archive-foxstory",
          sortable: false,
        },
        {
          key: "dateofbuy",
          label: "Дата покупки",
          class: "child-archive-date1",
          sortable: true,
        },
        {
          key: "datecomblete",
          label: "Дата прохождения",
          class: "child-archive-date2",
          sortable: true,
        },
        {
          key: "statistics",
          label: "",
          class: "child-archive-answers",
          sortable: false,
        },
      ],
      items: [
        {
          isActive: true,
          id: 1,
          foxstory: "Домашние дела",
          dateofbuy: moment("15-07-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          datecomblete: moment("15-12-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          foxstory: "Как лисёнок победил лень?",
          dateofbuy: moment("15-08-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          datecomblete: moment("15-12-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          foxstory: "Где живут деньги?",
          dateofbuy: moment("15-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
          datecomblete: moment("15-12-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
      ],
    };
  },
};
</script>

<style>
.child-archive-foxstory {
  width: 30%;
}
.child-archive-date1 {
  width: 20%;
  text-align: center;
}
.child-archive-date2 {
  width: 20%;
  text-align: center;
}
.child-archive-answers {
  text-align: center;
}
</style>