<template>
  <div class="row mt-3" style="padding-bottom: 2.5rem">
    <div class="col mr-4">
      <div class="wrap-base-economics semi-bold-text base-info-text">
        <!-- строка с общей доходю и оборотом всех филиалов -->
        <div class="row pt-3 pb-2">
          <div class="col-2">Общий оборот:</div>
          <!-- <div class="col-1 p-0 bold-text"> -->
          <p class="bold-text green-text m-0">
            {{ numberWithSpaces(baseEconomics.totalTurnover) }} Р
          </p>
          <!-- </div> -->
          <div class="col-1">Доход:</div>
          <!-- <div class="col pl-0 bold-text"> -->
          <p class="bold-text orange-text m-0">
            {{ numberWithSpaces(baseEconomics.totalProfit) }} Р
          </p>
          <!-- </div> -->
        </div>
        <!-- <hr class="info-hr w-90 mx-auto mt-2 mb-3" /> -->
        <!-- строка с общей доходю и оборотом всех филиалов -->

        <!-- первая строка с информацией про доходы всех филиалов -->
        <div class="row mt-3">
          <div class="col row">
            <p class="my-1 w-75">Общий оборот по тренингам:</p>

            <p class="bold-text green-text my-1">
              {{ numberWithSpaces(baseEconomics.traningsTurnover) }} Р
            </p>
          </div>
          <div class="col-2"></div>
          <div class="col row">
            <p class="my-1 w-75">Оборот по Рюкзачкам к Fox Story:</p>

            <p class="bold-text green-text my-1">
              {{ numberWithSpaces(baseEconomics.backpacksTurnover) }} Р
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col row">
            <p class="my-1 w-75">Доход:</p>

            <p class="bold-text orange-text my-1">
              {{ numberWithSpaces(baseEconomics.trainingsProfit) }} Р
            </p>
          </div>
          <div class="col-2"></div>
          <div class="col row">
            <p class="my-1 w-75">Доход:</p>

            <p class="bold-text orange-text my-1">
              {{ numberWithSpaces(baseEconomics.backpacksProfit) }} Р
            </p>
          </div>
        </div>
        <!-- первая строка с информацией про доходы всех филиалов -->
        <!-- вторая строка с информацией про доходы всех филиалов -->
        <div class="row mt-2">
          <div class="col row">
            <p class="my-1 w-75">Оборот по интернет магазину</p>

            <p class="bold-text green-text my-1">
              {{ numberWithSpaces(baseEconomics.shopTurnover) }} Р
            </p>
          </div>
          <div class="col-2"></div>
          <div class="col row">
            <p class="my-1 w-75">Оборот по программам:</p>

            <p class="bold-text green-text my-1">
              {{ numberWithSpaces(baseEconomics.programmTurnover) }} Р
            </p>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col row">
            <p class="my-1 w-75">Доход:</p>

            <p class="bold-text orange-text my-1">
              {{ numberWithSpaces(baseEconomics.shopProfit) }} Р
            </p>
          </div>
          <div class="col-2"></div>
          <div class="col row">
            <p class="my-1 w-75">Доход:</p>

            <p class="bold-text orange-text my-1">
              {{ numberWithSpaces(baseEconomics.programmProfit) }} Р
            </p>
          </div>
        </div>
        <!-- вторая строка с информацией про доходы всех филиалов -->
      </div>
    </div>
  </div>
</template>

<script>
import { numberWithSpaces } from "@/scripts/number";
export default {
  name: "BaseInfoAll",
  data() {
    return {
      baseEconomics: {
        totalTurnover: 0,
        totalProfit: 0,

        traningsTurnover: 0,
        trainingsProfit: 0,

        backpacksTurnover: 0,
        backpacksProfit: 0,

        shopTurnover: 0,
        shopProfit: 0,

        programmTurnover: 0,
        programmProfit: 0
      }
    };
  },
  methods: {
    numberWithSpaces
  }
};
</script>

<style>
.wrap-base-economics {
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #4a4a4a;
}
.w-90 {
  width: 90%;
}
.base-info-text {
  font-size: 1rem;
}
</style>
