<template>
  <div class="row w-100">
    <div class="signinup mx-auto">
      <!-- Если решил залогиниться родитель или ментор -->
      <div
        v-if="type == 1"
        class="row m-0 align-items-center signinup__header-blue"
      >
        <div class="col-2"><p class="white-link my-auto">V.1.2</p></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Вход</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>
      <!-- Если решил залогиниться ребенок -->
      <div
        v-if="type == 2"
        class="row m-0 align-items-center signinup__header-orange"
      >
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Вход</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>

      <div class="row m-0 align-items-center signinup__content">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <form>
            <div class="form-group mt-4 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
            <div class="form-group my-4">
              <input
                v-on:keyup.enter="login"
                type="password"
                class="form-control pl-3"
                placeholder="Пароль"
                v-model="password"
              />
            </div>
            <div class="form-check text-left my-3">
              <input
                type="checkbox"
                class="form-check-input"
                v-model="rememeberMeCheckBox"
              />
              <label class="form-check-label ml-3 mt-1" for="RememberMeCheckBox"
                >Запомнить меня</label
              >
            </div>
            <div class="form-group mt-4 mb-1">
              <div class="row justify-content-center">
                <div class="col-12">
                  <!-- Кнопка входа для родителя и ментора -->
                  <b-button
                    v-on:keyup.enter="login"
                    v-if="type == 1"
                    variant="1"
                    class="btn form__button button-blue no-image"
                    :disabled="loginButtonDisabled"
                    @click="login()"
                  >
                    <p class="my-auto">Войти</p>
                  </b-button>
                  <!-- Кнопка входа для ребенка -->
                  <b-button
                    v-on:keyup.enter="login"
                    v-if="type == 2"
                    variant="1"
                    class="btn form__button button-orange no-image"
                    :disabled="loginButtonDisabled"
                    @click="login()"
                  >
                    <p class="my-auto">Войти</p>
                  </b-button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <p class="login__rememberlink" style="cursor: pointer" @click="showModal= !showModal">
                Забыли пароль?
              </p>
            </div>
          </form>
        </div>
        <div class="col-2 text-center"></div>
      </div>
    </div>
     <b-modal title="Забыли пароль?" v-model="showModal" cancel-title="Отмена" ok-title="Прислать пароль">
        <p>Введите адрес вашей электронной почты.</p> 
        <b-form-input  id="inputText1" ref="inputText1" v-model="inputText" autofocus></b-form-input>
     </b-modal>
 
  </div>
</template>

<script>
import toast from "@/scripts/toast";
import { AuthMapper } from "@/store/auth";
import { AgentMapper } from "@/store/agent";
import { FranchiseeMapper } from "@/store/franchisee";
import { SalesManagerMapper } from "@/store/salesManager";
import { ClientManagerMapper } from "@/store/clientManager";

export default {
  name: "FormLogin",
  data() {
    return {
       showModal: false,
      errors: [],
      loginButtonDisabled: true,
      rememeberMeCheckBox: false,
      password: "",
      email: "",
    };
  },
  props: {
    type: Number,
  },
  computed: {
    ...AuthMapper.mapState(["error", "profile"]),
    ...FranchiseeMapper.mapState(["franchiseeProfile"]),
    ...AgentMapper.mapState({ agentError: "error" }),
    payload() {
      return {
        username: this.email,
        password: this.password,
      };
    },
  },
  methods: {
    ...SalesManagerMapper.mapMutations(["setSalesManagerId"]),
    ...ClientManagerMapper.mapMutations(["setClientManagerId"]),
    ...AgentMapper.mapActions(["getAgentProfile"]),
    toast,
    ...AuthMapper.mapActions(["signIn", "getProfile", "signOut"]),

    async login() {
      await this.signIn(this.payload);

      if (!this.error) {
        await this.getProfile();
        if (!this.profile.ban) {
          //!ПУШИТ ПО РОЛЯМ
          switch (this.profile["role"]) {
            case "Parent":
              this.$router.push({ name: "parent-child-children" });
              break;
            case "Mentor":
              this.$router.push({ name: "mentor-groups" });
              break;
            // case "Child":
            //   if (this.profile.avatar) {
            //     this.$router.push({ name: "child-profile" });
            //   } else {
            //     this.$router.push({ name: "child-login-steps" });
            //   }
            //   break;
            case "Agent":
              await this.getAgentProfile();
              if (!this.agentError) {
                this.$router.push({ name: "agent-analytics" });
              } else {
                this.$router.push({ name: "agent-data" });
              }
              break;
            case "Branch":
              this.$router.push({ name: "branch-analytics" });
              break;
            case "Franchisee":
              this.$router.push({ name: "franchisee-data" });
              break;
            case "Admin":
              this.$router.push({ name: "admin-analytics-crm" });
              break;
            case "HeadSalesManager":
              this.$router.push({ name: "headsalesmanager-franchisee-all" });
              break;
            case "ClientManager":
              this.setClientManagerId(this.profile.id);
              this.$router.push({ name: "clientmanager-franchisee-all" });
              break;
            case "SalesManager":
              this.setSalesManagerId(this.profile.id);
              this.$router.push({ name: "salesmanager-analytics-crm" });
              break;
            case "BuhAdmin":
              this.$router.push({ name: "buhadmin-agents-table" });
              break;
            case "BuhFranch":
              this.$router.push({ name: "buhfranch-children-table" });
              break;
            default:
              break;
          }
        } else {
          await this.toast(
            "Бан",
            `Данный аккаунт заблокирован. 
            Причина блокировки: ${
              this.profile.ban_cause ? this.profile.ban_cause : "Неизвестна"
            }`,
            "danger"
          );
          this.signOut();
        }
      } else {
        this.toast(
          "Почта или пароль неверные",
          "Пожалуйста, попробуйте еще раз",
          "danger"
        );
      }
    },
  },
  watch: {
     showModal:function(){
     // set the focus when the modal opened/closed
      this.$refs.inputText1.focus();
    },
    email: function () {
      if (this.password) {
        this.loginButtonDisabled = false;
      } else {
        this.loginButtonDisabled = true;
      }
    },
    password: function () {
      if (this.email) {
        this.loginButtonDisabled = false;
      } else {
        this.loginButtonDisabled = true;
      }
    },
  },

};
</script>

<style>



</style>
