<template>
  <section
    id="data-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid" style="margin-bottom: 70px">
      <hr class="invisible" />
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">Данные организации</p>
        </div>
      </div>

      <b-tabs
        active-nav-item-class="active-tab-buy"
        content-class="mt-2"
        class="mt-3 pl-3"
        nav-class="w-fit"
        nav-wrapper-class="tab-buy"
        fill
      >
        <div
          class="contaiter-fluid agent-container mt-3 mr-4 pt-4 pb-4"
          style="padding-left: 40px; padding-right: 15px"
        >
          <b-tab
            title="ИП"
            v-if="!franchiseeDetails.organization || franchiseeDetails.ip"
            active
          >
            <IPInputs
              :inputs="franchiseeDetails"
              @changeData="changeData"
              @doc="showFranchiseeDoc"
            />
          </b-tab>

          <b-tab
            title="Организация"
            v-if="!franchiseeDetails.ip || franchiseeDetails.organization"
          >
            <OrganisationInputs
              :inputs="franchiseeDetails"
              @changeData="changeData"
              @doc="showFranchiseeDoc"
            />
          </b-tab>
        </div>
      </b-tabs>
      <b-modal
        size="xl"
        hide-footer
        hide-header
        v-model="franchiseeDocIsVisible"
      >
        <LicenseDocViewer :data="franchisee" />
      </b-modal>
    </div>
  </section>
</template>

<script>
import IPInputs from "@/components/franchisee/data/data/IPInputs.vue";
import LicenseDocViewer from "@/components/buhfranch/docs/LicenseDocViewer.vue";
import OrganisationInputs from "@/components/franchisee/data/data/OrganisationInputs.vue";
import { AdminMapper } from "@/store/admin.js";
import { ClientManagerMapper } from "@/store/clientManager.js";
import { AuthMapper } from "@/store/auth";
export default {
  name: "Change",
  components: {
    IPInputs,
    OrganisationInputs,
    LicenseDocViewer,
  },

  data() {
    return {
      franchiseeDocIsVisible: false,
    };
  },

  methods: {
    ...AuthMapper.mapActions(["patchOtherProfile", "getProfile"]),
    ...AdminMapper.mapActions(["getFranchiseeDetails", "putFranchiseeDetails"]),
    ...ClientManagerMapper.mapActions([
      "putFranchiseeProfile",
      "getClientFranchiseeDetails",
    ]),
    async changeData(data) {
      let buh = data.get("emailBuch");
      data.delete("emailBuch");
      console.log({ buh });
      let id = this.franchiseeDetails.user_id.id;
      console.log({ id });
      data.set("user_id", id);
      await this.putFranchiseeDetails({ id, data });
      if (data.get("email") != this.franchiseeDetails.user_id.email) {
        await this.patchOtherProfile({
          id,
          data: { email: data.get("email") },
        });
      }
      if (!isNaN(parseInt(buh))) {
        await this.putFranchiseeProfile({ id, data: { emailBuch: buh } });
      }
      console.log(id);
      if (!this.error) {
        await this.getFranchiseeDetails(this.$route.params.id);
      }
    },
    showFranchiseeDoc() {
      this.franchiseeDocIsVisible = true;
    },
  },
  computed: {
    ...ClientManagerMapper.mapState(["franchisee"]),
    ...AdminMapper.mapState(["error", "franchiseeDetails"]),
    ...AuthMapper.mapState(["profile"]),
  },
  async mounted() {
    await this.getFranchiseeDetails(this.$route.params.id);
  },
};
</script>

<style>
.admin-inputs > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}
.file-type {
  font-size: 16px;
  line-height: 20px;

  color: #2b2a29;
  font-weight: 400;
}
/* .agent-file-load {
  padding: 3% 7%;
  background: #efefef;
  border: 1px solid #626262;
  border-radius: 50px;
  color: #626262;

  transition: 0.5s ease;
} */
.agent-load {
  width: 100%;
}
.agent-file-load:hover {
  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.282);
}

.tab-buy {
  padding-top: 0vh;
  padding-bottom: 0vh;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.tab-buy .nav-link {
  width: 150px !important;
  height: 30px !important;
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;
  padding: 0;
  padding-bottom: 0;
}
.active-tab-buy {
  background: #b42f26 !important;
  border-radius: 6px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
</style>
