<template>
  <section
    id="reports-admin"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Финансы и отчёты</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="invisible" />

      <div class="row pl-5 pr-3 mt-2 pt-4">
        <p class="m-0 a-row-data-label">
          Общий оборот:
          <span class="bold-text green-text pl-4">{{ totalTurnover }} P</span>
        </p>

        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Общее кол-во детей:
          <span class="bold-text orange-text pl-4">{{ childCount }}</span>
        </p>

        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Кол-во проданных франшиз:
          <span class="bold-text orange-text pl-4">{{ packageCount }}</span>
        </p>
      </div>
      <div class="row px-5">
        <hr class="hr-branch w-100 my-3" />
      </div>
      <Diagramm :info="diagrammInfo" />
    </div>

    <div
      class="contaiter-fluid agent-container mr-4 mx-3"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TableAnalytics />
    </div>
  </section>
</template>

<script>
import Diagramm from "@/components/global/analytics/Diagramm.vue";
import TableAnalytics from "@/components/agent/analytics/TableAnalytics.vue";
import { AdminMapper } from "@/store/admin";
export default {
  name: "Reports",
  components: {
    Diagramm,
    TableAnalytics,
  },
  data() {
    return {
      messageTheme: "",
      totalTurnover: 0,
      childrenCount: 0,
      selledFranshises: 0,
      diagrammInfo: [
        {
          id: 1,
          name: "Детский сад (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 2,
          name: "Начальная школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 3,
          name: "Школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 4,
          name: "Детский сад (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 5,
          name: "Начальная школа (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 6,
          name: "Школа (Offline)",
          count: 0,
          income: 0,
        },
      ],
    };
  },
  computed: {
    ...AdminMapper.mapState(["childCount", "packageCount"]),
  },
  methods: {
    ...AdminMapper.mapActions(["getChildPackageCount"]),
  },
  async mounted() {
    await this.getChildPackageCount();
  },
};
</script>

<style></style>
