<template>
  <section
    id="mychildren"
    class="animate__animated animate__fadeIn"
    v-show="children"
  >
    <div class="contaiter-fluid ml-3 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 mb-4">
          <div class="col-4 mt-4">
            <h1>Дети</h1>
          </div>
        </div>

        <div
          class="row pl-3 w-100 no-wrap row__children pointer no-select mb-3"
          @click="myChild(child)"
          v-for="child in children"
          :key="child.id"
          :index="child.id"
        >
          <div class="col-md-3 col-lg-2 col-xl-1">
            <b-img
              v-if="child.child.avatar"
              :src="mediaUrl + child.child.avatar"
              class="round-icon"
              fluid
              style="min-width: 40px;"
            />
          </div>
          <div class="col-md-5 p-0 my-auto">
            <p class="table-item">
              {{ child.child.second_name }} {{ child.child.name }}
              {{ child.child.last_name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="invisible my-3" />
          </div>
        </div>
      </div>
    </div>
    <FormAddChild />
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";

import FormAddChild from "@/components/parent/child/children/FormAddChild.vue";
export default {
  name: "Children",
  components: {
    FormAddChild,
  },
  computed: {
    ...AuthMapper.mapState(["token"]),
    ...ChildMapper.mapState(["children", "error", "kid", "mediaUrl"]),
  },
  methods: {
    ...ChildMapper.mapActions(["getChildren"]),
    ...ChildMapper.mapMutations(["setChild"]),
    async myChild(child) {
      await this.setChild(child);
      this.$router.push({ name: "parent-child-my" });
    },
  },
  async mounted() {
    await this.getChildren(this.token);
    if (this.error) {
      console.log(this.error);
    }
  },
};
</script>

<style>
</style>