<template>
  <section id="mychild" class="animate__animated animate__fadeIn" v-if="kid">
    <div class="row w-100">
      <!-- Информация об успехах ребенка -->
      <div class="col-md pl-3 pr-2">
        <div class="contaiter my-child-container mt-5">
          <!-- Строка с именем, балансом и рангом ребенка -->
          <div class="row ml-4 pt-5 pb-4 pr-2">
            <div class="col-md-9">
              <div class="row no-wrap">
                <!-- Аватарка ребенка -->
                <div class="col-md-2 pl-0">
                  <img
                    v-if="kid.child.avatar"
                    class="img-fluid round-icon"
                    :src="mediaUrl + kid.child.avatar"
                     style="min-width: 90px;"
                  />
                  <img
                    v-if="!kid.child.avatar"
                    src="@/assets/img/icons/big-child-avatar.png"
                    class="img-fluid round-icon"
                    style="min-width: 90px;"
                  />
                </div>
                <div class="col-md-10 no-select">
                  <!-- Имя ребенка -->
                  <div class="row">
                    <div class="col-md-12">
                      <h1>
                        {{ kid.child.second_name }} {{ kid.child.name }}
                        {{ kid.child.last_name }}
                      </h1>
                    </div>
                  </div>
                  <!-- Ранг и баланс -->
                  <div class="row">
                    <!-- <div class="col-md-6 p-0">
                      <div class="row">
                        <div class="col-md-2 my-auto pr-5">
                          <img src="@/assets/img/icons/silver.png" />
                        </div>
                        <div class="col-md-4 my-auto p-0">
                          <p class="m-0 rank-text">{{ kid.rank }}</p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <p class="m-0 rank-text">{{ kid.foxies }}</p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <img src="@/assets/img/icons/coin.png" />
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 my-auto text-left">
              <button
                v-b-modal.sber-fill-modal
                type="button"
                class="btn btn-profile-tab pay-to-account"
              >
                <p>Пополнить счет</p>
              </button>
            </div>
          </div>
          <!-- Вкладки -->
          <div class="row">
            <div class="col-md-12 mt-4">
              <ul class="child-nav nav w-100 nav-tabs text-center px-4">
                <li class="nav-item">
                  <a
                    class="nav-link nav-link-regular active"
                    data-toggle="tab"
                    href="#child-performance"
                    >Успеваемость по сказкам</a
                  >
                </li>
                <!-- <li class="nav-item">
                  <a
                    class="nav-link nav-link-regular"
                    data-toggle="tab"
                    href="#child-dictionary"
                    >Личный словарь ребенка</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link nav-link-regular"
                    data-toggle="tab"
                    href="#child-terms"
                    >Добавить бизнес термин</a
                  >
                </li> -->
                <li class="nav-item">
                  <a
                    class="nav-link nav-link-regular"
                    data-toggle="tab"
                    href="#child-data"
                    >Личные данные</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- Контент на вкладках -->
          <div class="row w-100 m-0 tab-content">
            <div class="tab-pane fade w-100 show active" id="child-performance">
              <TabTales />
            </div>
            <!-- <div class="tab-pane fade w-100" id="child-dictionary">
              <TabDictionary />
            </div>
            <div class="tab-pane fade w-100" id="child-terms">
              <FormAddTerm />
            </div> -->
            <div class="tab-pane fade w-100" id="child-data">
              <TabInfo />
            </div>
          </div>
        </div>
      </div>
    </div>

    <TransactionModal
      @create="createTransaction"
      @change-value="(v) => (value = v)"
      type="Fill"
      title="Пополнение баланса"
      :value="value"
      :loading="loading"
    />
  </section>
</template>

<script>
import axios from "axios";
import { store } from "@/store";
import TransactionModal from "@/components/TransactionModal.vue";
import { ChildMapper } from "@/store/child";
import { AuthMapper } from "@/store/auth";
// import axios from "axios";
import TabTales from "@/components/parent/child/my/TabTales.vue";
// import TabDictionary from "@/components/parent/child/my/TabDictionary.vue";
// import FormAddTerm from "@/components/parent/child/my/FormAddTerm.vue";
import TabInfo from "@/components/parent/child/my/TabInfo.vue";
export default {
  name: "MyChild",
  components: {
    TabTales,
    // TabDictionary,
    // FormAddTerm,
    TabInfo,
    TransactionModal,
  },
  data() {
    return {
      value: 0,
      loading: false,
    };
  },
  computed: {
    ...ChildMapper.mapState(["kid"]),
    ...AuthMapper.mapState(["profile"]),
  },
  methods: {
    ...ChildMapper.mapMutations(["setChild"]),
    /**
     * Пополенение кошелька ребенка
     * Сначала создается непотвержденная транзакция
     * Потом отправляется запрос в сбербанк апи через прокси. (прокси описан в файле vue.config.js)
     * Со сбера приходит ссылка на форму оплаты, по которой переходим
     */
    async createTransaction(value, title) {
      this.loading = true;
      let createdTransaction = null;
      try {
        let response = await axios.post(
          `${process.env.VUE_APP_API_URL}/api/v1/transactions/`,
          { value, name: title, user: this.profile.id },
          {
            headers: {
              Authorization: "Token " + store.getters["AuthStore/token"],
            },
          }
        );
        createdTransaction = response.data;
      } catch (error) {
        return this.errorToast(error.response.data);
      }
      try {
        let queryValue = btoa(
          JSON.stringify({
            transaction: createdTransaction.id,
            child: this.kid.id,
          })
        );

        let response = await axios.post(
          `http://localhost:8080/payment/rest/register.do?amount=${createdTransaction.value *
            100}&currency=643&language=ru&orderNumber=${
            createdTransaction.id
          }&returnUrl=http://localhost:8080/parent/children/mychild?pay=${queryValue}&password=T5024213977&userName=T5024213977-api`
        );
        let formUrl = response.data.formUrl;
        if (formUrl) {
          window.location.href = formUrl;
        } else {
          await this.createTransaction(value, title);
        }
      } catch (error) {
        return this.errorToast(error.response.data);
      }
    },
  },
  /**
   * Если окно загрузилось после оплаты. То отправится запрос в базу на подтверждение недавно созданного платежа и пополнение кошелька ребенка
   */
  async mounted() {
    let value = this.$route.query.pay;
    if (value) {
      let error = null;
      let data = JSON.parse(atob(value));
      if (data.transaction && data.child) {
        data.order_id = this.$route.query.orderId;
        let paidTransaction = await axios
          .post(
            `${process.env.VUE_APP_API_URL}/api/v1/transactions/pay`,
            data,
            {
              headers: {
                Authorization: "Token " + store.getters["AuthStore/token"],
              },
            }
          )
          .catch((err) => (error = err.response.data));
        if (!error) {
          this.setChild({
            ...this.kid,
            foxies: this.kid.foxies + paidTransaction.data.data.value,
          });
          this.toast("Успешно", "Пополнение успешно проведено", "success");
        }
      }
    }
  },
};
</script>
