<template>
  <div class="img-loader">
    <div class="img-loader__border" :class="{ 'border-0': !imgSrc }">
      <div
        class="img-loader__preload"
        v-show="!imgSrc"
        @click="$refs.input.click()"
      >
        <input
          type="file"
          accept="image/*"
          class="img-loader__input"
          ref="input"
          @change="loadImg"
        />
        <img
          class="img-loader__preload-icon"
          src="@/assets/img/pictures/load-photo-icon.svg"
          alt="preload-icon"
        />
      </div>

      <div class="img-loader__loaded-img" v-show="imgSrc" ref="img">
        <img
          src="@/assets/img/pictures/loaded.svg"
          alt="success"
          class="img-loader__success-icon"
        />
      </div>
      <button
        class="img-loader__delete-btn"
        v-show="imgSrc"
        @click="
          imgSrc = text = '';
          $emit('deleteImg', id);
        "
      >
        <img
          src="@/assets/img/pictures/delete-image.svg"
          alt="delete"
          class="img-loader__delete-img"
        />
      </button>
      <input
        :ref="'img-name'"
        v-model="text"
        v-show="imgSrc"
        :class="{ 'text-focused': focused }"
        @blur="focused = false"
        class="img-loader__text-input img-name mt-1"
        type="text"
        @change="$emit('name', text, id)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "ImgLoader",
  data() {
    return {
      file: "",
      imgSrc: "",
      text: "",
      focused: false,
    };
  },
  props: {
    img: String,
    id: Number,
    serverText: String,
  },
  methods: {
    loadImg() {
      this.file = this.$refs["input"].files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;

          this.$refs["img"].style.backgroundImage = "url(" + this.imgSrc + ")";
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
          let fileName = this.file.name;
          this.text = fileName.split(".")[0];
          // this.$refs["img-name" + this.id].focus();
          this.focused = true;
        }
      }
      this.$emit("load", { file: this.file, id: this.id });
    },
  },
  watch: {
    img: {
      handler(newImg) {
        if (newImg) {
          this.imgSrc = newImg;
          this.$refs["img"].style.backgroundImage = "url(" + this.imgSrc + ")";
          this.$refs["img"].style.backgroundColor = "#ffffff";
        } else {
          this.imgSrc = "newImg";
          this.$refs["img"].style.backgroundImage = "none";
        }
      },
    },
    serverText: {
      handler(newText) {
        if (newText) {
          this.text = newText;
        }
      },
    },
  },
};
</script>

<style scoped>
.img-loader {
  flex: 1 1 50%;
  height: 50%;
}
.img-loader__border {
  border-radius: 35px;
  border: solid 2px #c5c5c560;
  height: 100%;
  padding: 1rem;
  position: relative;
}
.img-loader__preload {
  border: dashed 2px #c5c5c5;
  border-radius: 30px;
  display: flex;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 70%);
  transition: 0.2s ease-in-out;
}
.img-loader__preload:hover {
  background: rgba(0, 0, 0, 0.2);
}
.img-loader__preload-icon {
  width: 30%;
  height: auto;
  margin: auto;
}
.img-loader__input {
  display: none;
}
.img-loader__loaded-img {
  border: solid 2px #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  height: 90%;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  display: flex;
}
.img-loader__success-icon {
  width: 135px;
  filter: drop-shadow(0px 0px 10px #fefefe);

  border-radius: 100%;
  height: auto;
  margin: auto;
}
.img-loader__delete-btn {
  position: absolute;
  right: 1%;
  top: 3%;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.img-loader__delete-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 2.2rem;
  height: 2.2rem;
}
.img-loader__delete-img {
  width: 100%;
  height: auto;
}
.img-loader__text-input {
  margin: auto;
  margin-top: 15px;
  opacity: 0.5;
  height: 10%;
  width: 100%;
  color: #2b2a29;
  background: #ffffff00;
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

.img-loader__text-input:focus,
.text-focused {
  background: #f3f3f3;
}
/* .img-loader__text-input:hover {
  background: rgba(0, 0, 0, 0.05);
}
 */
.border-0 {
  border: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .img-loader {
    flex: 1 1 100%;
    padding: 0.5rem;
    height: 25%;
    z-index: 5;
  }
}
</style>