<template>
  <div class="row w-100">
    <div class="signinup mx-auto">
      <!-- Если решил залогиниться родитель или ментор -->
      <div class="row m-0 align-items-center signinup__header-blue">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Регистрация</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>
      <!-- Если решил залогиниться ребенок -->
      <div class="row py-5 m-0 signinup__content">
        <div class="col my-3 text-center">
          <button
            @click="$router.push({ name: 'global-admin-franchisee' })"
            class="admin-register-button w-100"
          >
            <p class="px-3 py-2 m-0">Стать франчазии</p>
          </button>
        </div>
        <div class="col my-3 text-center">
          <button
            @click="$router.push({ name: 'global-admin-agent' })"
            class="admin-register-button w-100"
          >
            <p class="px-3 py-2 m-0">Стать агентом</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FormLogin",
  data() {
    return {
      errors: [],
      loginButtonDisabled: true,
      rememeberMeCheckBox: false,
      password: "",
      email: ""
    };
  }
};
</script>

<style>
.admin-register-button {
  background-color: #ed8719;
  border-radius: 5px;
  border: 1px solid #00000000;
  transition: 0.5s ease;
}
.admin-register-button:hover {
  box-shadow: 0px 0px 5px#ed8719;
}
.admin-register-button:focus {
  box-shadow: 0px 0px 10px#ff9018;
  background-color: #ff9018;
}
.admin-register-button p {
  color: #ffffff;
}
.admin-register-button:focus {
  color: #dcdcdc;
}
</style>
