<template>
  <section id="login" class="signinup-bg">
    <div
      class="container full-height-container animate__animated animate__fadeIn"
    >
      <div class="wrapper">
        <div class="row w-100 justify-content-center">
          <div class="col mb-4 text-center">
            <img src="@/assets/img/logo/BusinessFox.png" class="img-fluid" />
          </div>
        </div>
        <router-view></router-view>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Login",
};
</script>

<style >
</style>