<template>
  <div class="absolute-block anim-wrap-final">
    <img
      src="@/assets/img/page-12-anim/body.svg"
      alt=""
      class="absolute-block anim-fe-body-img"
    />
    <img
      src="@/assets/img/page-12-anim/left-leg.svg"
      alt=""
      class="absolute-block anim-fe-left-leg-img"
    />
    <img
      src="@/assets/img/page-12-anim/right-leg.svg"
      alt=""
      class="absolute-block anim-fe-right-leg-img"
    />
    <img
      src="@/assets/img/page-12-anim/tail.svg"
      alt=""
      class="absolute-block anim-fe-tail-leg-img"
    />

    <img
      src="@/assets/img/page-12-anim/left-hand.svg"
      alt=""
      class="absolute-block anim-fe-left-hand-img"
    />
    <img
      src="@/assets/img/page-12-anim/right-hand.svg"
      alt=""
      class="absolute-block anim-fe-right-hand-img"
    />
    <img
      src="@/assets/img/page-12-anim/rupor.svg"
      alt=""
      class="absolute-block anim-fe-rupor-img"
    />
  </div>
</template>

<script>
export default {
  name: "AnimFoxGuide",
};
</script>

<style scoped >
.anim-wrap-final {
  height: 525px;
  width: 525px;
  left: -13%;
  bottom: 0%;
}
img {
  --animate-duration: 0.7s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap-final {
    height: 500px;
    width: 640px;
    left: -8vw;
    bottom: 4%;
  }
}

/* @media (max-width: 1200px) {
  .anim-wrap-final {
    height: calc(60vh - 60px);
    width: calc(60vh - 60px);
    bottom: 10%;
  }
} */
/* @media (max-width: 1300px) and (min-height: 750px) {
  .anim-wrap-final {
    left: -20%;
    bottom: -5%;
  }
}
@media (max-width: 850px) {
  .anim-wrap-final {
    height: calc(70vh - 60px);
    width: calc(70vh - 60px);
    bottom: 0%;
    left: -7%;
  }
} */
</style>