<template>
  <div class="absolute-block anim-wrap">
    <img
      src="@/assets/img/page-17-anim/bg.png"
      alt=""
      class="absolute-block anim-fm-bg-img"
    />
    <img
      src="@/assets/img/page-17-anim/fox-body.png"
      alt=""
      class="absolute-block anim-fm-body-img"
    />
    <img
      src="@/assets/img/page-17-anim/legs.png"
      alt=""
      class="absolute-block anim-fm-legs-img"
    />
    <img
      src="@/assets/img/page-17-anim/left-hand.png"
      alt=""
      class="absolute-block anim-fm-left-hand-img"
    />
    <img
      src="@/assets/img/page-17-anim/foxick.png"
      alt=""
      class="absolute-block anim-fm-foxick-img"
    />
    <img
      src="@/assets/img/page-17-anim/right-hand.png"
      alt=""
      class="absolute-block anim-fm-right-hand-img"
    />
    <img
      src="@/assets/img/page-17-anim/wallet.png"
      alt=""
      class="absolute-block anim-fm-wallet-img"
    />
  </div>
</template>

<script>
export default {
  name: "AnimPage10",
};
</script>

<style scoped>
.anim-wrap {
  height: 525px;
  width: 525px;
  left: 4%;
  bottom: 7%;
}

/* @media (max-width: 1200px) {
  .anim-wrap {
    height: calc(60vh - 60px);
    width: calc(60vh - 60px);
    bottom: 10%;
  }
}
@media (max-width: 850px) {
  .anim-wrap {
    height: calc(50vh - 60px);
    width: calc(50vh - 60px);
    bottom: 20%;
  }
}

@media (max-width: 1100px) and (min-height: 750px) {
  .anim-wrap {
    height: calc(48vh - 60px);
    width: calc(48vh - 60px);
    bottom: 20%;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap {
    height: 600px;
    width: 768px;
    overflow: hidden;
    bottom: 0;
    margin: auto;
    right: 0%;
    left: unset;
  }
}

img {
  --animate-duration: 0.7s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
</style>