<template>
  <div class="anim"></div>
</template>


<style scoped>
.anim {
  position: absolute;
  bottom: -0%;
  width: 580px;
  height: 500px;
  background-image: url("../../../../assets/img/page-12-anim/letsplay.png");
  animation: anim 2s steps(52) infinite;
}
@keyframes anim {
  0% {
    background-position: 30160px;
  }
  100% {
    background-position: 0px;
  }
}
</style>
