<template>
  <div class="absolute-block anim-wrap">
    <div class="anim-checking"></div>
    <!-- <img src="@/assets/img/modals/menthor-fox.gif" alt=""> -->
    <!-- анимация -->
  </div>
</template>

<script>
export default {
  name: "AnimChecking",
};
</script>

<style scoped>
.anim-wrap {
  height: 560px;
  width: 560px;
  left: 6%;
  bottom: -1%;
}

.anim-checking {
  position: absolute;
  bottom: 20%;
  right: -10%;
  width: 630px;
  height: 480px;
  background-image: url("../../../../assets/img/hints/menthor.png");
  animation: anim-checking 3s infinite steps(60);
}
@keyframes anim-checking {
  0% {
    background-position: 40200px;
  }
  100% {
    background-position: 0px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap {
    height: 568px;
    width: 735px;
    left: 0%;
    bottom: -1%;
  }
  .anim-checking {
    bottom: 0;
    right: 8%;
    transform: scale(1.2);
  }
  /* .anim-checking {
    right: 15%;
  } */
}
</style>