<template>
  <div class="absolute-block anim-wrap">
    <img
      src="@/assets/img/page-68-anim/bg.png"
      alt=""
      class="absolute-block anim-st-bg-img"
    />
    <img
      src="@/assets/img/page-68-anim/star.png"
      alt=""
      class="absolute-block anim-st-star-img"
    />
    <img
      src="@/assets/img/page-68-anim/sticker.png"
      alt=""
      class="absolute-block anim-st-body-img"
    />
  </div>
</template>

<script>
export default {
  name: "AnimSticker",
};
</script>

<style scoped>
.anim-wrap {
  height: 500px;
  width: 500px;
  left: -2%;
  bottom: 8%;
}

/* @media (max-width: 1200px) {
  .anim-wrap {
    height: calc(60vh - 60px);
    width: calc(60vh - 60px);
    bottom: 10%;
  }
}
@media (max-width: 850px) {
  .anim-wrap {
    height: calc(50vh - 60px);
    width: calc(50vh - 60px);
    bottom: 20%;
  }
}
@media (max-width: 1100px) and (min-height: 750px) {
  .anim-wrap {
    left: -15%;
  }
} */
img {
  --animate-duration: 0.7s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.anim-st-star-img {
  width: 99%;
  z-index: 30;
  top: -1%;
  left: 30%;
}
.anim-st-bg-img {
  width: 71%;
  z-index: 40;
  top: -10%;
  left: 41%;
}
.anim-st-body-img {
  width: 53%;
  z-index: 50;
  top: 13%;
  left: 49%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap {
    height: 585px;
    width: 768px;
    overflow: hidden;
    bottom: 0;
    margin: auto;
    right: unset;
  }
  .anim-st-star-img {
    width: unset;
    height: 70%;
    top: 9%;
    left: 14%;
  }
  .anim-st-bg-img {
    width: unset;
    height: 93%;
    top: 3%;
    left: 26%;
  }
  .anim-st-body-img {
    width: unset;
    height: 58%;
    top: 25%;
    left: 32%;
  }
}
</style>