<template>
  <div class="absolute-block anim-wrap">
    <img
      src="@/assets/img/page-5-anim/bg3.png"
      alt=""
      class="absolute-block anim-bd-bg1-img"
    />
    <img
      src="@/assets/img/page-5-anim/star.png"
      alt=""
      class="absolute-block anim-bd-star-img"
    />
    <img
      src="@/assets/img/page-5-anim/bg2.png"
      alt=""
      class="absolute-block anim-bd-bg-img"
    />
    <!-- лисено к-->
    <img
      src="@/assets/img/page-5-anim/tail.png"
      alt=""
      class="absolute-block anim-bd-tail-img"
    />
    <img
      src="@/assets/img/page-5-anim/fox.png"
      alt=""
      class="absolute-block anim-bd-fox-img"
    />
    <img
      src="@/assets/img/page-5-anim/right-hand.png"
      alt=""
      class="absolute-block anim-bd-right-hand-img"
    />
    <img
      src="@/assets/img/page-5-anim/money-machine.png"
      alt=""
      class="absolute-block anim-bd-money-machine-img"
    />
    <img
      src="@/assets/img/page-5-anim/table.png"
      alt=""
      class="absolute-block anim-bd-table-img"
    />
    <!-- <img
      src="@/assets/img/page-5-anim/bar.png"
      alt=""
      class="absolute-block anim-bd-bar-img"
    /> -->
    <!-- лисенок -->
    <!-- монеты -->
    <img
      id="bdFirstStep"
      src="@/assets/img/page-5-anim/first-step.png"
      alt=""
      class="absolute-block anim-bd-first-step-img"
    />
    <img
      id="bdBitcoin"
      src="@/assets/img/page-5-anim/bitcoin.png"
      alt=""
      class="absolute-block anim-bd-bitcoin-img"
    />
    <img
      id="bdDollar"
      src="@/assets/img/page-5-anim/dollar-bg.png"
      alt=""
      class="absolute-block anim-bd-dollar-bg-img"
    />
    <img
      id="bdDollar"
      src="@/assets/img/page-5-anim/dollar.png"
      alt=""
      class="absolute-block anim-bd-dollar-img"
    />

    <img
      id="bdEuro"
      src="@/assets/img/page-5-anim/euro.png"
      alt=""
      class="absolute-block anim-bd-euro-img"
    />

    <img
      id="bdRouble"
      src="@/assets/img/page-5-anim/rouble.png"
      alt=""
      class="absolute-block anim-bd-rouble-img"
    />
    <img
      src="@/assets/img/page-5-anim/pound-bg.png"
      alt=""
      class="absolute-block anim-bd-pound-bg-img"
    />
    <img
      id="bdPound"
      src="@/assets/img/page-5-anim/pound.png"
      alt=""
      class="absolute-block anim-bd-pound-img"
    />
  </div>

  <!-- монеты -->
</template>

<script>
export default {
  name: "AnimBusinessDiary",
};
</script>

<style scoped>
.anim-wrap {
  height: calc(80vh - 60px);
  width: calc(80vh - 60px);
  right: 1%;
  bottom: 0%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap {
    height: 600px;
    width: 768px;
    overflow: hidden;
    bottom: -2%;
    right: 15%;
  }
}
/* Планшет в портретном режиме */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .anim-wrap {
    height: 75%;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    bottom: -1.3%;
    right: calc(0%);
    margin: auto;
  }
}

img {
  --animate-duration: 0.7s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
</style>