<template>
  <div class="absolute-block anim-wrap">
    <!-- <img
      src="@/assets/img/page-8-anim/bg.png"
      alt=""
      class="absolute-block anim-is-bg-img"
    />
    <img
      src="@/assets/img/page-8-anim/body.png"
      alt=""
      class="absolute-block anim-is-body-img"
    />
    <img
      src="@/assets/img/page-8-anim/tail.png"
      alt=""
      class="absolute-block anim-is-tail-img"
    />
    <img
      src="@/assets/img/page-8-anim/left-leg.png"
      alt=""
      class="absolute-block anim-is-left-leg-img"
    />
    <img
      src="@/assets/img/page-8-anim/right-leg.png"
      alt=""
      class="absolute-block anim-is-right-leg-img"
    />
    <img
      src="@/assets/img/page-8-anim/left-hand.png"
      alt=""
      class="absolute-block anim-is-left-hand-img"
    />
    <img
      src="@/assets/img/page-8-anim/right-hand.png"
      alt=""
      class="absolute-block anim-is-right-hand-img"
    />
    <img
      src="@/assets/img/page-8-anim/cart.png"
      alt=""
      class="absolute-block anim-is-cart-img"
    /> -->
  </div>
</template>

<script>
export default {
  name: "AnimPage4",
};
</script>

<style scoped>
.anim-wrap {
  height: 600px;
  width: 600px;
  left: 0;
  bottom: 5%;
  background: url("../../../../assets/img/page-4/fox-shop.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* @media (max-width: 1100px) and (min-height: 750px) {
  .anim-wrap {
    left: -8%;
  }
}
@media (max-width: 1200px) {
  .anim-wrap {
    height: calc(60vh - 60px);
    width: calc(60vh - 60px);
    bottom: 10%;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap {
    height: 600px;
    width: 768px;
    overflow: hidden;
    bottom: -1.5%;
    left: -6%;
    right: 16%;
    margin: auto;
  }
}

/* @media (max-width: 850px) {
  .anim-wrap {
    height: calc(50vh - 60px);
    width: calc(50vh - 60px);
    bottom: 20%;
  }
} */
img {
  --animate-duration: 0.7s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
</style>