<template>
  <section
    id="admin-children-tab"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Родители</p>
        </div>
        
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="invisible" />

      <div
        style="padding-left: 2.5rem; padding-top: 2.5rem"
        class="row pt-4 semi-bold-text no-select"
      >
        <p class="m-0">Общее кол-во родителей:</p>

        <p class="m-0 ml-3 orange-text bold-text">{{ parentsCount }}</p>
      </div>

      <TableParents
        linkName="headsalesmanager-parent-info"
        :parents="parents"                
        class="pb-4"
      />
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { HeadManagerMapper } from "@/store/headManager";
// import TableChildren from "@/components/franchisee/analytics/branch-info/tab-children/TableChildren.vue";
import TableParents from "@/components/headSalesManager/parents/TableParents.vue";

// import DropdownFilters from "@/components/admin/children/all/DropdownFilters.vue";
export default {
  name: "All",
  props: {
    isAppend: Boolean,
  },
  components: {
    TableParents,
   
    // TableChildren,
    // DropdownFilters
  },

  computed: {    
    ...HeadManagerMapper.mapState(["parents", "error"]),
    parentsCount() {
      return this.parents.length ? this.parents.length : 0;
    },
  },
  methods: {    
    ...HeadManagerMapper.mapActions(["getParentsList", "getSelectionManagers"]),
  },
  async mounted() {    
    await this.getParentsList();
    await this.getSelectionManagers(); 
  },
};
</script>

<style>
.child-id {
  width: 7%;
  padding-left: 2.5rem !important;
}
.child-age {
  width: 9%;
  text-align: center;
}
.child-foxstory {
  text-align: center;
}
.child-level {
  width: 12%;
}
.child-date {
  width: 9%;
  text-align: left;
  padding-right: 2.5rem !important;
}
.child-name {
  padding-left: 3% !important;
}
.child-learning {
  display: none;
}
/* фильтры */

.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-download {
  border: 1.5px solid #ed8719;
  height: 30px;
  width: 130px;
  padding: 0;
}
.btn-download > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}
.btn-filter {
  display: flex;
  height: 30px;
  align-items: center;
}
</style>