<template>
  <section id="login" class="signinup-bg">
    <div
      class="container full-height-container animate__animated animate__fadeIn"
    >
      <div class="wrapper">
        <div class="row w-100 justify-content-center">
          <div class="col-10 mb-4 text-center">
            <img src="@/assets/img/logo/BusinessFox.png" class="img-fluid" />
          </div>
        </div>
        <FormRegister :referal="referal" />
      </div>
    </div>
  </section>
</template>

<script>
import FormRegister from "@/components/global/register/FormRegister.vue";
import AgentMapper from "@/store/agent";
export default {
  name: "Register",
  data() {
    return {
      referalObj: null,
      referal: null,
    };
  },
  props: {
    msg: String,
  },
  components: {
    FormRegister,
  },
  methods: {
    ...AgentMapper.mapActions(["getOtherAgentProfile"]),
  },
  computed: {
    ...AgentMapper.mapState(["agentProfile"]),
  },
  async mounted() {
    if (this.$route.params.referal) {
      this.referalObj = JSON.parse(atob(this.$route.params.referal));
      if (this.referalObj.agentProfileId) {
        console.log(this.referalObj);
        let id = JSON.parse(atob(this.$route.params.referal)).agentProfileId;
        await this.getOtherAgentProfile(id);
        this.referal = this.agentProfile;
      }
    }
  },
};
</script>

<style>
</style>