<template>
  <section id="transactions">
    <div class="row mt-4 pl-3 w-100 no-wrap modal-dissapier">
      <div class="col-md-4 pl-4 text-left">
        <p class="table-header">Фильтры:</p>
      </div>
    </div>
    <div v-if="!modalShow" class="row mt-2 pl-3 w-100 no-wrap modal-dissapier">
      <div class="col-md-3 pl-4 text-left">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-filter text-left pl-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p>
              <span v-if="coachName == 'Тренер'">Тренер</span>
              <span v-else
                >{{ coachName.name.slice(0, 1) }}.
                {{ coachName.second_name }}</span
              >
            </p>
          </button>
          <div class="dropdown-menu w-100">
            <button
              v-if="coachName != 'Тренер'"
              class="dropdown-item"
              type="button"
              @click="dropCoachFilter()"
            >
              Сбросить
            </button>
            <button
              v-for="coacher in coacher_list"
              :key="coacher.id"
              :index="coacher.id"
              class="dropdown-item"
              type="button"
              @click="coachFilter(coacher)"
            >
              {{ coacher.name }} {{ coacher.second_name }}
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4 pl-4 text-center">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-filter text-left pl-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p>
              {{ costName }} <span v-if="costName != 'Стоимость'"> руб.</span>
            </p>
          </button>
          <div class="dropdown-menu w-100">
            <button
              v-if="costName != 'Стоимость'"
              class="dropdown-item"
              type="button"
              @click="dropCostFilter()"
            >
              Сбросить
            </button>
            <button
              v-for="cost in cost_list"
              :key="cost.id"
              :index="cost.id"
              class="dropdown-item"
              type="button"
              @click="costFilter(cost.cost)"
            >
              {{ cost.cost }} руб.
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr class="hr-invisible" />

    <div
      class="row row__table pl-3 w-100 no-wrap"
      v-for="coaching in freeCoachingsList"
      :key="coaching.id"
      :index="coaching.id"
    >
      <div class="col-md-3 my-auto pl-4 text-left">
        <p v-if="coaching.coaching_name.length <= 30" class="mdc-table-item">
          {{ coaching.coaching_name }}
        </p>
        <p v-if="coaching.coaching_name.length > 30" class="mdc-table-item">
          {{ coaching.coaching_name.slice(0, 30) }}...
        </p>
      </div>
      <div class="col-md-4 my-auto text-center">
        <p class="table-item">{{ coaching.cost }} руб.</p>
      </div>
      <div class="col-md-5 my-auto pl-0 text-center">
        <div class="row w-100 no-wrap">
          <div class="col-md-3 my-auto text-center">
            <p class="table-item">
              {{
                coaching.date_start
                  .slice(2, 10)
                  .replace("-", ".")
                  .replace("-", ".")
              }}
            </p>
          </div>
          <div class="col-md-2 my-auto text-center">
            <p class="table-item">{{ coaching.date_start.slice(11, -4) }}</p>
          </div>
          <div class="col-md-3 my-auto text-center">
            <p v-on:click="SingUpForTraining(coaching.id)" class="signup-link">
              Записаться
            </p>
          </div>
          <div class="col-md-4 my-auto text-center">
            <b-button
              @click="coachDetail(coaching)"
              class="btn btn-profile-tab"
            >
              <p class="m-0">Подробнее</p>
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
    <b-modal
      lasy
      v-model="modalShow"
      centered
      hide-header
      hide-footer
      body-class="p-0"
      size="lg"
      hide-backdrop
    >
      <TrainingModal
        :modal-show="modalShow"
        :coaching-modal="coachingModal"
        :modal-button="modalButton"
        @take="SingUpForTraining(coachingModal.id)"
      />
    </b-modal>
  </section>
</template>

<script>
import { CoachMapper } from "@/store/coach";
import { AuthMapper } from "@/store/auth";
import TrainingModal from "@/components/parent/momdadclub/TrainingModal.vue";
export default {
  name: "TabelTrainings",
  components: {
    TrainingModal,
  },
  data() {
    return {
      coacher_list: null,
      cost_list: null,
      modalShow: false,
      modalButton: true,
      freeCoachingsList: null,
      coachName: "Тренер",
      costName: "Стоимость",
      coachingModal: {},
    };
  },
  computed: {
    ...CoachMapper.mapState(["error", "free_coachings", "coaching_id"]),
    ...AuthMapper.mapState(["token"]),
  },
  methods: {
    ...CoachMapper.mapActions(["getFreeCoachings", "takeCoaching"]),
    ...CoachMapper.mapGetters(["coachers", "costs"]),
    ...CoachMapper.mapMutations(["setCoachingId"]),

    coachDetail(coaching) {
      this.coachingModal = coaching;
      this.modalShow = true;
    },
    async SingUpForTraining(id) {
      this.modalShow = false;
      await this.setCoachingId(id);
      await this.takeCoaching(this.token);
      if (this.error) {
        console.log(this.error);
      }
      this.toast(
        "Запись успешна",
        "Вы успешно записалиь на тренинг",
        "success"
      );
    },
    coachFilter(coacher) {
      this.coachName = {
        name: coacher.name,
        second_name: coacher.second_name,
      };
      if (this.costName == "Стоимость") {
        this.freeCoachingsList = this.free_coachings.filter(
          (coaching) =>
            coaching.name == coacher.name &&
            coaching.second_name == coacher.second_name
        );
      } else {
        this.freeCoachingsList = this.free_coachings.filter(
          (coaching) =>
            coaching.name == coacher.name &&
            coaching.second_name == coacher.second_name &&
            coaching.cost == this.costName
        );
      }
    },
    costFilter(cost) {
      this.costName = cost;
      if (this.coachName == "Тренер") {
        this.freeCoachingsList = this.free_coachings.filter(
          (coaching) => coaching.cost == cost
        );
      } else {
        this.freeCoachingsList = this.free_coachings.filter(
          (coaching) =>
            coaching.name == this.coachName.name &&
            coaching.second_name == this.coachName.second_name &&
            coaching.cost == cost
        );
      }
    },
    dropCoachFilter() {
      this.coachName = "Тренер";
      if (this.costName == "Стоимость") {
        this.freeCoachingsList = this.free_coachings;
      } else {
        this.costFilter(this.costName);
      }
    },
    dropCostFilter() {
      this.costName = "Стоимость";
      if (this.coachName == "Тренер") {
        this.freeCoachingsList = this.free_coachings;
      } else {
        this.coachFilter(this.coachName);
      }
    },
    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },
  },
  async mounted() {
    await this.getFreeCoachings(this.token);
    if (this.error) {
      console.log(this.error);
    }
    this.freeCoachingsList = this.free_coachings;
    this.coacher_list = this.coachers();
    this.cost_list = this.costs();
  },
};
</script>
