<template>
  <section id="mytrainings" v-if="taken_coachings">
    <hr class="hr-invisible" />
    <div
      class="row row__table pl-3 w-100 no-wrap"
      v-for="coaching in taken_coachings"
      :key="coaching.id"
      :index="coaching.id"
    >
      <div class="col-md-8 my-auto pl-4 text-left">
        <p v-if="coaching.coaching_name.length <= 40" class="mdc-table-item">{{ coaching.coaching_name }}</p>
        <p  v-if="coaching.coaching_name.length > 40" class="mdc-table-item">{{ coaching.coaching_name.slice(0,40) }}...</p>
      </div>
      <div class="col-md-4 my-auto pl-0 text-center">
        <div class="row w-100 no-wrap">
          <div class="col-md-4 my-auto text-center">
            <p class="table-item">{{ coaching.date_start.slice(2, 10).replace("-", ".").replace("-", ".")  }}</p>
          </div>
          <div class="col-md-3 my-auto text-center">
            <p class="table-item">{{ coaching.date_end.slice(11, -4) }}</p>
          </div>
          <div class="col-md-5 my-auto text-center">
             <b-button @click="coachDetail(coaching)" class="btn btn-profile-tab">
              <p class="m-0">Подробнее</p>
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
    <b-modal 
    v-model="modalShow" 
    centered  
    hide-header 
    hide-footer 
    body-class="p-0"  
    size="lg" 
    hide-backdrop
     >
     <TrainingModal
     :modal-show="modalShow"
    :coaching-modal="coachingModal"
    :modal-button="modalButton"
     />
    </b-modal>
  </section>
</template>

<script>
import { CoachMapper } from "@/store/coach";
import { AuthMapper } from "@/store/auth";
import TrainingModal from './TrainingModal.vue';
export default {
  name: "TabMyTrainings",
  components:{
    TrainingModal 
  },
  data() {
    return {
      show: false,
      description: "",
      date_start: null,
      coach_name: "",
      modalShow:false,
      modalButton: false,
      coachingModal: {}
    }
  },
  computed:{
    ...CoachMapper.mapState(['error', 'taken_coachings']),
    ...AuthMapper.mapState(['token']),
  },
  methods:{
    ...CoachMapper.mapActions(['getTakenCoachings']),
    coachDetail(coaching){
      this.coachingModal = coaching;
      this.modalShow = true;
    },
  },
  async mounted(){
    await this.getTakenCoachings(this.token);
    if(this.error){
      console.log(this.error)
    }
  },
};
</script>