<template>
        <section v-if="coachingModal">
          
        <div class="modal-header p-0">
          <div class="row training-header w-100">
            <div class="col-md-11 my-auto">
              <p class="ml-2">{{coachingModal.coaching_name}}</p>
            </div>
            <!-- <div class="col-md-1 pl-0 my-auto">
              <b-button v-if="modalShow" @click="modalShow = false">
                  <span>&times;</span> 
              </b-button>
            </div> -->
          </div>
        </div>
        <div class="modal-body px-0">
          <div class="row">
            <div class="col-md-12">
              <p class="modal-text pl-2 pr-3">
                {{coachingModal.description}}
              </p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5 my-auto ml-3 pl-2 p-0">
              <p class="training-start-text">Время начала тренинга:</p>
            </div>
            <div class="col-md-2 my-auto p-0 text-center">
              <p class="modal-text">{{coachingModal.date_start.slice(2, 10).replace("-", ".").replace("-", ".")}}</p>
            </div>
            <div class="col-md-1 my-auto p-0 text-center">
              <p class="modal-text">{{coachingModal.date_start.slice(11, -4)}}</p>
            </div>
          </div>
          <div v-if="modalButton" class="row justify-content-center mt-4 pt-2">
            <div class="col-md-4">
              <div 
              type="button" 
              class="btn my-auto form__button"
              @click="$emit('take', coachingModal)"
              >
                <p class="m-0">Записаться</p>
              </div>
            </div>
          </div>
        </div>
         </section>
</template>

<script>
export default {
  name: "TrainingModal",
  props: ['modalShow', 'coachingModal', 'modalButton'],
};
</script>

<style>
</style>