<template>
  <section id="ip-files">
    <div class="row mt-3">
      <div class="col-5 pl-0 admin-formGroup">
        <input
          name="name"
          style="margin-top: 0"
          v-model="formGroup.name"
          placeholder="Наименование"
        />
        <input
          type="text"
          v-mask="'############'"
          name="inn"
          v-model="formGroup.inn"
          placeholder="ИНН"
        />
        <input
          type="text"
          v-mask="'###############'"
          name="OGRN"
          v-model="formGroup.OGRN"
          placeholder="ОГРНИП"
        />
        <input
          type="text"
          v-mask="'##-##-######'"
          name="passport"
          v-model="formGroup.passport"
          placeholder="Серия/номер паспорта"
        />
        <input
          name="passportWho"
          v-model="formGroup.passportWho"
          placeholder="Кем выдан"
        />
        <!-- <input
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          name="passportWhen"
          v-model="formGroup.passportWhen"
          placeholder="Дата выдачи"
        /> -->
        <b-form-datepicker
          placeholder="Дата выдачи"
          locale="ru"
          class="franchisee-form-datepicker"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
          label-help=""
          hide-header
          v-model="formGroup.passportWhen"
        />

        <input
          type="email"
          name="email"
          v-model="formGroup.email"
          placeholder="Email"
        />
        <input
          type="email"
          name="emailBuch"
          v-model="formGroup.emailBuch"
          placeholder="Email бухгалтерии"
        />
      </div>
      <div class="col-5 admin-formGroup">
        <h6 style="margin-bottom: 30px">Адреса и реквизиты</h6>
        <input
          name="urAdress"
          v-model="formGroup.urAdress"
          placeholder="Юр. Адрес"
        />
        <input
          name="adress"
          v-model="formGroup.adress"
          placeholder="Почтовый адрес"
        />
        <input
          type="text"
          v-mask="'####################'"
          name="RS"
          v-model="formGroup.RS"
          placeholder="Р/с"
        />
        <input
          type="text"
          v-mask="'####################'"
          name="CS"
          v-model="formGroup.CS"
          placeholder="К/с"
        />
        <input name="bank" v-model="formGroup.bank" placeholder="Банк" />
        <input
          type="text"
          v-mask="'#########'"
          name="BIK"
          v-model="formGroup.BIK"
          placeholder="БИК"
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col pl-0">
        <h5>Загрузите необходимые документы</h5>

        <!-- <button class="data-download-anketa mt-3 w-30">
          <p class="m-0">Скачать анкету франчайзи</p>
        </button> -->
        <button v-if="this.inputs.name" class="data-download-anketa mt-3 w-30">
          <p class="m-0">Открыть анкету франчайзи</p>
        </button>
        <!-- @click.prevent="$emit('doc')" -->
      </div>
    </div>
    <div class="row mt-4">
      <agent-file-load
        v-for="file in files"
        :key="file.id"
        :title="file.description"
        :file="file.file"
        :path="file.path"
        :fileName="getFileName(file)"
        @change="changeFile"
        class="col pl-0"
        color="#b42f26"
      >
      </agent-file-load>
      <!-- <div v-for="file in files" :key="file.id" class="col pl-0">
        <p class="file-type">{{ file.description }}</p>
        <form id="formGroupIP">
          <input
            type="file"
            style="display: none"
            :id="`fileUpload${file.id}`"
            :name="`${file.name}`"
            :ref="`${file.id}`"
            @change.prevent="uploadPDF(file.id)"
          />
          <button
            @click.stop.prevent="handleUpload(file.id.toString())"
            class="load-files-franshisee size-load mt-auto"
          >
            <p class="text-truncate cut-text">
              {{
                file.file
                  ? file.file.name
                  : file.path
                  ? file.path
                      .split("/")
                      [file.path.split("/").length - 1].split(".")[0]
                  : "Загрузить PDF"
              }}
            </p>
          </button>
        </form>
        <div v-if="!!file.path" class="load-pdf">
          <a target="_blank" :href="file.path" download=""> Загрузить файл </a>
        </div>
      </div> -->
    </div>
    <div class="row justify-content-end my-4">
      <div class="col-4 text-right">
        <button
          class="load-files-franshisee size-confirm py-1"
          :class="{ disabled }"
          @click.stop.prevent="dataChange"
        >
          <p>Сохранить данные</p>
        </button>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import { AuthMapper } from "@/store/auth";
import { FranchiseeMapper } from "@/store/franchisee.js";
import { required, minLength, email, numeric } from "vuelidate/lib/validators";

export default {
  name: "IPFiles",
  props: {
    inputs: {
      type: Object,
      required: true,
    },
  },
  validations: {
    name: {
      required,
      minLength: minLength(4),
    },
    inn: {
      required,
      numeric,
      minLength: minLength(12),
    },
    OGRN: {
      required,
      numeric,
      minLength: minLength(15),
    },
    passport: {
      required,
      minLength: minLength(12),
    },
    passportWho: {
      required,
      minLength: minLength(4),
    },
    email: {
      required,
      email,
      minLength: minLength(7),
    },
    emailBuch: {
      required,
      email,
      minLength: minLength(7),
    },
    urAdress: {
      required,
      minLength: minLength(5),
    },
    adress: {
      required,
      minLength: minLength(5),
    },
    RS: {
      required,
      numeric,
      minLength: minLength(20),
    },
    CS: {
      required,
      numeric,
      minLength: minLength(20),
    },
    bank: {
      required,
      minLength: minLength(10),
    },
    BIK: {
      required,
      numeric,
      minLength: minLength(9),
    },
  },
  data() {
    return {
      files: [
        {
          id: 1,
          name: "passportPDF",
          description: "Паспорт",
          file: null,
          path: "",
        },
        {
          id: 2,
          name: "IP_PDF",
          description: "Свидетельство о регистрации ИП",
          file: null,
          path: "",
        },
        {
          id: 3,
          name: "innPDF",
          description: "ИНН организации",
          file: null,
          path: "",
        },
        {
          id: 4,
          name: "OQRNIP_PDF",
          description: "ОГРНИП",
          file: null,
          path: "",
        },
        {
          id: 5,
          name: "resumePDF",
          description: "Анкета партнёра",
          file: null,
          path: "",
        },
        // {
        //   id: 6,
        //   name: "contractPDF",
        //   description: "Договор партнёра",
        //   file: null,
        //   path: "",
        // },
      ],
    };
  },

  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...FranchiseeMapper.mapState(["franchBuch", "franchiseeProfile"]),
    formGroup: {
      get() {
        return {
          ...this.inputs,
          email:
            this.profile.role == "Admin" ||
            this.profile.role == "ClientManager" ||
            this.profile.role == "SalesManager"
              ? this.inputs.user_id
                ? this.inputs.user_id.email
                : this.inputs.email
              : this.profile.email,
          emailBuch: this.inputs.emailBuch ? this.inputs.emailBuch.email : "",
        };
      },
      set(newValue) {
        this.$emit("update:inputs", newValue);
      },
    },

    disabled() {
      const fill = Object.entries(this.formGroup)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) =>
            ![
              "passportPDF",
              "IP_PDF",
              "innPDF",
              "OQRNIP_PDF",
              "resumePDF",
              "user_id",
              // "contractPDF",
              "id",
            ].includes(i[0])
        );
      const fileFill = this.files.filter((i) => i.file || i.path);

      return fill.length < 14 || fileFill.length < 5;
    },
  },

  methods: {
    changeFile(file, name) {
      let fileItem = this.files.find((f) => f.description == name);
      fileItem.file = file;
    },
    getFileName(file) {
      if (file.file) {
        let name = file.file.name;
        return name;
      }
      if (file.path) {
        let name = file.path.split("/")[file.path.split("/").length - 1];
        return name;
      }
      return null;
    },
    ...FranchiseeMapper.mapActions(["postFranchBuch", "patchFranchBuch"]),
    handleUpload(id) {
      document.getElementById(`fileUpload${id}`).click();
    },

    uploadPDF(id) {
      this.files[id - 1].file = document.getElementById(
        `fileUpload${id}`
      ).files[0];
    },

    async dataChange() {
      let emailBuch = {
        email: this.formGroup.emailBuch,
        role: "BuhFranch",
      };
      if (!this.franchiseeProfile.id || !this.franchiseeProfile.emailBuch) {
        await this.postFranchBuch(emailBuch);
      } else {
        if (this.franchiseeProfile.emailBuch != emailBuch.email) {
          await this.patchFranchBuch({
            id: this.franchiseeProfile.emailBuch.id,
            data: { email: emailBuch.email },
          });
        }
      }
      this.formGroup.passportWhen = moment(this.formGroup.passportWhen).format(
        "YYYY-MM-DD"
      );

      let data = this.formGroup;
      let formData = new FormData();
      formData.set("user_id", this.profile.id);
      this.files.forEach((file) => {
        if (file.file) {
          data[file.name] = file.file;
        } else {
          delete data[file.name];
        }
      });
      delete data.user_id;
      Object.entries(data)
        .filter((i) => i[1])
        .forEach((i) => {
          if (i[0].indexOf("PDF") != -1 && i[1] == null) {
            delete data[i[0]];
          } else {
            formData.set(i[0], i[1]);
          }
        });
      formData.set("emailBuch", parseInt(this.franchBuch.id));
      // var formKeys = formData.keys();
      // var formEntries = formData.entries();

      if (this.franchiseeProfile.id) {
        formData.delete("user_id");
      }
      this.files.forEach((file) => {
        if (file.file) {
          formData.set(file.name, file.file, file.name + ".pdf");
        }
      });

      formData.set("ip", true);
      this.$emit("changeData", formData);
    },
  },
  watch: {
    inputs: {
      handler(newValue) {
        newValue
          ? this.files.forEach((file) => {
              file.path = newValue[file.name];
            })
          : null;
      },
    },
  },
};
</script>

<style>
.disabled {
  pointer-events: none;
  color: #949191;
  background-color: lightgray !important;
  border: 1px solid #ffffff !important;
}
.flex-file-load {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}
.load-pdf {
  display: none;
  position: absolute;
  top: 100%;
  text-align: center;
}
.flex-file-load:hover .load-pdf {
  display: block;
}
.blue-link {
  color: #0038ff;
}
.blue-link:hover {
  text-decoration: underline;
  color: #0091ff;
}

.load-files-franshisee {
  background: #ffffff;
  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}

.load-files-franshisee:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}
.load-files-franshisee:hover > p,
.size-confirm > p {
  color: #000;
}
.load-files-franshisee > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}
.load-files-franshisee:focus,
.load-files-franshisee:active {
  transform: scale(1.05);
}
.size-load {
  height: 30px;
  width: 140px;
}
.size-confirm {
  background: #b42f26;
  height: 35px;
  width: 200px;
}

.data-download-anketa {
  border: unset;
  background: #b42f26;
  border-radius: 3px;
  height: 30px;
  width: 220px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}
.invalid {
  border: 1px solid red !important;
}
.admin-formGroup > input,
.franchisee-form-datepicker {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  color: #000;
  position: relative;
}
.admin-formGroup > input:hover {
  border: 1px solid lightgray;
}
.admin-formGroup > input:focus {
  border: 1px solid lightgray;
  outline: none;
}
</style>
