<template>
  <section id="organisation-files">
    <div class="row mt-3">
      <div class="col-5 pl-0 admin-inputs">
        <input
          style="margin-top: 0"
          name="name"
          v-model="formGroup.name"
          placeholder="Наименование"
        />
        <input
          type="text"
          v-mask="'############'"
          name="inn"
          v-model="formGroup.inn"
          placeholder="ИНН"
        />
        <input
          type="text"
          v-mask="'############'"
          name="KPP"
          v-model="formGroup.KPP"
          placeholder="КПП"
        />
        <input
          type="text"
          v-mask="'###############'"
          name="OGRN"
          v-model="formGroup.OGRN"
          placeholder="ОГРН"
        />
        <input
          type="email"
          name="email"
          v-model="formGroup.email"
          placeholder="Email"
        />
        <input
          type="email"
          name="emailBuch"
          v-model="formGroup.emailBuch"
          placeholder="Email бухгалтерии"
        />

        <input
          name="director"
          v-model="formGroup.director"
          placeholder="ФИО директора"
        />
        <input
          name="director_post"
          v-model="formGroup.director_post"
          placeholder="Должность директора"
        />
      </div>
      <div class="col-5 admin-inputs">
        <h6 style="margin-bottom: 30px">Адреса и реквизиты</h6>
        <input
          name="urAdress"
          v-model="formGroup.urAdress"
          placeholder="Юр. Адрес"
        />
        <input
          name="adress"
          v-model="formGroup.adress"
          placeholder="Почтовый адрес"
        />
        <input
          type="text"
          v-mask="'####################'"
          name="RS"
          v-model="formGroup.RS"
          placeholder="Р/с"
        />
        <input
          type="text"
          v-mask="'####################'"
          name="CS"
          v-model="formGroup.CS"
          placeholder="К/с"
        />
        <input name="bank" v-model="formGroup.bank" placeholder="Банк" />
        <input
          type="text"
          v-mask="'#########'"
          name="BIK"
          v-model="formGroup.BIK"
          placeholder="БИК"
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col pl-0">
        <h5>Загрузите необходимые документы</h5>

        <!-- <button class="data-download-anketa mt-3 w-30">
          <p class="m-0">Скачать анкету франчайзи</p>
        </button> -->
        <button v-if="this.inputs.name" class="data-download-anketa mt-3 w-30">
          <p class="m-0">Открыть договор франчайзи</p>
        </button>
        <!-- @click.prevent="$emit('doc')" -->
      </div>
    </div>
    <div class="row mt-4">
      <agent-file-load
        v-for="file in files"
        :key="file.id"
        :title="file.description"
        :file="file.file"
        :path="file.path"
        :fileName="getFileName(file)"
        @change="changeFile"
      >
      </agent-file-load>
      <!-- <div v-for="file in files" :key="file.id" class="col pl-0 flex-file-load">
        <p class="file-type">{{ file.description }}</p>
        <form id="formGroupOR">
          <input
            type="file"
            style="display: none"
            :ref="`fileUpload${file.id}`"
            :name="`${file.name}`"
            @change.prevent="uploadPDF(file.id)"
          />
          <button
            @click.stop.prevent="handleUpload(file.id.toString())"
            class="load-files-franshisee size-load"
          >
            <p class="text-truncate cut-text">
              {{
                file.file
                  ? file.file.name
                  : file.path
                  ? file.path
                      .split("/")
                      [file.path.split("/").length - 1].split(".")[0]
                  : "Загрузить PDF"
              }}
            </p>
          </button>
        </form>
      </div> -->
    </div>
    <div class="row justify-content-end my-4">
      <div class="col-4 text-right">
        <button
          class="load-files-franshisee size-confirm py-1"
          :class="{ disabled }"
          @click.stop.prevent="dataChange"
        >
          <p>Сохранить данные</p>
        </button>
      </div>
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { AuthMapper } from "@/store/auth";
import { FranchiseeMapper } from "@/store/franchisee.js";
export default {
  name: "OrganisationFiles",
  props: {
    inputs: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      files: [
        {
          id: 1,
          name: "decisionPDF",
          description: "Решение (протокол) о создании",
          file: null,
          path: "",
        },
        {
          id: 2,
          name: "protocolPDF",
          description: "Протокол о назначении директора",
          file: null,
          path: "",
        },
        {
          id: 3,
          name: "innPDF",
          description: "ИНН организации",
          file: null,
          path: "",
        },
        {
          id: 4,
          name: "OQRNIP_PDF",
          description: "ОГРН организации",
          file: null,
          path: "",
        },
        {
          id: 5,
          name: "organizationPDF",
          description: "Устав организации",
          file: null,
          path: "",
        },
        {
          id: 6,
          name: "resumePDF",
          description: "Анкета партнёра",
          file: null,
          path: "",
        },
        // {
        //   id: 7,
        //   name: "contractPDF",
        //   description: "Договор партнёра",
        //   file: null,
        //   path: "",
        // },
      ],
    };
  },
  methods: {
    ...FranchiseeMapper.mapActions(["postFranchBuch", "patchFranchBuch"]),
    handleUpload(id) {
      this.$refs["fileUpload" + id.toString()][0].click();
    },
    changeFile(file, name) {
      let fileItem = this.files.find((f) => f.description == name);
      fileItem.file = file;
    },
    getFileName(file) {
      if (file.file) {
        let name = file.file.name;
        return name;
      }
      if (file.path) {
        let name = file.path.split("/")[file.path.split("/").length - 1];
        return name;
      }
      return null;
    },
    uploadPDF(id) {
      this.files[id - 1].file =
        this.$refs["fileUpload" + id.toString()][0].files[0];
    },

    async dataChange() {
      let emailBuch = {
        email: this.formGroup.emailBuch,
        role: "BuhFranch",
      };

      if (!this.franchiseeProfile.id || !this.franchiseeProfile.emailBuch) {
        await this.postFranchBuch(emailBuch);
      } else {
        if (this.franchiseeProfile.emailBuch != emailBuch.email) {
          await this.patchFranchBuch({
            id: this.franchiseeProfile.emailBuch.id,
            data: { email: emailBuch.email },
          });
        }
      }

      let data = this.formGroup;
      let formData = new FormData();
      formData.set("user_id", this.profile.id);
      this.files.forEach((file) => {
        if (file.file) {
          data[file.name] = file.file;
        } else {
          delete data[file.name];
        }
      });
      Object.entries(data)
        .filter((i) => i[1])
        .forEach((i) => {
          if (i[0].indexOf("PDF") != -1 && i[1] == null) {
            delete data[i[0]];
          } else {
            formData.set(i[0], i[1]);
          }
        });
      formData.set("emailBuch", this.franchBuch.email);
      if (this.franchiseeProfile.id) {
        formData.delete("user_id");
      }
      this.files.forEach((file) => {
        if (file.file) {
          formData.set(file.name, file.file, file.name + ".pdf");
        } else {
          formData.delete(file.name);
        }
      });
      formData.delete("passportPDF");
      formData.delete("IP_PDF");
      formData.delete("contractPDF");

      formData.set("organization", true);
      this.$emit("changeData", formData);
      if (this.profile.role == "Franchisee") {
        this.$router.push({ name: "franchisee-buy" });
      }
    },
  },
  watch: {
    inputs: {
      handler(newValue) {
        newValue
          ? this.files.forEach((file) => {
              file.path = newValue[file.name];
            })
          : null;
      },
    },
  },
  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...FranchiseeMapper.mapState(["franchBuch", "franchiseeProfile"]),
    formGroup: {
      get() {
        return {
          ...this.inputs,
          email:
            this.profile.role == "Admin" ||
            this.profile.role == "ClientManager" ||
            this.profile.role == "SalesManager"
              ? this.inputs.user_id
                ? this.inputs.user_id.email
                : this.inputs.email
              : this.profile.email,
          emailBuch: this.inputs.emailBuch ? this.inputs.emailBuch.email : "",
        };
      },
      set(newValue) {
        this.$emit("update:inputs", newValue);
      },
    },
    disabled() {
      const fill = Object.entries(this.formGroup)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) =>
            ![
              "decisionPDF",
              "protocolPDF",
              "innPDF",
              "OQRNIP_PDF",
              "organizationPDF",
              "resumePDF",
              // "contractPDF",
              "user_id",
              "id",
            ].includes(i[0])
        );
      const fileFill = this.files.filter((i) => i.file || i.path);
      console.log(fileFill);
      return fill.length < 14 || fileFill.length < 6;
    },
  },
};
</script>

<style>
.disabled {
  pointer-events: none;
  color: #949191;
  background-color: lightgray !important;
  border: 1px solid #ffffff !important;
}

.load-files-franshisee {
  background: #ffffff00;

  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}
.load-files-franshisee > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}
.load-files-franshisee:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}
.load-files-franshisee:hover > p {
  color: #ffffff;
}
.load-files-franshisee:focus,
.load-files-franshisee:active {
  transform: scale(1.05);
}

.size-load {
  height: 30px;
  width: 140px;
}
.size-load > p {
  color: #2b2a29;
}

.size-confirm {
  background: #b42f26;
  height: 35px;
  width: 200px;
}
.size-confirm > p {
  color: #ffffff;
}

.data-download-anketa {
  border: unset;
  background: #b42f26;
  border-radius: 3px;
  height: 30px;
  width: 220px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}
.invalid {
  border: 1px solid red !important;
}
.admin-inputs > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  color: #000;
}
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}
</style>
