<template>
  <b-modal
    content-class="game-modal"
    ref="game-modal"
    id="gameModal"
    centered
    no-close-on-backdrop
    hide-footer
    hide-header
  >
    <img src="@/assets/img/pictures/play-more.png" alt="" class="modal-img" />
    <div class="row justify-content-between m-auto w-75">
      <b-button class="mt-3 modal-disagree" block @click="$emit('send')"
        ><p>Нет</p>
        <img src="@/assets/img/icons/decline.svg" alt=""
      /></b-button>

      <b-button class="mt-3 modal-agree" block @click="$emit('hide')"
        ><p>Да</p>
        <img src="@/assets/img/icons/agree.svg" alt=""
      /></b-button>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "modal-game-vue",
};
</script>

<style>
.game-modal {
  background-color: #00000000 !important;
  border: none !important;
}
</style>


<style scoped>
.modal-img {
  /* width: 420px;
  height: 300px; */
  width: 100%;
  width: 100%;
  filter: drop-shadow(2px 4px 6px #ffffff40);

  object-fit: contain;
}
.modal-content {
  background: none;
  border: none;
}
.modal-disagree,
.modal-agree {
  width: 105px;
  height: 40px;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 4px 6px #ffffff40;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.modal-disagree > p,
.modal-agree > p {
  margin: auto;
  width: 65%;
  padding-right: 6%;
  text-align: right;
  color: #fff;
  font-family: "Gilroy";
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
}
.modal-disagree > img,
.modal-agree > img {
  padding-right: 3%;
  height: 88%;
  object-fit: contain;
  margin: auto;
}
.modal-disagree {
  background-color: #d9d9d9;
}
.modal-agree {
  background-color: #ffde3b;
}
</style>