<template>
  <b-modal
    @hidden="$emit('close')"
    @show="getSlides"
    content-class="modalcontent"
    body-class="modalbody"
    size="xl"
    id="modal-show"
    centered
    hide-footer
    hide-header
  >
    <div class="content">
      <div class="modal-title">
        <div class="left">
          <img src="@/assets/img/icons/listen.png" alt="Прослушать" />
          <p class="m-0" style="opacity: 0.5">{{ term.name }}</p>
        </div>
        <div class="right">
          <img src="@/assets/img/icons/check-white.svg" alt="Отметить" />
        </div>
      </div>
      <div class="body">
        <img
          v-for="i in term.slides"
          :key="i"
          class="modal-img"
          :src="
            require(`@/assets/img/business-vocabulary/slides/${term.id}/` +
              i +
              `.png`)
          "
          alt="modal"
        />
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "Modal",
  props: {
    term: Object,
    slide: Number,
  },
  data() {
    return {
      reverse: false,
      slidesCount: 0,
      slides: [],
    };
  },
  methods: {
    getSlides() {
      console.log("slides");
    },
    // prev() {
    //   if (this.slidesCount > 0) {
    //     this.slidesCount--;
    //     this.$emit("sound", this.slidesCount + 1);
    //     this.reverse = true;
    //     this.slide = this.slides[this.slide.id - 2]
    //       ? this.slides[this.slide.id - 2]
    //       : this.slides[this.slides.length - 1];
    //   }
    // },
    // next() {
    //   console.log(this.slidesCount);
    //   if ((this.slidesCount + 1) % this.term.slides == 0) {
    //     this.slidesCount = 0;
    //     this.$bvModal.hide("modal-show");
    //     return;
    //   }
    //   this.slidesCount++;
    //   this.$emit("sound", this.slidesCount + 1);
    //   this.reverse = false;
    //   this.slide = this.slides[this.slide.id]
    //     ? this.slides[this.slide.id]
    //     : this.slides[0];
    // },
  },
  watch: {
    term() {
      this.slide = this.term;
    },
  },
};
</script>

<style>
.modalcontent {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 400px;
}
.modalbody {
  height: 470px;
  width: 400px;
  margin: auto;
  transition: 1.5s ease-in-out;
  overflow: hidden;
}
</style>
<style scoped>
.content {
  background-color: #71c9e4ff;
  border-radius: 2rem;
  height: 100%;
  position: relative;
}
.arrow {
  border: none;
  outline: none;
  background: none;
  transition: 0.5s ease;
  position: absolute;
  top: 47.5%;
}
.arrow > img {
  height: 45px;
  width: 100%;
  object-fit: contain;
}
.arrow {
  right: -15%;
}
.arrow.left {
  left: -15%;
}
.arrow.left {
  transform: rotate(180deg);
}
.arrow:hover {
  transform: translateX(10px);
}
.arrow.left:hover {
  transform: rotate(180deg) translateX(10px);
}
.modal-title {
  height: 50px;
  width: 96%;
  margin: auto;
  /* background-color: #fff; */
  border-radius: 2rem;
  margin: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #72716f;
}
.modal-title .right {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #71c9e4ff;
  border-radius: 100%;
  margin-right: 5px;
}
.modal-title .right > img {
  /* max-height: 2rem; */
  /* height: 70%; */
  height: 30px;
  width: 30px;
  object-fit: contain;
  border-radius: 100%;
  border: 3px solid #fff;
  padding: 0.1rem;
}
.modal-title .left {
  height: 100%;
  flex: 1 1 20%;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal-title .left > img {
  max-height: 3rem;
  padding: 0.5rem;
  border-radius: 100%;
  border: 2px solid lightgray;
  margin-left: 5px;
  margin-right: 0.7rem;
}
.body {
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-img {
  width: 380px;
  height: auto;
  margin: 0 10px;
  object-fit: contain;
  max-height: 280px;
}

.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-enter {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-leave-to {
  transform: translateX(-30%);
  opacity: 0;
}

/* @media (max-width: 850px) {
  .body {
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    top: 40%;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .modal-title .right {
    display: none;
  }
}
</style>