<template>
  <section id="momdadclub" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4">
          <div class="col-4 mt-4">
            <h1>Тренинги</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-4 pt-2">
            <ul class="nav nav-tabs w-50 ml-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#trainings"
                  >Тренинги</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#mytrainings"
                  >Мои тренинги</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row w-100 m-0 pt-2 tab-content">
          <div class="tab-pane fade w-100 show active" id="trainings">
            <TabelTrainings />
          </div>
          <div class="tab-pane fade w-100" id="mytrainings">
            <TabelMyTrainings />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TabelTrainings from "@/components/parent/momdadclub/TabelTrainings.vue";
import TabelMyTrainings from "@/components/parent/momdadclub/TabelMyTrainings.vue";

export default {
  name: "MomDadClub",
  components: {
    TabelTrainings,
    TabelMyTrainings,
  },
};
</script>

<style>
</style>