<template>
  <section id="PersonalPage" class="personalpage-bg">
    <div
      class="container-fluid p-0 full-height-container animate__animated animate__fadeIn"
    >
      <Header />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel />
        <div class="col-md p-0">
          <router-view></router-view>
        </div>
      </div>
    </div>
    <TrainingModal />
  </section>
</template>

<script>
import Header from "@/components/global/header/Header.vue";
import SidePanel from "@/components/parent/SidePanel.vue";
import TrainingModal from "@/components/parent/momdadclub/TrainingModal.vue";

export default {
  name: "Parent",
  components: {
    Header,
    SidePanel,
    TrainingModal,
  },
};
</script>

<style>
</style>