<template>
  <section id="my_profile" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 no-select">
          <div class="col-4 mt-4">
            <h1>Мой Профиль</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 mt-4">
            <ul class="nav nav-tabs w-50 ml-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#personaldata"
                  >Личные данные</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#transactions"
                  >Транзакции</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 mt-7 contract">
            <a
            class="link-anketa"
            href=""
            @click.prevent="parentDocIsVisible = true"
            >Договор № {{ profile.id }}</a
          >
          
          </div>
        </div>
        <div class="row w-100 m-0 tab-content">
          <div class="tab-pane fade w-100 show active" id="personaldata">
            <Info />
          </div>
          <div class="tab-pane fade w-100" id="transactions">
            <Transactions
              :transactions="transactions"
              @make="makeTransaction"
            />
          </div>
        </div>
      </div>
    </div>
     <b-modal size="xl" hide-footer hide-header v-model="parentDocIsVisible">
      <ParentDocViewer :make="parentDocIsVisible" />
    </b-modal>
  </section>
</template>


<script>
import Info from "@/components/parent/profile/Info.vue";
import Transactions from "@/components/parent/profile/Transactions.vue";
import { AuthMapper } from "@/store/auth";
import { TransMapper } from "@/store/trans";
import ParentDocViewer from "@/components/buhfranch/docs/ParentDocViewer.vue";
import moment from "moment";
export default {
  name: "MyProfile",
  components: {
    Info,
    Transactions,
    ParentDocViewer
  },
  data() {
    return {
      transactions: [],
      parentDocIsVisible: false,
    };
  },
  computed: {
    ...TransMapper.mapState(["error"]),
    ...AuthMapper.mapState(["profile"]),

    getData() {
      return moment().format();
    }
  },
  methods: {
    ...AuthMapper.mapActions(["getProfile"]),
    ...TransMapper.mapActions(["getTransactions", "postTransaction"]),
    async makeTransaction(transaction) {
      await this.postTransaction(transaction);
      if (!this.error) {
        await this.getTransactionsOrError();
        return;
      }
      alert(this.error);
    },
    async getTransactionsOrError() {
      let transactions = await this.getTransactions();
      if (!this.error) {
        this.transactions = transactions;
        return;
      }
      alert(this.error);
    },
  },
  async mounted() {
    await this.getProfile();
    await this.getTransactionsOrError();
  },
};
</script>

<style>
</style>

<style scoped>
  .input__profile {
    max-width: 100%!important;
    width: 100%!important;
  }

  .contract {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-anketa {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;

  color: #2c61bf;
}
</style>