<template>
  <section id="tab-view-group" v-if="group.requests.length">
    <form class="form-inline">
      <div class="row w-100 my-4 ml-3 mr-4 no-wrap">
        <div class="col-md-2">
          <div class="form-check form-check-inline">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Выбрать всех</label
            >
          </div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2 text-center pr-3">
          <a href="#" class="accept">Принять</a>
        </div>
      </div>
    </form>
    <div
      class="row pl-3 w-100 no-wrap row__table pointer"
      v-for="child in group.requests"
      :key="child.id"
      :index="child.id"
    >
      <div class="hooper col-md-1 pl-4">
        <img
          v-if="child.child.avatar"
          :src="child.child.avatar"
          class="hooper img-fluid round-icon"
        />
      </div>
      <div class="col-md-5 my-auto">
        <p class="table-item-group">
          {{ child.child.second_name }} {{ child.child.name }}
          {{ child.child.last_name }}
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2 my-auto">
        <p class="accept" @click="acceptChild(group, child)">Принять</p>
      </div>
      <div class="col-md-2 my-auto">
        <p
          class="deny"
          @click="
            patchGroup({
              id: group.id,
              data: {
                deny: [group.deny.map((kid) => kid.id), ...child.id],
                requests: [group.children.filter((kid) => kid.id != child.id)],
              },
            })
          "
        >
          Отклонить
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="invisible my-3" />
      </div>
    </div>
  </section>
</template>

<script>
import { MentorMapper } from "@/store/mentor";
import { TaleMapper } from "@/store/tale";

export default {
  name: "TabNewRequests",
  computed: {
    ...MentorMapper.mapState(["group", "error"]),
  },
  methods: {
    ...MentorMapper.mapActions(["patchGroup"]),
    ...TaleMapper.mapActions(["postTale"]),
    async acceptChild(group, child) {
      await this.patchGroup({
        id: group.id,
        data: {
          children: [...group.children.map((kid) => kid.id), child.id],
          requests: [
            ...group.requests
              .filter((kid) => kid.id != child.id)
              .map((kid) => kid.id),
          ],
        },
      });
      if (!this.error) {
        await this.postTale({ taleId: 1, childId: child.id });
      }
    },
    denyChild() {},
  },
};
</script>

<style>
</style>
