<template>
  <b-modal
    ref="modal-get-report"
    id="modal-get-report"
    hide-footer
    hide-header
    centered
    style="max-width: 550px !important"
  >
    <div class="w-100 m-0 modal-body">
      <h2>Выберите период</h2>

      <div
        style="justify-content: space-around; align-items: center"
        class="row wrap-pick-date"
      >
        <div>
          <b-form-datepicker
            placeholder="Начало"
            v-model="date1"
            locale="ru"
            class="getreport-datepicker"
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            }"
            hide-header
            label-help=""
          ></b-form-datepicker>
        </div>
        <p class="my-auto">-</p>
        <div>
          <b-form-datepicker
            placeholder="Конец"
            v-model="date2"
            locale="ru"
            class="getreport-datepicker"
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            }"
            hide-header
            label-help=""
          ></b-form-datepicker>
        </div>
      </div>

      <button v-b-modal.modal-report class="admin-button form-report-btn">
        Сформировать
      </button>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "ModalGetReport",
  data() {
    return {
      date1: null,
      date2: null

      // selected: null,
      // options: [
      //   "Январь",
      //   "Февраль",
      //   "Март",
      //   "Апрель",
      //   "Май",
      //   "Июнь",
      //   "Июль",
      //   "Август",
      //   "Сентябрь",
      //   "Октябрь",
      //   "Ноябрь",
      //   "Декабрь",
      // ],
    };
  }
};
</script>

<style scoped>
.select {
  width: 50%;
  background-color: #c9c9c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
}
h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  color: #000;
}
.modal-body {
  height: 250px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  align-items: center;
}
.admin-button {
  background: #efefef;
  border: 1px solid #626262;
  border-radius: 9999px;
  color: #626262;
  transition: 0.5s ease;
  /* text */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 3px 10px;
}
.admin-button:hover {
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.282);
}

.form-report-btn {
  background: #ffffff00;
  border: 1.5px solid #9aafd5;
  box-sizing: border-box;
  border-radius: 55px;
  height: 30px;
  width: 145px;
  border-radius: 56px;
  padding: 0;
}
.form-report-btn:focus {
  background: #9aafd5;
  color: #ffffff;
}

.wrap-pick-date {
  background: #fefefe;
  height: 50px;
  width: 335px;
}
.getreport-datepicker {
  border-radius: 0px;
  width: 150px;
  height: 25px;
  border: none;
}
</style>
