<template>
  <section>
    <div class="row w-100 mt-3 table-analytics">
      <b-table
        hover
        ref="groupTable"
        id="menthors-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        thead-tr-class="group-head-tr"
        thead-class="group-thead"
        tbody-tr-class="group-body-tr"
        sort-icon-left
      >
        <template #cell(date)="row">
          {{ formatDate(row.value) }}
        </template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableGroup",
  props: {
    groups: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      messageTheme: "",
      perPage: "15",
      currentPage: 1,
      fields: [
        {
          key: "groupName",
          label: "Название группы",
          class: "group-name",
          sortable: false,
        },
        {
          key: "childCount",
          label: "Количество детей",
          class: "group-childcount",
          sortable: false,
        },

        {
          key: "date",
          label: "Дата создания",
          class: "group-date",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    items() {
      return this.groups.map((group) => {
        return {
          id: group.id,
          groupName: group.name,
          date: moment(group.creation_date),
          childCount: group.children.length,
        };
      });
    },
    rows() {
      return this.items.length;
    },
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
  },
};
</script>

<style>
.table-analytics {
  height: 90%;
  overflow-y: auto;
}

.group-body-tr > * {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #2b2a29;
}
.group-name {
  text-align: left;
  padding-left: 2.5rem !important;
  width: 30%;
}
td.group-date {
  color: #6c6c6c;
}
.group-body-tr,
.group-head-tr {
  text-align: center;
  transition: 0.3s ease;
}
.group-body-tr:hover {
  background-color: #efefef;
}
</style>
