<template>
  <div class="container p-0 popover-notification">
    <div
      v-for="Notice in NotificationsList"
      :key="Notice.id"
      :index="Notice.id"
    >
      <div class="popover-row pointer pt-2">
        <div :id="Notice.id" class="row">
          <div class="col-md-12 py-0">
            <p>
              {{ Notice.date }} {{ Notice.description }}
              {{ Notice.time }}
            </p>
          </div>
        </div>
        <hr class="notification-hr m-0 p-0" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PopoverNotifications",
  data() {
    return {
      NotificationsList: [
        {
          id: 0,
          date: "Сегодня",
          description: "у Вас тренинг “Название тренинга”",
          time: "в 19:00",
        },
        {
          id: 1,
          date: "Завтра",
          description: "у Вас тренинг “Название тренинга”",
          time: "в 18:00",
        },
        {
          id: 2,
          date: "Через 3 дня",
          description: "у Вас тренинг “Название тренинга”",
          time: "в 18:00",
        },
      ],
    };
  },
};
</script>