<template>
  <div id="popprofile" class="popover-profile mt-3">
    <div class="row popover-row pointer">
      <div class="col-md-12">
        <p>Мой профиль</p>
      </div>
    </div>
    <div class="row popover-row pointer">
      <div class="col-md-12">
        <p>Транзакции</p>
      </div>
    </div>
    <div class="row popover-row pointer">
      <div class="col-md-12">
        <p>Изменить личные данные</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 my-3">
        <b-button
          @click="logOut()"
          variant="log-off"
          type="submit"
          class="btn btn-block p-0 my-auto"
        >
          <p class="p-0 m-0 ml-4">Выйти</p>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";
export default {
  name: "PopoverProfile",
  computed: { ...AuthMapper.mapState(["error"]) },
  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "global-login" });
      } else {
        console.log(this.error);
      }
    },
  },
};
</script>