<template>
  <div class="contaiter-fluid ml-3 mr-4 no-select">
    <div class="contaiter container-parent-page mt-4 mx-2">
      <div class="row ml-4 no-select">
        <div class="col-md-5 mt-4">
          <h1>Добавить группу</h1>
        </div>
      </div>

      <form class="form-inline">
        <div class="row w-100 mt-2 ml-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Название"
                v-model="name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-3 pt-2">
              <div class="btn-group w-100">
                <button
                  type="button"
                  class="btn btn-filter text-left pl-4"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <p>
                    Возрастная категория
                    <span v-if="category">- {{ category }} лет</span>
                  </p>
                </button>
                <div class="dropdown-menu w-100">
                  <button
                    class="dropdown-item"
                    type="button"
                    @click="categoryOne()"
                  >
                    Дошкольная (5-7 лет)
                  </button>
                  <button
                    class="dropdown-item"
                    type="button"
                    @click="categoryTwo()"
                  >
                    Начальная школа (8-12 лет)
                  </button>
                  <button
                    class="dropdown-item"
                    type="button"
                    @click="categoryThree()"
                  >
                    Средняя школа (13-16 лет)
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row w-100 ml-4 mb-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group my-3 pt-2">
              <b-button
                id="addchildbutton"
                class="btn btn-profile-tab"
                @click="addGroup()"
              >
                <p class="m-0">Добавить</p>
              </b-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import toast from "@/scripts/toast";
import { MentorMapper } from "@/store/mentor";
export default {
  name: "FormAddGroup",
  data() {
    return {
      category: null,
      name: "",
    };
  },
  computed: {
    ...MentorMapper.mapState(["groups", "error"]),
  },
  methods: {
    ...MentorMapper.mapActions(["postGroup"]),
    categoryOne() {
      this.category = "5-7";
    },
    categoryTwo() {
      this.category = "8-12";
    },
    categoryThree() {
      this.category = "13-16";
    },
    async addGroup() {
      let payload = {
        token: this.token,
        name: this.name,
        age_group: this.category,
      };
      await this.postGroup(payload);
      if (this.error) {
        console.log(this.error);
      } else {
        this.toast("Успешно", "Группа успешно зарегистрирована.", "success");
      }
    },
    toast,
  },
};
</script>

<style>
</style>
