<template>
  <div class="row mt-2">
    <div class="col-12 contaiter-fluid relative-block mt-2 mb-3">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-parent-big m-0">
            {{ mentor.mentor.second_name }} {{ mentor.mentor.name }} {{ mentor.mentor.last_name }}
          </p>
        </div>            
      </div>
    </div>

    <div class="col-7">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>       
        
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Фамилия:</p></div>
          <div class="col semi-bold-text text-right">
             <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.mentor.second_name"
            placeholder="Фамилия"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Имя:</p></div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.mentor.name"
            placeholder="Имя"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
         <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Отчество:</p></div>
          <div class="col semi-bold-text text-right">
             <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.mentor.last_name"
            placeholder="Отчество"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.mentor.phone"
            placeholder="Телефон"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.mentor.email"
            placeholder="Email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
         <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Начала работы:</p></div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.date_work"
            placeholder="Начала работы"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5">
            <p class="my-1">Статус работы:</p>
          </div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.job_status"
            placeholder="Статус работы"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Адрес проживания:</p></div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.adress"
            placeholder="Адрес проживания"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div> 
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5">
            <p class="my-1">Паспорт:</p>
          </div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.passport"
            placeholder="Паспорт"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Кем выдан:</p></div>
          <div class="col semi-bold-text text-right">
            <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.passport_who"
            placeholder="Кем выдан"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>    
        <div class="row w-100 base-mentor-info-text">
          <div class="col-5"><p class="my-1">Дата выдачи:</p></div>
          <div class="col semi-bold-text text-right">
           <input
            class="w-100 border-bottom"
            name="name"
            v-model="formInputs.passport_when"
            placeholder="Дата выдачи"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 mentor-info-hr" />
          </div>
        </div>             
      </div>
    </div>  

    <div class="row container justify-content-end mt-5 pb-5">
      <div class="col-4 pr-5 text-right">
        <input
          type="submit"
          class="agent-file-load button-submit-data py-2 text-white"          
          :class="{ disabled }"
          @click="dataChange()"
          value="Изменить мои данные"
        />       
      </div>
    </div>  
  </div>
</template>

<script>
import { ClientManagerMapper } from "@/store/clientManager";
import { AuthMapper } from "@/store/auth";
import toast from "@/scripts/toast";

export default {  
  name: "MentorBaseInfo",
  data() {
    return {      
     
    };
  },  

  computed: {
    ...ClientManagerMapper.mapState({mentor:"mentor", clientManagerError:"error"}),
    ...AuthMapper.mapState({authError:"error"}),

    formInputs: {
      get() {        
        return this.mentor;
      },      
      },

      disabled() {
      const fill = Object.entries(this.formInputs)
        .filter(i => ![false, "", null].includes(i[1]))        

      return fill.length < 5;
    }
  }, 

  methods: {
    ...AuthMapper.mapActions(["patchOtherProfile"]),
    ...ClientManagerMapper.mapActions(["getMentorProfile", "patchMentorProfile"]),  
    toast,

    async dataChange() {
      let accountdata = {
        id: this.formInputs.mentor.id,
        second_name: this.formInputs.mentor.second_name,
        name: this.formInputs.mentor.name,
        last_name: this.formInputs.mentor.last_name,
        phone: this.formInputs.mentor.phone,
        email: this.formInputs.mentor.email
        }
      let profiledata = {
        id: this.formInputs.id,
        date_work: this.formInputs.date_work,
        job_status: this.formInputs.job_status,        
        adress: this.formInputs.adress,
        passport: this.formInputs.passport,
        passport_who: this.formInputs.passport_who,
        passport_when: this.formInputs.passport_when,
        }

      await this.patchOtherProfile({id: accountdata.id, data: accountdata});
      await this.patchMentorProfile({id: profiledata.id, data: profiledata});

      if (!this.clientManagerError && !this.authError) {
        this.toast(
          "Изменения приняты",
          "Данные о профиле успешно изменены",
          "success"
        );
      } 
     else {
          this.toast("Ошибка", "danger");
      }     

      
    },

  },
  async mounted() {
    await this.getMentorProfile(this.mentor.id);   
  }
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-mentor-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.mentor-info-hr {
  border: 0.1px dashed #c4c4c4;
}

.border-bottom {
  border: 0;
  border-bottom: solid 5px #000;
}

.agent-file-load{
 background:#0069d9;
}
</style>
