<template>
  <div v-show="show" class="cursor" :style="position">
    <svg
      id="Filled"
      xmlns="http://www.w3.org/2000/svg"
      height="512"
      viewBox="0 0 512 512"
      width="512"
    >
      <path d="m120 319.687 192-192 56 24 16 48-192 192h-72z" fill="#e2d2c2" />
      <path d="m48 439.687s-32 40-24 48 48-24 48-24v-24z" :class="[color]" />
      <path
        d="m136 431.69c-32 16-56 40-56 40l-40-40s24-24 40-56h56z"
        :class="[color]"
      />
      <path
        d="m98.059 328.775h67.882v101.823h-67.882z"
        :class="[color]"
        transform="matrix(.707 -.707 .707 .707 -229.817 204.546)"
      />
      <path
        d="m178.461 237.059h147.078v45.255h-147.078z"
        :class="[color]"
        transform="matrix(.707 -.707 .707 .707 -109.817 254.251)"
      />
      <path
        d="m488 87.687-64-64-80 72-8-8-32 32 88 88 32-32-8-8z"
        :class="[color]"
      />
      <path
        d="m341.373 85.461h45.255v124.451h-45.255z"
        :class="[color]"
        transform="matrix(.707 -.707 .707 .707 2.183 300.643)"
      />
      <path
        d="m27.643 496.973c8.114 0 18.23-5.541 27.652-11.537 6.162-3.921 11.954-8.095 16.009-11.128l3.039 3.04a8.007 8.007 0 0 0 11.31 0 239.346 239.346 0 0 1 48.847-35.848l3.847 3.847a8 8 0 0 0 11.314 0l234.339-234.347 2.343 2.343a8 8 0 0 0 11.314 0l32-32a8 8 0 0 0 0-11.315l-2.633-2.633 66.922-74.358a8 8 0 0 0 -.289-11.009l-64-64a8 8 0 0 0 -11.009-.289l-74.358 66.923-2.633-2.633a8 8 0 0 0 -11.314 0l-32 32a8 8 0 0 0 0 11.315l2.343 2.343-234.343 234.342a8 8 0 0 0 0 11.315l3.85 3.85a239.316 239.316 0 0 1 -35.85 48.839 8 8 0 0 0 0 11.315l3.035 3.035c-3.032 4.055-7.206 9.847-11.127 16.009-8.627 13.555-16.313 28.546-7.908 36.952a12.592 12.592 0 0 0 9.3 3.629zm388.057-340.906-12.379-12.379 64.679-64.688 8.975 8.975zm-36.379-36.379 64.679-64.688 12.686 12.686-64.686 64.688zm44.389-84.978 8.978 8.978-64.688 64.686-12.38-12.382zm-87.71 64.29 76.687 76.687-20.687 20.686-76.687-76.686zm36.686 100.687-180.686 180.685-60.686-60.686 180.686-180.686zm-252.686 131.313 60.686 60.686-36.686 36.687-60.687-60.686zm-38.039 57.962 40.768 40.768a256.5 256.5 0 0 0 -42.54 30.836l-29.065-29.066a256.515 256.515 0 0 0 30.837-42.538zm-33.171 62.838 11.1 11.1c-11.032 8.144-22.057 14.829-28.279 17.176 2.349-6.224 9.035-17.25 17.179-28.276z"
      />
      <path
        d="m178.343 301.344 32 32a8 8 0 0 0 11.314 0l104-104a8 8 0 0 0 0-11.315l-32-32a8 8 0 0 0 -11.314 0l-104 104a8 8 0 0 0 0 11.315zm109.657-98.344 20.687 20.687-92.687 92.686-20.687-20.686z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: "MarkerCursor",
  props: {
    show: Boolean,
    position: String,
    color: String,
  },
};
</script>

<style scoped>
/* классы для курсора */
.cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  z-index: 9999999999;
  position: fixed;
  cursor: none;
}

.cursor > svg {
  max-height: 100%;
  max-width: 100%;
}
.cursor > svg > path {
  transition: 0.2s ease;
}

.orange {
  fill: #ed8719;
}
.white {
  fill: #fff;
}
.red {
  fill: #eb6a72;
}
.pink {
  fill: #f7c4bb;
}
.black {
  fill: #858686;
}
.grey {
  fill: #c5c5c5;
}
</style>