<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
export default {
  name: "App",
};
</script>

<style>
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "./assets/css/tale/default.css";
@import "./assets/css/tale/css-reset.css";
@import "./assets/css/tale/content.css";
@import "./assets/css/tale/background.css";

/* для анимаций */
@import "./assets/css/tale/animates/animation-keyframes.css";
@import "./assets/css/tale/animates/anim-bd.css";
@import "./assets/css/tale/animates/anim-shop.css";
@import "./assets/css/tale/animates/anim-exchange.css";
@import "./assets/css/tale/animates/anim-money.css";
@import "./assets/css/tale/animates/anim-menthor.css";
@import "./assets/css/tale/animates/anim-final.css";
/* для анимаций */

@import "./assets/fonts/Montserrat/stylesheet.css";
@import "./assets/fonts/gilroy/stylesheet.css";
@import "./assets/fonts/Pribambas/stylesheet.css";

@import "./assets/css/default.css";
@import "./assets/css/media.css";
</style>
