<template>
  <section
    id="reports-admin"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Финансы и отчёты</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="invisible" />

      <div class="row pl-5 pr-3 mt-2 pt-4">
        <p class="m-0 a-row-data-label">
          Общий оборот:
          <span class="bold-text green-text pl-4">{{ totalTurnover }} P</span>
        </p>
      </div>

      <div class="row pl-3 pr-3 mt-2 pt-4">
        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Общее кол-во агентов:
          <span class="bold-text orange-text pl-4">{{ agents.length }}</span>
        </p>

        <p style="margin-left: 2rem !important" class="m-0 a-row-data-label">
          Общее кол-во франчайзов:
          <span class="bold-text orange-text pl-4">{{
            franchisees.length
          }}</span>
        </p>
        
      </div>
      <div class="row px-5">
        <hr class="hr-branch w-100 my-3" />
      </div>
      <!-- <Diagramm
        ref="analyticsStart"
        class="pb-3"
        style="margin-top: 0 !important"
      /> -->
    </div>

    <div
      class="contaiter-fluid agent-container mr-4 mx-3"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TableAnalytics :report="report" />
    </div>
  </section>
</template>

<script>
// import Diagramm from "@/components/agent/analytics/diagramm/Diagramm.vue";
import TableAnalytics from "@/components/clientManager/analytics/TableAnalytics.vue";
import { ClientManagerMapper } from "@/store/clientManager";
export default {
  name: "Reports",
  components: {
    // Diagramm,
    TableAnalytics,
  },
  data() {
    return {
      messageTheme: "",
      totalTurnover: 0,
      childrenCount: 0,
      selledFranshises: 0,
    };
  },
  computed: {
    ...ClientManagerMapper.mapState(["agents", "franchisees", "report", "packages", "clientManagerId"]),
  },
  methods: {
    ...ClientManagerMapper.mapActions([      
      "getFranchiseeList",
      "getAgentsList",
      "getClientManagerReport",
      "getFranchiseePackages"
    ]),
  },
  async mounted() {
    // await this.getChildPackageCount();    
    await this.getFranchiseeList(this.clientManagerId);
    await this.getAgentsList(this.clientManagerId);
    await this.getClientManagerReport(this.clientManagerId);
    await this.getFranchiseePackages(this.clientManagerId);
  },
};
</script>

<style></style>
