<template>
  <div class="dropdown">
    <button class="dropdown__button">Выбери девиз</button>
    <div class="dropdown__list">
      <button
        v-for="(item, i) in items"
        :key="i"
        class="dropdown__item"
        @click="$emit('choose', item)"
      >
        {{ item }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "dropdown",
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>


<style scoped>
.dropdown {
  position: relative;
  max-height: 7.6rem;
}
.dropdown__button {
  width: 100%;
  text-align: left;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  z-index: 2;
  position: relative;
}
.dropdown__button:hover,
.dropdown__button:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: #000;
}
.dropdown__list {
  margin-top: -0.5rem;
  padding-top: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  transition: 0.5s;
  transform-origin: top center;
  transform: scaleY(0);
  z-index: 0;
  position: relative;
  overflow: auto;
  max-height: 100px;
}
.dropdown:focus-within .dropdown__list {
  transform: none;
}

.dropdown__item {
  border: none;
  outline: none;
  background-color: #fff;
  text-align: left;
  padding: 0.3rem 0.5rem;
  color: #a0a0a0;
  transition: 0.2s;
  width: 100%;
}
.dropdown__item:hover {
  background-color: #cfcdcd;
  color: #000;
}
</style>