<template>
  <div class="col-md-8 mt-3">
    <p class="motto-pick-label">Выбрать один из предложенных аватаров:</p>
    <div class="row">
      <button
        @click="$emit('pick', require(`@/assets/${Avatar.src}`))"
        v-for="Avatar in AvatarsList"
        :key="Avatar.id"
        :index="Avatar.id"
        class="col-md row-avatars p-1 pointer pick-av-btn btn-invisible-button"
      >
        <img
          :src="require(`@/assets/${Avatar.src}`)"
          class="img-fluid round-icon"
        />
      </button>
    </div>
    <!-- <div class="row row-avatars mt-3 pointer">
        <div v-for="Avatar in AvatarsList.slice().reverse()" :key="Avatar.id" :index="Avatar.id" class="col-md p-1">
            <img :src="require(`@/assets/${Avatar.src}`)" class="img-fluid round-icon" />
        </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "PickAvatar",
  data() {
    return {
      AvatarsList: [
        {
          id: 0,
          src: "img/avatars/avatar1.png",
        },
        {
          id: 1,
          src: "img/avatars/avatar2.png",
        },
        {
          id: 2,
          src: "img/avatars/avatar3.png",
        },
        {
          id: 3,
          src: "img/avatars/avatar4.png",
        },
        {
          id: 4,
          src: "img/avatars/avatar5.png",
        },
      ],
    };
  },
};
</script>

<style>
</style>
