<template>
  <section id="childfromgroup" class="animate__animated animate__fadeIn">
    <div class="row w-100">
      <!-- Информация об успехах ребенка -->
      <div class="col-md pl-3 pr-2">
        <div class="contaiter my-child-container mt-5">
          <!-- Строка с именем, балансом и рангом ребенка -->
          <div class="row ml-4 pt-5 pb-4 pr-2">
            <div class="col-md-9">
              <div class="row no-wrap no-select">
                <!-- Аватарка ребенка -->
                <div class="col-md-3 col-lg-2 col-xl-1">
                  <img
                    :src="
                      child.child.avatar
                        ? child.child.avatar
                        : require('@/assets/img/icons/big-child-avatar.png')
                    "
                    class="img-fluid round-icon"
                    style="min-width: 90px;"
                  />
                </div>
                <div class="col-md-10">
                  <!-- Имя ребенка -->
                  <div class="row">
                    <div class="col-md-12">
                      <h1>
                        {{ child.child.second_name }}
                        {{ child.child.name }}
                        {{ child.child.last_name }}
                      </h1>
                    </div>
                  </div>
                  <!-- Ранг и баланс -->
                  <div class="row">
                    <div class="col-md-6 p-0">
                      <!-- <div class="row">
                        <div class="col-md-2 my-auto pr-5">
                          <img src="@/assets/img/icons/silver.png" />
                        </div>
                        <div class="col-md-4 my-auto p-0">
                          <p class="m-0 rank-text">
                            {{ child.rank }}
                          </p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <p class="m-0 rank-text">{{ child.foxies }}</p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <img src="@/assets/img/icons/coin.png" />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 my-auto text-left">
              <!-- <b-button
                @click="terms = !terms"
                class="btn btn-profile-tab pay-to-account"
              >
                <p>
                  <span v-if="terms">Задания</span>
                  <span v-if="!terms">Словарь</span> ребенка
                </p>
              </b-button> -->
            </div>
          </div>
          <!-- Прогресс проверки домашней работы -->
          <Tales v-if="!terms" />
          <Dictionary v-if="terms" />
        </div>
      </div>
      <!-- Чат -->
      <!--<Chat />-->
    </div>
  </section>
</template>

<script>
import { MentorMapper } from "@/store/mentor";

// import Chat from "../General/Chat.vue";
import Tales from "@/components/mentor/groups/child/tales/Tales.vue"; ///Tales.vue
import Dictionary from "@/components/mentor/groups/child/Dictionary.vue"; //Dictionary
export default {
  name: "Child",
  data() {
    return {
      terms: false,
    };
  },
  components: {
    // Chat,
    Tales,
    Dictionary,
  },
  computed: {
    ...MentorMapper.mapState(["child"]),
  },
  methods: {
    ...MentorMapper.mapActions(["getChild"]),
  },
  async mounted() {
    await this.getChild(this.$route.params.id);
  },
};
</script>

<style>
</style>
