<template>
  <section id="grouplist" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 mb-4 no-select">
          <div class="col-4 mt-4">
            <h1>Группы</h1>
          </div>
        </div>

        <div
          class="row pl-3 w-100 no-wrap row__table pointer no-select mb-3"
          @click="groupView(group.id)"
          v-for="group in groups"
          :key="group.id"
          :index="group.id"
        >
          <div class="col-md-6 ml-4 p-0 my-auto">
            <p class="table-item-group">
              Группа №{{ group.id }}. {{ group.name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="invisible my-3" />
          </div>
        </div>
      </div>
    </div>
    <FormAddGroup />
  </section>
</template>

<script>
import { MentorMapper } from "@/store/mentor";

import FormAddGroup from "@/components/mentor/groups/groups/FormAddGroup.vue";
export default {
  name: "MenthorGroups",
  components: {
    FormAddGroup,
  },
  computed: {
    ...MentorMapper.mapState(["groups", "error"]),
  },
  methods: {
    ...MentorMapper.mapActions(["getGroups"]),
    groupView(id) {
      this.$router.push({ path: id.toString() + "/" });
    },
  },
  async mounted() {
    await this.getGroups();
  },
};
</script>

<style>
</style>