<template>
  <section id="viewgroup" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4">
          <div class="col-md-6 mt-4">
            <h1>Группа №{{ group.id }}. {{ group.name }}</h1>
          </div>
          <div class="col-md text-right mt-4 mr-4">
            <button
              class="btn btn-profile-tab pay-to-account mr-2"
              @click="copyGroupLink()"
            >
              <p>Скопировать пригласительный код</p>
            </button>
            <button class="btn btn-profile-tab pay-to-account">
              <p>К след. сказке</p>
            </button>
          </div>
        </div>
        <!-- Вкладки -->
        <div class="row">
          <div class="col-md-12 mt-4">
            <ul class="nav w-100 nav-tabs text-center px-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#group-view-children"
                  >Дети</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#group-new-kid-requests"
                  >Новые заявки
                  <span
                    v-if="group.requests.length"
                    class="badge notification-count-menthor text-left pr-0"
                    >+{{ group.requests.length }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Контент на вкладках -->
        <div class="row w-100 m-0 tab-content">
          <div class="tab-pane fade w-100 show active" id="group-view-children">
            <Info />
          </div>
          <div class="tab-pane fade w-100" id="group-new-kid-requests">
            <Requests />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { MentorMapper } from "@/store/mentor";
import { AuthMapper } from "@/store/auth";
import Info from "@/components/mentor/groups/group/Info.vue";
import Requests from "@/components/mentor/groups/group/Requests.vue";
import toast from "@/scripts/toast";
import copylink from "@/scripts/copylink";
export default {
  name: "Group",
  components: {
    Info,
    Requests,
  },
  data() {
    return {
      referalShow: false,
    };
  },
  computed: {
    ...MentorMapper.mapState(["group", "error"]),
    ...AuthMapper.mapState(["profile"]),
    referalCode() {
      return window.btoa(
        JSON.stringify({
          mentorId: this.profile.id,
          groupId: this.group.id,
        })
      );
    },
  },
  methods: {
    toast,
    copylink,
    ...MentorMapper.mapActions(["getGroup"]),
    copyGroupLink() {
      this.copylink(this.referalCode);
      this.toast("Успех", "Код скопирован в буфер обмена", "success");
    },
  },
  async mounted() {
    await this.getGroup(this.$route.params.group);
  },
};
</script>
