<template>
  <div class="row mt-2">
    <div class="col">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Менеджер:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              {{
                manager.role == "SalesManager"
                  ? "Менеджер по продажам"
                  : manager.role == "ClientManager"
                  ? "Менеджер по клиентам"
                  : "Неизвестно"
              }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ manager.phone }} </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ manager.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
      </div>
    </div>

    <!-- второй столбец с информацией -->
    <div class="col ml-5"></div>
  </div>
</template>

<script>
import { HeadManagerMapper } from "@/store/headManager";

export default {
  props: {
    archiveLink: {
      type: String,
      default: "",
    },
  },
  name: "ChildBaseInfo",
  data() {
    return {
      childArchiveCount: 1,
      items: [],
    };
  },
  methods: {},

  computed: {
    ...HeadManagerMapper.mapState(["manager", "error"]),
  },
  mounted() {
    // let item = {
    //   isActive: true,
    //   id: this.child.program.id,
    //   program: this.child.program.name,
    //   date: this.child.program.date,
    //   datecomplete: this.child.program.date_end,
    // };
    // this.items.push(item);
    // this.childArchiveCount = this.items.length;
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.child-info-hr {
  border: 0.1px dashed #c4c4c4;
}
.child-chat-btn {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  border-radius: 39px;
  width: 120px;
  height: 35px;
}
</style>
