<template>
  <b-modal
    hide-footer
    hide-header
    centered
    v-model="showDialog"
    @hidden="$emit('close')"
  >
    <button
      @click="$emit('close')"
      class="btn-invisible-button absolute-block close-modal-icon"
    >
      <img
        src="@/assets/img/icons/close-icon-afroamerican.png"
        alt=""
        class=""
      />
    </button>

    <p>Выбрать менеджера</p>

    <div class="dropdown w-100 my-auto">
      <button
        class="btn py-1 w-100 btn-filter dropdown-toggle"
        type="button"
        id="diagramm-age-sort"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <p v-if="selectVal.name == undefined">Менеджеры</p>
        <p v-else>{{ selectVal.name }}</p>
      </button>
      <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
        <p
          v-for="manager in dropDownClientManagers"
          :key="manager.name"
          @click="pinManager(manager.id)"
          class="dropdown-item"
        >
          {{ manager.second_name }} {{ manager.name }}
        </p>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { HeadManagerMapper } from "@/store/headManager";
export default {
  name: "ModalAddUser",
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    role: {
      type: String,
      default: "Franchisee",
    },

    managerRole: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      selectVal: {
        isActive: undefined,
        number: undefined,
        name: undefined,
      },
    };
  },
  computed: {
    ...HeadManagerMapper.mapState([
      "selectManagers",
      "franchisee",
      "agent",
      "parent",
      "mentor",
    ]),
    dropDownClientManagers() {
      return this.selectManagers.filter((man) => man.role == this.managerRole);
    },
    showDialog: {
      get() {
        return this.show;
      },
      set() {
        this.$emit("update:show");
      },
    },
  },
  methods: {
    ...HeadManagerMapper.mapActions(["SelectManager"]),
    async pinManager(managerId) {
      let clientAccountId = () => {
        switch (this.role) {
          case "Franchisee":
            return this.franchisee.user_id.id;
          case "Agent":
            return this.agent.user_id.id;
          case "Parent":
            return this.parent.id;
          case "Mentor":
            return this.mentor.mentor.id;
          default:
            return null;
        }
      };
      let data = {
        managerId: managerId,
        clientId: this.$route.params.id,
        clientAccountId: clientAccountId(),
        role: this.role,
        managerrole: this.managerRole,
      };
      await this.SelectManager(data);
      this.$emit("close");
    },
  },
};
</script>

<style scoped>
.select {
  width: 50%;
  background-color: #c9c9c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
}
h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  color: #000;
}
.modal-body {
  height: 400px;
  width: 465px;
  display: flex;
  flex-flow: column nowrap;
}
.close-modal-icon {
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
}
.close-modal-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.admin-inputs > input {
  background: unset;
  border: none;
  outline: none;
  width: 300px;
  height: 30px;
  margin: 0;
  border-radius: 0 !important;
  border-bottom: 1px solid #2b2a29;
  border-radius: 5px;
}
.admin-inputs > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #2b2a29;
}
.btn-modal-create-user {
  background: #9276e4;
  border: none;
  height: 35px;
  width: 90px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  transition: 0.5s ease;
}
.btn-modal-create-user:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.btn-modal-create-user:focus,
.btn-modal-create-user:active {
  transform: scale(1.05);
}
</style>
