<template>
  <div class="h-100 pages-brand sidepanel-bg-admin no-select">
    <div class="row pt-2 mb-2"></div>
    <router-link
      v-if="agentProfile.adress"
      to="/agent"
      exact
      active-class="active"
    >
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Аналитика</p>
        </div>
      </div>
    </router-link>

    <router-link to="/agent/data" active-class="active">
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мои данные</p>
        </div>
      </div>
    </router-link>

    <router-link
      v-if="agentProfile.adress"
      to="/agent/support"
      active-class="active"
    >
      <div class="row page-row no-wrap m-0 pl-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Обратная связь</p>
        </div>
      </div>
    </router-link>

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-8 p-0">
        <button @click="logOut()" class="btn btn-block btn-log-off">
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { AgentMapper } from "@/store/agent";

export default {
  name: "SidePanel",
  computed: {
    ...AuthMapper.mapState(["error"]),
    ...AgentMapper.mapState(["agentProfile"]),
  },
  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    ...AgentMapper.mapActions(["getAgentProfile"]),
    async logOut() {
      await this.signOut();
      this.$router.push("/login");
    },
  },
  async mounted() {
    await this.getAgentProfile();
  },
};
</script>

<style></style>
