/* RIGHT MENU */

.light-anim {
  animation: anim-light 1.2s 1 cubic-bezier(.52,.27,.49,1.84);
}
@keyframes anim-light {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.three-anim {
  animation: anim-three 1.6s 1 ease;
}
@keyframes anim-three {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scaleY(0.1) translateY(-80%);
  }
  100% { 
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}

.menthor-anim {
  animation: anim-menthor 2s 1 cubic-bezier(.52,.27,.49,1.84);;
}
@keyframes anim-menthor {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* CARDS */

.number-anim {
  animation: anim-number 3s 1 ease-in-out;
}

@keyframes anim-number {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cards-anim {
  animation: anim-cards 1 6s ease-in-out;
}

@keyframes anim-cards {
  0% {
    transform: translateX(80%);
    opacity: 0;
  }
  10% {
    transform: translateX(80%);
    opacity: 1;
  }
  30% {
    transform: translateX(80%);
  }
  40% {
    transform: translateX(0%);
    opacity: 1;
  }
  79% {
    transform: scale(1);
  }
  84% {
    transform: scale(1.1);
  }
  89% {
    transform: scale(1);
  }
}

.cards-anim-new {
  animation: anim-cards-new 6s 1 ease-in-out
}
@keyframes anim-cards-new {
  0% {
    transform: translateX(70%);
    opacity: 0;
  }
  10% {
    transform: translateX(70%);
    opacity: 1;
  }
  30% {
    transform: translateX(70%);
  }
  40% {
    transform: translateX(0%);
    opacity: 1;
  }
  79% {
    transform: scale(1);
  }
  84% {
    transform: scale(1.1);
  }
  89% {
    transform: scale(1);
  }
}

.cards-anim-ipad {
  animation: anim-cards-ipad 1 5s ease-in-out;
}

@keyframes anim-cards-ipad {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  79% {
    transform: scale(1);
  }
  84% {
    transform: scale(1.1);
  }
  89% {
    transform: scale(1);
  }
}

.gif-anim {
  animation: gif-anim 1s 1 ease-in-out;
}
@keyframes gif-anim {
0% {
  opacity: 0;
  transform: translateX(30%);
}
100% {
  opacity: 1;
  transform: translateX(0%)
}
}

.text-anim {
animation: text-anim 1s 1 ease-in-out;
}
@keyframes text-anim {
0% {
  opacity: 0;
  transform: translateX(30%);
}
100% {
  opacity: 1;
  transform: translateX(0%);
}
}

/* FAMILYMEMBERS */

.members-anim {
  animation: anim-members 1s 1 ease-in-out;
}
.members-anim-img {
  animation: anim-members 2s 1 ease-in-out;
}

@keyframes anim-members {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}

.interview-anim {
  animation: anim-interview 1.5s 1 ease-in-out;
}
@keyframes anim-interview {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  50% {
    opacity: 0;
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* BUSINESS VOCABULARY */

.scale-x-anim {
  animation: anim-scale-x .5s 1 ease-in-out;
} 
@keyframes anim-scale-x {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}

/* SOFT-SKILLS */

.scale-x-anim-soft {
  animation: anim-scale-x 1.5s 1 ease-in-out;
}
@keyframes anim-scale-x-soft {
  0% {
    transform: scaleX(0);
  }
  90% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.opacity-anim-soft {
  animation: anim-opacity-soft 1.5s 1 ease-in-out;
}
@keyframes anim-opacity-soft {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* SCALE ANIMS */

.scale-anim {
    animation: anim-scale 0.5s 1 cubic-bezier(.15,.08,.4,1.35);
  }
  @keyframes anim-scale {
    0% {
      transform: scaleY(0.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .scale-anim-delay {
    animation: anim-scale-delay 0.75s 1 cubic-bezier(.22,.14,.39,1.85);
  }
  @keyframes anim-scale-delay {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

/* TRANSLATE ANIMS */
    .translate-anim-up {
        animation: anim-translate-up 1s 1 ease-in-out;
    }
    @keyframes anim-translate-up {
        0% {
        transform: translateY(30%);
        opacity: 0;
        }
        100% {
        transform: translateY(0%);
        opacity: 1;
        }
    }

    .translate-anim-right {
        animation: anim-translate-right 2s 1 ease-in-out;
    }
    @keyframes anim-translate-right {
        0% {
            transform: translateX(-30%);
            opacity: 0;
        }
        50% {
            transform: translateX(-30%);
            opacity: 0;
        }
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }
    .translate-anim-left {
        animation: anim-translate-left 2s 1 ease-in-out;
    }
    @keyframes anim-translate-left {
      0% {
        transform: translateX(30%);
        opacity: 0;
      }
      50% {
        transform: translateX(30%);
        opacity: 0;
      }
      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }

  .translate-anim-reverse {
    animation: anim-translate-reverse 1s 1 ease-in-out;
  }
  @keyframes anim-translate-reverse {
    0% {
      transform: translateX(-50%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0%);
      opacity: 100%;
    }
  }

/* OPACITY ANIMS */

  .opacity-anim-card {
    animation: anim-opacity-9 4s 1 ease-in-out;
  }

  .opacity-anim-shorter {
      animation: anim-opacity 0.5s 1 ease-in-out;
  }
  .opacity-anim-medium {
    animation: anim-opacity 1.5s 1 ease-in-out;
  }
  .opacity-anim {
    animation: anim-opacity 4s 1 ease-in-out;
  }
  .opacity-anim-9 {
    animation: anim-opacity-9 2s 1 ease-in-out;
  }
  @keyframes anim-opacity-9 {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .opacity-anim-number {
    animation: anim-opacity-number 3s 1 ease-in-out;
  }
  @keyframes anim-opacity-number {
    0% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes anim-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .opacity-anim-18 {
    animation: anim-opacity-18 1.5s 1 ease-in-out;
  }
  @keyframes anim-opacity-18 {
    0% {
      opacity: 0;
      transform: translateY(20%)
    }
    50% {
      opacity: 0;
      transform: translateY(20%)
    }
    100% {
      opacity: 1;
      transform: translateY(0%)
    }
  }
  .opacity-anim-path-special {
    animation-delay: 10s;
    animation: anim-opacity-path 2s 1 ease-in-out;
  }
  .opacity-anim-path {
    animation: anim-opacity-path 2s 1 ease-in-out;
  }
  @keyframes anim-opacity-path {
    0% {
      opacity: 0;
      transform: translateY(20%)
    }
    100% {
      opacity: 1;
      transform: translateY(0%)
    }
  }


/* GIF TEXT ANIMS   */
  

  
.side-anim-delay {
    animation: side-anim-delay 2s 1 cubic-bezier(.15,.08,.4,1.35);
  }
  
  @keyframes side-anim-delay {
    0% {
      transform: translateX(100%);
      opacity: 0;
      scale: 0;
    }
    50% {
      transform: translateX(100%);
      opacity: 0;
      scale: 0.1;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
      scale: 1
    }
  }
  
  /* OPACITY STUFF */

  .change-comp {
    animation: change-comp 1s 1 ease-in-out;
  }
  @keyframes change-comp {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .opacity-zero {
    opacity: 0;
  }

  /* PAGE LOADER */

  .page-loader {
    position: absolute;
    top: 50%;
    left: 40%;
    display: flex;
  }
  .cube-loader {
    margin: 2px;
    height: 40px;
    width: 40px;
    background-color: red;
  }
  .right-cube {
    background-color: #8CC271;
    animation: right-cube 1s linear infinite;
  }
  @keyframes right-cube {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .left-cube {
    background-color: #E9643B;
    animation: left-cube 1s linear infinite;
  }
  @keyframes left-cube {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .center-right-cube {
    background-color: #69BEEB;
  }

  .center-left-cube {
    background-color: #F5AA39;
  }