.anim-bg-img {
  width: 112%;
  z-index: 20;
  top: 0%;
  left: 35%;
}
.anim-chair-img {
  width: 42%;
  z-index: 50;
  top: 24%;
  left: 59%;
}
.anim-body-img {
  width: 22%;
  z-index: 60;
  top: 17%;
  left: 70%;
}
.anim-tail-img {
  width: 29%;
  z-index: 55;
  top: 19%;
  left: 49%;
}
.anim-left-leg-img {
  height: 24%;
  z-index: 70;
  top: 58%;
  left: 74%;
}
.anim-right-leg-img {
  height: 24%;
  z-index: 70;
  top: 58%;
  left: 81%;
}
.anim-left-hand-img {
  width: 11%;
  z-index: 125;
  top: 44%;
  left: 64%;
}
.anim-right-hand-img {
  width: 13%;
  z-index: 125;
  top: 41%;
  left: 81.5%;
}
.anim-table-img {
  width: 58%;
  z-index: 120;
  bottom: 18%;
  left: 50.5%;
}
.anim-light-img {
  width: 42%;
  z-index: 130;
  top: 39.5%;
  left: 68%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-bg-img {
    height: 87%;
    width: auto;

    top: unset;
    bottom: 0%;
    left: 4%;
  }
  .anim-chair-img {
    width: 32%;
    bottom: 0%;
    top: unset;
    left: 28%;
  }
  .anim-body-img {
    width: 20%;
    top: unset;

    left: 34%;
    bottom: 21%;
  }
  .anim-tail-img {
    width: 25%;
    bottom: 24%;
    top: unset;
    left: 15%;
  }
  .anim-left-leg-img {
    height: 24%;
    top: unset;
    bottom: 0;
    left: 40%;
  }
  .anim-right-leg-img {
    height: 24%;
    bottom: 0%;
    top: unset;
    left: 45%;
  }
  .anim-left-hand-img {
    width: 10%;
    bottom: 27%;
    top: unset;
    left: 29.5%;
  }
  .anim-right-hand-img {
    width: 9.5%;
    bottom: 26%;
    top: unset;
    left: 46.5%;
  }
  .anim-table-img {
    width: 50%;
    bottom: 0%;
    top: unset;
    left: 19.5%;
  }
  .anim-light-img {
    bottom: 25%;
    width: 32%;
    top: unset;
    left: 38%;
  }
}
