.anim-fe-bg-img {
  height: 84%;
  z-index: -10;
  top: 1%;
  left: 33%;
}
.anim-fe-body-img {
  height: 46%;
  z-index: -5;
  top: 22%;
  left: 72%;
}
.anim-fe-left-leg-img {
  height: 19%;
  z-index: -6;
  top: 66%;
  left: 76%;
}
.anim-fe-right-leg-img {
  height: 17%;
  z-index: -6;
  top: 66%;
  left: 86%;
}
.anim-fe-tail-leg-img {
  height: 39%;
  z-index: -6;
  top: 27%;
  left: 46%;
}
.anim-fe-left-hand-img {
  height: 15%;
  z-index: -4;
  top: 36%;
  left: 66%;
}
.anim-fe-right-hand-img {
  height: 6.5%;
  z-index: -6;
  top: 45%;
  left: 91%;
}
.anim-fe-rupor-img {
  height: 16%;
  z-index: -5;
  top: 33%;
  left: 101%;
}
/* Лисенок с рупором */

/* Фоновые картинки вокруг лисенка */
/* .anim-fe-dialouge-img {
  width: 17%;
  z-index: -5;
  top: 3%;
  left: 32%;
} */
/* .anim-fe-blocknote-img {
  width: 19%;
  z-index: -5;
  top: 55%;
  left: 31%;
} */
.anim-fe-ball-img {
  width: 15%;
  z-index: -5;
  top: 21%;
  left: 58%;
}
/* .anim-fe-paperplane-img {
  width: 16%;
  z-index: -5;
  top: 10%;
  left: 109%;
}
.anim-fe-line1-img {
  width: 23%;
  z-index: -5.5;
  top: 20%;
  left: 110%;
}
.anim-fe-line2-img {
  width: 23%;
  z-index: -5;
  top: 8%;
  left: 20%;
} */
/* Фоновые картинки вокруг лисенка */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-fe-bg-img {
    height: 87%;
    top: unset;
    bottom: 0%;
    left: 4%;
  }
  .anim-fe-body-img {
    height: 48%;
    top: unset;
    bottom: 17%;
    left: 36%;
  }
  .anim-fe-left-leg-img {
    height: 21%;
    top: unset;
    left: 39%;
    bottom: 0.3%;
  }
  .anim-fe-right-leg-img {
    height: 19%;
    top: unset;
    left: 46%;
    bottom: 2%;
  }
  .anim-fe-tail-leg-img {
    height: 39%;
    top: unset;
    left: 15%;
    bottom: 19%;
  }
  .anim-fe-left-hand-img {
    height: 18%;
    top: unset;
    left: 30%;
    bottom: 34%;
  }
  .anim-fe-right-hand-img {
    height: 6.5%;
    top: unset;

    left: 52%;
    bottom: 32%;
  }
  .anim-fe-rupor-img {
    height: 16%;
    top: unset;
    bottom: 34.5%;
    left: 60.4%;
  }
  /* Лисенок с рупором */

  /* Фоновые картинки вокруг лисенка */
  /* .anim-fe-dialouge-img {
    width: 17%;
    z-index: -5;
    top: 3%;
    left: 32%;
  }
  .anim-fe-blocknote-img {
    width: 19%;
    z-index: -5;
    top: 55%;
    left: 31%;
  } */
  .anim-fe-ball-img {
    width: 13%;
    top: unset;
    left: 23%;
    bottom: 52%;
  }
  /* .anim-fe-paperplane-img {
    width: 16%;
    z-index: -5;
    top: 10%;
    left: 109%;
  }
  .anim-fe-line1-img {
    width: 23%;
    z-index: -5.5;
    top: 20%;
    left: 110%;
  }
  .anim-fe-line2-img {
    width: 23%;
    z-index: -5;
    top: 8%;
    left: 20%;
  } */
  /* Фоновые картинки вокруг лисенка */
}
