<template>
  <section
    id="directory-children"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-4">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Справочник детей</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid relative-block mx-3 mr-4"
      style="margin-top: 30px; margin-bottom: 70px"
    >
      <DirectoryTable type="Children" :items="items" />
    </div>
  </section>
</template>

<script>
import DirectoryTable from "@/components/buhadmin/Tables/DirectoryTable.vue";
import { AdminBuchMapper } from "@/store/adminBuch";

export default {
  name: "DirectoryChildren",
  components: {
    DirectoryTable,
  },

  computed: {
    ...AdminBuchMapper.mapState(["children"]),

    items() {
      if (this.children.length) {
        let children = this.children;
        return children.reverse().map((i, index) => {
          return {
            id: i.child.id,
            number: index + 1,
            name: `${i.child.second_name} ${i.child.name} ${i.child.last_name}`,
            birthday: i.birthday,
            postAdress: "",
            phone: i.child.phone,
            email: i.child.email,
            date: i.child.date_joined,
          };
        });
      }
      return [];
    },
  },

  methods: {
    ...AdminBuchMapper.mapActions(["getChildrenList"]),
  },

  async mounted() {
    await this.getChildrenList();
  },
};
</script>

<style>
</style>