<template>
  <section
    id="directory-mentors"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-4">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Справочник менторов</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid relative-block mx-3 mr-4"
      style="margin-top: 30px; margin-bottom: 70px"
    >
      <DirectoryTable type="Mentor" :items="items" />
    </div>
  </section>
</template>

<script>
import DirectoryTable from "@/components/buhadmin/Tables/DirectoryTable.vue";
import { AdminBuchMapper } from "@/store/adminBuch";

export default {
  name: "DirectoryMentors",
  components: {
    DirectoryTable,
  },

  computed: {
    ...AdminBuchMapper.mapState(["mentors"]),
    items() {
      if (this.mentors.length) {
        let mentors = this.mentors;
        return mentors.reverse().map((i, index) => {
          return {
            id: i.mentor.id,
            number: index + 1,
            name: `${i.mentor.second_name} ${i.mentor.name} ${i.mentor.last_name}`,
            status: i.job_status,
            passport: i.passport,
            passportWho: i.passport_who,
            passportWhen: i.passport_when,
            email: i.mentor.email,
            phone: i.mentor.phone,
            postAdress: i.adress,
            date: i.mentor.date_joined,
          };
        });
      }
      return [];
    },
  },
  methods: {
    ...AdminBuchMapper.mapActions(["getMentors"]),
  },
  async mounted() {
    await this.getMentors();
  },
};
</script>

<style>
</style>