<template>
  <div
    class="contaiter-fluid agent-container mx-3 pl-4"
    style="margin-bottom: 70px; margin-top: 30px"
  >
    <hr class="invisible" />
    <form id="formGroup">
      <div class="row pt-4 mt-3">
        <div class="col-5 admin-inputs">
          <h6 class="mb-4">Личные данные</h6>
          <input
            name="name"
            type="text"
            v-model="formInputs.name"
            placeholder="ФИО"
          />
          <b-form-datepicker
            placeholder="Дата рождения"
            class="agent-form-datepicker"
            locale="ru"
            label-help=""
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            }"
            hide-header
            v-model="formInputs.birthday"
          />
          <!-- <input
            name="birthday"
            type="text"
            onblur="(this.type='text')"
            onfocus="(this.type='date')"
            v-model="formInputs.birthday"
            placeholder="Дата рождения"
            locale="ru"
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            }"
            label-no-date-selected="Дата не выбрана"
            hide-header
          /> -->
          <!-- <b-form-datepicker
              v-model="formInputs.birthday"
              placeholder="Дата рождения"
              :date-disabled-fn="dateDisabled"
              locale="ru"
              class="button-dropdown-data"
            ></b-form-datepicker> -->
          <div class="dropdown w-100">
            <b-form-select
              name="citizen"
              v-model="formInputs.citizen"
              :options="nationalityList"
              class="btn button-dropdown-data text-left pl-3 dropdown-toggle"
              :style="{ borderRadius: '5px', border: '0.5px solid #c4c4c4' }"
            >
              <!-- <b-form-select-option :value="null">
                :value="null"
              v-for="(s, index) in this.nationalityList" :key="index">
                {{ s }}
              </b-form-select-option> -->
            </b-form-select>
          </div>
          <input
            name="education"
            v-model="formInputs.education"
            placeholder="Образование"
          />
          <input
            type="email"
            name="email"
            v-model="formInputs.email"
            placeholder="Email"
          />
          <input
            type="email"
            name="emailBuch"
            v-model="formInputs.emailBuch"
            placeholder="Email бухгалтерии"
          />
          <h6 class="mt-4 mb-3">Паспортные данные</h6>
          <input
            type="text"
            v-mask="'##-##-######'"
            name="passport"
            v-model="formInputs.passport"
            placeholder="Серия/номер"
          /><input
            name="passportWho"
            v-model="formInputs.passportWho"
            placeholder="Кем выдан"
          />
          <b-form-datepicker
            placeholder="Дата выдачи"
            class="agent-form-datepicker"
            locale="ru"
            label-help=""
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            }"
            hide-header
            v-model="formInputs.passportWhen"
          />
          <!-- <input
            type="text"
            onblur="(this.type='text')"
            onfocus="(this.type='date')"
            name="passportWhen"
            v-model="formInputs.passportWhen"
            v-mask="'####-##-##'"
            placeholder="Дата выдачи"
            locale="ru"
            :date-format-options="{
              year: 'numeric',
              month: 'numeric',
              day: 'numeric',
            }"
            label-no-date-selected="Дата не выбрана"
            hide-header
          /> -->
        </div>
        <div class="col-5 admin-inputs">
          <h6 class="mb-4">Адреса и реквизиты</h6>
          <input
            name="country"
            v-model="formInputs.country"
            placeholder="Страна"
          />
          <input
            name="adress"
            v-model="formInputs.adress"
            placeholder="Адрес прописки"
          />
          <input
            name="factAdress"
            v-model="formInputs.factAdress"
            placeholder="Фактический адрес"
          />
          <input
            type="number"
            name="inn"
            id="inn"
            v-model="formInputs.inn"
            v-mask="'############'"
            placeholder="ИНН"
          />

          <input
            name="snils"
            type="text"
            v-mask="'###-###-###-##'"
            v-model="formInputs.snils"
            placeholder="СНИЛС"
          />
          <br />
          <!-- <button
            v-if="isAdmin"
            class="agent-file-load agent-load documents-see mt-3 py-0"
            @click.prevent="$router.push({ name: 'admin-agent-anketa' })"
          >
            Просмотреть документы
          </button> -->
          <button
            v-if="isClientManager"
            class="agent-file-load agent-load documents-see mt-3 py-0"
            @click.prevent="showAgentDoc"
          >
            Просмотреть документы
          </button>
          <!-- <button
            v-else
            class="agent-file-load agent-load documents-see mt-3 py-0"
            @click.prevent="$router.push({ name: 'agent-anketa' })"
          >
            Просмотреть документы
          </button> -->
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h5 class="m-0">Загрузите необходимые документы</h5>

          <button class="data-download-anketa mt-3" @click.prevent>
            <p class="m-0">Скачать анкету агента</p>
          </button>
        </div>
      </div>
      <div class="row justify-content-between px-3 pr-5 mt-4">
        <div v-for="file in filesAgent" :key="file.id" class="wrap-file-load">
          <p class="file-type">{{ file.description }}:</p>

          <!-- accept="application/pdf"   -->
          <input
            type="file"
            style="display: none"
            :ref="`${file.id}`"
            :name="`${file.name}`"
            :id="`fileUpload${file.id}`"
            @change="uploadPDF(file.id)"
          />

          <button
            class="agent-file-load agent-load py-0 text-truncate"
            @click.stop.prevent="chooseFiles(file.id)"
          >
            {{
              file.file
                ? file.file.name
                : file.path
                ? file.path
                    .split("/")
                    [file.path.split("/").length - 1].split(".")[0]
                : "Загрузить PDF"
            }}
          </button>
        </div>
      </div>
    </form>

    <div class="row justify-content-end mt-5 pb-5">
      <div class="col-4 pr-5 text-right">
        <input
          type="submit"
          class="agent-file-load button-submit-data btn btn-primary py-2 text-white"
          :class="{ disabled }"
          @click="dataChange()"
          value="Изменить мои данные"
        />

        <!-- <button
            class="agent-file-load w-100 py-2"
            :class="{ disabled }"
            @click="dataChange()"
          >
            Изменить мои данные
          </button> -->
      </div>
    </div>
    <b-modal size="xl" hide-footer hide-header v-model="agentDocIsVisible">
      <AgentDocViewer  :data="formInputs" />
    </b-modal>
  </div>
</template>

<script>
import AgentDocViewer from '@/components/buhfranch/docs/AgentDocViewer.vue'
export default {
  name: "Client_Manager_FormAgent",
  components: {    
    AgentDocViewer
  },
  data() {
    return {  
      agentDocIsVisible: false,    
      filesAgent: [
        {
          id: 1,
          name: "passportPDF",
          description: "Паспорт",
          file: null,
          path: ""
        },
        {
          id: 2,
          //  description: "Свидетельство о регистрации",
          name: "innPDF",
          description: "ИНН",
          file: null,
          path: ""
        },
        {
          id: 3,
          name: "snilsPDF",
          description: "СНИЛС",
          file: null,
          path: ""
        },
        {
          id: 4,
          name: "resumePDF",
          description: "Анкета агента",
          file: null,
          path: ""
        }
      ],
      nationalityList: [
        { text: "Выберите страну" },
        "Япония",
        "Сингапур",
        "Южная Корея",
        "Германия",
        "Италия",
        "Финляндия",
        "Испания",
        "Люксембург",
        "Дания",
        "Швеция",
        "Франция",
        "Швейцария",
        "Португалия",
        "Нидерланды",
        "Ирландия",
        "Австрия",
        "Соединенные Штаты Америки",
        "Великобритания",
        "Норвегия",
        "Греция",
        "Бельгия",
        "Новая Зеландия",
        "Мальта",
        "Чехия",
        "Канада",
        "Австралия",
        "Словакия",
        "Литва",
        "Венгрия",
        "Словения",
        "Латвия",
        "Исландия",
        "Эстония",
        "Малайзия",
        "Лихтенштейн",
        "Польша",
        "Монако",
        "Кипр",
        "Чили",
        "Румыния",
        "Объединенные Арабские Эмираты",
        "Болгария",
        "Бразилия",
        "Аргентина",
        "Гонконг",
        "Хорватия",
        "Сан-Марино",
        "Андорра",
        "Бруней",
        "Барбадос",
        "Израиль",
        "Мексика",
        "Сент-Китс и Невис",
        "Багамские о-ва",
        "Уругвай",
        "Сейшельские острова",
        "Антигуа и Барбуда",
        "Ватикан",
        "Тринидад и Тобаго",
        "Коста Рика",
        "Тайвань",
        "Сент-Винсент и Гренадины",
        "Маврикий",
        "Сент-Люсия",
        "Парагвай",
        "Гренада",
        "Панама",
        "Доминика",
        "Перу",
        "Сербия",
        "Гондурас",
        "Сальвадор",
        "Венесуэла",
        "Гватемала",
        "Соломоновы острова",
        "Самоа",
        "Вануату",
        "Украина",
        "Никарагуа",
        "Тувалу",
        "Колумбия",
        "Тонга",
        "Черногория",
        "Северная Македония",
        "Маршалловы острова",
        "Кирибати",
        "Молдова",
        "Острова Палау",
        {
          item: "A",
          value: "Российская Федерация",
          text: "Российская Федерация"
        },
        "Микронезия",
        "Макао",
        "Босния и Герцеговина",
        "Грузия",
        "Албания",
        "Турция",
        "Южная Африка",
        "Белиз",
        "Восточный Тимор",
        "Кувейт",
        "Катар",
        "Эквадор",
        "Науру",
        "Гайана",
        "Фиджи",
        "Мальдивы",
        "Ямайка",
        "Папуа - Новая Гвинея",
        "Ботсвана",
        "Бахрейн",
        "Оман",
        "Таиланд",
        "Суринам",
        "Боливия",
        "Саудовская Аравия",
        "Намибия",
        "Казахстан",
        "Беларусь",
        "Лесото",
        "Эсватини",
        "Малави",
        "Кения",
        "Индонезия",
        "Китай",
        "Замбия",
        "Танзания",
        "Тунис",
        "Гамбия",
        "Филиппины",
        "Азербайджан",
        "Уганда",
        "Острова Кабо-Верде",
        "Гана",
        "Куба",
        "Зимбабве",
        "Доминиканская Республика",
        "Сьерра-Леоне",
        "Марокко",
        "Киргизия",
        "Монголия",
        "Бенин",
        "Армения",
        "Сан-Томе и Принсипи",
        "Мозамбик",
        "Руанда",
        "Буркина-Фасо",
        "Таджикистан",
        "Мавритания",
        "Индия",
        "Узбекистан",
        "Берег Слоновой Кости",
        "Сенегал",
        "Габон",
        "Идти",
        "Гвинея",
        "Вьетнам",
        "Нигер",
        "Мали",
        "Мадагаскар",
        "Камбоджа",
        "Гвинея-Бисау",
        "Экваториальная Гвинея",
        "Коморские острова",
        "Чад",
        "Бутан",
        "Туркменистан",
        "Иордания",
        "Центрально-Африканская Республика",
        "Лаос",
        "Алжир",
        "Либерия",
        "Гаити",
        "Египет",
        "Камерун",
        "Бурунди",
        "Ангола",
        "Мьянма",
        "Конго",
        "Нигерия",
        "Джибути",
        "Южный Судан",
        "Эфиопия",
        "Шри-Ланка",
        "Иран",
        "Эритрея",
        "Конго",
        "Бангладеш",
        "Ливан",
        "Косово",
        "Судан",
        "Северная Корея",
        "Палестинская территория",
        "Непал",
        "Ливия",
        "Йемен",
        "Сомали",
        "Пакистан",
        "Сирия",
        "Ирак",
        "Афганистан"
      ].sort()
    };
  },

  props: {
    inputs: {
      type: Object,
      required: true
    },
    isAdmin: {
      type: Boolean,
      default: false
    },
    isClientManager: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    inputs: {
      handler(newValue) {
        newValue
          ? this.filesAgent.forEach(file => {
              file.path = newValue[file.name];
            })
          : null;
      }
    }
  },
  computed: {
    formInputs: {
      get() {        
        return {...this.inputs, name:`${this.inputs.user_id.second_name} ${this.inputs.user_id.name} ${this.inputs.user_id.last_name}`, email:this.inputs.user_id.email};
      },
      set(newValue) {        
        this.$emit("update:inputs", newValue);
      }
    },
    disabled() {
      const fill = Object.entries(this.formInputs)
        .filter(i => ![false, "", null].includes(i[1]))
        .filter(
          i =>
            ![
              "passportPDF",
              "snilsPDF",
              "innPDF",
              "resumePDF",
              "user_id",
              "id"
            ].includes(i[0])
        );
      const fileFill = this.filesAgent.filter(i => i.file || i.path);

      return fill.length < 14 || fileFill.length < 4;
    }
  },
  methods: {
    showAgentDoc(){
      this.agentDocIsVisible = true;
    },

    chooseFiles(id) {
      document.getElementById(`fileUpload${id}`).click();
    },
    uploadPDF(id) {
      this.filesAgent[id - 1].file = document.getElementById(
        `fileUpload${id}`
      ).files[0];
    },
    dataChange() {
      let fio = this.formInputs.name.split(' ')
      let profileData = {
        id: this.inputs.user_id.id,
        name: fio[1],
        second_name: fio[0],
        last_name: fio[2],
        email: this.formInputs.email
      }
      if (this.inputs.user_id.email == profileData.email){
        // delete profileData.email
      }
      let data = this.formInputs;
      let formData = new FormData();
      this.filesAgent.forEach(file => {
        if (file.file) {
          data[file.name] = file.file;
        } else {
          delete data[file.name];
        }
      });
      Object.entries(data)
        .filter(i => i[1])
        .forEach(i => {
          if (i[0].indexOf("PDF") != -1 && i[1] == null) {
            delete data[i[0]];
          } else {
            formData.set(i[0], i[1]);
          }
        });
      this.filesAgent.forEach(file => {
        if (file.file) {
          formData.set(file.name, file.file, file.name + "pdf");
        }
        else {
          formData.delete(file.name)
        }
      });
      this.$emit("change", profileData, formData);
    }
  }
};
</script>

<style scoped>
.admin-inputs > input {
  color: #000;
}
.admin-inputs > input,
.agent-form-datepicker {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-inputs > input:hover,
.agent-form-datepicker:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus,
.agent-form-datepicker:focus {
  border: 1px solid lightgray;
  outline: none;
}
</style>
