<template>
  <section
    id="directory-agents"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник менторов
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0" v-if="mentorDetails.mentor">
            {{ mentorDetails.mentor.second_name }}
            {{ mentorDetails.mentor.name }}
            {{ mentorDetails.mentor.last_name }}
          </p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container relative-block mx-3 mr-4">
      <BaseInfo @load-docs="loadDocs" type="Mentor" :info="info" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px"
    >
      <TablePersonalReports type="Mentor" />
    </div>
  </section>
</template>

<script>
import { AdminBuchMapper } from "@/store/adminBuch";
import BaseInfo from "@/components/buhadmin/PersonalInfo/BaseInfo.vue";
import TablePersonalReports from "@/components/buhadmin/PersonalInfo/TablePersonalReports.vue";

export default {
  name: "PersonalInfoAgent",
  components: {
    BaseInfo,
    TablePersonalReports
  },

  computed: {
    ...AdminBuchMapper.mapState(["mentorDetails"]),

    info() {
      if (this.mentorDetails.mentor) {
        return {
          status: this.mentorDetails.job_status,
          passport: this.mentorDetails.passport,
          passportWho: this.mentorDetails.passport_who,
          passportWhen: this.mentorDetails.passport_when,
          postAdress: this.mentorDetails.adress,
          phone: this.mentorDetails.mentor.phone,
          email: this.mentorDetails.mentor.email
        };
      }
      return {};
    }
  },

  methods: {
    ...AdminBuchMapper.mapActions(["getMentorDetails"]),
    loadDocs() {
      Object.entries(this.mentorDetails).forEach(i => {
        if (i[0].indexOf("_file") > 0 && i[1]) {
          let a = document.createElement("a");
          a.href = i[1];
          a.target = "_blank";
          a.click();
        }
      });
    }
  },

  async mounted() {
    await this.getMentorDetails(this.$route.params.id);
  }
};
</script>

<style></style>
