<template>
  <section
    id="directory-agents"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник агентов
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0" v-if="agentDetails.user_id">
            {{ agentDetails.user_id.second_name }}
            {{ agentDetails.user_id.name }}
            {{ agentDetails.user_id.last_name }}
          </p>
        </div>
      </div>
      <div class="contaiter-fluid agent-container relative-block mx-3 mr-4">
        <BaseInfo type="Agent" :info="info" />
      </div>
      <div
        class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
        style="margin-bottom: 70px"
      >
        <TablePersonalReports type="Agent" />
      </div>
    </div>
  </section>
</template>

<script>
import BaseInfo from "@/components/buhadmin/PersonalInfo/BaseInfo.vue";
import TablePersonalReports from "@/components/buhadmin/PersonalInfo/TablePersonalReports.vue";
import { AdminBuchMapper } from "@/store/adminBuch";

export default {
  name: "PersonalInfoAgent",
  components: {
    BaseInfo,
    TablePersonalReports,
  },
  computed: {
    ...AdminBuchMapper.mapState(["agentDetails"]),

    info() {
      if (this.agentDetails.user_id) {
        return {
          franchName: `${this.agentDetails.user_id.second_name} 
          ${this.agentDetails.user_id.name} 
          ${this.agentDetails.user_id.last_name}`,

          birthday: this.agentDetails.birthday,
          citizenship: this.agentDetails.citizen,
          education: this.agentDetails.education,
          inn: this.agentDetails.inn,
          snils: this.agentDetails.snils,
          passport: this.agentDetails.passport,
          passportWho: this.agentDetails.passportWho,
          passportWhen: this.agentDetails.passportWhen,
          country: this.agentDetails.country,
          addresses: this.agentDetails.adress,
          actualAddress: this.agentDetails.adress,
          email: this.agentDetails.user_id.email,
          emailBuh: this.agentDetails.emailBuch,
        };
      }
      return {};
    },
  },

  methods: {
    ...AdminBuchMapper.mapActions(["getAgentDetails"]),
  },

  async mounted() {
    await this.getAgentDetails(this.$route.params.id);
  },
};
</script>

<style>
</style>