<template>
  <section id="baseinfo-buhadmin" class="animate__animated animate__fadeIn">
    <div
      style="padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 30px"
      class="row justify-content-between"
    >
      <p class="m-0 table-pr-header">Документы</p>
      <a v-if="type == 'Agent'" href="#" class="blue-link"
        >Договор № 12 от 12.01.2020</a
      >
    </div>

    <!-- строка где будет ещё один фильтр, осуждаю пустое пространство -->
    <div
      v-if="type == 'Franchisee'"
      style="padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 25px"
      class="row"
    >
      <div class="dropdown my-auto" style="width: 200px">
        <button
          class="btn py-1 w-100 text-left btn-filter dropdown-toggle"
          type="button"
          id="diagramm-level-sort"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p v-if="selectVal.level == undefined">Выбор франшизы</p>
          <p v-else>{{ selectVal.level }}</p>
        </button>
        <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
          <a @click="selectVal.level = 'Silver'" class="dropdown-item" href="#"
            >Silver</a
          >
          <a @click="selectVal.level = 'Gold'" class="dropdown-item" href="#"
            >Gold</a
          >
          <a
            @click="selectVal.level = 'Platinum'"
            class="dropdown-item"
            href="#"
            >Platinum</a
          >
        </div>
      </div>
    </div>
    <!-- строка где будет ещё один фильтр, осуждаю пустое пространство -->

    <!-- строка с договорами -->
    <div
      v-if="type == 'Franchisee'"
      style="padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 20px"
      class="row justify-content-start"
    >
      <a href="#" class="blue-link">Договор № 12 от 12.01.2020</a> 
      <!-- <a href="#" @click-preent="openContract" class="blue-link">Договор № 12 от 12.01.2020</a>       -->
      <a href="#" class="blue-link ml-5">Счет № 12 от 12.01.2020</a>
      <a href="#" class="blue-link ml-5">Счет № 12 от 12.01.2020</a>
    </div>
    <!-- строка с договорами -->

    <!-- нижняя строка фильтров -->
    <div style="padding-left: 2.5rem; padding-right: 2.5rem" class="row mt-3">
      <div class="col-2 pl-0">
        <b-form-datepicker
          class="top-input flex-row-reverse"
          style="background: none !important"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
          }"
          v-model="chosenDate"
        ></b-form-datepicker>
      </div>

      <div class="col-2">
        <b-input
          class="top-input money-bg"
          placeholder="Сумма"
          type="text"
          onblur="(this.type='text')"
          onfocus="(this.type='number')"
          v-model="selectVal.money"
        />
      </div>
      <div class="col my-auto">
        <div
          v-if="type == 'Mentor' || type == 'Child'"
          class="dropdown my-auto"
          style="width: 200px"
        >
          <button
            class="btn py-1 w-100 text-left btn-filter dropdown-toggle"
            type="button"
            id="diagramm-level-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p v-if="selectVal.level == undefined">Программа</p>
            <p v-else>{{ selectVal.level }}</p>
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
            <a
              @click="selectVal.level = 'Silver'"
              class="dropdown-item"
              href="#"
              >Silver</a
            >
            <a @click="selectVal.level = 'Gold'" class="dropdown-item" href="#"
              >Gold</a
            >
            <a
              @click="selectVal.level = 'Platinum'"
              class="dropdown-item"
              href="#"
              >Platinum</a
            >
          </div>
        </div>
      </div>
      <div class="col-4 pr-0 text-right my-auto">
        <b-button
          variant="1"
          class="btn-buhadmin-round ml-auto btn-personal-act"
          >Сформировать акт сверки</b-button
        >
      </div>
    </div>
    <!-- нижняя строка фильтров -->

    <!-- сама таблица -->

    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        ref="topchild"
        id="children-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        table-class="pointer"
        :filter="filter.search"
      >
        <template #cell(act)="row">
          <router-link
            :to="{ name: 'buhadmin-agent-act' }"
            v-if="type == 'Agent'"
            class="m-0 blue-text"
            >Акт №{{ row.value }}</router-link
          >
          <router-link
            :to="{ name: 'buhadmin-franchisee-act' }"
            v-if="type == 'Franchisee'"
            class="m-0 blue-text"
            >Акт №{{ row.value }}</router-link
          >
          <!-- выборы для разного типа бухгалтера, чтобы корректно все работало -->
          <div v-if="profile.role == 'BuhAdmin'">
            <router-link
              :to="{ name: 'buhadmin-children-act' }"
              v-if="type == 'Child'"
              class="m-0 blue-text"
              >Акт №{{ row.value }}</router-link
            >
            <router-link
              :to="{ name: 'buhadmin-mentor-act' }"
              v-if="type == 'Mentor'"
              class="m-0 blue-text"
              >Акт №{{ row.value }}</router-link
            >
          </div>
          <div v-if="profile.role == 'BuhFranch'">
            <router-link
              :to="{ name: 'buhfranch-children-act' }"
              v-if="type == 'Child'"
              class="m-0 blue-text"
              >Акт №{{ row.value }}</router-link
            >
            <router-link
              :to="{ name: 'buhfranch-mentor-act' }"
              v-if="type == 'Mentor'"
              class="m-0 blue-text"
              >Акт №{{ row.value }}</router-link
            >
          </div>
          <!-- выборы для разного типа бухгалтера, чтобы корректно все работало -->
        </template>

        <template #cell(turnover)="row">
          <p class="m-0">{{ row.value }} Р</p>
        </template>
        <template #cell(cost)="row">
          <p class="m-0">{{ row.value }} Р</p>
        </template>
        <template #cell(agentIncome)="row">
          <p class="m-0">{{ row.value }} Р</p>
        </template>
        <template #cell(franchiseeIncome)="row">
          <p class="m-0">{{ row.value }} Р</p>
        </template>
        <template #cell(salaryMentor)="row">
          <p class="m-0">{{ row.value }} Р</p>
        </template>
      </b-table>
    </div>

    <div class="row justify-content-center mt-2">
      <!-- @page-click="scrolltoTop" -->
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="children-table"
        class="m-0"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-between px-4 pb-4">
      <a href="#" class="blue-link my-auto" @click.prevent="clearFilter"
        >Очистить фильтры</a
      >
      <div class="row">
        <p class="my-auto">Показывать по</p>
        <div>
          <b-dropdown
            id="dropdown-perpages"
            variant="1"
            right
            :text="perPage"
            class="m-md-2"
          >
            <b-dropdown-item @click="perPage = '60'" class="w-100"
              >60</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '30'" class="w-100"
              >30</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '15'" active class="w-100"
              >15</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '5'" class="w-100"
              >5</b-dropdown-item
            >
          </b-dropdown>
        </div>
      </div>
    </div>
   <!-- <b-modal size="xl" hide-footer hide-header v-model="franchiseeDocIsVisible">
     <img :src="require(`${this.franchiseeDetails.contractPDF}`) " />
   
   </b-modal> -->
  </section>
</template>

<script>
import { AuthMapper } from "@/store/auth";
import { AdminBuchMapper } from "@/store/adminBuch";
import moment from "moment";
export default {
  name: "TablePersonalReports",  
  props: {
    type: String
  },
  data() {
    return {
      franchiseeDocIsVisible: false,
      // show: false,
      filter: {
        search: ""
      },

      chosenDate: undefined,

      messageTheme: "",
      perPage: "15",
      currentPage: 1,

      selectVal: {
        isActive: undefined,
        money: undefined,
        date: undefined,
        format: undefined,
        is_my: undefined
      },

      fields: [
        // {
        //   key: "number",
        //   label: "Номер",
        //   class: "personal-report-id",
        //   sortable: true,
        // },
        // {
        //   key: "turnover",
        //   label: "Оборот",
        //   class: "personal-report-turnover",
        //   sortable: true,
        // },
        // {
        //   key: "act",
        //   class: "personal-report-act",
        //   label: "Акт",
        //   sortable: true,
        // },
        // {
        //   key: "date",
        //   class: "personal-report-date",
        //   label: "Дата",
        //   sortable: true,
        // },
      ],
      items: [
        // {
        //   isActive: true,
        //   number: 1,
        //   package: "Детский сад",
        //   turnover: 1000,
        //   cost: 1000,
        //   agentIncome: 10000,
        //   franchiseeIncome: 10000,
        //   salaryMentor: 20000,
        //   act: 1,
        //   date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY")
        // },
        // {
        //   isActive: true,
        //   number: 2,
        //   package: "Начальная школа",
        //   turnover: 7000,
        //   cost: 7000,
        //   agentIncome: 20000,
        //   franchiseeIncome: 20000,
        //   salaryMentor: 30000,
        //   act: 2,
        //   date: moment("01-08-2021", "DD-MM-YYYY").format("DD.MM.YYYY")
        // }
      ]
    };
  },

  methods: {
     openContract(){
      this.franchiseeDocIsVisible = true;
    },

    clearFilter() {
      this.filter = {
        search: ""
      };

      this.selectVal = {
        isActive: undefined,
        number: undefined,
        childname: undefined,
        learning: undefined,
        age: undefined,
        foxstory: undefined,
        level: undefined,
        programm: undefined,
        date: undefined,
        format: undefined,
        is_my: undefined
      };

      this.chosenDate = undefined;
    },
    scrolltoTop() {
      this.$refs.topchild.scrollIntoView({
        behavior: "smooth",
        block: "start"
      });
    }
  },
  computed: {
    ...AdminBuchMapper.mapState(["franchiseeDetails"]),
    // ...BranchMapper.mapState(["branchChildren", "error"]),
    ...AuthMapper.mapState(["profile"]),
    rows() {
      return this.items.length;
    },
    tales() {
      let tales = [];
      this.branchChildren.forEach(child => {
        if (!tales.includes([child.tale])) {
          tales.push(child.tale);
        }
      });
      return tales;
    },

    filteredItems() {
      return this.items.filter(item => {
        let keep = true;

        if (this.selectVal.is_my != true) {
          this.selectVal.is_my = undefined;
        }

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach(key => {
          if (key == "date" && this.chosenDate != undefined) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
          }
          keep =
            keep &&
            (this.selectVal[key] === undefined ||
              item[key] === this.selectVal[key]);

          // console.log("Дата с фильтра - " + this.selectVal.date);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach(key => {
        const vals = this.items.map(item => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    }
  },
  async mounted() {
    this.fields.push({
      key: "number",
      label: "Номер",
      class: "personal-report-id",
      sortable: true
    });
    // поля агента
    if (this.type == "Agent") {
      this.fields.push({
        key: "package",
        label: "Пакет",
        class: "personal-report-package",
        sortable: true
      });
      this.fields.push({
        key: "cost",
        label: "Стоимость",
        class: "personal-report-cost",
        sortable: true
      });
      this.fields.push({
        key: "agentIncome",
        label: "Доход агента",
        class: "personal-report-agentIncome",
        sortable: true
      });
      // поля агента
    } else {
      this.fields.push({
        key: "turnover",
        label: "Оборот",
        class:
          this.type == "Child"
            ? "personal-report-turnover1"
            : "personal-report-turnover",
        sortable: true
      });
    }
    // поля франчизии
    if (this.type == "Franchisee") {
      this.fields.push({
        key: "franchiseeIncome",
        label: "Доход франчайзии",
        class: "personal-report-franchiseeIncome",
        sortable: true
      }); // поля франчизии
      // поля ментора
    } else if (this.type == "Mentor") {
      this.fields.push({
        key: "salaryMentor",
        label: "З/П Ментору",
        class: "personal-report-salaryMentor",
        sortable: true
      });
      // поля ментора
    }
    // Общие поля
    this.fields.push({
      key: "act",
      label: "Акт",
      class: "personal-report-act",
      sortable: true
    });
    this.fields.push({
      key: "date",
      label: "Дата",
      class: "personal-report-date",
      sortable: true
    });
    // Общие поля
  }
};
</script>

<style>
.table-pr-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.btn-personal-act {
  height: 30px;
  width: 225px;
}

/* стили для таблицы */
.personal-report-id {
  padding-left: 2.5rem !important;
  width: 16%;
}
td.personal-report-date {
  color: #6c6c6c;
}
.personal-report-date {
  padding-right: 1rem !important;
  width: 12%;
}
.personal-report-package {
  padding-left: 1.5rem !important;
  width: 20%;
}
.personal-report-cost,
.personal-report-agentIncome {
  text-align: center;
  width: 17%;
}
.personal-report-turnover {
  text-align: center;
}
.personal-report-turnover1 {
  text-align: center;
  width: 42%;
}
.personal-report-franchiseeIncome {
  width: 30%;
}
.personal-report-salaryMentor {
  text-align: center;
}
.personal-report-act {
  padding-left: 2.5rem !important;
}
/* стили для таблицы */
</style>
