<template>
  <div style="padding-left: 2.5rem" class="row pb-5">
    <div class="crm-base-info-wrap" style="width: 240px; margin-right: 100px">
      <p class="m-0 semi-bold-text mb-2 pb-1">Агенты</p>
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Кол-во агентов:</p>
        <p class="m-0 bold-text orange-text">
          {{ agents.length }}
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Общий оборот:</p>

        <p class="m-0 green-text">
          <span class="bold-text">{{
            numberWithSpaces(agentsInfo.totalTurnover)
          }}</span>
          P
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Доход:</p>
        <p class="m-0 orange-text">
          <span class="bold-text">{{
            numberWithSpaces(agentsInfo.totalProfit)
          }}</span>
          P
        </p>
      </div>
    </div>

    <div class="crm-base-info-wrap" style="width: 240px;  margin-right: 100px">
      <p class="m-0 semi-bold-text mb-2 pb-1">Франчазии</p>
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Кол-во франчазии:</p>
        <p class="m-0 bold-text orange-text">
          {{ franchisees.length }}
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Общий оборот:</p>
        <p class="m-0 green-text">
          <span class="bold-text">{{
            numberWithSpaces(franchiseeInfo.totalTurnover)
          }}</span>
          P
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Доход:</p>
        <p class="m-0 orange-text">
          <span class="bold-text">{{
            numberWithSpaces(franchiseeInfo.totalProfit)
          }}</span>
          P
        </p>
      </div>


    </div>

    <div class="crm-base-info-wrap" style="width: 240px">
      <p class="m-0 semi-bold-text mb-2 pb-1">Франшизы</p>
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Кол-во франшиз:</p>
        <p class="m-0 bold-text orange-text">
          {{packages.length }}
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Общий оборот:</p>
        <p class="m-0 green-text">
          <span class="bold-text">{{
            numberWithSpaces(franchiseeInfo.totalTurnover)
          }}</span>
          P
        </p>
      </div>
      <hr class="hr-branch mt-1 mb-2" />
      <div class="row justify-content-between">
        <p class="m-0 a-row-data-label">Доход:</p>
        <p class="m-0 orange-text">
          <span class="bold-text">{{
            numberWithSpaces(franchiseeInfo.totalProfit)
          }}</span>
          P
        </p>
      </div>

     


    </div>
    
    <div class="row ml-3 referens">
      <div class="row pb-1">
        <div class="col-12 mb-auto">
          <p class="m-0 a-row-data-label">Ссылка на продажу франшизы:</p>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 mb-auto">
          <button @click="copylink()" class="data-download-anketa mt-3">
            <p class="m-0">Копировать ссылку</p>
          </button>
        </div>
      </div>

      <div class="row mt-3 pb-1">
        <div class="col-12 mb-auto">
          <p class="m-0 a-row-data-label">
            Ссылка на продажу личного кабинета:
          </p>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 mb-auto">
          <button @click="copylink()" class="data-download-anketa mt-3">
            <p class="m-0">Копировать ссылку</p>
          </button>
        </div>
      </div>

    </div>
     


  </div>
</template>

<script>
import { numberWithSpaces } from "@/scripts/number";
import toast from "@/scripts/toast";
import { AuthMapper } from "@/store/auth";

export default {
  name: "BaseInfoCRM",
  props: {
    agents: {
      type: Array,
      default: () => [],
    },
    franchisees: {
      type: Array,
      default: () => [],
    },
    packages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      agentsInfo: {
        totalTurnover: 0,
        totalProfit: 0,
      },
      franchiseeInfo: {
        totalTurnover: 0,
        totalProfit: 0,
      }, 
      packageCount: 0,     
    };
  },

  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...AuthMapper.mapGetters(["role"]),    
  },

  methods: {
    numberWithSpaces,
    toast,

    copylink() {
      let value = { managerProfileId: this.profile.id };

      value =
        document.location.protocol +
        "//" +
        document.location.host +
        "/franchisee-authentification/franchisee/" +
        btoa(JSON.stringify(value));
      var copytext = document.createElement("input");
      copytext.value = value;
      document.body.appendChild(copytext);
      copytext.select();
      document.execCommand("copy");
      document.body.removeChild(copytext);

      this.toast("Успех", "Ссылка скопирована в буфер обмена", "success");
    },

    allPackages() {

    }
  },


  
};
</script>

<style>

.referens {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.data-download-anketa {
  border: unset;
  background: #4d4db8;
  border-radius: 3px;
  height: 30px;
  width: 180px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}



</style>
