<template>
  <div class="row px-3 mt-4 row-franch-info">
    <!-- первый стобец с информацией по оборотам филиала -->
    <div class="relative-block" style="width: 400px; height: 200px">
      <div
        id="wrap-info"
        class="wrap-info relative-block pointer"
        :class="{ 'border-show': toggleHeight }"
      >
        <div class="wrap-info-inner pt-2" v-show="!toggleHeight">
          <div class="circ-wrap">
            <div class="row px-3">
              <p class="base-info-text w-75">{{ circulationGroup[0].name }}:</p>

              <p
                :class="{ 'first-curc': circulationGroup[0].green_text }"
                class="base-info-text orange-text text-right w-25"
              >
                <span class="bold-text">{{
                  numberWithSpaces(circulationGroup[0].Circulation)
                }}</span>
                Р
              </p>
            </div>
            <div class="row px-3">
              <p class="base-info-text w-75 m-0">Доход:</p>

              <p class="base-info-text orange-text text-right w-25 my-1">
                <span class="bold-text">{{
                  numberWithSpaces(circulationGroup[0].Profit)
                }}</span>
                Р
              </p>
            </div>
          </div>
        </div>
        <div class="wrap-info-inner pt-2" v-show="toggleHeight">
          <div
            v-for="circ in circulationGroup"
            :key="circ.id"
            :index="circ.id"
            class="circ-wrap"
          >
            <div class="row px-3">
              <p class="base-info-text w-75">{{ circ.name }}:</p>

              <p
                :class="{ 'first-curc': circ.green_text }"
                class="base-info-text orange-text text-right w-25"
              >
                <span class="bold-text">{{
                  numberWithSpaces(circ.Circulation)
                }}</span>
                Р
              </p>
            </div>
            <div class="row px-3">
              <p class="base-info-text w-75 m-0">Доход:</p>

              <p class="base-info-text orange-text text-right w-25 my-1">
                <span class="bold-text">{{
                  numberWithSpaces(circ.Profit)
                }}</span>
                Р
              </p>
            </div>
            <hr class="info-hr m-3" />
          </div>
        </div>

        <div class="row py-2 justify-content-end">
          <button
            @click="changeHeight()"
            class="btn-invisible-button flex-btn pr-2"
          >
            <p class="m-0">{{ showCategories }} категории</p>
            <img
              :class="{ rotate180: toggleHeight }"
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="arrow-diagramm ml-2 mr-1"
            />
          </button>
        </div>
      </div>
    </div>
    <!-- первый стобец с информацией по оборотам филиала -->

    <!-- второй столбец с простой числовой инфомрацией по группам и менторам -->
    <div style="max-width: 320px" class="col my-auto ml-5">
      <div class="row">
        <p class="base-info-text w-75 my-2">Общее кол-во детей:</p>

        <p class="base-info-text my-2 w-25 text-right">
          <span class="bold-text orange-text">{{ childCount }}</span>
        </p>
      </div>
      <hr class="w-100 m-0 hr-branch" />
      <div class="row">
        <p class="base-info-tex w-75 my-2">Общее кол-во менторов:</p>

        <p class="base-info-text my-2 w-25 text-right">
          <span class="bold-text orange-text">{{ mentorCount }}</span>
        </p>
      </div>
    </div>
    <div style="max-width: 320px" class="col pr-4 my-auto">
      <div class="row">
        <p class="pl-3 base-info-text w-75 my-2">Общее кол-во групп:</p>

        <p class="base-info-text my-2 w-25 text-right">
          <span class="bold-text orange-text">{{ groupCount }}</span>
        </p>
      </div>
      <div class="row">
        <hr class="w-100 m-0 pl-3 hr-branch" />
      </div>
      <div class="row">
        <p class="pl-3 base-info-text w-75 my-2">Кол-во филиалов:</p>

        <p class="base-info-text my-2 w-25 text-right">
          <span class="bold-text orange-text">{{ branchCount }}</span>
        </p>
      </div>
    </div>
    <!-- второй столбец с простой числовой инфомрацией по группам и менторам -->
  </div>
</template>

<script>
import { numberWithSpaces } from "@/scripts/number";
import { FranchiseeMapper } from "@/store/franchisee";
export default {
  name: "BaseInfoFranchiseeAnalytics",
  props: {
    branchCount: {
      type: Number,
      default: 0
    },
    childCount: {
      type: Number,
      default: 0
    },
    groupCount: {
      type: Number,
      default: 0
    },
    mentorCount: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      toggleHeight: false,
      showCategories: "Показать",
      // числовая информация о детях
      baseInfoFilial: {
        childCount: 0,
        menthorCount: 0,
        groupCount: 0,
        filialCount: 0
      },
      //   информация о прибыли и обороте
      circulationGroup: [
        {
          id: 1,
          name: "Общий оборот",
          Circulation: 0,
          Profit: 0,
          green_text: true
        },
        {
          id: 2,
          name: "Общий оборот по тренингам",
          Circulation: 0,
          Profit: 0
        },
        {
          id: 3,
          name: "Оборот по интернет магазину",
          Circulation: 0,
          Profit: 0
        },
        // {
        //   id: 4,
        //   name: "Оборот по Рюкзачкам к Fox Story",
        //   Circulation: 40000,
        //   Profit: 10000,
        // },
        {
          id: 4,
          name: "Оборот по программам",
          Circulation: 0,
          Profit: 0
        }
      ]
    };
  },

  computed: {
    ...FranchiseeMapper.mapState(["error", "branches"])
  },

  methods: {
    numberWithSpaces,
    ...FranchiseeMapper.mapActions(["getBranches"]),
    changeHeight() {
      this.toggleHeight = !this.toggleHeight;

      if (this.toggleHeight == true) {
        this.showCategories = "Скрыть";
      } else {
        this.showCategories = "Показать";
      }
    }
  }
};
</script>

<style>
.base-info-text {
  font-size: 1rem;
  /* margin-top: 0.5vh; */
  margin: 10px 0;
  line-height: 20px;
}
.bold-text {
  font-weight: bold;
}
.wrap-info {
  z-index: 10;
  width: 100%;
  transition: 1s ease;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  border: 1px solid transparent;
}
.wrap-info-inner {
  height: 100%;
  overflow: hidden;
}
.flex-btn {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.info-hr {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  border: 1px solid #d1d1d1;
}
.border-hide {
  border: 1px solid transparent;
}
.border-show {
  border: 1px solid #000 !important;
}

.row-franch-info {
  height: 125px;
}
.arrow-diagramm {
  height: 15px;
  margin: 0;
}
.first-curc {
  color: #1c8845 !important;
}
</style>
