<template>
  <section id="ftanchisee-branches-table">
    <div
      class="row pr-5 my-4 justify-content-between"
      style="padding-left: 2.5rem"
    >
      <div class="dropdown my-auto" style="width: 200px">
        <button
          class="btn py-1 w-100 btn-filter dropdown-toggle"
          type="button"
          id="diagramm-programm-sort"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p v-if="selectVal.region == undefined" class="m-0">Регион</p>
          <p v-else class="m-0">{{ selectVal.region }}</p>
        </button>
        <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
          <a
            v-for="(region, i) in regions"
            :key="i"
            @click="selectVal.region = region"
            class="dropdown-item text-truncate"
            href="#"
            >{{ region }}</a
          >
        </div>
      </div>

      <div class="dropdown my-auto" style="width: 200px">
        <button
          class="btn py-1 w-100 btn-filter dropdown-toggle"
          type="button"
          id="diagramm-programm-sort"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p v-if="selectVal.totalTurnover == undefined">Оборот филиала</p>
          <p v-else>{{ selectVal.totalTurnover }}</p>
        </button>
        <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
          <a
            @click="selectVal.totalTurnover = 40000"
            class="dropdown-item"
            href="#"
            >40000</a
          >
          <a
            @click="selectVal.totalTurnover = 20000"
            class="dropdown-item"
            href="#"
            >20000</a
          >
          <a
            @click="selectVal.totalTurnover = 100000"
            class="dropdown-item"
            href="#"
            >100000</a
          >
        </div>
      </div>

      <div class="dropdown my-auto" style="width: 200px">
        <button
          class="btn py-1 w-100 btn-filter dropdown-toggle"
          type="button"
          id="diagramm-programm-sort"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p v-if="selectVal.package == undefined">Пакет</p>
          <p v-else>{{ selectVal.package }}</p>
        </button>
        <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
          <a
            @click="selectVal.package = 'Старшая школа'"
            class="dropdown-item"
            href="#"
            >Старшая школа</a
          >
          <a
            @click="selectVal.package = 'Начальная школа'"
            class="dropdown-item"
            href="#"
            >Начальная школа</a
          >
          <a
            @click="selectVal.package = 'Детский сад'"
            class="dropdown-item"
            href="#"
            >Детский сад</a
          >
        </div>
      </div>

      <div class="dropdown my-auto" style="width: 200px">
        <button
          class="btn py-1 w-100 btn-filter dropdown-toggle"
          type="button"
          id="diagramm-programm-sort"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <p v-if="selectVal.status == undefined">Статус</p>
          <p v-else-if="selectVal.status == 0">Активен</p>
          <p v-else>Заблокирован</p>
        </button>
        <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
          <a @click="selectVal.status = 0" class="dropdown-item" href="#"
            >Активен</a
          >
          <a @click="selectVal.status = 1" class="dropdown-item" href="#"
            >Заблокирован</a
          >
        </div>
      </div>
    </div>

    <!-- сама таблица -->

    <div class="row w-100 mt-3 table-analytics">
      <b-table
        hover
        ref="topchild"
        id="menthors-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        @row-clicked="clickRow"
        class="pointer"
        sort-icon-left
      >
        <template #cell(branchname)="row">
          <p class="m-0 blue-text">
            {{ row.value }}{{ row.item.main ? " (Онлайн)" : "" }}
          </p>
        </template>
        <template #cell(status)="row">
          <p v-if="row.value == 0" class="m-0 green-text">Активен</p>
          <p v-else-if="row.value == 1" class="m-0 red-text">Заблокирован</p>
        </template>

        <template #cell(show_details)="row">
          <button
            :id="`show_details_btn_${row.item.id}`"
            @click="row.toggleDetails"
            class="btn-invisible-button btn-details-height"
          >
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="img-fluid"
            />
          </button>
        </template>
        <template #cell(fire_branch)="row">
          <button 
            v-if="role != 'SalesManager'"
            @click="
              $bvModal.show('modal-fire-branch');
              branch = row.item;
            "
            data-toggle="tooltip"
            data-placement="bottom"
            title="Заблокировать"
            class="btn-invisible-button btn-fired"
          >
            <img
              src="@/assets/img/admin-icons/fire-ellipse.png"
              alt=""
              class="fired-icon"
            />
          </button>
        </template>

        <template #row-details="row">
          <div class="row" style="padding-left: 2.5rem">
            <div style="width: 250px">
              <div class="row justify-content-between">
                <p class="my-1">Общее кол-во групп:</p>

                <p class="my-1 text-right orange-text">
                  <span class="bold-text">{{ row.item.groupsCount }}</span>
                </p>
              </div>

              <div class="row">
                <hr class="hr-branch w-100 mb-1 m-0" />
              </div>
              <div class="row justify-content-between">
                <p class="my-1">Общее кол-во менторов:</p>

                <p class="my-1 text-right orange-text">
                  <span class="bold-text">{{ row.item.menthorsCount }}</span>
                </p>
              </div>
            </div>
            <div style="width: 275px; margin-left: 100px">
              <div class="row justify-content-between">
                <p class="my-1">Оборот по филиалу:</p>

                <p class="my-1 text-right orange-text">
                  <span class="bold-text">{{
                    numberWithSpaces(row.item.totalTurnover)
                  }}</span>
                  P
                </p>
              </div>

              <div class="row">
                <hr class="hr-branch w-100 mb-1 m-0" />
              </div>

              <div class="row justify-content-between">
                <p class="my-1">Общее кол-во детей:</p>

                <p class="my-1 w-25 text-right orange-text">
                  <span class="bold-text">{{ row.item.childCount }}</span>
                </p>
              </div>
            </div>
          </div>
          <button
            @click="branchData(row.item.id)"
            Class="button-more-info mt-4 mb-2"
            style="margin-left: 2.5rem"
          >
            <p>Подробнее</p>
          </button>
          <button
            v-if="role === 'Admin' && !row.item.main && !$route.params.id"
            @click="$emit('make-main', row.item.branchId)"
            Class="button-more-info btn-make-main mt-4 mb-2"
            style="margin-left: 2.5rem"
          >
            <p>Сделать Онлайн</p>
          </button>
        </template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
    <div
      class="row w-100 justify-content-between pr-4 pb-4"
      style="padding-left: 2.5rem"
    >
      <a href="#" class="blue-link my-auto" @click="clearFilter"
        >Сбросить фильтры</a
      >

      <div class="row">
        <p class="my-auto">Показывать по</p>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
    <ModalConfirmation @ok="fireBranch" />
  </section>
</template>

<script>
import { numberWithSpaces } from "@/scripts/number";
import ModalConfirmation from "@/components/franchisee/analytics/more-info/modalConfirmation.vue";
import moment from "moment";
import { AuthMapper } from "@/store/auth";

export default {
  name: "TableBranches",
  components: { ModalConfirmation },
  props: {
    branches: {
      type: Array,
      default: function () {
        return [];
      },
    },
    linkName: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      messageTheme: "",
      perPage: "10",
      currentPage: 1,
      ban: false,
      branch: {},
      rowId: 0,
      selectVal: {
        isActive: undefined,
        status: undefined,
        region: undefined,
        totalTurnover: undefined,
        package: undefined,
      },
      fields: [
        {
          key: "branchname",
          label: "Наименование",
          class: "franchisee-branch-name",
          sortable: false,
        },
        {
          key: "region",
          label: "Регион",
          class: "franchisee-branch-region",
          sortable: false,
        },
        {
          key: "status",
          label: "Статус",
          class: "franchisee-branch-status",
          sortable: true,
        },
        {
          key: "ban_branch",
          class: "franchisee-ban",
          label: "",
        },
        {
          key: "show_details",
          class: "franchisee-show-details",
          label: "",
        },
        {          
          key: "fire_branch",
          class: "fire-branch",
          label: "",
        },
      ],
    };
  },
  computed: {
    ...AuthMapper.mapGetters(["role"]),
    items() {
      return this.branches.map((branch) => {
        let item = {
          isActive: true,
          branchId: branch.id,

          id: branch.account.id,
          branchname: branch.name,
          status: branch.account.ban ? 1 : 0,
          region: branch.region,
          groupsCount: branch.groups,
          menthorsCount: branch.mentors,
          totalTurnover: branch.all,
          childCount: branch.children,
          main: branch.main ?? false,

          _showDetails: false,
        };
        return item;
      });
    },
    regions() {
      let regions = [];
      this.branches.forEach((branch) => {
        if (!regions.includes([branch.region])) {
          regions.push(branch.region);
        }
      });
      return regions;
    },
    rows() {
      return this.items.length;
    },

    filteredItems() {
      return this.items.filter((item) => {
        let keep = true;

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          if (key == "date" && this.chosenDate != undefined) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
          }
          keep =
            keep &&
            (this.selectVal[key] === undefined ||
              item[key] === this.selectVal[key]);

          // console.log("Дата с фильтра - " + this.selectVal.date);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
  methods: {
    clickRow(item) {
      document.getElementById(`show_details_btn_${item.id}`).click();
      console.log(item);
    },
    numberWithSpaces,
    clearFilter() {
      this.selectVal = {
        isActive: undefined,
        status: undefined,
        region: undefined,
        totalTurnover: undefined,
      };

      this.chosenDate = undefined;
    },

    scrolltoTop() {
      this.$refs.tableStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },

    async branchData(id) {
      this.$router.push({
        name: this.linkName,
        params: { id: id },
      });
    },

    async fireBranch() {
      this.$emit("ban", {
        id: this.branch.id,
        data: { ban: true },
      });
    },
  },
};
</script>

<style>
th {
  font-weight: 400;
}
td {
  font-weight: 600;
}
.btn-details-height {
  width: 15px;
}
.fired-icon {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.franchisee-branch-name {
  width: 35%;
  padding-left: 2.5rem !important;
}
.franchisee-branch-region {
  width: 35%;
}
.franchisee-branch-status {
  width: 20%;
}
.franchisee-show-details {
  padding-right: 2rem !important;
}
.button-more-info {
  width: 115px;
  height: 30px;
  padding: 0;
  border: 1px solid #00000006;
  background: #249ddd;
  border-radius: 3px;
  transition: 0.5s ease;
}
.btn-make-main {
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.button-more-info > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.button-more-info:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.button-more-info:focus {
  transform: scale(1.05);
}

.blue-link {
  color: #0038ff;
}
.blue-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
</style>
