<template>
  <div class="modal-content content-training">
    <!-- Шапка модального окна -->
    <div class="modal-header p-0">
      <div class="row training-header w-100">
        <div class="col-md-11 my-auto">
          <p class="ml-2">Добавление бизнес термина</p>
        </div>
        <div class="col-md-1 pl-0 my-auto">
          <button
            type="button"
            class="close rotate-90 pointer"
            aria-label="Close"
            @click="$emit('close')"
          >
            <img src="@/assets/img/icons/close-icon.png" class="img-fluid" />
          </button>
        </div>
      </div>
    </div>
    <!-- Шапка модального окна -->
    <div class="modal-body overflow-auto px-0">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="text"
              placeholder="Название термина"
              class="form-control mt-2"
              v-model="term.name"
            />
            <textarea
              class="form-control mt-2 deny-textarea"
              id="denytextarea"
              placeholder="Описание термина для всех"
              v-model="term.descriptionGeneral"
            ></textarea>
            <textarea
              class="form-control mt-2 deny-textarea"
              id="denytextarea"
              placeholder="Описание термина для дет сада"
              v-model="term.description1"
            ></textarea><textarea
              class="form-control mt-2 deny-textarea"
              id="denytextarea"
              placeholder="Описание термина для начальной школы"
              v-model="term.description2"
            ></textarea><textarea
              class="form-control mt-2 deny-textarea"
              id="denytextarea"
              placeholder="Описание термина для средней школы"
              v-model="term.description3"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <b-button class="btn my-auto form__button" @click="addTerm">
            <p class="m-0">Создать</p>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { MentorMapper } from "@/store/mentor";

export default {
  name: "ModalAddTerm",
  props: ["showModal"],
  data() {
    return {
      term: {
        name: "",
        descriptionGeneral: "",
        description1: "",
        description2: "",
        description3: "",
      },

    };
  },
  computed: {
    ...MentorMapper.mapState(["ageCategory"]),
  },
  methods: {
    async addTerm() {
      this.$emit("add", this.term);
    },
  },
};
</script>
