<template>
  <section id="GroupDictionary" class="mt-3 pt-3 ml-4 dictionary-no-scroll">
    <div
      class="row w-100 no-wrap"
      v-for="term in terms"
      :key="term.id"
      :index="term.id"
    >
      <div class="col-md-12 my-auto">
        <div class="row">
          <p class="dictionary-text m-0">
            <span class="text-bolder">{{ term.name }} - </span>
            {{ getTermDescription(term) }}
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <hr class="my-3 dictionary-hr w-100" />
            <hr class="my-3 invisible" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { MentorMapper } from "@/store/mentor";

export default {
  name: "Terms",

  computed: {
    ...MentorMapper.mapState(["age", "terms"]),
    
  },
  methods:{
    getTermDescription(term) {
      let text = [];
     if (term.descriptionGeneral) {
       text.push(term.descriptionGeneral);
     }
     if (term.description1) {
       text.push(term.description1);
     }
     if (term.description2 && this.childMe.age > 7) {
       text.push(term.description2);
     }
     if (term.description3 && this.childMe.age > 12) {
       text.push(term.description3);
     }
     return text.join(" | ");
   },
  }
};
</script>

<style>
</style>