<template>
  <div class="row mt-2">
    <div class="col">
      <div class="child-data-color pt-2">
        <p class="m-0 pl-3 data-header">Общие данные</p>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Возраст:</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">{{ child.age }}</p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Родитель:</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">
              <a href="#" class="child-link"
                >{{ child.parent.second_name }} {{ child.parent.name }}
                {{ child.parent.last_name }}</a
              >
            </p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Франчайзи:</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">
              <a href="#" class="child-link my-1">{{
                childInfo.childFranchize
              }}</a>
            </p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3">
            <p class="my-1">Филиал:</p>
          </div>
          <div class="col semi-bold-text">
            <p class="my-1">
              <a href="#" class="child-link">{{ childInfo.childFilial }}</a>
            </p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Ментор:</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">
              <a href="#" class="child-link"
                >{{ child.mentor.second_name }} {{ child.mentor.name }}
                {{ child.mentor.last_name }}</a
              >
            </p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Группа:</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">{{ child.group }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col mx-5">
      <div class="child-data-color h-100 pt-2">
        <div class="row">
          <div class="col-8 text-left">
            <p class="m-0 data-header">Данные обучения</p>
          </div>
          <div class="col text-right">
            <router-link class="child-link">Архив (0)</router-link>
          </div>
        </div>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Программа</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">{{ childInfo.childProgramm }}</p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Fox-story</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">{{ childInfo.childFoxtale }}</p>
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Уровень</p></div>
          <div class="col semi-bold-text">
            <p class="my-1">{{ childInfo.childLevel }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-7">
            <button class="agent-file-load py-2 w-100">Открыть чат</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AdminMapper } from "@/store/admin";
export default {
  name: "ChildBaseInfo",
  data() {
    return {
      childArchiveCount: 3,

      childInfo: {
        childAge: 10,
        childParent: "",
        childFranchize: "",
        childFilial: "",
        childMenthor: "",
        childGroup: "",

        childProgramm: "",
        childFoxtale: "",
        childLevel: ""
      }
    };
  },
  computed: {
    ...AdminMapper.mapState(["error", "child"])
  }
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
</style>
