<template>
  <section id="table-child-foxstory">
    <div class="row w-100 table-analytics child-foxstory-height">
      <b-table
        borderless
        hover
        id="child-foxtale-table"
        :items="items"
        :fields="fields"
      >
        <template #cell(foxstory)="row">
          <div class="row h-100">
            <p class="my-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(level)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(date)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(answers)>
          <button
            @click="$router.push({ path: 'childprogress' })"
            class="agent-file-load w-75 py-1"
          >
            Ответы
          </button>
        </template>
      </b-table>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableChildLevel",
  data() {
    return {
      fields: [
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-foxtale-foxstory",
          sortable: false,
        },
        {
          key: "level",
          label: "Уровень",
          class: "child-foxtale-level",
          sortable: true,
        },
        {
          key: "date",
          label: "Дата прохождения",
          class: "child-foxtale-date",
          sortable: true,
        },
        {
          key: "answers",
          label: "",
          class: "child-foxtale-answers",
          sortable: false,
        },
      ],
      items: [
        {
          isActive: true,
          id: 1,
          foxstory: "Домашние дела",
          level: "Gold fox",
          date: moment("15-12-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          foxstory: "Как лисёнок победил лень?",
          level: "Silver fox",
          date: moment("04-10-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          foxstory: "Где живут деньги?",
          level: "Silver fox",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
      ],
    };
  },
};
</script>

<style>
.child-foxtale-foxstory {
  width: 40%;
}
.child-foxtale-level {
  width: 20%;
  text-align: center;
}
.child-foxtale-date {
  width: 25%;
  text-align: center;
}
.child-foxtale-answers {
  text-align: center;
}
</style>