<template>
  <section id="top-tale-menu">
    <div class="container-fluid">
      <div class="row w-100 menu-row align-items-center">
        <div class="col-1 my-auto text-center">
          <img
            src="@/assets/img/icons/burger-icon.svg"
            alt=""
            class="my-auto w-25"
          />
        </div>
        <div class="col">
          <img
            src="@/assets/img/pictures/BusinessFox.png"
            alt=""
            class="logo-img"
          />
        </div>
        <div class="col-2 relative-block">
          <p class="top-menu-slogan absolute-block business-text-position">
            бизнес
          </p>
          <p class="top-menu-slogan">
            -практика с <span class="big-number">5</span> лет
          </p>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-2 pr-2 text-right">
              <p class="balance-text">65</p>
            </div>
            <div class="col-1 my-auto p-0">
              <img src="@/assets/img/icons/F.svg" alt="" class="w-75" />
            </div>
            <div class="col relative-block my-auto">
              <img
                src="@/assets/img/icons/credit_card.png"
                alt=""
                class="img-fluid absolute-block top-image"
              />
              <b-progress
                :value="65"
                variant="warning"
                striped
                :animated="animate"
                class="progress-bar-money"
              ></b-progress>
            </div>
          </div>
        </div>
        <div class="col-1">
          <img
            src="@/assets/img/icons/border_avatar.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "PageTopMenu",
  data() {
    return {
      animate: true,
    };
  },
};
</script>

<style scoped>
#top-tale-menu {
  background: #ffffff;
}
.menu-row {
  height: 85px;
}
.logo-img {
  width: 150px;
}
.top-menu-slogan {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: bold;
}
.big-number {
  font-size: 30px;
  font-weight: 500;
}
.business-text-position {
  top: 0;
}
.balance-text {
  font-family: "Gilroy";
  font-size: 25px;
  font-weight: bold;
}
.top-image {
  z-index: 1000;
  top: -10px;
}
.progress-bar-money {
  height: 30px;
  border: 5px solid #ffde3b;
  border-radius: 50px;
}
</style>