<template>
  <div class="contaiter-fluid mt-3" v-if="series.reduce((a, b) => a + b)">
    <div class="row">
      <div class="col-3 p-0">
        <apexchart type="donut" :options="options" :series="series"></apexchart>
      </div>
      <div
        class="col"
        style="justify-content: center; display: flex; flex-flow: column"
      >
        <b-form-datepicker
          class="top-input date-width flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          v-model="date"
          :reset-value="null"
          label-reset-button="Сбросить"
          reset-button
          @input="changeDate"
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
        ></b-form-datepicker>
        <div class="row mt-4">
          <div class="col-4 pl-0">
            <p class="packets-naming m-0 mb-2">Online-пакеты</p>
            <div
              v-for="pack in info.slice(0, 3)"
              :key="pack.id"
              :index="pack.id"
              class="row align-items-center mb-2"
            >
              <div
                v-if="pack.count > 0"
                :style="{ background: options.colors[pack.id - 1] }"
                class="square-legend"
              ></div>
              <div
                v-else
                class="square-legend"
                style="background: #aaaaaa"
              ></div>
              <p class="package-name m-0">{{ pack.name }}</p>
            </div>
          </div>
          <div class="col">
            <p class="packets-naming m-0 mb-2">Offline-пакеты</p>
            <div
              v-for="pack in info.slice(3, 7)"
              :key="pack.id"
              :index="pack.id"
              class="row align-items-center mb-2"
            >
              <div
                v-if="pack.count > 0"
                :style="{ background: options.colors[pack.id - 1] }"
                class="square-legend"
              ></div>
              <div
                v-else
                class="square-legend"
                style="background: #aaaaaa"
              ></div>
              <p class="package-name m-0">{{ pack.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DiagrammAnalytics",

  props: {
    info: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      date: null,
      options: {
        colors: [
          "#67B42B",
          "#FFC615",
          "#FD5A3E",
          "#71c9e4",
          "#0038ff",
          "#4d4db8",
        ],
        dataLabels: {
          enabled: false,
        },
        plotOptions: {
          pie: {
            expandOnClick: false,
            customScale: 0.8,
            donut: {
              size: "30%",
              labels: {
                show: false,
              },
            },
          },
        },
        tooltip: {
          custom: (series) => {
            let data = this.info[series.seriesIndex];
            let color = this.options.colors[series.seriesIndex];
            return `<div class="text-white p-3" style="background-color:${color}">
                        <p class="font-weight-bold text-shadow">${data.name}</p>
                        <p>Пакетов: ${data.count}</p>
                        <p>Доход: ${data.income}  Р</p>
                    </div>`;
          },
        },
        legend: {
          show: false,
        },
      },
    };
  },
  computed: {
    series() {
      return this.info.map((pack) => pack.income);
    },
  },
  methods: {
    changeDate() {
      console.log("before");
      this.$emit("date-change", this.date);
    },
  },
};
</script>

<style>
/* .apexcharts-legend {
  display: none !important;
} */
.btn-diagramm {
  display: flex;
  flex-flow: row nowrap;
  background-color: #c4c4c4;
  justify-content: space-between;
  align-items: center;
}
/* .btn-diagramm p,
.dropdown-menu a {
  font-size: 0.7rem;
} */
.dropdown-menu {
  background-color: #e4e4e4;
  width: 100%;
}
.dropdown .dropdown-menu {
  animation-name: example;
  animation-duration: 0.5s;
}
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-diagramm p {
  padding-left: 1em;
  font-weight: 500;
}
.arrow-diagramm {
  width: 20px;
}
.package-name {
  color: #2b2a29;
  font-size: 16px;
}
.packets-naming {
  font-size: 16px;
  color: #2b2a29;
}
.img-square {
  height: 18px;
  width: auto;
}
.gray-filter-diagramm {
  filter: contrast(0.2);
}
.diagramm-height {
  height: 250px;
}
.date-width {
  width: 145px !important;
}

.chart-stuff {
  background: #ffffff;
  height: 65px;
  width: 220px;

  padding-left: 10px;
  padding-right: 10px;
}

.chart-stuff > div > p {
  font-family: Montserrat;
  color: #2b2a29;
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  width: 100%;
}
.bold-text {
  font-weight: 600 !important;
}
.square-legend {
  border-radius: 3px;
  width: 16px;
  height: 16px;

  margin-right: 10px;
}

.red-diagramm-icon {
  background: #67b42b;
}
.yellow-diagramm-icon {
  background: #ffc615;
}
.green-diagramm-icon {
  background: #fd5a3e;
}
.blue-diagramm-icon {
  background: #71c9e4;
}
.veryblue-diagramm-icon {
  background: #0038ff;
}
.violet-diagramm-icon {
  background: #4d4db8;
}
</style>
