<template>
  <section id="children-tab">
    <DropdownFilters />

    <div class="row w-100 mt-3 table-analytics height-children">
      <b-table
        borderless
        hover
        ref="topchild"
        id="children-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        @row-clicked="pushToChild()"
        table-class="pointer"
      ></b-table>
    </div>
    <div class="row justify-content-center mt-2">
      <!-- @page-click="scrolltoTop" -->
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="children-table"
        class="m-0"
      ></b-pagination>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import DropdownFilters from "@/components/admin/branch/info/tab-children/DropdownFilters.vue";
export default {
  name: "TableChildren",
  props: {
    isAppend: Boolean,
  },
  components: { DropdownFilters },
  data() {
    return {
      messageTheme: "",
      perPage: 10,
      currentPage: 1,
      fields: [
        {
          key: "id",
          label: "№",
          class: "child-id",
          sortable: true,
        },
        {
          key: "childname",
          label: "ФИО",
          class: "child-name",
          sortable: false,
        },
        {
          key: "age",
          label: "Возраст",
          class: "child-age",
          sortable: true,
        },
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-foxstory",
          sortable: false,
        },
        {
          key: "level",
          label: "Уровень",
          class: "child-level",
          sortable: true,
        },
        {
          key: "programm",
          label: "Программа",
          class: "child-programm",
          sortable: false,
        },
        {
          key: "date",
          label: "Дата",
          class: "child-date",
          sortable: true,
        },
      ],
      items: [
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 1,
          childname: "Иванов И.И.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Silver fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 2,
          childname: "Петорова Н.В.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Gold fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
        {
          isActive: true,
          id: 3,
          childname: "Иванова Г.Л.",
          age: 10,
          foxstory: "Домашние дела",
          level: "Platinum fox",
          programm: "ferst idea(7-11)",
          date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        },
      ],
    };
  },
  methods: {
    scrolltoTop() {
      this.$refs.topchild.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },

    //Структура путей тут довольно сложная и на разных страницах
    //- разная. Поэтому сделал такой простенький скрипт, где на
    //странице филиала путь подставляется в роут,
    //а в других случаях он заменяет изначальный путь
    pushToChild() {
      if (document.location.pathname == "/branch/analytics") {
        this.$router.push({ path: "child", append: true });
      } else {
        this.$router.push({ path: "child", append: false });
      }
    },
  },
  computed: {
    rows() {
      return this.items.length;
    },
  },
};
</script>

<style>
.child-id {
  width: 7%;
}
.child-age {
  width: 9%;
  text-align: center;
}
.child-foxstory {
  text-align: center;
}
.child-level {
  width: 12%;
}
.child-date {
  width: 9%;
  text-align: right;
}
</style>