<template>
  <section class="card-section px-2">
    <div
      class="wrap-card-fe relative-block text-center mt-auto"
      :class="{ open: card.open }"
    >
      <img
        :src="require(`@/assets/${card.img_card}`)"
        alt=""
        class="img-card-fe"
        :class="card.img_class"
      />

      <button
        class="absolute-block rotate90 arrow-game2-2"
        :class="{ open: card.open }"
        @click="openCard"
      >
        <img
          :id="card.id_arrow"
          alt=""
          src="@/assets/img/pictures/arrow-down.svg"
        />
      </button>
      <button
        class="absolute-block volume-game2-2 btn-invisible-button"
        @click="$emit('sound', card.id)"
      >
        <img
          :id="card.id_sound"
          src="@/assets/img/icons/sound.svg"
          alt=""
          class="img-fluid"
        />
      </button>
    </div>
    <div class="card-descr" :class="{ open: card.open }">
      <p class="card-text-fe">{{ card.name_card }}</p>
      <p class="descr-text text-center">
        {{ card.descr_text }}
      </p>
    </div>
  </section>
</template>

<script>
export default {
  name: "Card",
  props: {
    card: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      open: false,
    };
  },
  methods: {
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    openCard() {
      this.$emit("open", !this.card.open);
    },
  },
};
</script>

<style>
.babysitter-margin {
  margin-top: 22px;
}
.volume-game2-2 {
  top: 5%;
  left: 5%;
  width: 7%;
}
.arrow-game2-2 {
  bottom: 2%;
  right: 3%;
  opacity: 0.7;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  background: none;
  border: none;
}
.arrow-game2-2 > img {
  width: 16px;
  height: 16px;
  opacity: 0.4;
}
.arrow-game2-2.open {
  transform: rotate(180deg);
}
.card-text-fe {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 15%;
  line-height: normal;
  color: #2b2a29;
}
.card-section {
  width: 210px;
  margin-top: 15px;
  z-index: 1;
}
.wrap-card-fe {
  background-color: #71c9e4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 15px #0000004a;
  height: 75%;
  width: 190px;
  z-index: 10;
}
.img-card-fe {
  -o-object-fit: contain;
  object-fit: contain;
  height: 80%;
  width: 90%;
}
.wrap-card-fe.open {
  background-color: #ffffff;
}
.card-descr {
  height: fit-content;
  width: 98%;
  background: #eeeeee;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transform: translateY(-100%) scaleX(0.95);
}
.card-descr.open {
  transform: translateY(-25%);
}

.descr-text {
  margin: 0;
  padding: 4% 8%;
  padding-top: 0;
  align-items: center;
  transition: 0.5s ease;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: #9c9c9b;
}
/* 
@media (max-width: 950px) {
  .card-descr.open {
    transform: translateY(-35%) scaleX(0.95);
  }
  .descr-text {
    padding-top: 30%;
    font-size: 0.5rem;
    line-height: 0.6rem;
  }
  .img-card-fe {
    object-fit: contain;
    height: 60%;
    width: 80%;
  }
  .card-text-fe {
    font-size: 0.8rem;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .card-section {
    flex: 0 0 33%;
    justify-content: center;
    align-items: center;
    width: 210px;
    margin-top: 15px;
  }

  .wrap-card-fe {
    margin: auto;
  }
  .card-descr {
    width: 185px;
    margin: auto;
  }

  .card-text-fe {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    padding-top: 17%;
    margin-bottom: 0;
  }
  .descr-text {
    padding: 4% 4%;
    font-size: 13px;
    line-height: 15px;
  }
}
</style>