<template>
  <b-modal
    id="modal-tale"
    size="xl"
    body-class="modal-tale-body"
    :title="tale.name"
    hide-footer
  >
    <div class="path-block" v-if="tale.tasks">
      <div
        class="task"
        v-for="(task, i) in tale.tasks"
        :key="i"
        :class="{ locked: task.page > tale.pages, success: task.success }"
      >
        <div class="task-arrow">
          <img
            src="@/assets/img/icons/down-arrow.svg"
            alt="arrow"
            v-if="
              task.id == tale.tasks.filter((item) => item.accept).length &&
              task.id % 3 != 1
            "
          />
        </div>
        <div @click="i != 0 && $emit('answers', task)" class="task-card">
          <img
            :src="
              require(`@/assets/img/tale-path/tale${tale.number}/${i + 1}.png`)
            "
            alt=""
          />
          <div class="task-status">
            <img
              :src="
                task.id == 1
                  ? require('@/assets/img/task-map/read.svg')
                  : task.success
                  ? require('@/assets/img/task-map/completed.svg')
                  : require('@/assets/img/task-map/locked.svg')
              "
              alt="status"
            />
          </div>
          <p
            class="mb-0"
            style="margin-top: 12px"
            v-if="task.name == 'Read Fox Story'"
          >
            {{ task.name.split(" ")[0] }}
          </p>
          <p class="m-0" v-if="task.name == 'Read Fox Story'">
            {{ `${task.name.split(" ")[1]} ${task.name.split(" ")[2]}` }}
          </p>
          <p v-else class="mb-0" style="margin-top: 12px">
            {{ task.name }}
          </p>
          <div class="coins" style="margin-top: 8px" v-if="task.target">
            <p>
              <span style="color: #706f6f">{{ task.coins }}</span
              >/{{ task.target }}
            </p>
            <img src="@/assets/img/icons/fox-coin.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "ModalTale",
  props: {
    tale: {
      type: Object,
    },
  },
};
</script>

<style>
.modal-tale-body {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<style scoped>
.overlay-progress {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.path-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.path-block {
  width: 80%;
  height: 82%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.path-row {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.task {
  width: calc(100% / 3);
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.task-arrow {
  width: 20%;
  height: 60%;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-arrow > img {
  height: 100%;
  width: auto;
  opacity: 0.4;
}
.task-card {
  width: 250px;
  height: 95px;
  border-radius: 1rem;
  border: 1px solid lightgray;
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
  transition: 0.5s ease;
  cursor: pointer;
}
.task-card > p {
  font-size: 1em;
  font-weight: bold;
  z-index: 2;
}
.coins {
  background: #fff;
  border-radius: 2rem;
  height: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.1rem 0.3rem;
  z-index: 2;
}
.coins > p {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  /* line-height: 1em; */
  color: gray;
}
.coins > p > span {
  color: black;
}
.coins > img {
  height: 100%;
  width: auto;
  justify-self: flex-end;
}

.task-card > img {
  position: absolute;
  right: 0;
  height: 80%;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 0 1rem 1rem 0;
}
.task.success .task-card {
  background: #60abc3;
}
.task-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.task:first-child .task-card {
  background: #ffde3b;
}
.task.locked .task-card {
  border: 0;
  color: gray;
  pointer-events: none;
}
.task.locked .task-card > img {
  filter: grayscale(1);
}
.task.locked .coins > img {
  filter: grayscale(1);
}
.task-status {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-status > img {
  width: 80%;
  height: auto;
  filter: grayscale(0);
}
.task.locked .task-status > img {
  filter: grayscale(1);
}
</style>