<template>
  <b-modal
    id="modal-answers"
    size="md"
    :title="`Задание “${task.name}”`"
    ok-title="Принять"
    ok-only
    centered
    scrollable
    title-class="text-center"
  >
    <template #ok>Принять</template>
    <b-list-group v-if="task.answers.length">
      <b-list-group-item
        v-for="(answer, i) in task.answers"
        :key="answer.id"
        :index="answer.id"
      >
        <div class="row mb-3">
          <div class="col-12 bold-text">
            <p class="m-0">Ответ {{ i + 1 }} {{ answer.name }}</p>
          </div>
        </div>
        <div class="row">
          <div
            v-if="answer.answer"
            class="col-12"
            :class="{ blockNone: !answer.answer }"
          >
            <b-img
              fluid
              v-if="
                answer.answer.split('.')[answer.answer.split('.').length - 1] !=
                'wav'
              "
              :src="answer.answer"
              alt=""
            />

            <audio
              class="pill"
              controls
              v-else-if="
                answer.answer.split('.')[answer.answer.split('.').length - 1] ==
                'wav'
              "
              :src="answer.answer"
            ></audio>
            <button
              v-else
              class="agent-file-load w-100 py-2"
              @click="lookAnswer(answer.answer)"
            >
              Просмотр ответа
            </button>
          </div>
          <div
            v-if="answer.text_answer"
            class="col-12"
            :class="{ blockNone: !answer.text_answer }"
          >
            <p>{{ answer.text_answer }}</p>
          </div>
        </div>
      </b-list-group-item>
    </b-list-group>
    <div v-else class="contaiter-fluid relative-block mt-3 pl-4 text-center">
      <h5>Данное задание является игрой.</h5>
      <p class="text-justify">
        По сути игры проходятся сразу на стороне ребенка. Поэтому, когда ребенок
        завершает игру, то она считается выполненной на 100%. Так какой смысл
        что-то проверять? Там ни загрзуки файлов нет, ни текстовых ответов.
      </p>
    </div>
    <!-- <div class="contaiter-fluid relative-block mt-3 pl-4 text-center">
      <h5>Максимум Фоксиков за задание: {{ task.target }}</h5>
    </div> -->
    <template #modal-footer>
      <p class="w-100 text-align-left ml-4">
        Фоксиков за задание (максимум {{ task.target }})
      </p>

      <div class="d-flex w-100 justify-space-around px-3">
        <b-form-input
          type="number"
          number
          v-model="foxies"
          style="width: 70%"
        ></b-form-input>
        <b-button variant="success" @click="$emit('success', task, foxies)"
          >Принять</b-button
        >
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: "ModalAnswers",
  props: {
    task: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      foxies: null,
    };
  },
  computed: {
    coinsArray() {
      if (!this.task.answers.length) {
        return this.task.target;
      }
      return this.task.target / this.task.answers.length;
    },
  },
  methods: {
    lookAnswer(answer) {
      let link = document.createElement("a");
      link.href = answer;
      link.target = "_blank";
      link.click();
    },
    // Проверка на ввод числа
    numberCheck(event) {
      console.log({ name: "До", event, foxies: this.foxies });
      if (isNaN(this.foxies)) {
        this.foxies = null;
        return;
      }
      if (this.foxies > this.task.target) {
        this.foxies = this.task.target;
        return;
      }
      console.log({ name: "После", event, foxies: this.foxies });

      return;
    },
  },
};
</script>


<style  scoped>
#modal-child-answers {
  background-color: #fff;
  overflow: auto;
  height: 50%;
  width: 50%;
}
.agent-file-load {
  width: 70%;
  padding: 2% 7%;
}

.coins-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: 60px;
  align-items: center;
  justify-items: center;
}
.coins-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(217, 143, 0, 1) 50%,
    rgba(255, 220, 0, 1) 100%
  );
  border: 2px solid gold;
  color: #fff;
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
}
.coins-item:hover {
  transition: 0.5s ease-in-out;
  transform: rotate3d(0, 1, 0, 360deg) scale(1.5);
}
.coins-item.active {
  transition: box-shadow border 0.5s ease;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid goldenrod;
}
</style>