<template>
  <div class="h-100 pages-brand sidepanel-bg no-select">
    <div class="row mt-4 pt-3 mb-2"></div>
    <router-link :to="{ name: 'mentor-groups' }" active-class="active">
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="collapseVisible = false"
      >
        <div class="col-md-3 my-auto text-center p-0">
          <img src="@/assets/img/icons/my_account.png" class="img-fluid p-0" />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Личный кабинет</p>
        </div>
      </div>
    </router-link>
<!-- 
    <router-link :to="{ name: 'mentor-dictionary' }" active-class="active">
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="collapseVisible = true"
      >
        <div class="col-md-3 my-auto text-center p-0">
          <img
            src="@/assets/img/icons/dictionary-icon.png"
            class="img-fluid p-0"
          />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Словарь терминов</p>
        </div>
      </div>
    </router-link> -->
    <!-- <b-collapse v-model="collapseVisible">
      <b-card class="dicttionary-groups pt-0">
        <div
          class="row my-1 justify-content-end pointer __age-category"
          :class="{ active: age == ageCategory.value }"
          v-for="ageCategory in ageCategories"
          :key="ageCategory.name"
        >
          <div class="col-md-10 pl-1">
            <p
              @click="selectAge(ageCategory.value)"
              class="group-link-sidepanel"
            >
              {{ ageCategory.name }}
            </p>
          </div>
        </div>
      </b-card>
    </b-collapse> -->
    <router-link :to="{ name: 'mentor-profile' }" active-class="active">
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="collapseVisible = false"
      >
        <div class="col-md-3 my-auto text-center p-0">
          <img src="@/assets/img/icons/my_profile.png" class="img-fluid p-0" />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мой профиль</p>
        </div>
      </div>
    </router-link>

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-6 p-0">
        <!-- <button
          @click="$router.push({ name: 'global-login' })"
          type="submit"
          class="btn btn-block btn-log-off"
        >
          <p class="m-0 ml-4 pt-1">Выйти</p>
        </button> -->
         <button @click="logOut()" class="btn btn-block btn-log-off">
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { MentorMapper } from "@/store/mentor";
import { AuthMapper } from "@/store/auth";
export default {
  name: "MenthorSidePanel",
  data() {
    return {
      collapseVisible: false,
      ageCategories: [
        { name: "Дошкольная(5-7)", value: "1" },
        { name: "Начальная школа(8-12)", value: "2" },
        { name: "Средняя школа(13-16)", value: "3" },
      ],
    };
  },
  computed: {
    ...MentorMapper.mapState(["age"]),
    ...AuthMapper.mapState(["error"])
  },
  methods: {
    ...MentorMapper.mapMutations(["setAge"]),
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      this.$router.push({ name: "global-login" });
    },
    async selectAge(age) {
      await this.setAge(age);
    },
  },
  mounted() {
    if (document.location.pathname == "/mentor/dictionary") {
      this.collapseVisible = true;
    }
  },
};
</script>

<style>
.__age-category.active p {
  color: #fff;
}
</style>