<template>
  <div class="row semi-bold-text d-flex justify-content-between">
    <!-- первый столбец данных -->
    <div class="child-data-color size-info p-4 mt-3" v-if="lastPackage">
      <p class="m-0 py-3 pl-3 data-header">Заявки на франшизу</p>

      <div class="row w-100 base-child-info-text">
        <div class="col-7 gray-text">
          <p class="my-1">Заявка на франшизу:</p>
        </div>
        <div class="col pl-0 text-right">
          <p class="my-1 semi-bold-text">
            {{ last.name }}
          </p>
        </div>
      </div>
      <div class="row w-100">
        <div class="col"><hr class="hr-branch m-0" /></div>
      </div>
      <div class="row w-100 base-child-info-text">
        <div class="col-7"><p class="my-1">Количество детей:</p></div>
        <div class="col pl-0 text-right">
          <p class="my-1 semi-bold-text">
            {{ last.child_count }}
          </p>
        </div>
      </div>
      <div class="row w-100">
        <div class="col"><hr class="hr-branch m-0" /></div>
      </div>
      <div class="row w-100 base-child-info-text">
        <div class="col-7"><p class="my-1">Статус заявки:</p></div>
        <div class="col pl-0 text-right">
          <p
            class="my-1 semi-bold-text"
            :class="{
              yellowtext: last.status == 'В обработке',
              yellowtext: last.status == 'Ожидается оплата',
              greentext: last.status == 'В работе',
              redtext: last.status == 'Отклонена',
            }"
          >
            {{ last.status }}
          </p>
        </div>
      </div>

      <div v-if="role == 'Franchisee'" class="wrap-button px-3">
        <button
          class="load-files-franshisee size-new-request"
          @click="$router.push({ name: 'franchisee-buy' })"
        >
          <p>Новая заявка</p>
        </button>
      </div>
    </div>

    <!-- второй столбец данных -->

    <div class="child-data-color size-info p-4 mt-3">
      <p class="m-0 py-3 pl-3 data-header">Данные организации</p>

      <div class="row w-100 base-child-info-text">
        <div class="col-5"><p class="my-1">Наименование</p></div>
        <div class="col pl-0 text-right">
          <p class="my-1 semi-bold-text">{{ organisationData.name }}</p>
        </div>
      </div>
      <div class="row w-100">
        <div class="col"><hr class="hr-branch m-0" /></div>
      </div>
      <div class="row w-100 base-child-info-text">
        <div class="col-5"><p class="my-1">ИНН</p></div>
        <div class="col text-right">
          <p class="my-1 semi-bold-text">{{ organisationData.inn }}</p>
        </div>
      </div>
      <div class="row w-100">
        <div class="col"><hr class="hr-branch m-0" /></div>
      </div>
      <div class="row w-100 base-child-info-text">
        <div class="col-5"><p class="my-1">Юр. адрес</p></div>
        <div class="col pl-0 text-right">
          <p class="my-1 semi-bold-text">{{ organisationData.urAdress }}</p>
        </div>
      </div>
      <div class="wrap-button px-3">
        <button
          v-if="role == 'Franchisee'"
          @click.prevent="$router.push({ name: 'franchisee-data-change' })"
          class="load-files-franshisee size-change-data"
        >
          <p>Изменить данные</p>
        </button>
        <button
          v-else-if="role == 'Admin'"
          @click.prevent="$router.push({ name: 'admin-analytics-fr-data' })"
          class="load-files-franshisee size-change-data"
        >
          <p>Изменить данные</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";

export default {
  name: "MyBaseData",
  props: {
    profile: {
      type: Object,
      require: true,
    },
    lastPackage: {
      type: Object || null,
      default: () => {
        return null;
      },
    },
  },
  data() {
    return {
      // статус 0 - отклонено, статус 1 - в обработке, статус 2 - в работе, статус 3 - принято
      applicationData: {
        franchiseeType: "Начальная школа",
        childrenCount: 200,
        status: 0,
      },

      // organisationData: {
      //   name: "ООО РОМАШКА",
      //   inn: "526228481152",
      //   uradress: "Москва. ул. Тверсакая 10/1-65",
      // },
    };
  },
  computed: {
    last() {
      return {
        name:
          this.lastPackage.name == 0
            ? "Детский сад"
            : this.lastPackage == 1
            ? "Начальная школа"
            : "Школа",
        child_count: this.lastPackage.child_count,
        status:
          this.lastPackage.status == 0 ||
          this.lastPackage.status == 1 ||
          this.lastPackage.status == 3
            ? "В обработке"
            :   this.lastPackage.status == 7
            ? "Ожидается оплата"
            : this.lastPackage.status == 2 || this.lastPackage.status == 5
            ? "В работе"
            : "Отклонена",
      };
    },
    organisationData() {
      return {
        name: this.profile.name,
        inn: this.profile.inn,
        urAdress: this.profile.urAdress,
      };
    },
    ...AuthMapper.mapGetters(["role"]),
  },
};
</script>

<style>
.justify-between {
  display: flex;
  justify-content: space-between;
}
.padding-mbd {
  padding-bottom: 2em;
}
.child-data-color {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.size-info {
  width: 500px;
  height: 320px;
}
.wrap-button {
  height: 40%;
  display: flex;
  align-items: flex-end;
}

.load-files-franshisee {
  background: #ffffff00;

  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}
.load-files-franshisee > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.load-files-franshisee:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}

.load-files-franshisee:focus,
.load-files-franshisee:active {
  transform: scale(1.05);
}
.size-new-request {
  height: 35px;
  width: 135px;
}
.size-change-data {
  height: 35px;
  width: 165px;
}
</style>