<template>
  <section
    id="buhfranch-act-viewer-mentor"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-2)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник менторов/
          </button>
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Иванов А.А.
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Акт №1 от 12.12.2020</p>
        </div>
      </div>
      <div class="row px-3" style="margin-top: 20px">
        <b-button
          variant="1"
          @click="downloadPDF"
          class="btn-act"
          style="margin-right: 55px"
          ><p>Скачать акт</p></b-button
        >
        <b-button variant="1" @click="printPDF" class="btn-act"
          ><p>Распечатать акт</p></b-button
        >
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px; height: 600px; display: flex"
      id="iframeContainer"
    ></div>
  </section>
</template>

<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

export default {
  name: "ActViewerMentor",

  methods: {
    downloadPDF() {
      pdfMake.createPdf(this.doc).download("Акт от 12.12.2020.pdf");
    },
    printPDF() {
      pdfMake.createPdf(this.doc).print();
    },
  },
  mounted() {
    const pdfDocGenerator = pdfMake.createPdf(this.doc);
    pdfDocGenerator.getDataUrl((dataUrl) => {
      const targetElement = document.querySelector("#iframeContainer");
      const iframe = document.createElement("iframe");
      iframe.style.width = "100%";
      iframe.src = dataUrl;
      targetElement.appendChild(iframe);
    });
  },
  data() {
    return {
      doc: {
        pageSize: "A4",
        pageOrientation: "landscape",
        content: [
          {
            text: "Акт сверки",
            style: "header",
          },
          {
            text: "Взаимных расчетов за период: 2020 г.",
            style: "subheader",
          },
          {
            text: 'между ООО "ЛИДЕР-НЕДВИЖИМОСТЬ" (ИНН 5024190208)',
            style: "subheader",
          },
          {
            text: 'и АНДОО "ФИЛИПП" (ИНН 5024190208)',
            style: "subheader",
          },
          {
            text: "по договору Договор субаренды №3 от 03.08.2020",
            style: "subheader",
          },
          {
            text: "",
            style: "text",
          },
          {
            text:
              'Мы, нижеподписавшиеся, Генеральный директор ООО "ЛИДЕР-НЕДВИЖИМОСТЬ" Николахина Ольга Юрьевна, с одной стороны и Директор АНДОО "ФИЛИПП" Шилкина Марина Александровна, с другой стороны, составили настоящий акт сверки в том, что состояние взаимных расчетов по данным учета следующее:',
            style: "text",
          },
          {
            table: {
              style: "table",
              widths: ["*", "*", "*", "*", "*", "*", "*", "*"],
              body: [
                [
                  {
                    text: 'По данным ООО "ЛИДЕР-НЕДВИЖИМОСТЬ", руб.',
                    colSpan: 4,
                  },
                  "",
                  "",
                  "",
                  {
                    text: 'По данным АНДОО "ФИЛИПП", руб.',
                    colSpan: 4,
                  },

                  "",
                  "",
                  "",
                ],
                [
                  {
                    text: "Дата",
                    alignment: "center",
                  },
                  {
                    text: "Документ",
                    alignment: "center",
                  },
                  {
                    text: "Дебет",
                    alignment: "center",
                  },
                  {
                    text: "Кредит",
                    alignment: "center",
                  },
                  {
                    text: "Дата",
                    alignment: "center",
                  },
                  {
                    text: "Документ",
                    alignment: "center",
                  },
                  {
                    text: "Дебет",
                    alignment: "center",
                  },
                  {
                    text: "Кредит",
                    alignment: "center",
                  },
                ],
                [
                  {
                    text: "Сальдо начальное",
                    style: "bold",
                    colSpan: 2,
                  },
                  "",
                  "",
                  "",
                  {
                    text: "Сальдо начальное",
                    style: "bold",
                    colSpan: 2,
                  },
                  "",
                  "",
                  "",
                ],
                [
                  "31.10.20",
                  "Приход (5 от 31.10.2020)",
                  "",
                  {
                    text: "10 000,00",
                    alignment: "right",
                  },
                  "31.10.20",
                  "Продажа (5 от 31.10.2020)",
                  {
                    text: "10 000,00",
                    alignment: "right",
                  },
                  "",
                ],
                [
                  "21.12.20",
                  "Оплата (398 от 21.12.2020)",
                  {
                    text: "10 000,00",
                    alignment: "right",
                  },
                  "",
                  "21.12.20",
                  "Оплата (398 от 21.12.2020)",
                  "",
                  {
                    text: "10 000,00",
                    alignment: "right",
                  },
                ],
                [
                  {
                    text: "Обороты за период",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  {
                    text: "10 000,00",
                    style: "bold",
                    alignment: "right",
                  },
                  {
                    text: "10 000,00",
                    alignment: "right",
                    style: "bold",
                  },
                  {
                    text: "Обороты за период",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  {
                    text: "10 000,00",
                    style: "bold",
                    alignment: "right",
                  },
                  {
                    text: "10 000,00",
                    style: "bold",
                    alignment: "right",
                  },
                ],
                [
                  {
                    text: "Сальдо конечное",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  "",
                  "",
                  {
                    text: "Сальдо конечное",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  "",
                  "",
                ],
              ],
            },
          },
          " ",
          {
            columns: [
              {
                text: 'По данным ООО "ЛИДЕР-НЕДВИЖИМОСТЬ"',
                alignment: "left",
              },
              {
                text: 'По данным АНДОО "ФИЛИПП"',
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: "На 31.12.2020 задолженность отсутствует",
                alignment: "left",
                style: "bold",
              },
              {
                text: "На 31.12.2020 задолженность отсутствует",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: 'От ООО "ЛИДЕР-НЕДВИЖИМОСТЬ"',
                alignment: "left",
              },
              {
                text: 'От АНДОО "ФИЛИПП"',
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: "Генеральный директор",
                alignment: "left",
              },
              {
                text: "Директор",
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: "_____________________________ (Николахина О. Ю.)",
                alignment: "left",
              },
              {
                text: "_____________________________ (Шилкина М. А.)",
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: "М.П.",
                alignment: "left",
              },
              {
                text: "М.П.",
                alignment: "left",
              },
            ],
          },
        ],
        styles: {
          header: {
            alignment: "center",
            fontSize: 14,
            bold: true,
            margin: [0, 0, 0, 10],
          },
          subheader: {
            alignment: "center",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          text: {
            alignment: "justify",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          bold: {
            bold: true,
          },
          table: {
            margin: [0, 5, 0, 15],
          },
        },
        defaultStyle: {
          alignment: "justify",
        },
      },
    };
  },
};
</script>


<style>
</style>