<template>
  <section
    id="salesmanager-agents-tab"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Агенты</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="invisible" />

      <div
        style="padding-left: 2.5rem; padding-top: 2.5rem"
        class="row pt-4 semi-bold-text no-select"
      >
        <p class="m-0">Общее кол-во агентов:</p>

        <p class="m-0 ml-3 orange-text bold-text">{{ agentsCount }}</p>
      </div>

      <TableAgents
        :linkName="`${role=='HeadSalesManager' ? 'head-':''}salesmanager-agent-info`"        
        :agents="agents"        
        class="pb-4"
      />
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { SalesManagerMapper } from "@/store/salesManager";
// import TableChildren from "@/components/franchisee/analytics/branch-info/tab-children/TableChildren.vue";
import {AuthMapper} from '@/store/auth';
import TableAgents from "@/components/salesManager/agents/TableAgents.vue";
// import DropdownFilters from "@/components/admin/children/all/DropdownFilters.vue";
export default {
  name: "All",
  props: {
    isAppend: Boolean,
  },
  components: {
    // TableChildren,
    TableAgents,
    // DropdownFilters
  },

  computed: {    
    ...AuthMapper.mapGetters(['role']),
    ...SalesManagerMapper.mapState(["agents", "error", "salesManagerId"]),
    agentsCount() {
      return this.agents.length ? this.agents.length : 0;
    },
  },
  methods: {
    ...SalesManagerMapper.mapActions(["getAgentsList"]),    
  },
  async mounted() {
    await this.getAgentsList(this.salesManagerId);    
  },
};
</script>

<style>

/* фильтры */

.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-download {
  border: 1.5px solid #ed8719;
  height: 30px;
  width: 130px;
  padding: 0;
}
.btn-download > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}
.btn-filter {
  display: flex;
  height: 30px;
  align-items: center;
}
</style>