<template>
  <section
    id="agent-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            {{ agent.user_id.second_name }} {{ agent.user_id.name }} {{ agent.user_id.last_name }}
          </p>
        </div> 
        <div class="wrap-button px-3">
          <button          
                @click.prevent="$router.push({ 
                  name: `${role=='HeadSalesManager' ? 'head-' : ''}salesmanager-analytics-agent-data`, 
                  params: { id: agent.id },
                  })"
                class="load-files-agent size-change-data"
              >
                <p>Изменить данные</p>
          </button>
        </div>              
      </div>
    </div>
    <div class="contaiter-fluid mr-2 relative-block">
      <AgentBaseInfo/>     
    </div>   
  </section>
</template>

<script>
// import moment from "moment";
import { SalesManagerMapper } from "@/store/salesManager";
import { AuthMapper } from "@/store/auth";
import AgentBaseInfo from "@/components/clientManager/agents/AgentBaseInfo.vue";
export default {
  name: "Info",
  components: {    
    AgentBaseInfo    
  },
  data() {
    return {
      
    };
  },
  methods: {
    ...SalesManagerMapper.mapActions(["getAgentDetails"]),    
    
  },

  computed: {
    ...SalesManagerMapper.mapState(["agent"]),
    ...AuthMapper.mapState(["profile"]),
    ...AuthMapper.mapGetters(["role"])
  },
  async mounted() {
    await this.getAgentDetails(this.$route.params.id);    
  }
};
</script>

<style scoped></style>

<style>

.data-header {
  font-weight: 500;
}

.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.nav-tabs .nav-link {
  color: #ffffff !important;
  background: #c4c4c4;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}

.load-files-agent {
  background: #ffffff00;

  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}
.load-files-agent > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.load-files-agent:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}

.load-files-agent:focus,
.load-files-agent:active {
  transform: scale(1.05);
}

.size-change-data {
  height: 35px;
  width: 165px;
}


</style>
