<template>
  <section
    id="buhfranch-directory-agents"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник детей
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0" v-if="childDetails.child">
            {{ childDetails.child.second_name }}
            {{ childDetails.child.name }}
            {{ childDetails.child.last_name }}
          </p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container relative-block mx-3 mr-4">
      <BaseInfo type="Child" :info="info" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px"
    >
      <TablePersonalReports type="Child" />
    </div>
  </section>
</template>

<script>
import { FranchBuchMapper } from "@/store/franchBuch";
import BaseInfo from "@/components/buhadmin/PersonalInfo/BaseInfo.vue";
import TablePersonalReports from "@/components/buhadmin/PersonalInfo/TablePersonalReports.vue";

export default {
  name: "PersonalInfoAgent",
  components: {
    BaseInfo,
    TablePersonalReports,
  },

  computed: {
    ...FranchBuchMapper.mapState(["childDetails"]),

    info() {
      if (this.childDetails.child) {
        return {
          postAdress: "",
          phone: this.childDetails.child.phone,
          email: this.childDetails.child.email,
        };
      }
      return {};
    },
  },

  methods: {
    ...FranchBuchMapper.mapActions(["getChildDetails"]),
  },

  async mounted() {
    await this.getChildDetails(this.$route.params.id);
  },
};
</script>

<style>
</style>