<template>
  <b-modal id="modal-scoped" hide-header centered>
    <template>
      <p class="modal-confirm-text">
        Вы действительно хотите совершить это действие?
      </p>
    </template>

    <template #modal-footer="{ ok, cancel }">
      <!-- Emulate built in modal footer ok and cancel button actions -->
      <div class="row w-100">
        <div class="col text-center mx-4">
          <b-button
            size="lg"
            pill
            block
            variant="danger"
            class="bold-text"
            @click="ok()"
          >
            ДА
          </b-button>
        </div>
        <div class="col text-center mx-4">
          <b-button
            size="lg"
            pill
            block
            variant="success"
            class="bold-text"
            @click="cancel()"
          >
            НЕТ
          </b-button>
        </div>
      </div>
    </template>
  </b-modal>
</template>

<script>
import { BranchMapper } from "@/store/branch";

export default {
  name: "ModalConfirmation",
  computed: {
    ...BranchMapper.mapState("acceptAction"),
  },
  methods: {
    async ok() {
      await this.acceptAction();
    },
  },
};
</script>


<style>
.modal-confirm-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
</style>

