<template>
  <div class="h-100 pages-brand sidepanel-bg-admin no-select">
    <div class="row pt-2 mb-2"></div>

    <!-- ОБЫЧНЫЕ ВКЛАДКИ -->
    <router-link
      :to="{ name: 'headsalesmanager-franchisee-all' }"
      active-class="active"
    >
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Франчайзи</p>
        </div>
      </div>
    </router-link>

    <router-link
      :to="{ name: 'headsalesmanager-agents-all' }"
      active-class="active"
    >
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Агенты</p>
        </div>
      </div>
    </router-link>

    <router-link
      :to="{ name: 'headsalesmanager-parents-all' }"
      active-class="active"
    >
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Родители</p>
        </div>
      </div>
    </router-link>

    <router-link
      :to="{ name: 'headsalesmanager-mentors-all' }"
      active-class="active"
    >
      <div
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Менторы</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'admin-managers' }" active-class="active">
      <div
        v-if="profile.role == 'HeadSalesManager'"
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Все менеджеры</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'headSalesmanager-analytics-reports' }" active-class="active">
      <div
        v-if="profile.role == 'HeadSalesManager'"
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Отчеты</p>
        </div>
      </div>
    </router-link>


    <!-- <router-link :to="{ name: 'clientmanager-parents-all' }" active-class="active">
      <div 
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Родители</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'clientmanager-mentors-all' }" active-class="active">
      <div 
        class="row page-row no-wrap m-0 pl-2"
        @click="
          collapseVisible = false;
          activeSubtab = 0;
        "
      >
        <div class="col-md-3 my-auto text-center p-0"></div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Менторы</p>
        </div>
      </div>
    </router-link> -->

    <!-- ОБЫЧНЫЕ ВКЛАДКИ -->

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-8 p-0">
        <button @click="logOut()" class="btn btn-block btn-log-off">
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";

export default {
  name: "SidePanel",
  data() {
    return {
      collapseVisible: false,
      activeSubtab: 0,
      ageCategories: [
        { name: "CRM", value: "1" },
        { name: "Отчеты", value: "2" },
      ],
    };
  },

  methods: {
    ...AuthMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      this.$router.push("/login");
    },
    async selectAge(age) {
      await this.setAge(age);
    },
  },
  computed: { ...AuthMapper.mapState(["profile", "error"]) },
  mounted() {
    if (document.location.pathname.indexOf("/admin/analytics") == 0) {
      this.collapseVisible = true;

      if (document.location.pathname.indexOf("/admin/analytics/reports") == 0) {
        this.activeSubtab = 2;
      } else if (document.location.pathname.indexOf("/admin/analytics") == 0) {
        this.activeSubtab = 1;
      } else {
        this.activeSubtab = 0;
      }
    }
  },
};
</script>



<style>
.subtab-text {
  color: #9aafd5;
  transition: 0.5s;
}
.subtab-text:hover {
  color: #ffffff;
}
.activeSubtab {
  color: #ffffff;
  font-weight: 600;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
  border-left: 3px solid #ffffff00;
  transition: 0.5s ease;
}
/* 

.__age-category.active p {
  border-left: 3px solid #9aafd5;
  padding-left: 10px;
  color: #ffffff;
} */

.subtab-text {
  color: #9aafd5;
  padding-left: 15px;
}
.active-subtab {
  border-left: 3px solid #9aafd5;
  color: #ffffff !important;
}
</style>

