<template>
  <div class="dropdown category-dropdown ml-auto" style="width: 200px">
    <button
      class="btn py-1 ml-auto btn-filter dropdown-toggle"
      type="button"
      id="franch-analy-btn"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <p class="text-left text-choise">{{ placeholder }}</p>
    </button>
    
    <div v-if="role == 'Franchisee'" class="dropdown-menu" aria-labelledby="franch-analy-btn">
      <div
        v-for="i in items"
        :key="i.id"
        class="dropdown-item text-choise pointer"
        @click="
          $emit(
            'click-link',
            i.link.franchisee.params ? i.link.franchisee.params.pack : null
          );
          $router.push(i.link.franchisee);
        "
      >
        {{ i.name }}
      </div>
    </div>
    <div v-if="role == 'SalesManager'" class="dropdown-menu" aria-labelledby="franch-analy-btn">
      <div
        v-for="i in items"
        :key="i.id"
        class="dropdown-item text-choise pointer"
        @click="
          $emit(
            'click-link',
            i.link.salesManager.params ? i.link.salesManager.params.pack : null
          );
          $router.push(i.link.salesManager);
        "
      >
        {{ i.name }}
      </div>
    </div>
    <div
      v-else
      class="dropdown-menu"
      aria-labelledby="franch-analy-btn"
    >
      <div
        v-for="i in items"
        :key="i.id"
        class="dropdown-item text-choise pointer"
        @click="
          $emit(
            'click-link',
            i.link.admin.params ? i.link.admin.params.pack : null
          );
          $router.push(i.link.admin);
        "
      >
        {{ i.name }}
      </div>
    </div>
    <!-- <div v-else class="dropdown-menu" aria-labelledby="franch-analy-btn">
      <router-link
        v-for="i in items"
        :key="i.id"
        class="dropdown-item text-choise"
        :to="{ name: i.link }"
        >{{ i.name }}</router-link
      >
       <a
        class="dropdown-item text-choise"
        href="#"
        @click="chosen = 'Детский сад/offline'"
        >Детский сад/offline</a
      >
      <a
        class="dropdown-item text-choise"
        href="#"
        @click="chosen = 'Нач. школа/offline'"
        >Нач. школа/offline</a
      >
      <a
        class="dropdown-item text-choise"
        href="#"
        @click="chosen = 'Школа/offline'"
        >Школа/offline</a
      >
      <a
        class="dropdown-item text-choise"
        href="#"
        @click="chosen = 'Детский сад/online'"
        >Детский сад/online</a
      >
      <a
        class="dropdown-item text-choise"
        href="#"
        @click="chosen = 'Нач. школа/online'"
        >Нач. школа/online</a
      >
      <a
        class="dropdown-item text-choise"
        href="#"
        @click="chosen = 'Школа/online'"
        >Школа/online</a
      > 
    </div> -->
  </div>
</template>

<script>
import { AuthMapper } from "@/store/auth";

export default {
  name: "DropDown",
  props: {
    chosen: {
      type: String,
      default: "Выбор франшизы",
    },
    placeholder: {
      type: String,
    },
  },
  data() {
    return {
      items: [
        {
          id: 1,
          name: "Все франшизы",
          link: {
            franchisee: { name: "franchisee-analytics-moreinfo" },
            salesManager: { name: "salesmanager-analytics-moreinfo" },
            admin: { name: "admin-analytics-moreinfo" },
          },
        },
        {
          id: 2,
          name: "Детский сад/offline",
          link: {
            franchisee: {
              name: "franchisee-analytics-pack",
              params: { pack: "sad-offline" },
            },
            salesManager: {
              name: "salesManager-analytics-pack",
              params: { pack: "sad-offline" },
            },
            admin: {
              name: "admin-analytics-pack",
              params: { pack: "sad-offline" },
            },
          },
        },
        {
          id: 3,
          name: "Нач. школа/offline",
          link: {
            franchisee: {
              name: "franchisee-analytics-pack",
              params: { pack: "primary-school-offline" },
            },
            salesManager: {
              name: "salesManager-analytics-pack",
              params: { pack: "primary-school-offline" },
            },
            admin: {
              name: "admin-analytics-pack",
              params: { pack: "primary-school-offline" },
            },
          },
        },
        {
          id: 4,
          name: "Школа/offline",
          link: {
            franchisee: {
              name: "franchisee-analytics-pack",
              params: { pack: "school-offline" },
            },
            salesManager: {
              name: "salesManager-analytics-pack",
              params: { pack: "school-offline" },
            },
            admin: {
              name: "admin-analytics-pack",
              params: { pack: "school-offline" },
            },
          },
        },
        {
          id: 5,
          name: "Детский сад/online",
          link: {
            franchisee: {
              name: "franchisee-analytics-pack",
              params: { pack: "sad-online" },
            },
            salesManager: {
              name: "salesManager-analytics-pack",
              params: { pack: "sad-online" },
            },
            admin: {
              name: "admin-analytics-pack",
              params: { pack: "sad-online" },
            },
          },
        },
        {
          id: 6,
          name: "Нач. школа/online",
          link: {
            franchisee: {
              name: "franchisee-analytics-pack",
              params: { pack: "primary-school-online" },
            },
            salesManager: {
              name: "salesManager-analytics-pack",
              params: { pack: "primary-school-online" },
            },
            admin: {
              name: "admin-analytics-pack",
              params: { pack: "primary-school-online" },
            },
          },
        },
        {
          id: 7,
          name: "Школа/online",
          link: {
            franchisee: {
              name: "franchisee-analytics-pack",
              params: { pack: "school-online" },
            },
            salesManager: {
              name: "salesManager-analytics-pack",
              params: { pack: "school-online" },
            },
            admin: {
              name: "admin-analytics-pack",
              params: { pack: "school-online" },
            },
          },
        },
      ],
    };
  },
  computed: {
    ...AuthMapper.mapState(["profile"]),
    ...AuthMapper.mapGetters(["role"]),
  },
};
</script>
<style>
.btn-filter {
  background-color: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  transition: 0.5s ease;
}
.btn-filter p {
  color: #2b2a29;
}
</style>
