<template>
  <b-modal
    @hidden="$emit('close')"
    v-model="show"
    id="modal-ban-franchisee"
    hide-header
    hide-footer
  >
    <!-- <template #modal-footer="{ ban }"> -->
    <!-- Emulate built in modal footer ok and cancel button actions -->
    <div class="row w-100">
      <div class="col text-left">
        <p class="modal-header">Заблокировать ООО Франчайзи</p>
        <p class="modal-sub-header mt-0 pt-1 mb-3">
          Выберите франшизу для блокировки:
        </p>

        <!-- <b-form-checkbox
              id="checkbox-ban-fr-all"
              v-model="checkboxesFranchises"
              name="checkbox-ban-fr-all"
              class="mt-1"
            >
              Выбрать все
            </b-form-checkbox>

            <div>
              <b-form-checkbox-group
                v-model="selected"
                :options="checkboxes"
                class="mb-3"
                value-field="value"
                text-field="text"
                disabled-field="notEnabled"
              ></b-form-checkbox-group>
              <div class="mt-3">
                Selected: <strong>{{ selected }}</strong>
              </div>
            </div> -->
        <div class="row justify-content-between w-100">
          <div class="checkboxes" style="max-width: 30%">
            <b-form-group>
              <template class="pb-0" #label>
                <b-form-checkbox
                  v-model="allSelected"
                  :indeterminate="indeterminate"
                  aria-describedby="flavours"
                  aria-controls="flavours"
                  @change="toggleAll"
                  class="pb-0"
                >
                  {{ allSelected ? "Отменить выбор" : "Выбрать всё" }}
                </b-form-checkbox>
              </template>

              <template v-slot="{ ariaDescribedby }">
                <b-form-checkbox-group
                  id="flavors"
                  v-model="selected"
                  :options="flavours"
                  :aria-describedby="ariaDescribedby"
                  name="flavors"
                  aria-label="Individual flavours"
                  stacked
                ></b-form-checkbox-group>
              </template>
            </b-form-group>

            <!-- <div>
              Selected: <strong>{{ selected }}</strong
              ><br />
              All Selected: <strong>{{ allSelected }}</strong
              ><br />
              Indeterminate: <strong>{{ indeterminate }}</strong>
            </div> -->
          </div>

          <!-- <b-form-checkbox
              id="checkbox-ban-fr-1"
              v-model="checkboxesFranchises.kinderOff"
              name="checkbox-ban-fr-1"
              class="mt-1"
            >
              Детский сад/offline
            </b-form-checkbox>
            <b-form-checkbox
              id="checkbox-ban-fr-2"
              v-model="checkboxesFranchises.schoolOff"
              name="checkbox-ban-fr-2"
              class="mt-1"
            >
              Нач. школа/offline
            </b-form-checkbox>
            <b-form-checkbox
              id="checkbox-ban-fr-3"
              v-model="checkboxesFranchises.highschoolOff"
              name="checkbox-ban-fr-3"
              class="mt-1"
            >
              Школа/offline
            </b-form-checkbox>
            <b-form-checkbox
              id="checkbox-ban-fr-4"
              v-model="checkboxesFranchises.kinderOn"
              name="checkbox-ban-fr-4"
              class="mt-1"
            >
              Детский сад/online
            </b-form-checkbox>
            <b-form-checkbox
              id="checkbox-ban-fr-5"
              v-model="checkboxesFranchises.schoolOn"
              name="checkbox-ban-fr-5"
              class="mt-1"
            >
              Нач. школа/online
            </b-form-checkbox>
            <b-form-checkbox
              id="checkbox-ban-fr-6"
              v-model="checkboxesFranchises.highschoolOn"
              name="checkbox-ban-fr-6"
              class="mt-1"
            >
              Школа/online
            </b-form-checkbox> -->

          <textarea
            id="сause-of-Ban"
            name="text"
            v-model="сauseBan"
            placeholder="Причина блокировки"
            class="ban-textarea p-2"
          />
        </div>

        <div class="row w-100">
          <b-button
            variant="modal-ban-child"
            class="bold-text mx-auto white-text mt-3 mb-4"
            @click="ban"
          >
            <p>Заблокировать</p>
          </b-button>
        </div>
      </div>
    </div>
    <!-- </template> -->
  </b-modal>
</template>

<script>
export default {
  name: "ModalConfirmation",
  data() {
    return {
      сauseBan: "",

      flavours: [
        "Детский сад/offline",
        "Нач. школа/offline",
        "Школа/offline",
        "Детский сад/online",
        "Нач. школа/online",
        "Школа/online",
      ],
      allSelected: false,
      indeterminate: false,
      selected: [],

      // checkboxes: [
      //   {
      //     id: 1,
      //     name: "checkbox-ban-fr-1",
      //     text: "Детский сад/offline",
      //     value: 1,
      //     // checked: false,
      //   },
      //   {
      //     id: 2,
      //     name: "checkbox-ban-fr-2",
      //     text: "Нач. школа/offline",
      //     value: 2,

      //     // checked: false,
      //   },
      //   {
      //     id: 3,
      //     name: "checkbox-ban-fr-3",
      //     text: "Школа/offline",
      //     value: 3,

      //     // checked: false,
      //   },
      //   {
      //     id: 4,
      //     name: "checkbox-ban-fr-4",
      //     text: "Детский сад/online",
      //     value: 4,

      //     // checked: false,
      //   },
      //   {
      //     id: 5,
      //     name: "checkbox-ban-fr-5",
      //     text: "Нач. школа/online",
      //     value: 5,

      //     // checked: false,
      //   },
      //   {
      //     id: 6,
      //     name: "checkbox-ban-fr-6",
      //     text: "Школа/online",
      //     value: 6,

      //     // checked: false,
      //   },
      // ],
    };
  },

  props: {
    show: Boolean,
  },

  methods: {
    toggleAll(checked) {
      this.selected = checked ? this.flavours.slice() : [];
    },
    ban() {
      this.$bvModal.hide("modal-ban-franchisee");
      this.$emit("ok", this.сauseBan);
      console.log(this.selected);
    },
  },
  watch: {
    selected(newValue) {
      // Handle changes in individual flavour checkboxes
      if (newValue.length === 0) {
        this.indeterminate = false;
        this.allSelected = false;
      } else if (newValue.length === this.flavours.length) {
        this.indeterminate = false;
        this.allSelected = true;
      } else {
        this.indeterminate = true;
        this.allSelected = false;
      }
    },
  },
};
</script>


<style>
/* .modal-confirm-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
} */
#modal-ban-franchisee___BV_modal_content_ {
  min-width: 925px;
  min-height: 425px;
  left: -12vw;
  top: 18vh;
}
.modal-header {
  font-weight: 500;
  font-size: 20px;
  color: #2b2a29;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 15px;
  border: none;
}
.modal-sub-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.ban-textarea {
  background: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: 520px;
  height: 165px;
}
.btn-modal-ban-child {
  background: #f22929;

  height: 35px;
  width: 145px;
  border-radius: 40px;
}
.btn-modal-ban-child > p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.custom-control-label {
  padding-left: 20px;
}
.custom-checkbox {
  margin-top: 3px;
}
.col-form-label {
  padding-bottom: 0 !important;
}
</style>

